li.aw_ppm_dyn_stm_videos_li_box
  list-style-type: none
  height: auto
  margin-top: 10px
  margin-left: -10px
  margin-bottom: 20px
  border-bottom: 1px dotted #ddd

  .aw_ppm_dyn_stm_videos_div_box
    border: 0px solid red
    height: auto
    margin: 0
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    width: 580px
    padding: 15px 10px 10px 15px

    /* Post Info Section - Start
    .aw_ppm_dyn_stm_videos_post_info
      width: 100%
      height: 30px
      font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif
      border: 0px solid red
      margin-top: 25px
      margin-bottom: 10px
      a.aw_ppm_dyn_stm_videos_post_user_img
        img
          width: 30px
          height: 30px
          /*border:0px solid red;
          padding: 0px
          margin: 0px 0 0 0px
          float: left
        &:hover
          cursor: pointer
      a.aw_ppm_dyn_stm_videos_post_user_name
        text-decoration: none
        color: #36c
        color: #666666
        font-size: 12px
        font-weight: bold
        margin-left: 10px
        margin-right: 5px
        &:hover
          color: #333333
          cursor: pointer
      span.aw_ppm_dyn_stm_videos_post_time
        color: #444444
        font-size: 11px
      a.aw_ppm_dyn_stm_stream_videos_chn_name 
        span
          float: right
          color: #eb7400
          font-size: 16px
          font-weight: bold
          &:hover
            color: #ee8c00
            cursor: pointer
      /* Post Info Section - End
      
    .aw_ppm_dyn_stm_videos_list_per_post
      margin-top: 10px
      margin-bottom: 10px
      display: inline-block
      width: 100%
      iframe
        margin-top: 5px
        vertical-align: middle
        display: block
        border: 1px solid #ccc
        padding: 5px

    .aw_ppm_dyn_stm_video_view_full_post
      width: 100%
      height: 30px
      border: 0px solid red
      margin-top: 10px
      margin-bottom: 10px
      a.aw_ppm_dyn_stm_video_goto_post_link
        margin-left: 10px
        margin-right: 5px
        span
          text-decoration: none
          color: #666666
          font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif
          font-size: 12px
          font-weight: bold
        &:hover
          color: #333333
          cursor: pointer
