#page-wrapper
  #header
    =render :partial => "welcome/logo"
  
  #forgot-site-connect
    #forgot-sign_in_up
      #forgot-sign-connect-desc
        %h3#forgot-desc.desc  There is no pending confirmation for this link
        %p
          %br/


=render :partial => "welcome/footer"    
