
= javascript_include_tag 'actwitty/placeholder.js'
= javascript_include_tag 'actwitty/jquery.placeholder.js'
= javascript_include_tag 'actwitty/jquery-placeholder-0.1.js'



=render :partial => "welcome/logo"       

/.wrapper_hompage.homep_col10
/  #aw_forgot_password
#forgot-site-connect
  #forgot-sign_in_up
    #forgot-sign-connect-desc
      %h3#forgot-desc.desc  There is no pending confirmation for this link
      %p
        %br/
=render :partial => "welcome/footer"





