#page-wrapper
  #header
    =render :partial => "welcome/logo"

  #forgot-site-connect
    #forgot-sign_in_up
      #forgot-sign-connect-desc
        %h3#forgot-desc.desc Resend Confirmation Instruction
        %p
          Please enter any email address that we may have.
          We'll send you an email that will allow you to confirm your account.
      = simple_form_for(@user, :as => :user, :url => confirmation_path(:user), :html => { :method => :post }) do |f|
        #data-input
          = f.input :email ,
                    :placeholder => "Email", 
                    :label => false, 
                    :class => 'inputbox', 
                    :input_html => { :size=> 30,:id=>"password-input",:class=>"input-deco"  }
        #forgot-site-connect-buttons
          = f.button :submit,
                     :value=>"Email Me",
                     :input_html => {:name=>"sign-in",:id=>"forgot-button",:class=>"connect-buttons"}

  =render :partial => "welcome/footer"

