/*ActWitty Stylesheet file
  *File: AW Profile Page Stream Module
  *code: AWPPM Actwitty Profile Page Stream
  *Author: ActWitty Developers
  *Author URI: http://www.actwitty.com


$aw_var_default_border_width: 0px
$aw_var_default_backgorund_color: #ffffff
$aw_var_default_font_family: "Helvetica", Arial, Helvetica, sans-serif
$aw_var_default_font_size: 12px
$aw_var_default_color: #CCCCCC

/******************************************** Common for all Columns main Div's ************************************

@mixin awppm_stm_mention_page_default_full_width
  position: relative
  margin: 0 auto 0
  display: block
  width: 990px
/* ----------------------------------------------Wrapper-------------------------------------

div.awppm_stm_mention_page_wrapper
  display: block
  width: 100%
  margin: 0
  text-align: left

.awppm_stm_mention_page_column1
  color: #D2D2D2
  background-color: #363436
  /*background: -moz-linear-gradient(center top , #7E7F81 0pt, #363436 72%) repeat-y fixed 0 100px #7E7F81
  border: 0px solid red

.awppm_stm_mention_page_column2
  color: #FFFFFF
  background-color: #ffffff
  border: 0px solid green

.awppm_stm_mention_page_column3
  color: #000000
  background-color: #ffffff
  border: 0px solid blue

/******************************************* User box section for user photo and input box *************************

#awppm_stm_mention_page_channel_info_box
  @include awppm_stm_mention_page_default_full_width
  height: auto
  margin-bottom: 30px
  margin-top: 30px
  border: 0px solid blue

#awppm_stm_mention_page_channel_info_section
  width: 960px
  height: auto
  margin: auto
  border: 0px solid red
  position: relative

.awppm_stm_mention_page_side_section
  width: 300px
  height: auto
  display: inline-block
  border: 0px solid green
  float: left
  #awppm_stm_mention_page_channel_info_div
    width: 300px
    height: 135px
    float: left
    display: inline-block
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    border: 1px solid #ddd
    -moz-box-shadow: 0 0 8px #ddd
    -webkit-box-shadow: 0 0 8px #ddd
    box-shadow: 0 0 8px #ddd
    overflow:hidden
  
    .awppm_stm_mention_page_channel_label
      height: 22px
      width: 100%
      background: rgb(0, 0, 0)
      background: rgba(0, 0, 0, 0.6)
      color: #fff
      text-align: center
      font-size: 16px
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-weight: bold

  .awppm_stm_mentions_analytics_container_box
    height: 900px
    width: 280px
    margin-top: 20px
    float: left
    display: inline-block
    border-radius: 5px
    border: 0px solid red
    padding-top: 20px
    padding-left: 20px
    background: -moz-linear-gradient(center top , #c4c4c4 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent
    -moz-box-shadow: inset 0 0 2px #000000
    -webkit-box-shadow: inset 0 0 2px #000000
    box-shadow: inset 0 0 2px #000000

    .awppm_stm_mentions_analytics_container_label_box
      width: 280px
      padding-bottom: 10px
      float: left
      display: block
      height: 20px
      overflow: hidden
      span
        font-size: 17px
        font-weight: bold
        color: #333
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

    .awppm_stm_mentions_analytics_container_box
      width: 280px
      height: 200px
      display: inline-block
      float: left
      position: relative
      padding-top: 10px
      padding-bottom: 10px
      .awppm_stm_mentions_analyticsanalytics_box_large
        width: 600px
        height: 400px
        display: none
        z-index: 99
        position: absolute
      &:hover .awppm_stm_mentions_analyticsanalytics_box_large
        top: 0px
        left: 0px
        display: block


#awppm_stm_mention_page_timeline_container_box
  width: 580px
  height: auto
  min-height: 200px
  position: absolute
  top: 0px
  left: 330px
  border: 1px solid #f4f4f4
  display: inline-block
 
  .awppm_stm_mention_page_main_label
    font-size: 32px
    font-weight: bold
    color: #333
    display: block
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

  .awppm_stm_mention_page_stream_timelines
    margin: 0
    width: 100%
    height: auto
    min-height: 200px
    border: 0px solid red
    margin-top: 30px
    display: inline-block
    position: relative
    .awppm_stm_mention_page_data_info_more
      width: 50px
      height: 20px
      position: absolute
      bottom: 0
      right: 0
      color: #000
      text-align: center
      font-weight: bold
    ul.awppm_stm_mention_page_post_timeline_list
      width: 100%
    .awppm_stm_busy_channels_page
      position: absolute
      top: 0
      left: 0
      margin-left: 0
      margin-top: 0
      z-index: 2
      width: 100%
      height: 100%
      background: rgb(0, 0, 0)
      background: rgba(0, 0, 0, 0.1)
      display: none
    .awppm_stm_busy_mini_box
      width: 50px
      height: 50px
      margin-left: -25px
      margin-top: -25px
      top: 50%
      left: 50%
      position: absolute
      img.awppm_stm_busy_image
        width: 50px
        height: 50px
        margin: auto


