#team {
  width:650px;
  margin-left:350px;
  /*
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
  */
}

#team_img
{
  width:600px;
  margin-left:5px;
  border:1px solid red;
}

p.team
{
  text-align:center;
}

p.title {
  width: 60%;
  margin: auto;
  font-family: ‘Lucida Sans Unicode Bold’, ‘Lucida Grande’, sans-serif;
  font-size:30px;
  align:left;
  text-align:center;
  color:#009ACD;
}


p.heading {
  width: 60%;
  margin: auto;
  font-family: ‘Lucida Sans Unicode Bold’, ‘Lucida Grande’, sans-serif;
  font-size:22px;
  color:#2F2F2F;
  text-align:center;
}

p.description {
  width: 60%;
  margin: auto;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size:16px;
  color:#2F2F2F;
}

p.multi-column {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-o-column-count: 2;
	-o-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
  color:#2F2F2F;
  width: 50%;
  margin: auto;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;

  font-size:16px;
}

.multi-column span.heading
{
  font-family: ‘Arial Rounded MT Bold’, Helvetica, Arial, sans-serif;
  font-size:18px;
  color:#009ACD;
}

.team_img
{
  margin: auto;
  align: center;
}
