.wrapper{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #cccccc
}
.left{
   position: relative;
   float: left;
   left: 0.00%;
   width: 50.00%;
   background-color: #ccccff
}
.right{
   position: relative;
   float: right;
   right: 0.00%;
   width: 50.00%;
   background-color: #ccccff
}
.footer{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #cfcfcf
}
