/* ################################### CSS for Comment Streams ################################*/

.tl-post-comments
{
  display:block;
  width:480px;
  /*max-height:180px;*/
  height:auto;
  /*overflow-y:scroll;*/
  overflow-x:hidden;
  /*border:1px solid green;*/
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
}

.comments-label
{
  width:87%;
  height:30px;
  border:1px solid #ddd;
  background-color:#F2F2F2;
  margin-left:50px;
  display:none;
}
.comments-label span
{
  margin-top:15px;
  font-size:16px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  color:#00BFFF;
  text-align:center;
}

.comments
{
  margin-bottom:40px;
  margin-left:50px;
  margin-top:0px;
  margin-right:30px;
  border:0px solid red;
}

.comments .commentlist 
{ 
  margin:0; 
  padding:0;
}

.comments .commentlist ul
{ 
  margin:0; 
  padding:0; 
  list-style:none;
}


.comments .commentlist li.comment_odd, #comments .commentlist li.comment_even
{ 
  margin:0 0 2px 0;
  padding:2px;
  list-style:none;
  border:1px solid #ddd;
}
.comments .commentlist li.comment_odd:hover, #comments .commentlist li.comment_even:hover
{
  background-color:#cfecec;
}


li.comment_last 
{
  border-bottom:0;
}


.comments .commentlist li.comment_odd
{
  color:#87CEEB; 
  background-color:#fff7;
}

.comments .commentlist li.comment_odd a
{
  color:#1874CD; 
  background-color:#fff;
}

.comments .commentlist li.comment_even
{
  color:#87CEEB; 
  background-color:#fff;
}

.comments .commentlist li.comment_even a
{
  color:#1874CD; 
  background-color:#fff;
}

.comments .commentlist .author .name
{ 
  font-weight:normal;
  color:#1874CD;
}
.comments .commentlist .submitdate
{
  font-size:10px;
  color:#a6a6a6;
}

.comments .commentlist p 
{ 
  margin:5px 5px 5px 50px;
  padding:0; 
  font-weight: normal;
  text-transform: none;
  color:#000;
  font-size:13px;
	font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
}

.comments .commentlist li .avatar
{
  float:left;
  border:1px solid #EEEEEE;
  margin:0 0 0 10px;
}
.wrote
{
  font-size:10px;

  color:#ddd;
}

span.name a
{
  text-decoration:none;
  color:#1874CD;
}

.post-comment
{
  height:auto;
  width:480px;
  /*border:1px solid red;*/


  /*background-color:#F1f1f1;*/
  margin-left:50px;
  display:block;
  margin-top:-15px;
  padding-bottom:15px;
}

/* ################################ To submit comments ############################*/
.add-comment
{
  border:1px solid #ddd;
  height:30px;
  width:100%;
  margin:0;
  
}

.add-comment-text
{
  border:1px solid #ddd;
  height:30px;
  width:100%;
  margin:0;
}

.submit-comment
{
  /*border:1px solid blue;*/
  height:60px;
  width:100%;
  display:none;
}


.btn-comments
{
  background-color:#00ced1;
  border:none;
  height:18px;
   -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
   font-size:12px;
	font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-weight:normal;
}

