#follow_list .follow_button
{
 background-color:white;
 float:right;
}

#unfollow_list .follow_button
{
 background-color:white;
 float:right;
}


#invite_list .fb_invite
{
 background-color:#ccc;
 float:right;
}

#invite_list .fb_delete
{
 background-color:white;
 float:right;
}

#followings_list .follow_button
{
 /*background-color:#445D73;*/
 background-color:white;
 float:right;
}


#followers_list .follow_button
{
 background-color:#ccc;
 /*float:right;*/
}
#search_followings
{
 margin-left:50px;
 /*background-color:#445D73;*/
}
#search_followers
{
 margin-left:50px;
 /*background-color:#445D73;*/
}




