.home_page_header
{
  display:block;
  border:1px solid red;
  height:60px;
}

.aw_header_logo
{
  float:left;
  border:3px solid gray;
  margin-left:10px;
}
.aw_header_nav
{
  display:inline;
  float:right;
}

.aw_header_navl
{
  float:left;
  list-style-type:none;
  display:inline;
  padding-right:10px;
}


.aw_sub_header_nav
{
  display:inline;
}
.aw_sub_header_nav_r
{
  float:right;
  list-style-type:none;
  display:inline;
  padding-right:10px;
}

.aw_sub_header_nav_l
{
  float:left;
  list-style-type:none;
  display:inline;
  padding-right:10px;
}


#searchall
{
  float:left;
  margin-left:30%;
  margin-top:10px;
}

label.main_title
{
  font: 16px Arial, Helvetica, sans-serif;
  text-align:center;
}



img.img_sign_out
{
  width: 40px;
  height: 40px;
  float:right;
}

textarea.home_page_people_search
{
   float:right;
}

label.home_page_people_search_label
{
   font: 12px Arial, Helvetica, sans-serif;
   float:right;
   vertical-align:text-bottom;

}

a.auth_provider
{
  float:right;
}

img.img_provider
{
  width:  40px;
  height: 40px;
}

label.alternate_login_label
{
  font: 12px Arial, Helvetica, sans-serif;
  float:right;
  vertical-align:text-bottom;
}


.aw_sub_filter
{
  display:inline;
  float:left;
}
.aw_sub_filter_navl
{
  list-style-type:none;
  display:inline;
  padding-right:10px;
}


/*************************Home Page Row2 ******************/

.home_page_row2
{
  display:block;
  height:120px;
  font: 12px Arial, Helvetica, sans-serif;
}


.home_page_filter_row
{
  display:block;
  height:30px;
  font: 12px Arial, Helvetica, sans-serif;
}

.home_page_sub_filter_row
{
  display:block;
  height:30px;
  font: 12px Arial, Helvetica, sans-serif;
}

/*Input Section in row2 of home page*/
.input_box{
  width:800px;
  float:left;
  margin-left:350px;
  margin-top:2px;
  height:100px;
  font: 12px Arial, Helvetica, sans-serif;

}

.channel_input_box{
}
.place_input_box{
}



/*home page user photo*/
.home_page_photo
{
  float:left;
  display:block;
  border:2px solid green;
  margin-left:10px;
}



/****************************** Side Bar Filters on Activities/entities/friends***************************/

li.user_stamp
{
  display:block;
  list-style:none;
  list-style-type:none;
  margin-top:-2px;
  margin-left:-2px;
}

a.link_user_stamp.user_stamp
{
  font: 12px Arial, Helvetica, sans-serif;
  margin-top:-2px;
  margin-left:-2px;
}

img.img_stamp.user_stamp
{
  width:  40px;
  height: 40px;
  font: 12px Arial, Helvetica, sans-serif;
  margin-top:-2px;
  margin-left:-2px;
}


.summary_box
{
  width: 90%;
  height: 150px;
  border: 1px solid black;
}


.summary_user_box
{
  width: 5%;
  height: 100%;
  float: left;
  border: 1px solid black;
  font: 10px Arial, Helvetica, sans-serif;
  overflow: hidden;
  
}

.summary_main_box
{
  height:100%;
  width: 94%;
  float: left;
  border: 1px solid black;
  font: 12px Arial, Helvetica, sans-serif;
  overflow: hidden;

}

ul.summary_list{
  width:100%;
  height:100%;
  overflow:auto;
  list-style: none;
  border:1px;
}

a.summary_user_box_a
{
  float:left;
}

img.summary_user_box_img
{
  float:left;
  width:  40px;
}

.summary_main_box_header
{
  float:left;
  font: 16px Arial, Helvetica, sans-serif;
  height: 16px;
  width: 100%;
  background:cyan;
  border: 1px solid black;
  overflow: hidden;

}

.summary_main_box_attachments
{
   float:left;
   font: 12px Arial, Helvetica, sans-serif;
   border: 1px solid black;
   width: 20%;
   overflow: hidden;
}

.summary_main_box_friends
{
   float:left;
   font: 12px Arial, Helvetica, sans-serif;
   border: 1px solid black;
   width: 20%;
   overflow: hidden;
}

ul.summary_main_box_friends {
  display: block;
  list-style: none;
  width: 100%
}

.summary_main_box_entities
{
   float:left;
   font: 12px Arial, Helvetica, sans-serif;
   border: 1px solid black;
   width: 20%;
   overflow: hidden;
}

ul.summary_main_box_entities{
  display: block;
  list-style: none;
  width: 100%
}

.summary_main_box_locations
{
   float:left;
   font: 12px Arial, Helvetica, sans-serif;
   border: 1px solid black;
   width: 20%;
   overflow: hidden;
}

ul.summary_main_box_locations{
  display: block;
  list-style: none;
  width: 100%
}

.summary_main_box_latest
{
   float:left;
   font: 12px Arial, Helvetica, sans-serif;
   border: 1px solid black;
   width: 10%;
   overflow: hidden;
}


.modal_channels_ul
{
   list-style: none;
   width: 80%;
}

.modal_channels_ul li
{
  display: inline;
}
