.home_page_header
{
  display:block;
  border:1px solid red;
  height:60px;
}

.aw_header_logo
{
  float:left;
  border:3px solid gray;
  margin-left:10px;
}
.aw_header_nav
{
  display:inline;
  float:right;
}
.aw_header_navl
{
  list-style-type:none;
  display:inline;
  padding-right:10px;
}


#searchall
{
  float:left;
  margin-left:30%;
  margin-top:10px;
}

label.main_title
{
  font: 16px Arial, Helvetica, sans-serif;
  text-align:center;
}



img.img_sign_out
{
  width: 40px;
  height: 40px;
  float:right;
}

textarea.home_page_people_search
{
   float:right;
}

label.home_page_people_search_label
{
   font: 12px Arial, Helvetica, sans-serif;
   float:right;
   vertical-align:text-bottom;

}

a.auth_provider
{
  float:right;
}

img.img_provider
{
  width:  40px;
  height: 40px;
}

label.alternate_login_label
{
  font: 12px Arial, Helvetica, sans-serif;
  float:right;
  vertical-align:text-bottom;
}





/*************************Home Page Row2 ******************/

.home_page_row2
{
  display:block;
  border:1px solid blue;
  height:200px;
}


/*Input Section in row2 of home page*/
.main_section{
  width:600px;
  float:left;
  margin-left:350px;
  margin-top:30px;
  height:100px;
  border:1px solid green;

}
/*home page user photo*/
.home_page_photo
{
  float:left;
  display:block;
  border:2px solid green;
  margin-left:10px;
}



/****************************** Side Bar Filters on Activities/entities/friends***************************/
.sidebar
{
  float:left;
  width:300px;
}

.filters
{
  display:block;
  border:1px solid red;
  padding:0 0 0px 0;
  margin-top:10px;
}

.filter_search
{
  border:1px solid black;
  height:20px;
  background:white;
  margin-left:60px; 
}

ul.sidebar_lists
{
  width:70%;
  height:150px;
  overflow:auto;
  border:1px;

}

li.user_stamp
{
  display:block;
  list-style:none;
  list-style-type:none;
  margin:2px;
  text-align:center;
}

a.link_user_stamp.user_stamp
{
  font: 12px Arial, Helvetica, sans-serif;
  text-align:center;
}

img.img_stamp.user_stamp
{
  width:  40px;
  height: 40px;
  margin-top: 2px;
  margin-right: 10px;
  text-align:center;
  font: 12px Arial, Helvetica, sans-serif;
}

h4.sidebar_titles
{
  font: 16px Arial, Helvetica, sans-serif;
  text-align:center;
  width: 100%;
  border:1px solid black;
  margin-top:-2px;
}

label.activities_sidebar
{
   font: 14px Arial, Helvetica, sans-serif;
   width: 100%;
}


