.aw_ppm_stm_dyn_actions_box {
  width: 100%;
  height: 45px;
  border: 0px solid red;
  margin-left: 0px;
  margin-top: 10px;
  position: relative; }
  .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions {
    background: none repeat scroll 0 0 #f0f0f0;
    /*background: none repeat scroll 0 0 #0066cc */
    border: 1px solid #c8c8c8;
    border-radius: 3px 3px 3px 3px;
    margin-left: 5px;
    display: block;
    height: 19px;
    width: 50px;
    padding: 5px 11px;
    display: inline-block;
    /*color: #666666 */
    /*color: #fff */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions span {
      font-family: Calibri, Tahoma, Geneva, sans-serif;
      position: absolute;
      left: 30px;
      top: 20px;
      z-index: 99;
      margin-left: 0;
      width: 150px;
      background-color: #ffffcc;
      border: 1px solid #cccccc;
      display: none; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions:hover span {
      display: block; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions:hover {
      border: 1px solid #dddddd;
      cursor: pointer;
      color: #333333; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions .aw_ppm_stm_dyn_action_mentions_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/mentions.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions .aw_ppm_stm_dyn_action_mentions_on_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/mentions_on.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_mentions .aw_ppm_stm_dyn_action_mentions_count {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-left: 4px; }
  .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares {
    background: none repeat scroll 0 0 #f0f0f0;
    /*background: none repeat scroll 0 0 #0066cc */
    border: 1px solid #c8c8c8;
    border-radius: 3px 3px 3px 3px;
    margin-left: 5px;
    display: block;
    height: 19px;
    width: 50px;
    padding: 5px 11px;
    display: inline-block;
    /*color: #666666 */
    /*color: #fff */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares span {
      font-family: Calibri, Tahoma, Geneva, sans-serif;
      position: absolute;
      left: 30px;
      top: 20px;
      z-index: 99;
      margin-left: 0;
      width: 150px;
      background-color: #ffffcc;
      border: 1px solid #cccccc;
      display: none; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares:hover span {
      display: block; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares:hover {
      border: 1px solid #dddddd;
      cursor: pointer;
      color: #333333; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares .aw_ppm_stm_dyn_action_shares_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/shares.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares .aw_ppm_stm_dyn_action_shares_on_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/shares_on.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_shares .aw_ppm_stm_dyn_action_shares_count {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-left: 4px; }
  .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes {
    background: none repeat scroll 0 0 #f0f0f0;
    /*background: none repeat scroll 0 0 #0066cc */
    border: 1px solid #c8c8c8;
    border-radius: 3px 3px 3px 3px;
    margin-left: 5px;
    display: block;
    height: 19px;
    width: 50px;
    padding: 5px 11px;
    display: inline-block;
    /*color: #666666 */
    /*color: #fff */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes:hover {
      border: 1px solid #dddddd;
      cursor: pointer;
      color: #333333; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes .aw_ppm_stm_dyn_action_likes_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/likes.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes .aw_ppm_stm_dyn_action_likes_on_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/me_likes.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes .aw_ppm_stm_dyn_action_likes_count {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-left: 4px; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes span {
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      left: 83px;
      top: 25px;
      z-index: 99;
      margin-left: 0;
      color: #666666;
      padding: 5px 11px;
      width: 52px;
      height: 19px;
      background: none repeat scroll 0 0 #f0f0f0;
      border: 1px solid #c8c8c8;
      border-radius: 3px 3px 3px 3px;
      display: none; }
      .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes span:hover {
        cursor: pointer;
        border: 1px solid #dddddd;
        color: #333333; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_likes:hover span {
      display: block; }
  .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments {
    background: none repeat scroll 0 0 #f0f0f0;
    /*background: none repeat scroll 0 0 #0066cc */
    border: 1px solid #c8c8c8;
    border-radius: 3px 3px 3px 3px;
    margin-left: 5px;
    display: block;
    height: 19px;
    width: 50px;
    padding: 5px 11px;
    display: inline-block;
    /*color: #666666 */
    /*color: #fff */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments span {
      font-family: Calibri, Tahoma, Geneva, sans-serif;
      position: absolute;
      left: 30px;
      top: 20px;
      z-index: 99;
      margin-left: 0;
      width: 150px;
      background-color: #ffffcc;
      border: 1px solid #cccccc;
      display: none; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments:hover span {
      display: block; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments:hover {
      border: 1px solid #dddddd;
      cursor: pointer;
      color: #333333; }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments .aw_ppm_stm_dyn_action_comments_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/comments.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments .aw_ppm_stm_dyn_action_comments_on_img {
      width: 20px;
      height: 20px;
      border: 0px solid red;
      float: left;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/comments_on.png"); }
    .aw_ppm_stm_dyn_actions_box .aw_ppm_stm_dyn_action_comments .aw_ppm_stm_dyn_action_comments_count {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-left: 4px; }
