@charset "UTF-8";
/* ################################### CSS for Comment Streams ################################ */
/* line 3, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box {
  display: none;
  width: 100%;
  border: 0px solid red;
  margin-left: 0px;
  margin-top: 10px;
}
/* line 10, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comment_header_box {
  width: 100%;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 20, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container {
  display: block;
  width: 480px;
  height: auto;
  /*overflow-y:scroll; */
  overflow-x: hidden;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 0px;
  margin-right: 30px;
  border: 0px solid red;
}
/* line 32, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container .aw_ppm_stm_dyn_comment_new_section {
  width: 420px;
  margin-left: 50px;
  height: auto;
  display: block;
}
/* line 37, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container .aw_ppm_stm_dyn_comment_new_section .aw_ppm_stm_dyn_comment_new_input {
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  width: 430px;
  float: right;
  display: block;
  border: 1px solid #dddddd;
  height: 50px;
  resize: none;
  width: 100%;
  margin: 0;
}
/* line 47, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container .aw_ppm_stm_dyn_comment_new_section .aw_ppm_stm_dyn_comment_submit {
  height: 20px;
  width: 100px;
  margin-top: 10px;
}
/* line 52, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
}
/* line 58, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px dotted #cccccc;
}
/* line 64, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container span.aw_ppm_stm_dyn_comment_delete {
  float: right;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: none;
  color: black;
}
/* line 71, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container span.aw_ppm_stm_dyn_comment_delete:hover {
  cursor: pointer;
}
/* line 73, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container:hover .aw_ppm_stm_dyn_comment_delete {
  display: block;
}
/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section {
  width: 100%;
  min-height: 50px;
  height: auto;
  display: block;
}
/* line 80, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section .aw_ppm_stm_dyn_user_pic_section {
  width: 46px;
  height: auto;
  display: inline-block;
  border: 0px solid green;
  float: left;
}
/* line 87, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section .aw_ppm_stm_dyn_user_pic_section a img {
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 93, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section .aw_ppm_stm_dyn_comment_section {
  width: 410px;
  height: auto;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 2px;
  border: 0px solid red;
  overflow: hidden;
}
/* line 101, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section .aw_ppm_stm_dyn_comment_section p.aw_ppm_stm_dyn_comment_username {
  margin-right: 3px;
  display: inline;
}
/* line 104, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section .aw_ppm_stm_dyn_comment_section p.aw_ppm_stm_dyn_comment_username a {
  text-decoration: none;
  color: #333333;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
/* line 110, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_info_section .aw_ppm_stm_dyn_comment_section p.aw_ppm_stm_dyn_comment_text {
  display: inline;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #444444;
}
/* line 116, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_date_stamp {
  width: 410px;
  margin-left: 50px;
  display: block;
}
/* line 120, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_comments.sass */
.aw_ppm_stm_dyn_comment_main_box .aw_ppm_stm_dyn_comments_list_container ul li .aw_ppm_stm_dyn_comment_container .aw_ppm_stm_dyn_comment_date_stamp span {
  font-size: 10px;
  color: #c8c8c8;
}
