@charset "UTF-8";
/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_location_box {
  display: block;
  margin-left: 20px;
  margin-top: 2px;
  overflow: hidden;
}
/* line 7, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_location_box a.aw_ppm_stm_dyn_location_link span {
  color: #444444;
  font-size: 13px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
}
/* line 11, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_location_box a.aw_ppm_stm_dyn_location_link:hover {
  font-weight: bold;
  cursor: pointer;
}

/********************************************************************** */
/* line 16, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.awppm_stm_dyn_locations_header_box {
  width: 100%;
  height: 30px;
  background: #e5e5e5;
  display: block;
  margin-bottom: 2px;
  padding-top: 5px;
}
/* line 23, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.awppm_stm_dyn_locations_header_box .awppm_stm_dyn_locations_modal_label {
  font-size: 20px;
  font-weight: bold;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  color: #333333;
}

/********************************************************************* */
/* line 29, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_locations_modal_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 38, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_locations_modal_box .aw_ppm_stm_dyn_locations_map_box {
  width: 100%;
  height: 100%;
}
/* line 41, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_locations_modal_box div.aw_ppm_stm_dyn_locations_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 250px;
  height: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 54, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_locations_modal_box:hover {
  cursor: pointer;
}
/* line 56, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_locations_modal_box:hover div.aw_ppm_stm_dyn_locations_info_hover_box {
  display: block;
}

/* line 59, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_location_label_box {
  width: 100%;
  height: 20px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 67, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_ppm_dyn_stm_right_side_locations.sass */
.aw_ppm_stm_dyn_location_label_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

/********************************************************************** */
