/*ActWitty Stylesheet file
 *File: AW Profile Page Stream Module
 *code: AWPPM (awlpm) Actwitty Profile Page Stream
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com */
/* line 13, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  color: #cccccc;
  background-color: white;
  margin-bottom: 40px;
}

/* line 22, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
img {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 27, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.justify {
  text-align: justify;
}

/* line 30, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.bold {
  font-weight: bold;
}

/* line 33, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.center {
  text-align: center;
}

/* line 36, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.right {
  text-align: right;
}

/* line 39, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.nostart {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 44, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.clear {
  clear: both;
}

/* line 47, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
br.clear {
  clear: both;
  margin-top: -15px;
}

/* line 51, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
a {
  outline: none;
  text-decoration: none;
}

/* line 55, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.fl_left {
  float: left;
}

/* line 58, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.fl_right {
  float: right;
}

/* line 61, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.imgl, .imgr {
  border: 0px solid #dfdfdf;
  padding: 5px;
  color: #666666;
  background-color: white;
}

/* line 67, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.imgl {
  float: left;
  margin: 0 8px 8px 0;
  clear: left;
}

/* line 72, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.imgr {
  float: right;
  margin: 0 0 8px 8px;
  clear: right;
}

/******************************************* Common for all Columns main Div's ************************************ */
/* ----------------------------------------------Wrapper------------------------------------- */
/* line 85, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
div.awppm_stm_wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

/* line 91, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_column1 {
  color: #d2d2d2;
  /*background-color:#33ccff */
  background: #363436;
  /*background: -moz-linear-gradient(center top , #7E7F81 0pt, #363436 72%) repeat-y fixed 0 100px #7E7F81 */
  border: 0px solid red;
}

/* line 98, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_column2 {
  color: white;
  background-color: white;
  border: 0px solid green;
}

/* line 103, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_column3 {
  color: black;
  background-color: white;
  border: 0px solid blue;
}

/* line 109, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_column4 {
  color: #666666;
  background-color: white;
  border: 0px solid black;
}

/****************************************** User box section for user photo and input box ************************* */
/* line 116, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_box {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 990px;
  height: auto;
  margin-bottom: 30px;
  border: 0px solid blue;
}

/* line 122, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_section {
  width: 960px;
  height: auto;
  margin: auto;
  border: 0px solid red;
  position: relative;
}

/* line 129, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_info {
  height: 130px;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 20px;
}

/* line 136, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_img {
  margin-top: 5px;
}
/* line 138, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_img img {
  width: 120px;
  height: 120px;
  border: 1px solid white;
}
/* line 142, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_img img:hover {
  border: 1px solid #cccccc;
}

/* line 145, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_name {
  height: 32px;
  width: 300px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 180px;
}
/* line 152, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_name span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

/* line 159, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_location {
  height: 16px;
  width: 300px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  left: 180px;
}
/* line 166, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_user_location span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

/* line 173, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_input_box_wrapper {
  width: 630px;
  margin-top: 40px;
  min-height: 100px;
  /*margin-top:-100px; */
  border: 0px solid red;
  display: inline-block;
}

/******************************************** ActWitty Stream Data Section ********************************* */
/* line 182, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_complete_width_big_container_box {
  margin: 0 auto 0;
  margin-top: 20px;
  padding: 5px;
  display: block;
  position: relative;
  width: 990px;
  height: auto;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
  background: white;
  -moz-box-shadow: 0 0 5px #ededed;
  -webkit-box-shadow: 0 0 5px #ededed;
  box-shadow: 0 0 5px #ededed;
  margin-bottom: 30px;
}

/* line 198, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_analytics_container_box {
  /*width: 860px */
  /*height: 470px */
  /*border-radius: 5px */
  /*margin: 10px 0 10px 0px */
  /*margin: 0px auto */
  /*border: 0px solid red */
  /*padding-left: 20px */
  /*background: -moz-linear-gradient(center top , #c4c4c4 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent */
  /*-moz-box-shadow: inset 0 0 2px #000000 */
  /*-webkit-box-shadow: inset 0 0 2px #000000 */
  /*box-shadow: inset 0 0 2px #000000 */
  width: 100%;
  height: auto;
  margin-top: 30px;
  border: 1px solid #f5f5f5;
  -moz-box-shadow: 0 0 5px #f5f5f5;
  -webkit-box-shadow: 0 0 5px #f5f5f5;
  box-shadow: 0 0 5px #f5f5f5;
}

/* line 223, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_all_information_container_box {
  width: 100%;
  min-height: 600px;
  height: auto;
  display: inline-block;
  border: 0px solid blue;
  margin-bottom: 20px;
}

/* line 231, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box {
  height: auto;
  min-height: 300px;
  width: 580px;
  margin-top: 20px;
  padding: 15px 10px 120px 10px;
  border: 0px solid blue;
  border: 1px solid #f4f4f4;
  float: left;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  /* Stream Page Main Label */
  /* Stream Page Main Label Ends */
  /* Stream Page Mode Select Starts */
  /* Stream Page Mode Select Ends */
  /* Streams Filters boxing Start (we can tab this back) */
  /* Streams Filters boxing End */
  /* Time Line Streams Start */
  /* Time Line Streams End */
}
/* line 244, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box .awppm_stm_page_main_label {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 251, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box select {
  float: right;
  margin-top: 10px;
}
/* line 256, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box #awppm_stm_filters_box {
  width: 100%;
  height: 45px;
  border: 0px solid red;
  margin-top: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Stream Page Filter Block Starts */
  /* Stream Page Filter Block Ends */
}
/* line 262, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box #awppm_stm_filters_box h5 {
  color: #444444;
  font-size: 12px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
/* line 269, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box #awppm_stm_filters_box .awppm_stm_filter_block {
  width: 180px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border: 0px solid blue;
  background: #fafafa;
  float: left;
}
/* line 277, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box #awppm_stm_filters_box .awppm_stm_filter_block h3 {
  text-align: center;
  font-size: 15px;
  color: #c24e42;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* line 284, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box #awppm_stm_filters_box .awppm_stm_filter_block img {
  float: right;
  margin-right: -5px;
  margin-top: -5px;
  cursor: pointer;
  display: none;
}
/* line 290, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box #awppm_stm_filters_box .awppm_stm_filter_block p {
  text-align: center;
  color: #666666;
  font-size: 10px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
/* line 300, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box .awppm_stm_data_info_more {
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
}
/* line 309, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box .awppm_stm_stream_timelines {
  margin: 0;
  width: 100%;
  border: 0px solid red;
  margin-top: 80px;
  display: inline-block;
}
/* line 315, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box .awppm_stm_stream_timelines .awppm_stm_data_info_more {
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
}
/* line 324, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_timeline_container_box .awppm_stm_stream_timelines ul.awppm_stm_post_timeline_list {
  width: 100%;
}

/* Stream page righr */
/* line 365, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box {
  width: 360px;
  height: auto;
  border: 0px solid #f5f5f5;
  margin-top: 20px;
  -o-box-shadow: 0 0 2px #3a3a3a;
  margin-left: 10px;
  float: left;
}
/* line 373, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box {
  width: 250px;
  margin-left: 50px;
  border: 0px solid #f5f5f5;
}
/* line 377, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container {
  width: 100%;
  border: 1px solid #f5f5f5;
  height: 150px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px #f5f5f5;
  -webkit-box-shadow: 0 0 2px #f5f5f5;
  box-shadow: 0 0 2px #f5f5f5;
}
/* line 379, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container .awppm_stm_right_side_info_related_people_header {
  height: 20px;
  text-align: left;
}
/* line 381, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container .awppm_stm_right_side_info_related_people_header span {
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: #009acd;
  padding: 3px;
  border-radius: 3px;
}
/* line 383, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container .awppm_stm_right_side_info_related_people {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 386, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container .awppm_stm_view_more {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
  color: #c24e42;
}
/* line 388, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container .awppm_stm_view_more span {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  cursor: pointer;
}
/* line 360, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_people_container .awppm_stm_view_more span:hover {
  font-weight: bold;
}
/* line 392, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container {
  width: 100%;
  border: 1px solid #f5f5f5;
  height: 150px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px #f5f5f5;
  -webkit-box-shadow: 0 0 2px #f5f5f5;
  box-shadow: 0 0 2px #f5f5f5;
  margin-top: 10px;
}
/* line 395, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container .awppm_stm_right_side_info_related_mentions_header {
  height: 20px;
  text-align: left;
}
/* line 397, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container .awppm_stm_right_side_info_related_mentions_header span {
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: #009acd;
  padding: 3px;
  border-radius: 3px;
}
/* line 399, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container .awppm_stm_right_side_info_related_mentions {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 402, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container .awppm_stm_view_more {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
  color: #c24e42;
}
/* line 404, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container .awppm_stm_view_more span {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  cursor: pointer;
}
/* line 360, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_mentions_container .awppm_stm_view_more span:hover {
  font-weight: bold;
}
/* line 407, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container {
  width: 100%;
  border: 1px solid #f5f5f5;
  height: 150px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px #f5f5f5;
  -webkit-box-shadow: 0 0 2px #f5f5f5;
  box-shadow: 0 0 2px #f5f5f5;
  margin-top: 10px;
}
/* line 410, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container .awppm_stm_right_side_info_related_locations_header {
  height: 20px;
  text-align: left;
}
/* line 412, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container .awppm_stm_right_side_info_related_locations_header span {
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: #009acd;
  padding: 3px;
  border-radius: 3px;
}
/* line 414, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container .awppm_stm_right_side_info_related_locations {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 417, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container .awppm_stm_view_more {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
  color: #c24e42;
}
/* line 419, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container .awppm_stm_view_more span {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  cursor: pointer;
}
/* line 360, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#awppm_stm_right_side_info_container_box #awppm_stm_right_side_info_subcontainer_box #awppm_stm_right_side_info_related_locations_container .awppm_stm_view_more span:hover {
  font-weight: bold;
}

/********************************************* */
/* line 422, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_busy_channels_box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.1);
}
/* line 433, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_busy_channels_box .awppm_stm_busy_mini_box {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  left: 50%;
  position: absolute;
}
/* line 441, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_stm_busy_channels_box .awppm_stm_busy_mini_box img.awppm_stm_busy_image {
  width: 50px;
  height: 50px;
  margin: auto;
}

/*************************** AW Footer */
/* line 449, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
#aw_profile_footer_box {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 990px;
}

/* line 453, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/aw_profile_page_main_stream.sass */
.awppm_hidden {
  display: none;
}
