/*  ActWitty Stylesheet file
 *  File: AW Landing Page Sign In Module
 *  code: AWLPM (awlpm) Actwitty Landing Page Sign In Main
 *  Author: ActWitty Developers
 *  Author URI: http://www.actwitty.com */
@font-face {
  font-family: "Roboto";
  src: url("/webfont/roboto/Roboto-BoldCondensed.ttf");
}

/* line 16, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_main_box {
  height: 700px;
  width: 100%;
  font-family: "Roboto";
}

/* line 21, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_main_box img {
  width: 500px;
}

/* line 26, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_main_div {
  margin: auto;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #dddddd;
  -moz-box-shadow: 0 0 3px #dddddd;
  -webkit-box-shadow: 0 0 3px #dddddd;
  box-shadow: 0 0 3px #dddddd;
}

/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_aw_logo {
  margin-top: 15px;
  margin-left: 20px;
  border: 0px solid green;
  height: 50px;
  width: 75px;
  display: inline;
  position: relative;
}

/* line 84, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
img.aw_lpm_forgot_pswd_aw_logo_img {
  height: 50px;
  width: 75px;
}

/* line 88, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_header_label {
  margin: 0 auto;
  margin-left: 30px;
  width: 400px;
  height: 30px;
  color: #333333;
  border: 0px solid red;
  display: inline;
  font-size: 35px;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

/* line 102, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_header_sub_label {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-top: 60px;
  letter-spacing: 1px;
}

/* line 111, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_email_label {
  color: #b22222;
  margin-left: 170px;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0px solid red;
  font-size: 14px;
  font-weight: bold;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  margin-top: 20px;
}

/* line 115, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_password_label {
  color: #b22222;
  margin-left: 170px;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0px solid red;
  font-size: 14px;
  font-weight: bold;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
}

/* line 119, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_email_input {
  width: 300px;
  height: 40px;
  margin-left: 170px;
  margin-bottom: 1px;
  color: black;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font: 28px/100% Arial, Helvetica, sans-serif;
  font-family: "Roboto";
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

/* line 123, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_password_input {
  width: 300px;
  height: 40px;
  margin-left: 170px;
  margin-bottom: 1px;
  color: black;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font: 28px/100% Arial, Helvetica, sans-serif;
  font-family: "Roboto";
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

/* line 128, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_user_session .simple_form {
  margin-left: 10px;
  font-size: 12px;
  color: black;
  display: block;
  width: 250px;
}

/* line 134, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_user_session .simple_form .field_with_errors {
  width: 200px;
  display: block;
}

/* line 137, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_user_session .simple_form .field_with_errors .error {
  width: 250px;
  height: 12px;
  font-size: 12px;
  margin-left: 120px;
  display: block;
  color: black;
}

/* line 141, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
#aw_lpm_forgot_pswd_already_a_user {
  display: block;
  color: #444444;
  margin-left: 225px;
  margin-top: 10px;
  width: 100%;
  border: 0px solid red;
  font: 12px/100% Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 155, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
input#aw_lpm_forgot_password_btn {
  width: 100px;
  height: 60px;
  background: #ff9600;
  padding: 2px;
  border: none;
  display: inline;
  margin: auto;
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(top, #ff3019 0%, #cf0404 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
  display: inline;
  font: 18px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  margin-top: 10px;
  margin-right: 125px;
}
/* line 179, ../../../../../../app/stylesheets/actwitty/refactor/aw_lpm/signins/aw_signin_forgot_password.sass */
input#aw_lpm_forgot_password_btn:hover {
  cursor: pointer;
  color: #fcd3a5;
  background: #ff3019;
}
