/*ActWitty Stylesheet file
 *File: AW Landing Page Sign In Module
 *code: AWLPM (awlpm) Actwitty Landing Page Sign In Main
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com */
#aw_lpm_signin_main_box {
  height: 700px;
  width: 100%; }

#aw_lpm_signin_main_box img {
  width: 500px;
  margin: 0 auto;
  display: block; }

#aw_lpm_signin_main_div {
  font-family: RobotoRegular;
  margin: auto;
  width: 700px;
  height: 400px;
  margin-top: 100px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 10px;
  border: 1px solid #dddddd;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333; }

#awlpm_signin_aw_logo {
  margin-top: 15px;
  margin-left: 20px;
  border: 0px solid green;
  height: 50px;
  width: 75px;
  display: inline;
  position: relative; }

img.awlpm_signin_aw_logo_img {
  height: 50px;
  width: 75px; }

#awlpm_signin_aw_header_label {
  margin: 0 auto;
  /*margin-left: 10px */
  width: 600px;
  height: 30px;
  color: white;
  border: 0px solid red;
  /*display: inline */
  font-size: 26px;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  font-weight: bold;
  text-align: center;
  padding-top: 10px; }

#aw_lpm_signin_email_label {
  color: fireBrick;
  margin-left: 220px;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0px solid red;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  margin-top: 40px; }

#aw_lpm_signin_password_label {
  color: fireBrick;
  margin-left: 220px;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0px solid red;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  /* font: 20px/100% Arial, Helvetica, sans-serif */ }

#aw_lpm_signin_email_input {
  width: 250px;
  height: 40px;
  margin-left: 220px;
  margin-bottom: 1px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 21px;
  color: #333333;
  font-family: RobotoRegular;
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); }
  #aw_lpm_signin_email_input:focus {
    -moz-box-shadow: 0 0 2px #888888;
    -webkit-box-shadow: 0 0 2px #888888;
    box-shadow: 0 0 2px #888888; }

#aw_lpm_signin_password_input {
  width: 250px;
  height: 40px;
  margin-left: 220px;
  margin-bottom: 1px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 21px;
  color: #333333;
  font-family: RobotoRegular;
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); }
  #aw_lpm_signin_password_input:focus {
    -moz-box-shadow: 0 0 2px #888888;
    -webkit-box-shadow: 0 0 2px #888888;
    box-shadow: 0 0 2px #888888; }

#aw_lpm_user_session .simple_form {
  margin-left: 10px;
  font-size: 12px;
  color: black;
  display: block;
  width: 250px; }

#aw_lpm_user_session .simple_form .field_with_errors {
  width: 200px;
  display: block; }

#aw_lpm_user_session .simple_form .field_with_errors .error {
  width: 250px;
  height: 12px;
  font-size: 12px;
  margin-left: 120px;
  display: block;
  color: black; }

#aw_lpm_signin_already_a_user {
  display: block;
  color: #444444;
  margin-left: 290px;
  margin-top: 20px;
  width: 100%;
  border: 0px solid red;
  font: 14px/100% Arial, Helvetica, sans-serif;
  font-weight: normal; }

.actwittysignin {
  width: 150px;
  height: 40px;
  background: #ff9600;
  margin-bottom: -5px;
  padding: 2px;
  border: none;
  display: inline;
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  font: 16px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 320px;
  margin-top: 20px;
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(top, #ff3019 0%, #cf0404 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); }
  .actwittysignin:hover {
    cursor: pointer;
    color: #fcd3a5;
    background: #ff3019; }

input#signinbutton {
  margin-top: 25px;
  margin-left: 290px;
  width: 80px;
  background: #ff9600;
  margin-bottom: -5px;
  padding: 2px;
  border: none;
  height: 50px;
  display: inline;
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  display: inline;
  font: 14px/100% Arial, Helvetica, sans-serif;
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(top, #ff3019 0%, #cf0404 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); }
  input#signinbutton:hover {
    cursor: pointer;
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
    background: #ff3019; }
