@charset "UTF-8";
/*
 * Note:: Channel page has a little bit different config than stream page hence different layout
 * to make it easy to change and maintain.
 * 
 * General conventions
 * -------------------
 * 1. p-channelp is the suffix foro all css related to Channel section.
 * 2. p in -channlep indication page.
 * 3. p-channelp : means profile-channle page
 * 4. lu: latest updates
 * 5. cu: channel updates
 *
 */
/* line 17, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-sect {
  padding: 0px 0;
  border: 0px solid red;
  margin-top: 0px;
}

/* line 25, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tabs-section {
  width: 100%;
  height: 40px;
  border: 0px solid blue;
  padding: 5px;
}

/* line 33, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-tab {
  float: left;
  width: 120px;
  height: 20px;
}

/* line 39, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-tab:hover {
  cursor: pointer;
}

/* line 43, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tab-all {
  margin-left: 30px;
  border: 0px solid red;
}

/* line 48, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tab-all span {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

/* line 54, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-unselected {
  background: #ddd;
}

/* line 57, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-selected {
  background: #1589FF;
}

/* line 62, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tab-subscribed {
  margin-left: 10px;
  border: 0px solid red;
}

/* line 67, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tab-subscribed span {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

/* line 74, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tab-mine {
  margin-left: 10px;
  border: 0px solid red;
}

/* line 79, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-tab-mine span {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

/*############### Channel page content section ################ */
/* line 88, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-content {
  width: 100%;
  height: auto;
  border: 0px solid green;
}

/* line 95, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-posts {
  width: 70%;
  height: 400px;
  float: left;
  border: 0px solid blue;
}

/* line 103, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-author-section {
  width: 28%;
  height: 200px;
  float: left;
  border: 0px solid green;
}

/* ############ Channle post section ###########*/
/* line 114, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post {
  width: 100%;
  height: auto;
  border: 0px solid red;
  margin-top: 10px;
}

/* line 123, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-header {
  width: 100%;
  height: 60px;
  border: 0px solid green;
}

/* line 130, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-otr-box {
  width: 100%;
  height: 150px;
  display: block;
  border: 0px solid black;
}

/* line 142, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-otr-channel-icon:hover {
  cursor: pointer;
}

/* line 149, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-tab {
  float: left;
  width: 40px;
  height: 18px;
  background: #eaa440;
  margin-top: 30px;
  font-size: 16px;
  color: #fff;
  padding: 2px;
}

/* line 161, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-tab:hover {
  cursor: pointer;
}

/* line 166, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-author {
  float: right;
  width: auto;
  height: 100%;
  background: #e0e0e0;
  margin-right: 65px;
}

/* line 175, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-author-name {
  float: left;
  width: 140px;
  height: 40px;
  border: 0px solid red;
  margin-top: 20px;
  position: relative;
}

/* line 185, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-author-name span {
  border: 0px solid blue;
  position: absolute;
  bottom: 0px;
  font-size: 24px;
  color: #30a3ad;
}

/* line 194, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-author-img {
  float: right;
  width: 60px;
  height: 100%;
  border: 0px solid blue;
}

/* line 203, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-info {
  width: 100%;
  height: 150px;
  border: 0px solid #8B3E2F;
}

/* line 210, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lu {
  width: 55%;
  height: 140px;
  background: #FFF;
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
  float: left;
}

/* line 221, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-cu {
  width: 242px;
  height: 140px;
  background: #CDC8B1;
  float: left;
  margin-left: 5px;
}

/* line 229, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-cu-bar {
  width: 80%;
  color: #ddd;
  margin: 0 auto;
}

/* line 235, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-cu span {
  font-size: 35px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 2px #000;
  /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

/* line 245, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-subs-info {
  width: 100%;
  height: 60px;
  border: 0px solid green;
}

/* line 251, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-subs-info img {
  margin-top: 10px;
  margin-left: 20px;
}

/* line 261, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-analytic {
  width: 7%;
  height: 140px;
  background: #fff;
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
  float: left;
}

/* line 271, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-like {
  width: 100%;
  height: 40px;
  background: #b847cf;
  background: #388e8e;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

/* line 281, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-like p center {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

/* line 289, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-post {
  width: 100%;
  height: 40px;
  background: #afa3ad;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

/* line 302, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-post p center {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

/* line 313, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lu-header {
  width: 100%;
  height: 20px;
  font-size: 16px;
}

/* line 319, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lu-header span {
  float: left;
}

/* line 324, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lup {
  width: 100%;
  height: 60px;
  background: #e0e0e0;
  margin-top: 1px;
  word-wrap: break-word;
  overflow: hidden;
}

/* line 333, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lup-time {
  height: 15px;
  width: 100%;
}

/* line 338, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lup-time span {
  float: right;
  font-size: 10px;
  color: #f9f9f9;
}

/* line 345, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-lup-text {
  margin-left: 10px;
  word-wrap: break-word;
}

/* line 351, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
div.p-channelp-post-lup-text p {
  font-size: 18px;
  word-wrap: break-word;
  color: #838383;
}

/* ################################### CSS for Comment Streams ################################*/
/* line 362, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.tl-post-comments {
  display: block;
  width: 480px;
  /*max-height:180px;*/
  height: auto;
  /*overflow-y:scroll;*/
  overflow-x: hidden;
  /*border:1px solid green;*/
  font-family: â¿¿Lucida Sans Unicodeâ¿¿, â¿¿Lucida Grandeâ¿¿, sans-serif;
}

/*
.comments-label
{
  width:87%;
  height:30px;
  border:1px solid #ddd;
  background-color:#F2F2F2;
  margin-left:50px;
  display:none;
}
.comments-label span
{
  margin-top:15px;
  font-size:16px;
	font-family: â¿¿Lucida Sans Unicodeâ¿¿, â¿¿Lucida Grandeâ¿¿, sans-serif;
  color:#00BFFF;
  text-align:center;
}

.comments
{
  margin-bottom:40px;
  margin-left:50px;
  margin-top:0px;
  margin-right:30px;
  border:0px solid red;
}

.comments .commentlist 
{ 
  margin:0; 
  padding:0;
}

.comments .commentlist ul
{ 
  margin:0; 
  padding:0; 
  list-style:none;
}


.comments .commentlist li.comment_odd, #comments .commentlist li.comment_even
{ 
  margin:0 0 2px 0;
  padding:2px;
  list-style:none;
  border:1px solid #ddd;
}
.comments .commentlist li.comment_odd:hover, #comments .commentlist li.comment_even:hover
{
  background-color:#cfecec;
}


li.comment_last 
{
  border-bottom:0;
}


.comments .commentlist li.comment_odd
{
  color:#87CEEB; 
  background-color:#fff7;
}

.comments .commentlist li.comment_odd a
{
  color:#1874CD; 
  background-color:#fff;
}

.comments .commentlist li.comment_even
{
  color:#87CEEB; 
  background-color:#fff;
}

.comments .commentlist li.comment_even a
{
  color:#1874CD; 
  background-color:#fff;
}

.comments .commentlist .author .name
{ 
  font-weight:normal;
  color:#1874CD;
}
.comments .commentlist .submitdate
{
  font-size:10px;
  color:#a6a6a6;
}

.comments .commentlist p 
{ 
  margin:5px 5px 5px 50px;
  padding:0; 
  font-weight: normal;
  text-transform: none;
  color:#000;
  font-size:13px;
	font-family: â¿¿Lucida Sans Unicodeâ¿¿, â¿¿Lucida Grandeâ¿¿, sans-serif;
}

.comments .commentlist li .avatar
{
  float:left;
  border:1px solid #EEEEEE;
  margin:0 0 0 10px;
}
.wrote
{
  font-size:10px;

  color:#ddd;
}

span.name a
{
  text-decoration:none;
  color:#1874CD;
}

.post-comment
{
  height:auto;
  width:480px;


  margin-left:50px;
  display:block;
  margin-top:-15px;
  padding-bottom:15px;
}

*/
/* ################################ To submit comments ############################*/
/* line 514, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.add-comment {
  border: 1px solid #ddd;
  height: 30px;
  width: 100%;
  margin: 0;
}

/* line 523, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.add-comment-text {
  border: 1px solid #ddd;
  height: 30px;
  width: 100%;
  margin: 0;
}

/* line 531, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.submit-comment {
  height: 60px;
  width: 100%;
  display: none;
}

/* line 539, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.btn-comments {
  background-color: #454545;
  border: none;
  height: 18px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 12px;
  font-family: â¿¿Lucida Sans Unicodeâ¿¿, â¿¿Lucida Grandeâ¿¿, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  color: #ddd;
}

/* line 555, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.btn-comments:hover {
  cursor: pointer;
}

/* line 568, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-awp-view-comment {
  height: 17px;
  width: 100%;
}

/* line 574, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-awp-view-comment span {
  float: right;
  font-size: 13px;
  color: #353535;
  text-decoration: underline;
}

/* line 581, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-awp-view-comment span:hover {
  cursor: pointer;
}

/* line 586, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-awp-comments-section {
  width: 100%;
  height: auto;
  border: 0px solid red;
  display: none;
  margin-top: 10px;
}

/* line 601, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-awp-comment-list {
  width: 100%;
  height: auto;
  border: 1px solid red;
  display: inline-block;
}

/* line 609, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-awp-comment {
  height: auto;
  border: 1px solid green;
  width: 100%;
  display: inline-block;
}

/* line 617, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.clearing {
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* line 625, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.author {
  border: 1px solid green;
  width: 160px;
  height: 50px;
  margin-top: 5px;
  float: left;
  background: #92cfd4;
}

/* line 634, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-st-comment-actor {
  color: #fff;
  font-size: 16px;
}

/* line 639, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-st-comment-actor-image {
  border: 0px solid red;
  color: #c19135;
  width: 35px;
  height: 40px;
  float: right;
}

/* line 647, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-st-comment-actor-image img {
  width: 35px;
  height: 50px;
}

/* line 653, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-st-comment-actor-desc {
  width: 120px;
  height: 40px;
  border: 0px solid red;
  float: left;
}

/* line 662, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-st-comment-submitdate {
  font-size: 9px;
  color: #454545;
  width: 100%;
  height: 15px;
  margin-top: 10px;
}

/* line 673, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-st-comment-content {
  width: 380px;
  height: auto;
  color: #333;
  margin-top: 5px;
  margin-left: 4px;
  display: inline-block;
  background: #e0e0e0;
}

/* line 686, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-related-info {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  border: 0px solid blue;
  display: none;
  color: #333;
}

/* line 696, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-rel-frnd {
  width: 55%;
  height: 150px;
  border: 0px solid red;
  float: left;
}

/* line 704, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-friend-header {
  width: 100%;
  height: 20px;
}

/* line 710, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-friend-header span {
  text-align: left;
  color: #000;
  font-size: 16px;
}

/* line 718, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-rel-frnd div {
  /*margin-left:20px;
  margin-top:30px;*/
  border: 0px solid blue;
}

/* line 725, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-rel-frnd div img {
  padding: 5px;
}

/* line 730, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-elem {
  width: 21%;
  height: 150px;
  /*background:#fff;*/
  float: left;
  margin-left: 4px;
}

/* line 738, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-elem-header {
  width: 100%;
  height: 20px;
}

/* line 744, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-elem-header span {
  text-align: left;
  color: #000;
  font-size: 16px;
}

/* line 751, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
ul .p-channelp-post-relelem {
  list-style-type: none;
  background: #ff7575;
  border: 0px solid red;
}

/* line 757, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-relelem {
  border: 0px solid blue;
  background: #ff7575;
}

/* line 762, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-relelem-sect {
  width: 100%;
  height: 90%;
  background: #ff7575;
}

/* line 768, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-relelem li {
  border: 0px solid red;
  width: 100%;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 4px;
  color: #fff;
}

/* line 780, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
#p-channelp-posts ul {
  display: block;
  list-style-type: none;
}

/* line 788, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-loc {
  width: 21%;
  height: 150px;
  float: left;
  margin-left: 4px;
}

/* line 797, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-loc-header {
  width: 100%;
  height: 20px;
}

/* line 803, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-loc-header span {
  text-align: left;
  color: #000;
  font-size: 16px;
}

/* line 810, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-relloc-sect {
  width: 100%;
  height: 90%;
  background: #94e375;
  font-size: 16px;
}

/* line 817, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-relloc li {
  border: 0px solid red;
  width: 100%;
  margin-top: 4px;
}

/* line 824, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-img-header {
  width: 100%;
  height: 20px;
}

/* line 829, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-img-header span {
  text-align: left;
  color: #333;
  font-size: 16px;
}

/* line 838, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-post-rel-img {
  width: 100%;
  height: 140px;
  display: none;
}

/* line 845, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-rel-img div {
  margin-left: 20px;
  margin-top: 30px;
  border: 0px solid blue;
}

/* line 852, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-rel-img div img {
  padding: 5px;
}

/*#### Channel Author Section #### */
/* line 861, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-author-img-sect {
  width: 100%;
  height: 60px;
  border: 0px solid red;
}

/* line 868, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-author-img-sect img {
  float: right;
}

/* line 873, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-author-name {
  width: 100%;
  height: 30px;
  border: 0px solid blue;
  font-size: 20px;
}

/* line 881, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-author-name span {
  float: right;
  color: #30a3ad;
}

/* line 887, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-sect {
  width: 100%;
  height: auto;
  border: 0px solid red;
  font-size: 16px;
}

/* line 895, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-hd {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
}

/* line 901, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-hd span {
  float: right;
}

/* line 906, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-post {
  margin-top: 5px;
  width: 100%;
  height: auto;
  background: #e0e0e0;
}

/* line 914, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-post-time {
  width: 100%;
  height: 12px;
  font-size: 10px;
}

/* line 920, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-post-time span {
  float: right;
  color: #fff;
  font-size: 8px;
}

/* line 928, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-post-text {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

/* line 934, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-last-upd-post-text p {
  color: #fff;
  font-size: 16px;
}

/* line 940, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-subscribe-btn {
  padding: 2px;
  margin: 2px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
}

/* line 947, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-subscribe-btn:hover {
  cursor: pointer;
}

/* line 952, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-people-head {
  width: 100%;
  height: 15px;
  margin: 2px 0 2px 0;
  float: left;
}

/* line 959, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-people-head {
  font-size: 11px;
  text-decoration: underline;
}

/* line 965, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-people-head:hover {
  cursor: pointer;
}

/* line 970, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-people-list {
  width: 100%;
  float: left;
}

/* line 976, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-people-box {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border: 1px solid #ccc;
}

/* line 984, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channel-people-box span:hover {
  cursor: pointer;
}

/* line 988, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-add-channel {
  width: 100%;
}

/* line 993, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-add-channel span:hover {
  margin-top: 10px;
  cursor: pointer;
}

/* line 999, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-auth-add-channel-box {
  display: none;
}

/* line 1005, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-summary-theme {
  width: 100%;
  height: 50px;
  display: block;
}

/* line 1010, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-summary-theme-show {
  float: left;
  font-size: 16px;
}

/* line 1015, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-summary-theme-show {
  cursor: pointer;
}

/* line 1018, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-theme-img-list-box {
  width: 100%;
  display: none;
  margin: 2px;
}

/* line 1023, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-summary-theme-img {
  width: 24px;
  padding: 2px;
  margin: 2px;
  float: left;
}

/* line 1030, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.p-channelp-summary-theme-img:hover {
  cursor: pointer;
}

/* line 1037, ../../../../app/stylesheets/actwitty/alpha/actwitty-channel-page.scss */
.summary_links_styling {
  font-size: 16px;
  color: #fff;
}
