/* line 1, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.ntabs {
  margin-right: 9px;
  margin-top: 9px;
  width: 135px;
  height: 71px;
  display: block-inline;
  float: left;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 22, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.boxer_close {
  z-index: 99999;
  /*9999*/
  float: top;
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  height: 18px;
  width: 18px;
}

/* line 32, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.boxer_close img {
  height: 18px;
  width: 18px;
}

/*************** entity box *****************/
/* line 40, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box {
  height: 90px;
  width: 120px;
}

/* line 45, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 51, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_internal a img {
  height: 90px;
  width: 120px;
  z-index: -200;
  position: fixed;
}

/* line 58, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_internal a span {
  height: 5px;
  width: 40px;
  z-index: 300;
  position: absolute;
  margin-top: 35px;
  margin-left: 35px;
  font-size: 16px;
  text-align: center;
}

/* line 69, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_images {
  /*height:40;
  width:40;*/
}

/*************** entity box *****************/
/****************** location box *************/
/* line 76, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box {
  height: 90px;
  width: 120px;
}

/* line 81, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 87, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_internal a img {
  height: 90px;
  width: 120px;
  z-index: -200;
  position: fixed;
}

/* line 94, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_internal a span {
  height: 5px;
  width: 40px;
  z-index: 600;
  position: absolute;
  margin-top: 35px;
  margin-left: 35px;
  font-size: 16px;
  text-align: center;
}

/* line 104, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_images {
  /*margin-left:1px;
  margin-top:1px;*/
}

/* line 108, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
#loc_page_img {
  margin-left: 60px;
}

/* line 111, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.js_modal_locations {
  /*word-wrap: break-word;
  display:inline-block;
  text-align:center;*/
}

/* line 116, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.hide {
  display: none;
}

/****************** location box *************/
/****************** channel box *************/
/* line 125, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box {
  height: 40px;
  width: 130px;
}

/* line 130, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 137, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box_internal a p {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  /*background:#903737;*/
  text-transform: uppercase;
  color: #da9025;
}

/* line 147, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box_internal a p:hover span {
  display: block;
  position: absolute;
  background: #FCFCFC;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 4px  #3a3a3a;
  -moz-box-shadow: 0 0 4px  #3a3a3a;
  -webkit-box-shadow: 0 0 4px  #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

/****************** channel box end *************/
/*************** related friends box *****************/
/* line 171, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.related_friends_box {
  height: 90px;
  width: 120px;
}

/* line 176, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.related_friends_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 188, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.friends_box_images {
  height: 40;
  width: 40;
}

/*************** related friends box end *****************/
/*************** subscription box *****************/
/* line 195, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box {
  height: 68px;
  width: 140px;
}

/* line 200, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal {
  width: 90%;
  overflow: hidden;
  float: left;
}

/* line 206, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a {
  border: 1px solid red;
}

/* line 210, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  float: left;
}

/* line 219, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/* line 229, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a p:hover span {
  display: block;
  position: absolute;
  background: #FCFCFC;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 4px  #3a3a3a;
  -moz-box-shadow: 0 0 4px  #3a3a3a;
  -webkit-box-shadow: 0 0 4px  #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

/*************** subscription box ends *****************/
/*************** subscribers box *****************/
/* line 251, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box {
  height: 68px;
  width: 140px;
}

/* line 256, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal {
  width: 90%;
  overflow: hidden;
  float: left;
}

/* line 262, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a {
  border: 1px solid red;
}

/* line 266, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  float: left;
}

/* line 275, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/* line 285, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a p:hover span {
  display: block;
  position: absolute;
  background: #FCFCFC;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 4px  #3a3a3a;
  -moz-box-shadow: 0 0 4px  #3a3a3a;
  -webkit-box-shadow: 0 0 4px  #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

/*************** subscribers box ends *****************/
