/* line 1, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.ntabs {
  margin-right: 9px;
  margin-top: 9px;
  width: 135px;
  height: 71px;
  display: block-inline;
  float: left;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 22, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.boxer_close {
  z-index: 99999;
  /*9999*/
  float: top;
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  height: 18px;
  width: 18px;
}

/* line 32, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.boxer_close img {
  height: 18px;
  width: 18px;
}

/*************** entity box *****************/
/* line 40, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box {
  height: 90px;
  width: 140px;
}

/* line 45, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 51, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_internal a img {
  width: 120px;
}

/* line 55, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/* line 65, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.entities_box_images {
  /*height:40;
  width:40;*/
}

/*************** entity box *****************/
/****************** location box *************/
/* line 72, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box {
  height: 90px;
  width: 120px;
}

/* line 77, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 83, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_internal a img {
  height: 90px;
  width: 120px;
  z-index: -200;
  position: fixed;
}

/* line 90, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_internal a span {
  height: 5px;
  width: 40px;
  z-index: 600;
  position: absolute;
  margin-top: 35px;
  margin-left: 35px;
  font-size: 16px;
  text-align: center;
}

/* line 100, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.locations_box_images {
  /*margin-left:1px;
  margin-top:1px;*/
}

/* line 104, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
#loc_page_img {
  margin-left: 60px;
}

/* line 107, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.js_modal_locations {
  /*word-wrap: break-word;
  display:inline-block;
  text-align:center;*/
}

/* line 112, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.hide {
  display: none;
}

/****************** location box *************/
/****************** channel box *************/
/* line 121, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box {
  height: 40px;
  width: 130px;
}

/* line 126, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box_internal {
  width: 80%;
  overflow: hidden;
  float: left;
}

/* line 133, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.channels_box_internal a p {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  /*background:#903737;*/
  text-transform: uppercase;
  color: #da9025;
}

/****************** channel box end *************/
/*************** related friends box *****************/
/* line 147, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.related_friends_box {
  height: 68px;
  width: 140px;
}

/* line 152, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.related_friends_box_internal {
  width: 90%;
  overflow: hidden;
  float: left;
}

/* line 161, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.related_friends_box_internal a img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  float: left;
}

/* line 170, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.related_friends_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/*************** related friends box end *****************/
/*************** subscription box *****************/
/* line 184, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box {
  height: 68px;
  width: 140px;
}

/* line 189, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal {
  width: 90%;
  overflow: hidden;
  float: left;
}

/* line 195, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a {
  border: 1px solid red;
}

/* line 199, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  float: left;
}

/* line 208, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscription_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/*************** subscription box ends *****************/
/*************** subscribers box *****************/
/* line 221, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box {
  height: 68px;
  width: 140px;
}

/* line 226, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal {
  width: 90%;
  overflow: hidden;
  float: left;
}

/* line 232, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a {
  border: 1px solid red;
}

/* line 236, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  float: left;
}

/* line 245, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.subscriber_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/*************** subscribers box ends *****************/
/**************** likes box ***************************/
/* line 258, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.like_box {
  height: 68px;
  width: 140px;
}

/* line 263, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.like_box_internal {
  width: 90%;
  overflow: hidden;
  float: left;
}

/* line 269, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.likes_box_internal a {
  border: 1px solid red;
}

/* line 273, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.likes_box_internal a img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  float: left;
}

/* line 282, ../../../../app/stylesheets/actwitty/alpha/boxer.scss */
.likes_box_internal a p {
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  color: #30a3ad;
}

/**************** likes box ends **********************/
