/*
 * General conventions
 * -------------------
 *  "p" in start => profile
 *  "l" => left
 *  "r" => right
 *  "ch" => channel
 *  "st" => stream
 *  "cstab" => channel stream tab
 *  "fltr" => filter
 *  "ip" => input
 *  "awp" => act witty post
 *
 *
 *  General Flow
 *  ------------
 *  1).The page width size has been fixed at 990px (Set in generalise section)
 *  2).We can have background image strips as presented in wireframes. Strip colors can
 *     be controlled by "wrapper" section in css. (for individual columns)
 *  3).There are 4 columns (distributed as rows)
 *      Col1: has header/top bar information
 *      Col2: has input box
 *      Col3: has Channel and stream tabs
 *      Col4: has main content information
 *          Col4 -> Col1: has left sidebar filters by content types (all/video/twitter etc)
 *          Col4 -> Col2: has main content stream
 *            Col4 -> Col2 -> Col1 : only in case of stream on, we have Show Containing bar
 *          Col4 -> Col3: has right sidebar filters (Me/others) and Search Filters
 *  
 *  General Remarks
 *  ---------------
 *  1). All the placeholders are in place for images to be placed.
 *  2). No jQuery implementation has be set currently
 *  3). Some specifications related to tab bar is not in place.
 *  4). Font-description have been mentioned at resp places to be changed on notice.
 */
/*
 * To apply actwitty font : gnuolane.
 * This has been used by embedding ttf file kept in public folder
 */
@font-face {
  font-family: 'actwitty-font';
  src: url("/font/gnuolane.ttf") format("truetype");
}

/* line 50, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'actwitty-font';
  color: #CCCCCC;
  background-color: #fff;
}

/* line 61, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
input[type=text] {
  font-family: 'actwitty-font';
}

/* line 66, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
img {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 67, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.clear {
  clear: both;
}

/* line 68, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
br.clear {
  clear: both;
  margin-top: -15px;
}

/* line 69, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a {
  outline: none;
  text-decoration: none;
}

/* ----------------------------------------------Wrapper-------------------------------------*/
/* line 74, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

/* line 81, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {
  margin: 0 0 20px 0;
  padding: 0 0 8px 0;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px dashed #DDDDDD;
}

/* line 89, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col1 {
  color: #D2D2D2;
  background-color: #FFFFFD;
}

/* line 90, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col2 {
  color: #FFFFFF;
  background-color: #FFFFFD;
}

/* line 91, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col3 {
  color: #000000;
  background-color: #FFFFFD;
}

/* line 92, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col4 {
  color: #666666;
  background-color: #FFFFFD;
}

/* ----------------------------------------------Generalise-------------------------------------*/
/* line 97, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header, #p-ip-sect, #p-ch-st-tab-sect, #p-content-sect {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 990px;
  border: 0px solid red;
}

/* ----------------------------------------------Header-------------------------------------*/
/* line 108, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header {
  padding: 0px 0;
  z-index: 1000;
  width: 605px;
  height: 50px;
  border: 0px solid red;
}

/* line 117, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#top-bar {
  position: fixed;
  border: 0px solid red;
  background: #454545;
  width: 624px;
  -moz-box-shadow: 4px 4px 4px #b0b0b0;
  -webkit-box-shadow: 4px 4px 4px #b0b0b0;
  box-shadow: 4px 4px 4px #b0b0b0;
}

/* line 128, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1, #header p {
  margin: 0;
  padding: 0;
}

/* line 134, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#logo {
  display: block;
  float: left;
  width: 120px;
  height: 50px;
  border: 0px solid white;
}

/* line 142, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1 {
  margin: 0 0 7px 0;
  font-size: 36px;
  border: none;
}

/* line 148, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1 a {
  color: #D2D2D2;
  background-color: #000000;
}

/* line 156, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#home_page_nav {
  width: 120px;
  float: right;
  border: 0px solid red;
  position: relative;
  height: 50px;
  display: inline;
  /*
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  */
  /*
      -moz-box-shadow: 2px 2px 2px #c0c0c0;
      -webkit-box-shadow: 2px 2px 2px #c0c0c0;
      box-shadow: 2px 2px 2px #c0c0c0;
  */
  /*
      -moz-box-shadow:inset 0 0 1px #000000;
      -webkit-box-shadow:inset 0 0 1px #000000;
      box-shadow:inset 0 0 1px #000000;
  */
}

/* line 182, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#profile_header_user_img {
  float: right;
  padding: 0px;
  width: 50px;
  height: 50px;
}

/* line 190, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-topbar-home {
  float: left;
  padding: 0px;
  margin-left: -20px;
  margin-top: 11px;
  width: 28px;
  height: 28px;
  background-image: url("/images/alpha/home_icon_normal.png");
}

/* line 200, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-topbar-home:hover {
  background-image: url("/images/alpha/home_icon_hover.png");
  cursor: pointer;
}

/* --------------- Search Bar -----------------*/
/* line 208, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#searchwrapper {
  width: 250px;
  height: 28px;
  /*background-image:url('../images/search_bar.png');*/
  /*background-repeat:no-repeat; */
  padding: 0px;
  margin: 0px;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  display: inline;
}

/* line 221, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#searchwrapper form {
  display: inline;
}

/* line 223, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox {
  border: 0px;
  /*important*/
  /*background-color:transparent; 
  position:absolute; important*/
  /*top:4px;
  left:9px;*/
  width: 220px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #333;
  margin-left: 20px;
  margin-top: 10px;
  color: #333;
}

/* line 241, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox:focus {
  border: 1px solid #eee;
  background: #ddd;
}

/* line 246, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox_submit {
  border: 0px;
  /*important*/
  background-color: transparent;
  /*important*/
  position: absolute;
  /*important*/
  top: 4px;
  left: 265px;
  width: 32px;
  height: 28px;
  opacity: 40%;
}

/* ----------------------------------------------Profile page input-------------------------------------*/
/* line 262, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ip-sect {
  padding: 0px 0;
  border: 1px solid #fff;
  width: 605px;
  /*margin-top:10px;*/
}

/* line 270, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-box {
  margin-bottom: 5px;
  width: 624px;
  height: auto;
  border: 1px solid #ddd;
  background-image: url("/images/alpha/blue_back.png");
  background-repeat: repeat;
  /*background:#c8c8c8;*/
}

/* line 285, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-section {
  width: 100%;
  height: auto;
  padding: 0px;
  border: 1px solid red;
}

/* line 294, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section {
  width: 80px;
  height: 100px;
  border: 0px solid black;
  display: block;
  margin: 40px 0 40px 80px;
}

/* line 303, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section img {
  width: 70px;
  height: 70px;
  padding: 3px;
}

/* line 310, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section span {
  display: block;
  position: relative;
  top: 0px;
  /*this positions the tooltip*/
  left: 0px;
  /*this positions the tooltip*/
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

/* line 321, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.home_page_inputs {
  display: block;
  /*border:1px solid #ddd;*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 10px 10px;
  width: 585px;
  margin-top: 20px;
  /*
   margin-left:300px;
   margin-top:-110px;
   */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: inset 0 0 0px #000000;
  -webkit-box-shadow: inset 0 0 0px #000000;
  box-shadow: inset 0 0 0px #000000;
  display: none;
}

/* line 351, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-whats-up {
  margin-top: 20px;
}

/* line 356, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.add-page-input {
  border: 1px solid #ddd;
  height: 30px;
  width: 580px;
  padding: 3px;
  margin-left: 5px;
  margin-top: 10px;
}

/* line 366, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.page_input_close span {
  width: 15px;
  height: 15px;
  float: right;
  background: url("/images/alpha/close.png");
}

/* line 378, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.trans {
  opacity: 0.8;
}

/* line 383, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activity_location {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 18px;
  border: 0px solid green;
}

/* line 392, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.entity_maps {
  width: 100%;
  height: auto;
  border: 0px solid red;
}

/* line 400, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activities {
  float: left;
  width: 47%;
  height: 50px;
  border: 0px solid blue;
  margin-left: 20px;
}

/* line 408, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activity_input {
  margin-left: 0px;
  border: 0px solid #ddd;
  opacity: 0.8;
}

/* line 414, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#activity_box_desc {
  float: left;
  width: 90.5%;
  height: 10px;
  border: 0px solid red;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 19px;
  opacity: 0.8;
}

/* line 426, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#activity_box_desc img {
  float: right;
}

/* line 430, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.locations {
  float: left;
  width: 47%;
  height: 50px;
  border: 0px solid blue;
}

/* line 439, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#location_box_desc {
  float: left;
  width: 90.5%;
  height: 10px;
  border: 0px solid blue;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 19px;
  opacity: 0.8;
}

/* line 451, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#location_box_desc img {
  float: right;
}

/* line 457, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchTextField {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid gray;
  border: 0px solid #ddd;
}

/* line 470, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input_text_box {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid #000;
  opacity: 0.8;
}

/* line 483, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol {
  color: #87CEEB;
  /*border:1px solid red;*/
}

/* line 488, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_at {
  margin-left: -10px;
}

/* line 494, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_icon {
  width: 15px;
  height: 15px;
}

/*
#title_field
{
  padding:2px;
  margin-left:20px;
  margin-top:5px;
  margin-bottom:5px;
  display:block;
  border:1px solid #ddd;
  opacity:0.8;
}
*/
/* line 511, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol {
  color: #87CEEB;
  /*border:1px solid red;*/
}

/* line 516, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_at {
  margin-left: -10px;
}

/* line 522, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_icon {
  width: 15px;
  height: 15px;
}

/* line 529, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle-div {
  width: 100%;
  height: 50px;
  display: block;
  border: 0px solid blue;
}

/* line 536, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle-box {
  float: right;
  width: 47%;
  height: 40px;
  border: 0px solid red;
}

/* line 544, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.subtitle_input {
  border: 0px solid #ddd;
  margin-left: 4px;
  opacity: 0.8;
}

/* line 554, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle_box_desc {
  float: left;
  width: 90%;
  height: 10px;
  border: 0px solid red;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 4px;
  /*margin-left:19px;*/
  opacity: 0.8;
}

/* line 567, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle_box_desc img {
  float: right;
}

/* line 573, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_div {
  width: 100%;
  height: auto;
  border: 0px solid blue;
  opacity: 0.8;
}

/* line 580, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity-box {
  width: 100%;
  height: auto;
  border: 0px solid green;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* line 588, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.entity_input {
  padding: 0px;
  margin-left: 20px;
  /*margin-left:3.15%;*/
  /*
  margin-top:5px;
  margin-bottom:5px;
  */
  display: block;
  border: 0px solid red;
  color: gray;
  width: 92.5%;
  height: 25px;
  opacity: 0.8;
}

/* line 605, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_box_desc {
  float: left;
  width: 92.5%;
  height: 10px;
  border: 0px solid red;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 20px;
  opacity: 0.8;
}

/* line 617, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_box_desc img {
  float: right;
}

/* line 623, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_entity {
  float: left;
}

/* line 629, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.no-ol {
  border: 0;
  outline: none;
}

/* line 634, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.no-ol:focus {
  border: 0;
  outline: none;
}

/* line 644, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_addons {
  display: block;
  width: 92.5%;
  height: 18px;
  border: 0px solid red;
  margin-left: 20px;
  /*margin-bottom:-8px;*/
  background: #fff;
  opacity: 0.8;
}

/* line 655, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input_addons_links {
  float: right;
}

/* line 659, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.link_addon_icons {
  /*width:25px;
  height:25px;
  border:2px solid gray;
  */
  /*
  -moz-border-radius: 4px ; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  -webkit-border-radius: 4px ;
  */
}

/* line 674, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-attachments-section {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  height: auto;
  border: 1px solid #ddd;
  display: none;
}

/* line 686, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_campaign {
  /*border:1px solid gray;*/
  color: #ccc;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  border: 0px solid red;
}

/* line 695, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_campaign span {
  margin-left: 20px;
  border: 0px solid red;
}

/* line 701, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.ask-campaign {
  margin-left: 10px;
}

/* line 705, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#campaign_label {
  margin-left: 13px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 0px solid red;
  vertical-align: middle;
}

/* line 715, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#campaign {
  border: 1px solid gray;
}

/* line 720, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-type {
  display: inline-block;
  width: auto;
  height: auto;
  border: 0px solid blue;
  padding: 0 5px 0 5px;
}

/* line 729, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp {
  color: green;
  width: 9px;
  height: 9px;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  background: url("/images/alpha/close_mini.png");
  display: none;
}

/* line 742, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp:hover {
  cursor: pointer;
}

/* line 747, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp-inactive {
  display: none;
}

/* line 751, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn {
  width: 40px;
  height: 20px;
  display: inline-block;
  margin-left: 0px;
  border: 1px solid gray;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #ddd;
  color: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 769, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn:hover {
  cursor: pointer;
}

/* line 774, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.camp-support {
  width: 60px;
}

/* line 778, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.selected-camp {
  border: 1px solid #4bacb2;
  background: #4bacb2;
  color: #f1f1f1;
}

/* line 786, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn span {
  text-align: center;
}

/* line 792, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#post_submit {
  width: 100%;
  height: 30px;
  border: 0px solid red;
}

/* line 799, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.post-fb-twt {
  width: 120px;
  height: 30px;
  border: 0px solid blue;
  float: right;
  margin-right: 10px;
}

/* line 810, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.fbtwt-pub {
  border: 0px solid red;
  margin-left: -5px;
  display: inline-block;
}

/* line 821, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#save-or-pub {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color:#92d050;*/
  color: #282828;
  width: 10px;
  height: 13px;
  float: right;
  background-image: url("/images/alpha/or_text.png");
}

/* line 833, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#actwitty_generator {
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #282828;
  width: 67px;
  height: 24px;
  float: right;
  background-image: url("/images/alpha/publish_unselected_button.png");
}

/* line 844, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#post_submit_button:hover {
  background-image: url("/images/alpha/publish_hover_button.png");
  cursor: pointer;
}

/* line 849, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#save_submit_button {
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  /*background-color:#92d050;*/
  color: #282828;
  width: 67px;
  height: 24px;
  float: right;
  background-image: url("/images/alpha/save_unselected_button.png");
}

/* line 862, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#save_submit_button:hover {
  background-image: url("/images/alpha/save_hover_button.png");
  cursor: pointer;
}

/* line 868, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-attachments-section {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  height: auto;
  border: 1px solid #ddd;
  display: none;
}

/* line 878, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#attachment-list {
  width: 100%;
  height: auto;
  border: 0px solid red;
}

/* line 884, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.choose-attach {
  disabled: true;
}

/* line 888, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-addmore-attachments {
  width: 100%;
  height: 20px;
}

/* line 893, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-addmore-attachments a {
  float: right;
  font-weight: normal;
  font-size: 14px;
  color: #7D9EC0;
}

/* line 900, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.attach-caption {
  border: 1px solid #ddd;
  color: #ddd;
  height: 25px;
  width: 300px;
}

/* line 908, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-attach {
  display: inline-block;
  margin-left: 20px;
}

/* line 913, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-attachment {
  width: 400px;
  height: 50px;
  padding: 5px;
  border: 0px solid blue;
  /*float:left;*/
}

/* line 922, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-attachment a {
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  padding: 5px;
  padding-left: 10px;
}

/* ----Input Character Count ---- */
/* line 936, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-char-count {
  width: 100%;
  height: 30px;
  display: none;
}

/* line 943, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-char-count span {
  float: right;
  font-size: 12px;
  font-weight: normal;
  color: #7a7a7a;
}

/* ---- Hover on Image Addition ---- */
/* line 951, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info {
  position: relative;
  z-index: 0;
  color: #000;
  text-decoration: none;
}

/* line 952, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info span {
  display: none;
  text-decoration: none;
}

/* line 953, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info:hover {
  z-index: 1;
  background: #fff;
}

/* line 954, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info:hover span {
  display: block;
  position: absolute;
  top: -10px;
  /*this positions the tooltip*/
  left: 55px;
  /*this positions the tooltip*/
  width: 80px;
  /*border:1px solid #fff;*/
  background: #87ceeb;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

/* ----------------------------------------------Channel Stream Tab-------------------------------------*/
/* line 974, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab-sect {
  padding: 0px 0;
  border: 0px solid green;
}

/* line 980, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab {
  width: 605px;
  height: 50px;
  border: 0px solid blue;
  margin-left: 195px;
}

/* line 988, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 48px;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  width: 620px;
  display: block;
  background: #afafaf;
  border: 0px solid blue;
  margin-left: 2px;
}

/* line 1004, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li {
  display: block;
  float: left;
  margin: 0px 0 0 0px;
  padding: 0px 0px;
  height: 38px;
  line-height: 38px;
  margin-bottom: -1px;
  position: relative;
  background: #afafaf;
  width: 304px;
  text-align: center;
  border-bottom: 5px solid white;
  border-top: 5px solid #afafaf;
}

/* line 1020, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-ch-tab {
  border-left: 5px solid  #afafaf;
  border-right: 1px solid #afafaf;
}

/* line 1026, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-st-tab {
  border-left: 1px solid  #afafaf;
  border-right: 5px solid #afafaf;
}

/* line 1034, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

/* line 1047, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-ch-tab:hover {
  color: #00BFFF;
  background: #cccccc;
  border-left: 5px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* line 1054, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-st-tab:hover {
  color: #00BFFF;
  background: #cccccc;
  text-decoration: none;
  border-right: 1px solid #afafaf;
  border-bottom: 5px solid white;
  border-right: 5px solid #afafaf;
}

/* line 1063, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
html ul.p-cstab li.p-ch-tab.active {
  color: #00BFFF;
  background: #fff;
  text-decoration: none;
  border-left: 5px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* line 1071, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
html ul.p-cstab li.p-st-tab.active {
  color: #00BFFF;
  background: #fff;
  text-decoration: none;
  border-left: 1px solid #afafaf;
  border-right: 5px solid #afafaf;
}

/* line 1083, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cstab_content {
  border: 5px solid  #afafaf;
  border-top: none;
  overflow: hidden;
  clear: both;
  float: left;
  width: 610px;
  height: auto;
  color: #000000;
}

/*****************************************  Stream Filters ***************************************/
/* line 1096, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-fltr-box {
  width: 100%;
  height: 50px;
}

/* line 1102, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter-sect {
  height: 50px;
  width: 100%;
}

/* line 1107, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter {
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
  position: absolute;
  z-index: 1000;
  background: #CCCCCC;
  border: 0px solid red;
}

/* line 1118, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter li {
  display: inline;
}

/* line 1122, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-label {
  width: 100px;
  text-align: center;
  font-size: 16px;
}

/* line 1128, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter-box {
  width: auto;
  height: 42px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  /*padding:10px 5px 5px 5px;
  margin:8px 5px 0 2px;*/
}

/* line 1140, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-flt-actor {
  width: 140px;
  height: 34px;
  display: inline-block;
  float: left;
  border: 0px solid green;
  margin: 0px 1px 0 0px;
  border: 4px solid #afaf93;
}

/* line 1151, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-flt-holder {
  padding: 0px 0 0 0;
  margin-top: 5px;
  border: 0px solid blue;
  font-size: 22px;
  overflow: hidden;
  width: 140px;
  height: 30px;
}

/* line 1163, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr {
  color: green;
  width: 9px;
  height: 9px;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  float: top;
  float: right;
  background: url("/images/alpha/close_mini.png");
  display: none;
}

/* line 1178, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr:hover {
  cursor: pointer;
}

/* line 1183, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr-inactive {
  display: none;
}

/* line 1188, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-default {
  background: #cccccc;
  color: #ffffff;
}

/* line 1193, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-channel {
  background: #903737;
  color: #a4a88d;
}

/* line 1200, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-entity {
  background: #943988;
  color: #ffffff;
}

/* line 1207, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-location {
  background: #274521;
  color: #a4a88d;
}

/* line 1212, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-fltr-search-img {
  height: 30px;
  width: 30px;
}

/* -------------------------------Left Bar Filter ----------------------------------*/
/* line 1219, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_left_side_bar {
  display: none;
}

/* line 1223, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_left_side_bar {
  display: none;
}

/* line 1228, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-con-l-fltr {
  width: 190px;
  height: auto;
  border: 1px solid #fff;
}

/* line 1235, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-l-fltr-1 {
  width: 190px;
  height: 300px;
  border: 0px solid black;
  position: absolute;
}

/* line 1247, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content-type-fltr-sect {
  height: 160px;
  width: 160px;
  border: 0px solid blue;
  float: right;
  display: block;
}

/* line 1256, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cont-typ-fltr {
  height: 43px;
  margin-top: 7px;
  width: 70px;
  border: 0px solid green;
  /*background-image: url("../images/all.png");*/
  background-repeat: no-repeat;
  float: left;
}

/* line 1266, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cont-typ-fltr:hover {
  cursor: pointer;
}

/* line 1270, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-all {
  background-image: url("/images/alpha/all_unselected.png");
}

/* line 1271, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-all:hover {
  background-image: url("/images/alpha/all_hover.png");
}

/* line 1274, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-drafts {
  background-image: url("/images/alpha/drafts_unselected.png");
}

/* line 1275, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-drafts:hover {
  background-image: url("/images/alpha/drafts_hover.png");
}

/* line 1278, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-videos {
  background-image: url("/images/alpha/videos_unselected.png");
}

/* line 1279, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-videos:hover {
  background-image: url("/images/alpha/videos_hover.png");
}

/* line 1282, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-images {
  background-image: url("/images/alpha/images_unselected.png");
}

/* line 1283, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-images:hover {
  background-image: url("/images/alpha/images_hover.png");
}

/* line 1286, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-twitter {
  background-image: url("/images/alpha/twitter_unselected.png");
}

/* line 1287, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-twitter:hover {
  background-image: url("/images/alpha/twitter_hover.png");
}

/* line 1291, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-l-fltr-2 {
  width: 100%;
  width: 190px;
  height: auto;
  border: 0px solid gray;
  margin-top: 180px;
  position: absolute;
}

/* line 1300, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-related-fltrs-sect {
  height: auto;
}

/* line 1306, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs {
  width: 100%;
}

/* line 1310, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs span {
  float: right;
  text-decoration: underline;
  font-weight: bold;
}

/* line 1317, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs span:hover {
  cursor: pointer;
}

/* line 1322, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltr-tags {
  width: 100%;
  height: auto;
  border: 0px solid green;
  float: right;
}

/* line 1331, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list {
  display: block;
  float: right;
  margin: 2px 2px;
}

/* line 1337, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list span {
  background: #585858;
  padding: 2px;
  font-weight: normal;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
}

/* line 1353, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location {
  display: block;
  float: right;
  width: 80px;
  overflow: hidden;
  height: 14px;
  margin: 2px 2px;
  background: #274521;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* line 1369, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location span {
  color: #a4a88d;
  background: #274521;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
  width: 100%;
}

/* line 1383, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-entity {
  display: block;
  float: right;
  width: 80px;
  overflow: hidden;
  height: 14px;
  margin: 2px 2px;
  background: #943988;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* line 1401, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-entity span {
  background: #943988;
  color: #ffffff;
  width: 100%;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
}

/* line 1413, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-fltr-tag-list {
  list-style: none;
}

/* line 1418, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-fltr-tag-list li {
  display: inline;
  background: #EED5B7;
  padding: 2px;
}

/* line 1426, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list span.p-selected-fltr-entity {
  background: #2D7010;
  color: #fff;
}

/* ------------------------------- Right Bar Filter ---------------------------------*/
/* line 1432, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_right_side_bar {
  display: none;
}

/* line 1436, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_right_side_bar {
  display: none;
}

/* line 1440, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-con-r-fltr {
  width: 150px;
  height: auto;
  border: 1px solid #fff;
  margin-left: 10px;
}

/* line 1447, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-content {
  width: 150px;
  height: auto;
  border: 0px solid red;
  margin-left: 20px;
}

/* line 1456, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-st {
  width: 100%;
  width: 180px;
  height: auto;
  height: 80px;
  border: 0px solid red;
  position: fixed;
}

/* line 1466, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-st-by {
  height: 180px;
}

/* line 1472, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-mine {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid green;
  background-image: url("/images/alpha/stream_mine_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1483, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-mine-active {
  background-image: url("/images/alpha/stream_mine_selected.png");
}

/* line 1487, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-mine:hover {
  background-image: url("/images/alpha/stream_mine_hover.png");
  cursor: pointer;
}

/* line 1489, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-subscribed {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid blue;
  background-image: url("/images/alpha/stream_subscribed_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1498, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-subscribed:hover {
  background-image: url("/images/alpha/stream_subscribed_hover.png");
  cursor: pointer;
}

/* line 1501, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-subscribed-active {
  background-image: url("/images/alpha/stream_subscribed_selected.png");
}

/* line 1506, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-all {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid blue;
  background-image: url("/images/alpha/stream_all_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1515, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-all:hover {
  background-image: url("/images/alpha/stream_all_hover.png");
  cursor: pointer;
}

/* line 1518, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-all-active {
  background-image: url("/images/alpha/stream_all_selected.png");
}

/* line 1522, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo {
  height: 180px;
  font-size: 22px;
  border: 2px solid #ccc;
}

/* line 1528, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo a img {
  height: 100px;
  width: 100px;
}

/* line 1536, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo .follow_button {
  float: right;
  float: bottom;
  margin-top: 105px;
}

/* line 1544, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr {
  width: 100%;
  width: 150px;
  height: auto;
  margin-top: 160px;
  position: fixed;
}

/* line 1555, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr-bar {
  height: 25px;
  background: #ddd;
  padding: 3px;
}

/* line 1561, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr-bar span {
  float: right;
  color: #333;
  font-size: 14px;
}

/* line 1568, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by {
  width: 100%;
  height: 15px;
  margin: 2px 0 2px 0;
}

/* line 1574, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by span {
  font-size: 11px;
  text-decoration: underline;
}

/* line 1580, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by span:hover {
  cursor: pointer;
}

/* ----------------------------------------  Content stream -------------------------------------*/
/* line 1585, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_main_bar {
  display: none;
}

/* line 1589, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_main_bar {
  display: none;
}

/* line 1593, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect {
  padding: 0px 0;
  border: 0px solid red;
  margin-top: 0px;
}

/* line 1599, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect ul, #p-content-sect p {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

/* line 1608, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

/* line 1619, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content {
  width: 600px;
  height: auto;
  border: 0px solid gray;
  background: #fff;
}

/* line 1629, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.js_mention_highlight {
  margin-left: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  background: #943988;
  color: #ffffff;
  border: 0px solid #003399;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

/* line 1648, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-aw-post {
  height: auto;
  width: 100%;
  width: 550px;
  border: 0px solid blue;
  margin-top: 8px;
  margin-left: 10px;
  padding: 10px;
}

/* line 1660, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-user {
  width: 100%;
  height: 80px;
  display: block;
  border: 0px solid red;
  overflow: hidden;
}

/* line 1670, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-user a {
  width: 80px;
  float: right;
}

/* line 1677, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions {
  width: 100%;
  /*float:right;
  float:top;*/
  height: 25px;
  border: 0px solid red;
}

/* line 1689, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-close {
  float: right;
  margin-left: 5px;
  /*float:top;*/
}

/* line 1696, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-publish {
  float: left;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  /*float:top;*/
}

/* line 1705, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-mention {
  float: left;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  /*float:top;*/
}

/* line 1714, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-edit {
  float: left;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  /*float:top;*/
}

/* line 1725, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel {
  width: 100%;
  height: 30px;
  border: 0px solid red;
  margin-top: 4px;
}

/* line 1733, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-desc {
  float: right;
}

/* line 1738, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-label {
  font-size: 16px;
  color: #e5e5e5;
}

/* line 1743, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-name {
  font-size: 18px;
  background: #903737;
  color: #a4a88d;
}

/* line 1751, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle {
  width: 100%;
  height: 30px;
  border: 0px solid blue;
}

/* line 1758, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle-name {
  float: right;
  font-size: 16px;
  padding: 3px;
  font-weight: bold;
  color: #333;
}

/* line 1767, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  /*float:right;*/
  border: 0px solid green;
}

/* line 1775, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time-content {
  float: right;
  font-size: 10px;
}

/* line 1780, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
  margin-top: 4px;
}

/* line 1787, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date-content {
  float: right;
  font-size: 12px;
}

/* line 1793, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content {
  width: 100%;
  /*float:right;*/
  height: auto;
  border: 0px solid red;
}

/* line 1801, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content p {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  line-height: 18px;
}

/* line 1808, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-location {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid red;
}

/* line 1814, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-location img {
  float: left;
  height: 40px;
  width: 40px;
}

/* line 1822, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-location-name {
  float: left;
  margin: 2px 2px;
  background: #274521;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* line 1834, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location span {
  color: #a4a88d;
  background: #274521;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
  width: 100%;
}

/* line 1850, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-video-attachment {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid #fff;
  margin-top: 8px;
  z-index: 1;
}

/* line 1862, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-video-attachment .video {
  float: left;
  margin: 5px;
  border: 2px solid #fff;
}

/* line 1869, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-attachment {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid #fff;
  margin-top: 8px;
  z-index: 1;
}

/* line 1877, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-attachment-inner-box {
  float: left;
  margin: 2px;
  padding: 2px;
  height: auto;
  border: 1px solid #ccc;
}

/* line 1887, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-image-box {
  width: 100%;
}

/* line 1891, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-image-cntrl {
  color: green;
  width: 9px;
  height: 9px;
  display: block;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  float: top;
  float: right;
  background: url("/images/alpha/close_mini.png");
}

/* line 1906, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-image-cntrl:hover {
  cursor: pointer;
}

/*
#header,#p-ip-sect ,#p-ch-st-tab-sect,#p-content-sect 
{
  border:0px solid red;
}
*/
/* line 1924, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention {
  position: relative;
  z-index: 24;
}

/* line 1930, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention:hover {
  z-index: 25;
}

/* line 1935, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention span {
  display: none;
}

/* line 1940, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention:hover span {
  display: block;
  position: absolute;
  background-color: #6699ff;
  color: #fff;
  border: 2px solid #ccc;
}

/*

.add-page-input
{
 
  font-family:'actwitty-font';
}

.actwitty-fontify
{
 
  font-family:'actwitty-font';
}
*/
/***********************************************/
/* line 1966, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.js_socialize_icons {
  display: none;
}

/* line 1970, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.socialize_box {
  padding: 2px;
  border: 1px solid #ccc;
  margin: 2px;
  display: inline-block;
}

/* line 1980, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.socialize_box span {
  text-align: center;
  padding: 2px;
  padding-bottom: 5px;
  margin: 2px;
}
