/*
 * General conventions
 * -------------------
 *  "p" in start => profile
 *  "l" => left
 *  "r" => right
 *  "ch" => channel
 *  "st" => stream
 *  "cstab" => channel stream tab
 *  "fltr" => filter
 *  "ip" => input
 *  "awp" => act witty post
 *
 *
 *  General Flow
 *  ------------
 *  1).The page width size has been fixed at 990px (Set in generalise section)
 *  2).We can have background image strips as presented in wireframes. Strip colors can
 *     be controlled by "wrapper" section in css. (for individual columns)
 *  3).There are 4 columns (distributed as rows)
 *      Col1: has header/top bar information
 *      Col2: has input box
 *      Col3: has Channel and stream tabs
 *      Col4: has main content information
 *          Col4 -> Col1: has left sidebar filters by content types (all/video/twitter etc)
 *          Col4 -> Col2: has main content stream
 *            Col4 -> Col2 -> Col1 : only in case of stream on, we have Show Containing bar
 *          Col4 -> Col3: has right sidebar filters (Me/others) and Search Filters
 *  
 *  General Remarks
 *  ---------------
 *  1). All the placeholders are in place for images to be placed.
 *  2). No jQuery implementation has be set currently
 *  3). Some specifications related to tab bar is not in place.
 *  4). Font-description have been mentioned at resp places to be changed on notice.
 */
/*
 * To apply actwitty font : gnuolane.
 * This has been used by embedding ttf file kept in public folder
 */
@font-face {
  font-family: 'actwitty-font';
  src: url("/font/gnuolane.ttf") format("truetype");
}

/* line 50, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'actwitty-font';
  color: #CCCCCC;
  background-color: #fff;
}

/* line 61, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
input[type=text] {
  font-family: 'actwitty-font';
}

/* line 66, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
img {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 67, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.clear {
  clear: both;
}

/* line 68, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
br.clear {
  clear: both;
  margin-top: -15px;
}

/* line 69, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a {
  outline: none;
  text-decoration: none;
}

/* ----------------------------------------------Wrapper-------------------------------------*/
/* line 74, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

/* line 81, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {
  margin: 0 0 20px 0;
  padding: 0 0 8px 0;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px dashed #DDDDDD;
}

/* line 89, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col1 {
  color: #D2D2D2;
  background-color: #FFFFFD;
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
}

/* line 91, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col2 {
  color: #FFFFFF;
  background-color: #FFFFFD;
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
}

/* line 93, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col3 {
  color: #000000;
  background-color: #FFFFFD;
}

/* line 94, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col4 {
  color: #666666;
  background-color: #FFFFFD;
}

/* ----------------------------------------------Generalise-------------------------------------*/
/*#header,#p-ip-sect ,#p-ch-st-tab-sect,#p-content-sect */
/* line 100, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header, #p-ch-st-tab-sect, #p-content-sect, #p-input-box-div, #p-ip-sect {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 990px;
  border: 0px solid red;
}

/* ----------------------------------------------Header-------------------------------------*/
/*
#header
{
	padding:0px 0;
	z-index:1000;
  width:605px;
  height:50px;
  border:0px solid red;
}

#top-bar
{
  position:fixed;
  border:0px solid red;
  background:#454545;
  width:624px;
  -moz-box-shadow: 4px 4px 4px #b0b0b0;
  -webkit-box-shadow: 4px 4px 4px #b0b0b0;
  box-shadow: 4px 4px 4px #b0b0b0;
}
*/
/* line 134, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header {
  padding: 0px 0;
  height: 50px;
  border: 0px solid red;
  z-index: 1200;
}

/* line 142, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header-proxy {
  position: fixed;
  width: 990px;
  height: auto;
  border: 0px solid red;
  z-index: 2000;
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
}

/* line 152, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#top-bar {
  /*position:fixed;*/
  border: 0px solid blue;
  background: #454545;
  width: 624px;
  height: 50px;
  margin-left: 190px;
  -moz-box-shadow: 4px 4px 4px #b0b0b0;
  -webkit-box-shadow: 4px 4px 4px #b0b0b0;
  box-shadow: 4px 4px 4px #b0b0b0;
}

/* line 166, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1, #header p {
  margin: 0;
  padding: 0;
}

/* line 172, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#logo {
  display: block;
  float: left;
  width: 120px;
  height: 50px;
  border: 0px solid white;
}

/* line 180, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1 {
  margin: 0 0 7px 0;
  font-size: 36px;
  border: none;
}

/* line 186, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1 a {
  color: #D2D2D2;
  background-color: #000000;
}

/* line 194, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#home_page_nav {
  width: 120px;
  float: right;
  border: 0px solid red;
  position: relative;
  height: 50px;
  display: inline;
  /*
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  */
  /*
      -moz-box-shadow: 2px 2px 2px #c0c0c0;
      -webkit-box-shadow: 2px 2px 2px #c0c0c0;
      box-shadow: 2px 2px 2px #c0c0c0;
  */
  /*
      -moz-box-shadow:inset 0 0 1px #000000;
      -webkit-box-shadow:inset 0 0 1px #000000;
      box-shadow:inset 0 0 1px #000000;
  */
}

/* line 220, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#profile_header_user_img {
  float: right;
  padding: 0px;
  width: 50px;
  height: 50px;
}

/* line 228, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-topbar-home {
  float: left;
  padding: 0px;
  margin-left: -20px;
  margin-top: 11px;
  width: 28px;
  height: 28px;
  background-image: url("/images/alpha/home_icon_normal.png");
}

/* line 238, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-topbar-home:hover {
  background-image: url("/images/alpha/home_icon_hover.png");
  cursor: pointer;
}

/* --------------- Search Bar -----------------*/
/* line 246, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#searchwrapper {
  width: 250px;
  height: 28px;
  /*background-image:url('../images/search_bar.png');*/
  /*background-repeat:no-repeat; */
  padding: 0px;
  margin: 0px;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  display: inline;
}

/* line 259, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#searchwrapper form {
  display: inline;
}

/* line 261, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox {
  border: 0px;
  /*important*/
  /*background-color:transparent; 
  position:absolute; important*/
  /*top:4px;
  left:9px;*/
  width: 220px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #333;
  margin-left: 20px;
  margin-top: 10px;
  color: #333;
}

/* line 279, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox:focus {
  border: 1px solid #eee;
  background: #ddd;
}

/* line 284, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox_submit {
  border: 0px;
  /*important*/
  background-color: transparent;
  /*important*/
  position: absolute;
  /*important*/
  top: 4px;
  left: 265px;
  width: 32px;
  height: 28px;
  opacity: 40%;
}

/* ----------------------------------------------Profile page input-------------------------------------*/
/* line 302, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#js_input_box {
  margin-top: -20px;
}

/* line 306, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ip-sect {
  padding: 0px 0;
  border: 0px solid #fff;
  width: 605px;
  /*margin-top:10px;*/
}

/* line 314, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-box {
  margin-bottom: 5px;
  width: 624px;
  height: auto;
  border: 0px solid #ddd;
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
}

/* line 327, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-section {
  width: 100%;
  height: auto;
  padding: 0px;
  border: 1px solid red;
}

/* line 336, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section {
  width: 80px;
  height: 100px;
  border: 0px solid black;
  display: block;
  margin: 40px 0 40px 80px;
}

/* line 345, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section img {
  width: 70px;
  height: 70px;
  padding: 3px;
}

/* line 352, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section span {
  display: block;
  position: relative;
  top: 0px;
  /*this positions the tooltip*/
  left: 0px;
  /*this positions the tooltip*/
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

/* line 363, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.home_page_inputs {
  display: block;
  /*border:1px solid #ddd;*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 10px 10px;
  width: 585px;
  margin-top: 20px;
  /*
   margin-left:300px;
   margin-top:-110px;
   */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: inset 0 0 0px #000000;
  -webkit-box-shadow: inset 0 0 0px #000000;
  box-shadow: inset 0 0 0px #000000;
  display: none;
}

/* line 393, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-whats-up {
  margin-top: 20px;
}

/* line 398, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.add-page-input {
  border: 1px solid #ddd;
  height: 30px;
  width: 580px;
  padding: 3px;
  margin-left: 5px;
  margin-top: 10px;
}

/* line 408, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.page_input_close span {
  width: 15px;
  height: 15px;
  float: right;
  background: url("/images/alpha/close.png");
}

/* line 420, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.trans {
  opacity: 0.8;
}

/* line 425, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activity_location {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 18px;
  border: 0px solid green;
}

/* line 434, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.entity_maps {
  width: 100%;
  height: auto;
  border: 0px solid red;
}

/* line 442, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activities {
  float: left;
  width: 47%;
  height: 50px;
  border: 0px solid blue;
  margin-left: 20px;
}

/* line 450, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#activity_field, #location_field, #title_field, #entity_field {
  border: 2px solid #333;
}

/* line 454, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activity_input {
  margin-left: 0px;
  border: 1px solid #333;
  opacity: 0.8;
}

/* line 460, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#activity_box_desc {
  float: left;
  width: 90.5%;
  height: 10px;
  border: 0px solid red;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 19px;
  opacity: 0.8;
}

/* line 472, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#activity_box_desc img {
  float: right;
}

/* line 476, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.locations {
  float: left;
  width: 47%;
  height: 50px;
  border: 0px solid blue;
}

/* line 485, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#location_box_desc {
  float: left;
  width: 90.5%;
  height: 10px;
  border: 0px solid blue;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 19px;
  opacity: 0.8;
}

/* line 497, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#location_box_desc img {
  float: right;
}

/* line 503, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchTextField {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid gray;
  border: 0px solid #ddd;
}

/* line 516, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input_text_box {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 2px solid #333;
  opacity: 0.8;
}

/* line 529, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol {
  color: #87CEEB;
  /*border:1px solid red;*/
}

/* line 534, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_at {
  margin-left: -10px;
}

/* line 540, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_icon {
  width: 15px;
  height: 15px;
}

/* line 546, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#title_field {
  border-bottom-style: none;
}

/* line 551, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol {
  color: #87CEEB;
  /*border:1px solid red;*/
}

/* line 556, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_at {
  margin-left: -10px;
}

/* line 562, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_icon {
  width: 15px;
  height: 15px;
}

/* line 569, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle-div {
  width: 100%;
  height: 40px;
  display: block;
  border: 0px solid blue;
  padding: 0;
  margin: 0;
  margin-bottom: -2px;
}

/* line 579, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle-box {
  float: right;
  width: 47%;
  height: 40px;
  border: 0px solid red;
  margin-right: 2px;
  border-bottom-style: none;
}

/* line 588, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.subtitle_input {
  border: 0px solid #ddd;
  margin-left: 4px;
  opacity: 0.8;
}

/* line 598, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle_box_desc {
  float: left;
  width: 90%;
  height: 10px;
  border: 0px solid red;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 4px;
  /*margin-left:19px;*/
  opacity: 0.8;
}

/* line 611, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#subtitle_box_desc img {
  float: right;
}

/* line 617, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_div {
  width: 100%;
  height: auto;
  border: 0px solid blue;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

/* line 626, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity-box {
  width: 100%;
  height: auto;
  border: 0px solid green;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* line 634, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_field {
  border-bottom-style: none;
}

/* line 638, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.entity_input {
  padding: 0px;
  margin-left: 20px;
  /*margin-left:3.15%;*/
  /*
  margin-top:5px;
  margin-bottom:5px;
  */
  display: block;
  border: 0px solid red;
  color: gray;
  width: 92.5%;
  height: 25px;
  opacity: 0.8;
  resize: none;
}

/* line 655, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity-box {
  border: 0px solid red;
}

/* line 659, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_box_desc {
  float: left;
  width: 92.5%;
  height: 10px;
  border: 0px solid red;
  margin-top: -6px;
  padding: 0;
  background: #fff;
  margin-left: 20px;
  opacity: 0.8;
}

/* line 671, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_box_desc img {
  float: right;
}

/* line 677, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_entity {
  float: left;
}

/* line 683, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.no-ol {
  border: 0;
  outline: none;
}

/* line 688, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.no-ol:focus {
  border: 0;
  outline: none;
}

/* line 698, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_addons {
  display: block;
  width: 92.5%;
  height: 18px;
  border: 0px solid red;
  margin-left: 20px;
  /*margin-bottom:-8px;*/
  background: #fff;
  opacity: 0.8;
  border: 2px solid #333;
  border-top-style: none;
}

/* line 711, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input_addons_links {
  float: right;
}

/* line 715, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.link_addon_icons {
  /*width:25px;
  height:25px;
  border:2px solid gray;
  */
  /*
  -moz-border-radius: 4px ; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  -webkit-border-radius: 4px ;
  */
}

/* line 730, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-attachments-section {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  height: auto;
  border: 1px solid #ddd;
  display: none;
}

/* line 742, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_campaign {
  /*border:1px solid gray;*/
  color: #ccc;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  border: 0px solid red;
}

/* line 751, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_campaign span {
  margin-left: 20px;
  border: 0px solid red;
}

/* line 757, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.ask-campaign {
  margin-left: 10px;
}

/* line 761, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#campaign_label {
  margin-left: 13px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 0px solid red;
  vertical-align: middle;
}

/* line 771, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#campaign {
  border: 1px solid gray;
}

/* line 776, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-type {
  display: inline-block;
  width: auto;
  height: auto;
  border: 0px solid blue;
  padding: 0 5px 0 5px;
}

/* line 785, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp {
  color: green;
  width: 9px;
  height: 9px;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  background: url("/images/alpha/close_mini.png");
  display: none;
}

/* line 798, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp:hover {
  cursor: pointer;
}

/* line 803, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp-inactive {
  display: none;
}

/* line 807, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn {
  width: 40px;
  height: 20px;
  display: inline-block;
  margin-left: 0px;
  border: 1px solid gray;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #ddd;
  color: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 825, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn:hover {
  cursor: pointer;
}

/* line 830, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.camp-support {
  width: 60px;
}

/* line 834, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.selected-camp {
  border: 1px solid #4bacb2;
  background: #4bacb2;
  color: #f1f1f1;
}

/* line 842, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn span {
  text-align: center;
}

/* line 848, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#post_submit {
  width: 100%;
  height: 30px;
  border: 0px solid red;
}

/* line 855, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.post-fb-twt {
  width: 120px;
  height: 30px;
  border: 0px solid blue;
  float: right;
  margin-right: 10px;
}

/* line 866, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.fbtwt-pub {
  border: 0px solid red;
  margin-left: -5px;
  display: inline-block;
}

/* line 877, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#save-or-pub {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  /*background-color:#92d050;*/
  color: #282828;
  width: 10px;
  height: 13px;
  float: right;
  background-image: url("/images/alpha/or_text.png");
}

/* line 889, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#actwitty_generator {
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #282828;
  width: 56px;
  height: 17px;
  float: right;
  background-image: url("/images/alpha/publish_normal_button.png");
  background-repeat: no-repeat;
}

/* line 901, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#actwitty_generator:hover {
  background-image: url("/images/alpha/publish_hover_button.png");
  cursor: pointer;
}

/* line 906, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#save_submit_button {
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  /*background-color:#92d050;*/
  color: #282828;
  width: 39px;
  height: 17px;
  float: right;
  background-image: url("/images/alpha/save_normal_button.png");
  background-repeat: no-repeat;
}

/* line 920, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#save_submit_button:hover {
  background-image: url("/images/alpha/save_hover_button.png");
  cursor: pointer;
}

/* line 926, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-attachments-section {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  height: auto;
  border: 1px solid #ddd;
  display: none;
}

/* line 936, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#attachment-list {
  width: 100%;
  height: auto;
  border: 0px solid red;
}

/* line 942, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.choose-attach {
  disabled: true;
}

/* line 946, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-addmore-attachments {
  width: 100%;
  height: 20px;
}

/* line 951, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-addmore-attachments a {
  float: right;
  font-weight: normal;
  font-size: 14px;
  color: #7D9EC0;
}

/* line 958, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.attach-caption {
  border: 1px solid #ddd;
  color: #ddd;
  height: 25px;
  width: 300px;
}

/* line 966, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-attach {
  display: inline-block;
  margin-left: 20px;
}

/* line 971, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-attachment {
  width: 400px;
  height: 50px;
  padding: 5px;
  border: 0px solid blue;
  /*float:left;*/
}

/* line 980, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-attachment a {
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  padding: 5px;
  padding-left: 10px;
}

/* ----Input Character Count ---- */
/* line 994, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-char-count {
  width: 100%;
  height: 30px;
  display: none;
}

/* line 1001, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-char-count span {
  float: right;
  font-size: 12px;
  font-weight: normal;
  color: #7a7a7a;
}

/* ---- Hover on Image Addition ---- */
/* line 1009, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info {
  position: relative;
  z-index: 0;
  color: #000;
  text-decoration: none;
}

/* line 1010, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info span {
  display: none;
  text-decoration: none;
}

/* line 1011, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info:hover {
  z-index: 1;
  background: #fff;
}

/* line 1012, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info:hover span {
  display: block;
  position: absolute;
  top: -10px;
  /*this positions the tooltip*/
  left: 55px;
  /*this positions the tooltip*/
  width: 80px;
  /*border:1px solid #fff;*/
  background: #87ceeb;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

/* ----------------------------------------------Channel Stream Tab------------------------------------- */
/* line 1034, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab-sect {
  padding: 0px 0;
  border: 0px solid green;
}

/* line 1039, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab {
  width: 990px;
  height: 50px;
  border: 0px solid blue;
}

/* line 1047, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab-proxy {
  width: 990px;
  height: 45px;
  border-bottom: 4px solid #eaa440;
  background: #fff;
  position: absolute;
  z-index: 1200;
}

/* line 1056, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 48px;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  width: 620px;
  display: block;
  background: #eaa440;
  border: 0px solid blue;
  margin-left: 195px;
  /*position:absolute;
  z-index:2000;*/
}

/* line 1073, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li {
  display: block;
  float: left;
  margin: 0px 0 0 0px;
  padding: 0px 0px;
  height: 38px;
  line-height: 38px;
  border: 0px solid #ddd;
  margin-top: 1px;
  margin-left: 0px;
  margin-bottom: 3px;
  position: relative;
  background: #eaa440;
  /*background:#fff;*/
  width: 303px;
  text-align: center;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #eaa440;
}

/* line 1094, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-ch-tab {
  margin-left: 7px;
  /*background:#fff;*/
}

/* line 1101, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
  font-size: 28px;
  font-weight: bold;
}

/* line 1112, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-ch-tab:hover {
  color: #00BFFF;
  background: #e3bd87;
}

/* line 1117, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-st-tab:hover {
  color: #00BFFF;
  background: #e3bd87;
  text-decoration: none;
}

/* line 1124, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
html ul.p-cstab li.p-ch-tab.active {
  color: #00BFFF;
  background: #fff;
  text-decoration: none;
}

/* line 1130, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
html ul.p-cstab li.p-st-tab.active {
  color: #00BFFF;
  background: #fff;
  text-decoration: none;
}

/* line 1136, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cstab_content {
  border: 0px solid  #afafaf;
  border-top: none;
  overflow: hidden;
  clear: both;
  float: left;
  width: 610px;
  height: auto;
  color: #000000;
}

/*****************************************  Stream Filters ***************************************/
/* line 1149, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-fltr-box {
  width: 100%;
  height: 50px;
}

/* line 1155, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter-sect {
  height: 50px;
  width: 100%;
  margin: 3px 0 3px 0;
}

/* line 1162, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter {
  margin: 0;
  padding: 5px;
  width: 620px;
  list-style: none;
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 0px solid red;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  opacity: 1;
}

/* line 1176, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter li {
  display: inline;
}

/* line 1180, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-label {
  width: 100px;
  text-align: center;
  font-size: 16px;
}

/* line 1186, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter-box {
  width: auto;
  height: 42px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  /*padding:10px 5px 5px 5px;
  margin:8px 5px 0 2px;*/
}

/* line 1198, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-flt-actor {
  width: 140px;
  height: 34px;
  display: inline-block;
  float: left;
  margin: 4px 1px 0 0px;
  border: 0px solid #afaf93;
}

/* line 1208, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-flt-holder {
  padding: 0px 0 0 0;
  margin-top: 5px;
  border: 0px solid blue;
  font-size: 22px;
  overflow: hidden;
  width: 140px;
  height: 30px;
}

/* line 1220, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr {
  color: green;
  width: 9px;
  height: 9px;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  float: top;
  float: right;
  background: url("/images/alpha/close_mini.png");
  display: none;
}

/* line 1235, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr:hover {
  cursor: pointer;
}

/* line 1240, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr-inactive {
  display: none;
}

/* line 1245, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-default {
  background: #cccccc;
  color: #ffffff;
}

/* line 1250, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-channel {
  background: #903737;
  color: #a4a88d;
}

/* line 1257, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-entity {
  background: #943988;
  color: #ffffff;
}

/* line 1264, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-location {
  background: #274521;
  color: #a4a88d;
}

/* line 1269, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-fltr-search-img {
  height: 30px;
  width: 30px;
}

/* -------------------------------Left Bar Filter ----------------------------------*/
/* line 1276, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_left_side_bar {
  display: none;
}

/* line 1280, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_left_side_bar {
  display: none;
}

/* line 1285, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-con-l-fltr {
  width: 190px;
  height: auto;
  border: 1px solid #fff;
}

/* line 1292, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-l-fltr-1 {
  width: 190px;
  height: 300px;
  border: 0px solid black;
  position: absolute;
}

/* line 1304, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content-type-fltr-sect {
  height: 160px;
  width: 160px;
  border: 0px solid blue;
  float: right;
  display: block;
}

/* line 1313, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cont-typ-fltr {
  height: 43px;
  margin-top: 7px;
  width: 70px;
  border: 0px solid green;
  /*background-image: url("../images/all.png");*/
  background-repeat: no-repeat;
  float: left;
}

/* line 1323, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cont-typ-fltr:hover {
  cursor: pointer;
}

/* line 1327, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-all {
  background-image: url("/images/alpha/all_unselected.png");
}

/* line 1328, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-all:hover {
  background-image: url("/images/alpha/all_hover.png");
}

/* line 1331, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-drafts {
  background-image: url("/images/alpha/drafts_unselected.png");
}

/* line 1332, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-drafts:hover {
  background-image: url("/images/alpha/drafts_hover.png");
}

/* line 1335, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-videos {
  background-image: url("/images/alpha/videos_unselected.png");
}

/* line 1336, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-videos:hover {
  background-image: url("/images/alpha/videos_hover.png");
}

/* line 1339, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-images {
  background-image: url("/images/alpha/images_unselected.png");
}

/* line 1340, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-images:hover {
  background-image: url("/images/alpha/images_hover.png");
}

/* line 1343, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-twitter {
  background-image: url("/images/alpha/twitter_unselected.png");
}

/* line 1344, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-twitter:hover {
  background-image: url("/images/alpha/twitter_hover.png");
}

/* line 1348, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-l-fltr-2 {
  width: 100%;
  width: 190px;
  height: auto;
  border: 0px solid gray;
  margin-top: 180px;
  position: absolute;
}

/* line 1357, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-related-fltrs-sect {
  height: auto;
}

/* line 1363, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs {
  width: 100%;
}

/* line 1367, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs span {
  float: right;
  text-decoration: underline;
  font-weight: none;
  font-size: 16px;
}

/* line 1375, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs span:hover {
  cursor: pointer;
}

/* line 1380, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltr-tags {
  width: 100%;
  height: auto;
  border: 0px solid green;
  float: right;
}

/* line 1389, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list {
  display: block;
  float: right;
  margin: 2px 2px;
}

/* line 1395, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list span {
  background: #585858;
  padding: 2px;
  font-weight: normal;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
}

/* line 1411, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location {
  display: block;
  float: right;
  width: 80px;
  overflow: hidden;
  height: 14px;
  margin: 2px 2px;
  background: #274521;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* line 1427, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location span {
  color: #a4a88d;
  background: #274521;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
  width: 100%;
}

/* line 1441, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-entity {
  display: block;
  float: right;
  /*width:80px;*/
  width: auto;
  overflow: hidden;
  height: 18px;
  margin: 2px 2px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  text-decoration: none;
  text-align: center;
  padding: 2px;
}

/* line 1460, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-entity span {
  background: #7aa367;
  color: #ffffff;
  /*width:100%;*/
  width: auto;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
}

/* line 1472, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-fltr-tag-list {
  list-style: none;
}

/* line 1477, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-fltr-tag-list li {
  display: inline;
  background: #EED5B7;
  padding: 2px;
}

/* line 1485, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list span.p-selected-fltr-entity {
  background: #2D7010;
  color: #fff;
}

/* ------------------------------- Right Bar Filter ---------------------------------*/
/* line 1491, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_right_side_bar {
  display: none;
}

/* line 1495, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_right_side_bar {
  display: none;
}

/* line 1499, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-con-r-fltr {
  width: 150px;
  height: auto;
  border: 1px solid #fff;
  margin-left: 10px;
}

/* line 1506, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-content {
  width: 150px;
  height: auto;
  border: 0px solid red;
  margin-left: 20px;
}

/* line 1515, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-st {
  width: 100%;
  width: 180px;
  height: auto;
  height: 80px;
  border: 1px solid red;
  position: fixed;
}

/* line 1525, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-st-by {
  height: 180px;
}

/* line 1531, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-mine {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid green;
  background-image: url("/images/alpha/stream_mine_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1542, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-mine-active {
  background-image: url("/images/alpha/stream_mine_selected.png");
}

/* line 1546, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-mine:hover {
  background-image: url("/images/alpha/stream_mine_hover.png");
  cursor: pointer;
}

/* line 1548, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-subscribed {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid blue;
  background-image: url("/images/alpha/stream_subscribed_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1557, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-subscribed:hover {
  background-image: url("/images/alpha/stream_subscribed_hover.png");
  cursor: pointer;
}

/* line 1560, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-subscribed-active {
  background-image: url("/images/alpha/stream_subscribed_selected.png");
}

/* line 1565, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-all {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid blue;
  background-image: url("/images/alpha/stream_all_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1574, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-all:hover {
  background-image: url("/images/alpha/stream_all_hover.png");
  cursor: pointer;
}

/* line 1577, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-all-active {
  background-image: url("/images/alpha/stream_all_selected.png");
}

/* line 1581, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo {
  height: 180px;
  font-size: 22px;
  border: 2px solid #ccc;
}

/* line 1587, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo a img {
  height: 100px;
  width: 100px;
}

/* line 1595, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo .follow_button {
  float: right;
  float: bottom;
  margin-top: 105px;
}

/* line 1603, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr {
  width: 100%;
  width: 150px;
  height: auto;
  /*margin-top:160px;*/
  position: fixed;
}

/* line 1614, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr-bar {
  height: 25px;
  background: #ddd;
  padding: 3px;
}

/* line 1620, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr-bar span {
  float: right;
  color: #333;
  font-size: 14px;
}

/* line 1627, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by {
  width: 100%;
  height: 15px;
  margin: 2px 0 2px 0;
}

/* line 1633, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by span {
  font-size: 11px;
  text-decoration: underline;
}

/* line 1639, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by span:hover {
  cursor: pointer;
}

/* ----------------------------------------  Content stream -------------------------------------*/
/* line 1644, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_main_bar {
  display: none;
}

/* line 1648, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_main_bar {
  display: none;
}

/* line 1652, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect {
  padding: 0px 0;
  border: 0px solid red;
  margin-top: 0px;
}

/* line 1658, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect ul, #p-content-sect p {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

/* line 1667, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

/* line 1678, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content {
  width: 600px;
  height: auto;
  border: 0px solid gray;
  background: #fff;
}

/* line 1688, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.js_mention_highlight {
  margin-left: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  background: #7aa367;
  color: #ffffff;
  border: 0px solid #003399;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

/* line 1707, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-aw-post {
  height: auto;
  width: 590px;
  border: 0px solid blue;
  margin-top: 8px;
  margin-left: 20px;
  /*padding:10px;*/
  border-bottom: 1px solid #ddd;
}

/* line 1723, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-stream-post-info {
  width: 85%;
  height: 53px;
  border: 0px solid red;
  position: relative;
  margin-left: 10px;
  margin-bottom: 2px;
}

/* line 1732, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel {
  width: 60%;
  height: 50px;
  border: 0px solid red;
  float: left;
  position: absolute;
  margin-top: 0px;
}

/* line 1742, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-desc {
  float: left;
}

/* line 1747, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-label {
  font-size: 16px;
  color: #949494;
}

/* line 1752, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-name {
  font-size: 18px;
  /*background:#903737;*/
  text-transform: uppercase;
  color: #da9025;
}

/* line 1759, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-stream-post-author-section {
  width: 40%;
  height: 50px;
  border: 0px solid blue;
  margin-left: 15px;
  display: inline-block;
  float: right;
  overflow: hidden;
}

/* line 1770, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-author {
  float: right;
  width: auto;
  height: 100%;
  margin-right: 0px;
  position: relative;
}

/* line 1779, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-author-name {
  float: left;
  width: 140px;
  height: 30px;
  border: 0px solid red;
  margin-top: 0px;
}

/* line 1788, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-author-name span {
  font-size: 18px;
  color: #3faab0;
  float: right;
}

/* line 1795, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-author-img {
  float: right;
  width: 60px;
  height: 100%;
  border: 0px solid blue;
}

/* ########### Stream page Content realted section ############ */
/* line 1805, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-info {
  width: 590px;
  height: auto;
  border: 0px solid red;
  position: relative;
}

/* line 1812, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-contents {
  width: 85%;
  height: auto;
  border: 0px solid green;
  display: inline-block;
  background: #cecece;
  margin-left: 10px;
}

/* line 1821, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-like-info {
  width: 7%;
  min-height: 30px;
  border: 0px solid blue;
  display: inline;
  position: absolute;
  margin-top: 10px;
  background: #b847cf;
  font-size: 16px;
  color: #fff;
}

/* line 1835, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle {
  width: 100%;
  height: 30px;
  border: 0px solid blue;
}

/* line 1842, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-location-name {
  float: left;
  font-size: 14px;
  color: #333;
  /*font-family:"Georgia";*/
  overflow: hidden;
}

/* line 1851, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle-name {
  float: right;
  margin-right: 5px;
  font-size: 21px;
  padding: 3px;
  font-weight: bold;
  color: #525252;
}

/* line 1861, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  border: 0px solid green;
}

/* line 1868, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time-content {
  float: right;
  font-size: 10px;
}

/* line 1873, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date {
  width: 100%;
  height: 10px;
  border: 0px solid blue;
}

/* line 1879, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date-content {
  float: right;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: "Georgia";
}

/* line 1889, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content {
  margin-left: 20px;
  width: 95%;
  height: auto;
  border: 0px solid red;
}

/* line 1897, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content p {
  width: 60%;
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  text-align: justify;
}

/* line 1906, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-text {
  width: 350px;
  border: 0px solid green;
  height: auto;
  margin-left: 60px;
  margin-top: -10px;
  padding: 5px;
  color: #d3d3d3;
  font-size: 16px;
  font-family: "Georgia";
}

/* line 1918, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-text p {
  text-align: justify;
  word-wrap: break-word;
}

/* line 1924, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.quote {
  height: 15px;
  width: 15px;
  margin-left: 20px;
  border: 0px solid blue;
}

/* line 1932, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.quote span {
  font-size: 30px;
}

/* line 1938, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-opt {
  width: 85%;
  height: 30px;
  border: 0px solid red;
  color: #fff;
  padding: 5px;
}

/* line 1948, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-mentions {
  width: auto;
  height: 20px;
  border: 0px solid green;
  float: left;
  background: #bbb9ba;
  padding: 1px;
  font-size: 16px;
  margin-left: 5px;
}

/* line 1961, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-like {
  width: auto;
  height: 20px;
  border: 0px solid green;
  float: left;
  margin-left: 10px;
  background: #bbb9ba;
  padding: 1px;
  font-size: 16px;
}

/* line 1972, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-post-comments {
  width: auto;
  height: 20px;
  border: 0px solid green;
  float: right;
  background: #bbb9ba;
  padding: 1px;
  font-size: 16px;
}

/* line 1985, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.hover_point:hover {
  cursor: pointer;
}

/* line 1989, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.hover_point:hover {
  cursor: pointer;
}

/* line 1993, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-user {
  width: 100%;
  height: 80px;
  display: block;
  border: 0px solid red;
  overflow: hidden;
}

/* line 2003, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-user a {
  width: 80px;
  float: right;
}

/* line 2010, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions {
  width: 100%;
  /*float:right;
  float:top;*/
  height: 25px;
  border: 0px solid red;
}

/* line 2022, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-close {
  float: right;
  margin-left: 5px;
  /*float:top;*/
}

/* line 2029, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-publish {
  float: left;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  /*float:top;*/
}

/* line 2038, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-mention {
  float: left;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  /*float:top;*/
}

/* line 2047, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-actions .p-awp-edit {
  float: left;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  /*float:top;*/
}

/* line 2061, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle {
  width: 100%;
  height: 24px;
  border: 0px solid blue;
}

/* line 2068, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle-name {
  float: right;
  font-size: 20px;
  padding: 1px;
  color: #535353;
}

/* line 2076, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time {
  width: 100%;
  height: 10px;
  margin-top: 3px;
  /*float:right;*/
  border: 0px solid green;
}

/* line 2084, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time-content {
  float: right;
  font-size: 10px;
}

/* line 2089, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
  margin-top: 4px;
}

/* line 2096, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date-content {
  float: right;
  font-size: 12px;
}

/* line 2102, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content {
  width: 100%;
  /*float:right;*/
  height: auto;
  border: 0px solid red;
}

/* line 2110, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content p {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  line-height: 18px;
}

/* line 2117, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-location {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid red;
}

/* line 2123, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-location img {
  float: left;
  height: 40px;
  width: 40px;
}

/*
.p-awp-location-name
{
  float:left;
  margin:2px 2px;
  background:#274521;
  -moz-border-radius: 10px ; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px ;
  text-decoration:none;
  text-align:center;
}
*/
/* line 2144, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location span {
  color: #a4a88d;
  background: #274521;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
  width: 100%;
}

/* line 2170, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-attachment {
  width: 550px;
  /*float:right;*/
  height: auto;
  border: 0px solid red;
  margin-top: 8px;
  z-index: 1;
  overflow: hidden;
}

/* line 2181, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-all-images-div {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
}

/* line 2187, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-all-images-div span {
  float: right;
  font-size: 14px;
  color: green;
  margin-right: 40px;
}

/* line 2194, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.p-awp-view-all-images-div span:hover {
  cursor: pointer;
}

/* line 2201, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-attachment-inner-box {
  width: 60px;
  margin: 2px;
  padding: 2px;
  border: 1px solid #ccc;
  display: inline-block;
}

/* line 2213, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-image-box {
  width: 60px;
  height: 9px;
  display: block;
}

/* line 2219, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-image-cntrl {
  color: green;
  width: 9px;
  height: 9px;
  display: block;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  float: top;
  float: right;
  background: url("/images/alpha/close_mini.png");
}

/* line 2234, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.delete-image-cntrl:hover {
  cursor: pointer;
}

/* line 2239, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-video-attachment {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid #fff;
  margin-top: 8px;
  z-index: 1;
}

/* line 2251, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-video-attachment .video {
  float: left;
  margin: 5px;
  border: 2px solid #fff;
}

/*
#header,#p-ip-sect ,#p-ch-st-tab-sect,#p-content-sect 
{
  border:0px solid red;
}
*/
/* line 2271, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention {
  position: relative;
  z-index: 24;
}

/* line 2277, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention:hover {
  z-index: 25;
}

/* line 2282, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention span {
  display: none;
}

/* line 2287, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.js_handle_stream_entity_mention:hover span {
  display: block;
  position: absolute;
  background-color: #6699ff;
  color: #fff;
  border: 2px solid #ccc;
}

/*

.add-page-input
{
 
  font-family:'actwitty-font';
}

.actwitty-fontify
{
 
  font-family:'actwitty-font';
}
*/
/***********************************************/
/* line 2314, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.js_socialize_post {
  width: 100%;
  height: auto;
  border: 0px solid red;
}

/* line 2320, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.js_socialize_icons {
  width: 480px;
  height: 50px;
  display: none;
  border: 0px solid blue;
}

/* line 2327, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.socialize_box {
  padding: 2px;
  border: 1px solid #ccc;
  margin: 2px;
  display: inline-block;
}

/* line 2337, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.socialize_box span {
  text-align: center;
  padding: 2px;
  padding-bottom: 5px;
  margin: 2px;
}

/* #### CSS Globals #### */
/* line 2348, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.hide_it {
  display: none;
}
