@charset "UTF-8";
/*
 * General conventions
 * -------------------
 *  "p" in start => profile
 *  "l" => left
 *  "r" => right
 *  "ch" => channel
 *  "st" => stream
 *  "cstab" => channel stream tab
 *  "fltr" => filter
 *  "ip" => input
 *  "awp" => act witty post
 *
 *
 *  General Flow
 *  ------------
 *  1).The page width size has been fixed at 990px (Set in generalise section)
 *  2).We can have background image strips as presented in wireframes. Strip colors can
 *     be controlled by "wrapper" section in css. (for individual columns)
 *  3).There are 4 columns (distributed as rows)
 *      Col1: has header/top bar information
 *      Col2: has input box
 *      Col3: has Channel and stream tabs
 *      Col4: has main content information
 *          Col4 -> Col1: has left sidebar filters by content types (all/video/twitter etc)
 *          Col4 -> Col2: has main content stream
 *            Col4 -> Col2 -> Col1 : only in case of stream on, we have Show Containing bar
 *          Col4 -> Col3: has right sidebar filters (Me/others) and Search Filters
 *  
 *  General Remarks
 *  ---------------
 *  1). All the placeholders are in place for images to be placed.
 *  2). No jQuery implementation has be set currently
 *  3). Some specifications related to tab bar is not in place.
 *  4). Font-description have been mentioned at resp places to be changed on notice.
 */
/* line 40, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  color: #CCCCCC;
  background-color: #fff;
}

/* line 49, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
img {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 50, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.clear {
  clear: both;
}

/* line 51, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
br.clear {
  clear: both;
  margin-top: -15px;
}

/* line 52, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a {
  outline: none;
  text-decoration: none;
}

/* ----------------------------------------------Wrapper-------------------------------------*/
/* line 57, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

/* line 64, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {
  margin: 0 0 20px 0;
  padding: 0 0 8px 0;
  font-size: 22px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px dashed #DDDDDD;
}

/* line 73, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col1 {
  color: #D2D2D2;
  background-color: #FFFFFD;
}

/* line 74, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col2 {
  color: #FFFFFF;
  background-color: #FFFFFD;
}

/* line 75, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col3 {
  color: #000000;
  background-color: #FFFFFD;
}

/* line 76, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.col4 {
  color: #666666;
  background-color: #FFFFFD;
}

/* ----------------------------------------------Generalise-------------------------------------*/
/* line 81, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header, #p-ip-sect, #p-ch-st-tab-sect, #p-content-sect {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 990px;
  border: 0px solid red;
}

/* ----------------------------------------------Header-------------------------------------*/
/* line 92, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header {
  padding: 0px 0;
  z-index: 1000;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 605px;
  height: 50px;
  border: 0px solid red;
}

/* line 102, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#top-bar {
  position: fixed;
  border: 0px solid red;
  background: #454545;
  width: 624px;
  -moz-box-shadow: 4px 4px 4px #b0b0b0;
  -webkit-box-shadow: 4px 4px 4px #b0b0b0;
  box-shadow: 4px 4px 4px #b0b0b0;
}

/* line 113, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1, #header p {
  margin: 0;
  padding: 0;
}

/* line 119, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#logo {
  display: block;
  float: left;
  width: 120px;
  height: 50px;
  border: 0px solid white;
}

/* line 127, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1 {
  margin: 0 0 7px 0;
  font-size: 36px;
  border: none;
}

/* line 133, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#header h1 a {
  color: #D2D2D2;
  background-color: #000000;
}

/* line 141, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#home_page_nav {
  width: 120px;
  float: right;
  border: 0px solid red;
  position: relative;
  height: 50px;
  display: inline;
  /*
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  */
  /*
      -moz-box-shadow: 2px 2px 2px #c0c0c0;
      -webkit-box-shadow: 2px 2px 2px #c0c0c0;
      box-shadow: 2px 2px 2px #c0c0c0;
  */
  /*
      -moz-box-shadow:inset 0 0 1px #000000;
      -webkit-box-shadow:inset 0 0 1px #000000;
      box-shadow:inset 0 0 1px #000000;
  */
}

/* line 167, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#profile_header_user_img {
  float: right;
  padding: 0px;
  width: 50px;
  height: 50px;
}

/* line 175, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-topbar-home {
  float: left;
  padding: 0px;
  margin-left: -20px;
  margin-top: 11px;
  width: 28px;
  height: 28px;
  background-image: url("/images/alpha/home_icon_normal.png");
}

/* line 185, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-topbar-home:hover {
  background-image: url("/images/alpha/home_icon_hover.png");
  cursor: pointer;
}

/* --------------- Search Bar -----------------*/
/* line 193, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#searchwrapper {
  width: 250px;
  height: 28px;
  /*background-image:url('../images/search_bar.png');*/
  /*background-repeat:no-repeat; */
  padding: 0px;
  margin: 0px;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  display: inline;
}

/* line 206, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#searchwrapper form {
  display: inline;
}

/* line 208, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox {
  border: 0px;
  /*important*/
  /*background-color:transparent; 
  position:absolute; important*/
  /*top:4px;
  left:9px;*/
  width: 220px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #333;
  margin-left: 20px;
  margin-top: 10px;
  color: #333;
}

/* line 226, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox:focus {
  border: 1px solid #eee;
  background: #ddd;
}

/* line 231, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchbox_submit {
  border: 0px;
  /*important*/
  background-color: transparent;
  /*important*/
  position: absolute;
  /*important*/
  top: 4px;
  left: 265px;
  width: 32px;
  height: 28px;
  opacity: 40%;
}

/* ----------------------------------------------Profile page input-------------------------------------*/
/* line 247, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ip-sect {
  padding: 0px 0;
  border: 1px solid #fff;
  width: 605px;
  /*margin-top:10px;*/
}

/* line 255, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-box {
  margin-bottom: 5px;
  width: 624px;
  height: auto;
  border: 1px solid #ddd;
}

/* line 265, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-section {
  width: 100%;
  height: auto;
  padding: 0px;
  border: 1px solid red;
}

/* line 274, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section {
  width: 80px;
  height: 100px;
  border: 0px solid black;
  display: block;
  margin: 40px 0 40px 80px;
}

/* line 283, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section img {
  width: 70px;
  height: 70px;
  padding: 3px;
}

/* line 290, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.user-info-section span {
  display: block;
  position: relative;
  top: 0px;
  /*this positions the tooltip*/
  left: 0px;
  /*this positions the tooltip*/
  padding: 5px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 16px;
  text-align: center;
}

/* line 302, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.home_page_inputs {
  display: block;
  /*border:1px solid #ddd;*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 10px 10px;
  width: 585px;
  margin-top: 20px;
  /*
   margin-left:300px;
   margin-top:-110px;
   */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  /* 
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
  */
  -moz-box-shadow: inset 0 0 0px #000000;
  -webkit-box-shadow: inset 0 0 0px #000000;
  box-shadow: inset 0 0 0px #000000;
  background: #fff;
  display: none;
}

/* line 336, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input-whats-up {
  margin-top: 20px;
}

/* line 340, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.add-page-input {
  border: 1px solid #ddd;
  height: 30px;
  width: 580px;
  padding: 3px;
  margin-left: 5px;
  margin-top: 10px;
}

/* line 351, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.page_input_close span {
  width: 15px;
  height: 15px;
  float: right;
  background: url("/images/alpha/close.png");
}

/* line 359, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activity_location {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 18px;
}

/* line 368, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.entity_maps {
  width: 100%;
  height: auto;
}

/* line 375, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activities {
  float: left;
  width: 50%;
}

/* line 380, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.locations {
  float: left;
  width: 50%;
}

/* line 385, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.activity_input {
  margin-left: 0px;
  border: 1px solid #ddd;
}

/* line 390, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.searchTextField {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border: 1px solid #ddd;
}

/* line 401, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input_text_box {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid #000;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 413, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol {
  color: #87CEEB;
  /*border:1px solid red;*/
}

/* line 418, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_at {
  margin-left: -10px;
}

/* line 424, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.symbol_icon {
  width: 15px;
  height: 15px;
}

/* line 430, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#title_field {
  padding: 2px;
  margin-left: 20px;
  /*margin-left:3.15%;*/
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border: 1px solid #ddd;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: gray;
  width: 551px;
  height: 25px;
}

/* line 445, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#entity_field {
  padding: 2px;
  margin-left: 20px;
  /*margin-left:3.15%;*/
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border: 1px solid #ddd;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: gray;
  width: 551px;
  height: 25px;
}

/* line 459, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_entity {
  float: left;
}

/* line 463, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_addons {
  display: block;
  width: 100%;
}

/* line 468, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.input_addons_links {
  display: inline;
  list-style-type: none;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

/* line 476, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.link_addon_icons {
  width: 25px;
  height: 25px;
  border: 2px solid gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 488, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-attachments-section {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  height: auto;
  border: 1px solid #ddd;
  display: none;
}

/* line 500, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_campaign {
  /*border:1px solid gray;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #ccc;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  border: 0px solid red;
}

/* line 510, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input_campaign span {
  margin-left: 20px;
  border: 0px solid red;
}

/* line 516, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.ask-campaign {
  margin-left: 10px;
}

/* line 520, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#campaign_label {
  margin-left: 13px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 0px solid red;
  vertical-align: middle;
}

/* line 531, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#campaign {
  border: 1px solid gray;
}

/* line 536, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-type {
  display: inline-block;
  width: auto;
  height: auto;
  border: 0px solid blue;
  padding: 0 5px 0 5px;
}

/* line 545, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp {
  color: green;
  width: 9px;
  height: 9px;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  background: url("/images/alpha/close_mini.png");
  display: none;
}

/* line 558, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp:hover {
  cursor: pointer;
}

/* line 563, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-camp-inactive {
  display: none;
}

/* line 567, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn {
  width: 40px;
  height: 20px;
  display: inline-block;
  margin-left: 0px;
  border: 1px solid gray;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #ddd;
  color: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 585, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn:hover {
  cursor: pointer;
}

/* line 590, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.camp-support {
  width: 60px;
}

/* line 594, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.selected-camp {
  border: 1px solid #4bacb2;
  background: #4bacb2;
  color: #f1f1f1;
}

/* line 602, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.campaign-btn span {
  text-align: center;
}

/* line 608, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#post_submit {
  width: 100%;
  height: 30px;
  border: 0px solid red;
}

/* line 615, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.post-fb-twt {
  width: 120px;
  height: 30px;
  border: 0px solid blue;
  float: right;
  margin-right: 10px;
}

/* line 626, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.fbtwt-pub {
  border: 0px solid red;
  margin-left: -5px;
  display: inline-block;
}

/* line 637, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.post_submit_button {
  border: 1px solid gray;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #92d050;
  color: #282828;
  width: 80px;
  height: 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  float: right;
}

/* ----Input Character Count ---- */
/* line 657, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-char-count {
  width: 100%;
  height: 30px;
  display: none;
}

/* line 664, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#input-char-count span {
  float: right;
  font-size: 12px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: normal;
  color: #7a7a7a;
}

/* ---- Hover on Image Addition ---- */
/* line 673, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info {
  position: relative;
  z-index: 0;
  color: #000;
  text-decoration: none;
}

/* line 674, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info span {
  display: none;
  text-decoration: none;
}

/* line 675, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info:hover {
  z-index: 1;
  background: #fff;
}

/* line 676, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
a.info:hover span {
  display: block;
  position: absolute;
  top: -10px;
  /*this positions the tooltip*/
  left: 55px;
  /*this positions the tooltip*/
  width: 80px;
  /*border:1px solid #fff;*/
  background: #87ceeb;
  color: #fff;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

/* ----------------------------------------------Channel Stream Tab-------------------------------------*/
/* line 697, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab-sect {
  padding: 0px 0;
  border: 0px solid green;
}

/* line 703, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-ch-st-tab {
  width: 605px;
  height: 50px;
  border: 0px solid blue;
  margin-left: 195px;
}

/* line 711, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 48px;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  width: 620px;
  display: block;
  background: #afafaf;
  border: 0px solid blue;
  margin-left: 2px;
}

/* line 727, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li {
  display: block;
  float: left;
  margin: 0px 0 0 0px;
  padding: 0px 0px;
  height: 38px;
  line-height: 38px;
  margin-bottom: -1px;
  position: relative;
  background: #afafaf;
  width: 304px;
  text-align: center;
  border-bottom: 5px solid white;
  border-top: 5px solid #afafaf;
}

/* line 743, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-ch-tab {
  border-left: 5px solid  #afafaf;
  border-right: 1px solid #afafaf;
}

/* line 749, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-st-tab {
  border-left: 1px solid  #afafaf;
  border-right: 5px solid #afafaf;
}

/* line 757, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
  font-size: 16px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
}

/* line 771, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-ch-tab:hover {
  color: #00BFFF;
  background: #cccccc;
  border-left: 5px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* line 778, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-cstab li.p-st-tab:hover {
  color: #00BFFF;
  background: #cccccc;
  text-decoration: none;
  border-right: 1px solid #afafaf;
  border-bottom: 5px solid white;
  border-right: 5px solid #afafaf;
}

/* line 787, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
html ul.p-cstab li.p-ch-tab.active {
  color: #00BFFF;
  background: #fff;
  text-decoration: none;
  border-left: 5px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* line 795, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
html ul.p-cstab li.p-st-tab.active {
  color: #00BFFF;
  background: #fff;
  text-decoration: none;
  border-left: 1px solid #afafaf;
  border-right: 5px solid #afafaf;
}

/* line 807, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cstab_content {
  border: 5px solid  #afafaf;
  border-top: none;
  overflow: hidden;
  clear: both;
  float: left;
  width: 610px;
  height: auto;
  color: #000000;
}

/*****************************************  Stream Filters ***************************************/
/* line 820, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-fltr-box {
  width: 100%;
  height: 50ipx;
}

/* line 826, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter-sect {
  height: 50px;
  width: 100%;
}

/* line 831, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter {
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
  position: absolute;
  z-index: 2000;
  background: #CCCCCC;
  border: 0px solid red;
}

/* line 842, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter li {
  display: inline;
}

/* line 846, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-label {
  width: 100px;
  text-align: center;
  font-size: 16px;
}

/* line 852, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-filter-box {
  width: auto;
  height: 42px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  /*padding:10px 5px 5px 5px;
  margin:8px 5px 0 2px;*/
}

/* line 864, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-flt-actor {
  width: 140px;
  height: 34px;
  display: inline-block;
  float: left;
  border: 0px solid green;
  margin: 0px 1px 0 0px;
  border: 4px solid #afaf93;
}

/* line 875, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-flt-holder {
  padding: 0px 0 0 0;
  margin-top: 5px;
  border: 0px solid blue;
  font-size: 22px;
  overflow: hidden;
  width: 140px;
  height: 30px;
}

/* line 887, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr {
  color: green;
  width: 9px;
  height: 9px;
  border: 0px solid red;
  font-size: 8px;
  margin-top: 0px;
  margin-left: 0px;
  float: top;
  float: right;
  background: url("/images/alpha/close_mini.png");
  display: none;
}

/* line 902, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr:hover {
  cursor: pointer;
}

/* line 907, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.del-fltr-inactive {
  display: none;
}

/* line 912, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-default {
  background: #cccccc;
  color: #ffffff;
}

/* line 917, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-channel {
  background: #903737;
  color: #a4a88d;
}

/* line 924, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-entity {
  background: #943988;
  color: #ffffff;
}

/* line 931, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-flt-location {
  background: #274521;
  color: #a4a88d;
}

/* line 936, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-st-fltr-search-img {
  height: 30px;
  width: 30px;
}

/* -------------------------------Left Bar Filter ----------------------------------*/
/* line 943, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_left_side_bar {
  display: none;
}

/* line 947, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_left_side_bar {
  display: none;
}

/* line 952, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-con-l-fltr {
  width: 190px;
  height: auto;
  border: 1px solid #fff;
}

/* line 959, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-l-fltr-1 {
  width: 190px;
  height: 300px;
  border: 0px solid black;
  position: absolute;
}

/* line 971, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content-type-fltr-sect {
  height: 160px;
  width: 160px;
  border: 0px solid blue;
  float: right;
  display: block;
}

/* line 980, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cont-typ-fltr {
  height: 43px;
  margin-top: 7px;
  width: 70px;
  border: 0px solid green;
  /*background-image: url("../images/all.png");*/
  background-repeat: no-repeat;
  float: left;
}

/* line 990, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-cont-typ-fltr:hover {
  cursor: pointer;
}

/* line 994, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-all {
  background-image: url("/images/alpha/all_unselected.png");
}

/* line 995, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-all:hover {
  background-image: url("/images/alpha/all_hover.png");
}

/* line 996, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-drafts {
  background-image: url("/images/alpha/drafts_unselected.png");
}

/* line 997, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-drafts:hover {
  background-image: url("/images/alpha/images/drafts_hover.png");
}

/* line 998, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-videos {
  background-image: url("/images/alpha/videos_unselected.png");
}

/* line 999, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-videos:hover {
  background-image: url("/images/alpha/images/videos_hover.png");
}

/* line 1000, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-images {
  background-image: url("/images/alpha/images_unselected.png");
}

/* line 1001, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-images:hover {
  background-image: url("/images/alpha/images/images_hover.png");
}

/* line 1002, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-twitter {
  background-image: url("/images/alpha/twitter_unselected.png");
}

/* line 1003, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#cont-typ-fltr-twitter:hover {
  background-image: url("/images/alpha/twitter_hover.png");
}

/* line 1007, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-l-fltr-2 {
  width: 100%;
  width: 190px;
  height: auto;
  border: 0px solid gray;
  margin-top: 180px;
  position: absolute;
}

/* line 1016, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-related-fltrs-sect {
  height: auto;
}

/* line 1022, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs {
  width: 100%;
}

/* line 1026, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs span {
  float: right;
  text-decoration: underline;
  font-weight: bold;
}

/* line 1033, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltrs span:hover {
  cursor: pointer;
}

/* line 1038, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-rel-fltr-tags {
  width: 100%;
  height: auto;
  border: 0px solid green;
  float: right;
}

/* line 1047, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list {
  display: block;
  float: right;
  margin: 2px 2px;
}

/* line 1053, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list span {
  background: #585858;
  padding: 2px;
  font-weight: normal;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
}

/* line 1069, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location {
  display: block;
  float: right;
  width: 80px;
  overflow: hidden;
  height: 14px;
  margin: 2px 2px;
  background: #274521;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* line 1085, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-location span {
  color: #a4a88d;
  background: #274521;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
  width: 100%;
}

/* line 1099, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-entity {
  display: block;
  float: right;
  width: 80px;
  overflow: hidden;
  height: 14px;
  margin: 2px 2px;
  background: #943988;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* line 1117, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list-entity span {
  background: #943988;
  color: #ffffff;
  width: 100%;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
  padding: 2px;
}

/* line 1129, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-fltr-tag-list {
  list-style: none;
}

/* line 1134, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
ul.p-fltr-tag-list li {
  display: inline;
  background: #EED5B7;
  padding: 2px;
}

/* line 1142, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-fltr-tag-list span.p-selected-fltr-entity {
  background: #2D7010;
  color: #fff;
}

/* ------------------------------- Right Bar Filter ---------------------------------*/
/* line 1148, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_right_side_bar {
  display: none;
}

/* line 1152, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_right_side_bar {
  display: none;
}

/* line 1156, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-con-r-fltr {
  width: 150px;
  height: auto;
  border: 1px solid #fff;
  margin-left: 10px;
}

/* line 1163, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-content {
  width: 150px;
  height: auto;
  border: 0px solid red;
  margin-left: 20px;
}

/* line 1172, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-st {
  width: 100%;
  width: 180px;
  height: auto;
  height: 80px;
  border: 0px solid red;
  position: fixed;
}

/* line 1182, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-st-by {
  height: 180px;
}

/* line 1188, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-me {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid green;
  background-image: url("/images/alpha/me_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1199, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-me-active {
  background-image: url("/images/alpha/me_selected.png");
}

/* line 1203, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-me:hover {
  background-image: url("/images/alpha/me_hover.png");
  cursor: pointer;
}

/* line 1205, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-others {
  margin-top: 7px;
  width: 80px;
  height: 60px;
  border: 0px solid blue;
  background-image: url("/images/alpha/others_unselected.png");
  background-repeat: no-repeat;
  float: left;
}

/* line 1214, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-others:hover {
  background-image: url("/images/alpha/others_hover.png");
  cursor: pointer;
}

/* line 1217, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-others-active {
  background-image: url("/images/alpha/others_selected.png");
}

/* line 1221, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo {
  height: 180px;
  font-size: 22px;
  border: 2px solid #ccc;
}

/* line 1227, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo a img {
  height: 100px;
  width: 100px;
}

/* line 1235, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-userinfo .follow_button {
  float: right;
  float: bottom;
  margin-top: 105px;
}

/* line 1243, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr {
  width: 100%;
  width: 150px;
  height: auto;
  margin-top: 160px;
  position: fixed;
}

/* line 1254, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr-bar {
  height: 25px;
  background: #ddd;
  padding: 3px;
}

/* line 1260, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-search-fltr-bar span {
  float: right;
  color: #333;
  font-size: 14px;
}

/* line 1267, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by {
  width: 100%;
  height: 15px;
  margin: 2px 0 2px 0;
}

/* line 1273, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by span {
  font-size: 11px;
  text-decoration: underline;
}

/* line 1279, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-r-fltr-by span:hover {
  cursor: pointer;
}

/* ----------------------------------------  Content stream -------------------------------------*/
/* line 1284, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#channels_main_bar {
  display: none;
}

/* line 1288, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#streams_main_bar {
  display: none;
}

/* line 1292, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect {
  padding: 0px 0;
  border: 0px solid red;
  margin-top: 0px;
}

/* line 1298, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect ul, #p-content-sect p {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

/* line 1307, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
#p-content-sect li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

/* line 1318, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content {
  width: 600px;
  height: auto;
  border: 0px solid gray;
  background: #fff;
}

/* line 1326, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-content .js_activity_entity__ {
  margin-left: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  background: #943988;
  color: #ffffff;
  border: 0px solid #003399;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

/* line 1345, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-aw-post {
  height: auto;
  width: 100%;
  width: 550px;
  border: 0px solid yellow;
  margin-top: 8px;
  margin-left: 10px;
  padding: 10px;
}

/* line 1357, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-user {
  width: 100%;
  height: 80px;
  float: right;
  display: block;
  border: 0px solid red;
  overflow: hidden;
}

/* line 1368, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-user a {
  width: 80px;
  float: right;
}

/* line 1375, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-close {
  width: 100%;
  float: right;
  float: top;
}

/* line 1382, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-close input {
  float: right;
  float: top;
}

/* line 1389, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel {
  width: 100%;
  height: 30px;
  border: 0px solid red;
}

/* line 1396, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-desc {
  float: right;
}

/* line 1401, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-label {
  font-size: 16px;
  color: #e5e5e5;
}

/* line 1406, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-channel-name {
  font-size: 18px;
  background: #903737;
  color: #a4a88d;
}

/* line 1414, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle {
  width: 100%;
  height: 30px;
  border: 0px solid blue;
}

/* line 1421, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-subtitle-name {
  float: right;
  font-size: 21px;
  padding: 3px;
  font-weight: bold;
  color: #333;
}

/* line 1430, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  float: right;
  border: 0px solid green;
}

/* line 1438, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-time-content {
  float: right;
  font-size: 10px;
}

/* line 1443, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date {
  width: 100%;
  height: 20px;
  border: 0px solid blue;
}

/* line 1449, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-date-content {
  float: right;
  font-size: 12px;
}

/* line 1455, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid red;
}

/* line 1463, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-content p {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  line-height: 18px;
}

/* line 1471, ../../../../app/stylesheets/actwitty/alpha/home_layout.scss */
.p-awp-view-attachments {
  width: 100%;
  float: right;
  height: auto;
  border: 0px solid red;
}

/*
#header,#p-ip-sect ,#p-ch-st-tab-sect,#p-content-sect 
{
  border:0px solid red;
}
*/
