/*
Syntax error: Invalid CSS after "  width:40": expected pseudoclass or pseudoelement, was "{"
        on line 540 of /home/pramod/Desktop/Rails/lemonbag/New_Actwitty/sangam/app/stylesheets/actwitty/alpha/layout.scss

535: .del-camp:hover
536: {
537:   cursor:pointer;
538: }
539: 
540: .del-camp-inactive:
541: {
542:   display:none;
543: }
544: .campaign-btn
545: {

Backtrace:
/home/pramod/Desktop/Rails/lemonbag/New_Actwitty/sangam/app/stylesheets/actwitty/alpha/layout.scss:540
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:898:in `expected'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:841:in `expected'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:823:in `expr!'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:595:in `pseudo'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:491:in `simple_selector_sequence'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:466:in `_selector'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:445:in `selector'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:429:in `selector_sequence'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:354:in `ruleset'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:379:in `block_child'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:372:in `block_contents'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:57:in `stylesheet'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/scss/parser.rb:26:in `parse'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:319:in `_to_tree'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:291:in `_render'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:239:in `block in render'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:239:in `render'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `each'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `each'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin.rb:54:in `check_for_updates'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/plugin/rack.rb:51:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/client_side_validations-3.1.0/lib/client_side_validations/middleware.rb:18:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.4/lib/warden/manager.rb:35:in `block in call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/static.rb:33:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/home/pramod/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/home/pramod/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/pramod/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/pramod/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  width:40\": expected pseudoclass or pseudoelement, was \"{\"\A         on line 540 of /home/pramod/Desktop/Rails/lemonbag/New_Actwitty/sangam/app/stylesheets/actwitty/alpha/layout.scss\A \A 535: .del-camp:hover\A 536: {\A 537:   cursor:pointer;\A 538: }\A 539: \A 540: .del-camp-inactive:\A 541: {\A 542:   display:none;\A 543: }\A 544: .campaign-btn\A 545: {"; }
