/* line 2, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
#latest_summary_box {
  border: 0px solid white;
  height: 60px;
  width: 800px;
  margin: 0px auto;
}

/* line 8, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.main_box_user_list {
  width: 100%;
}

/* line 12, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.main_users_single_user {
  display: inline;
  float: left;
  border: 0px solid #ccc;
  padding: 2px;
  margin: 8px;
  margin-left: 10px;
  position: relative;
}

/* line 25, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.main_summary_box {
  display: none;
  width: 575px;
  height: 200px;
  border: 0px solid red;
  background-image: url("/images/alpha/channel_popup_back.png");
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -230px;
  margin-left: -100px;
  overflow: hidden;
}

/* line 38, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.main_users_single_user:hover .main_summary_box {
  display: block;
}

/************************************* Channel Main Page Snapshot ********************************/
/* line 46, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
#aw_home_latest_updates {
  font-family: nimbus-sans-condensed,sans-serif;
}

/* line 50, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channlep-post-mainpage {
  width: 550px;
  height: 180px;
  border: 0px solid blue;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 60, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-header-mainpage {
  width: 100%;
  height: 60px;
  border: 0px solid green;
}

/* line 67, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-tab-mainpage {
  float: left;
  width: 60px;
  height: 30px;
  background: #eaa440;
  margin-top: 30px;
  border: 0px solid red;
}

/* line 77, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-author-mainpage {
  float: right;
  width: auto;
  height: 100%;
  background: #e0e0e0;
  margin-right: 50px;
}

/* line 86, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-author-name-mainpage {
  float: left;
  width: 140px;
  height: 40px;
  border: 0px solid red;
  margin-top: 20px;
}

/* line 100, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-author-img-mainpage {
  float: right;
  width: 60px;
  height: 100%;
  border: 0px solid blue;
}

/* line 109, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-info-mainpage {
  width: 100%;
  height: 150px;
  border: 0px solid #8B3E2F;
  margin-top: 0px;
  margin-left: 3px;
}

/* line 118, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lu-mainpage {
  width: 250px;
  height: 120px;
  background: none;
  float: left;
  font-size: 10px;
}

/* line 128, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-cu-mainpage {
  width: 250px;
  height: 140px;
  background: #CDC8B1;
  float: left;
  margin-left: 5px;
}

/* line 137, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-cu-bar-mainpage {
  margin: 0px auto;
  width: 80%;
}

/* line 144, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-title-mainpage {
  font-size: 38px;
}

/* line 149, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-analytic-mainpage {
  width: 40px;
  height: 140px;
  background: none;
  float: left;
}

/* line 157, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-like-mainpage {
  width: 100%;
  height: 40px;
  background: #b847cf;
  margin-top: 10px;
  color: #fff;
}

/* line 165, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-like-mainpage p center {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

/* line 173, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-post-mainpage {
  width: 100%;
  height: 40px;
  background: #afa3ad;
  margin-top: 10px;
  color: #fff;
}

/* line 185, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-post-mainpage p center {
  font-size: 15px;
  text-align: center;
  color: #fff;
}

/* line 196, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lu-header-mainpage {
  width: 100%;
  height: 20px;
  font-size: 16px;
}

/* line 202, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lu-header-mainpage span {
  float: left;
}

/* line 207, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lup-mainpage {
  width: 100%;
  height: 60px;
  background: #4a4a4a;
  margin-top: 1px;
}

/* line 214, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lup-time-mainpage {
  height: 15px;
  width: 100%;
}

/* line 219, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lup-time-mainpage span {
  float: right;
  font-size: 10px;
  color: #f9f9f9;
}

/* line 226, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lup-text-mainpage {
  margin-left: 10px;
}

/* line 231, ../../../../app/stylesheets/actwitty/alpha/main_page_user.scss */
.p-channelp-post-lup-text-mainpage p {
  font-size: 13px;
  color: #838383;
}
