/* line 1, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.modal_box {
  display: none;
}

/* line 4, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.modal_mask {
  display: none;
  /*--hidden by default--*/
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* line 12, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.modal_close {
  display: none;
  /*--hidden by default--*/
  /*float:right;
  border: 1px solid #ddd;
  margin-top:10px;
  margin-right:20px;*/
  font-size: 12px;
  /*16*/
  position: fixed;
  /*border: 1px solid #ddd;
  background: #FFFFFF;*/
  z-index: 99999;
  /*9999*/
  /*color: #ccc;*/
  /*
  -webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  
	border-radius: 10px;
  */
}

/* line 35, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.modal_window {
  display: none;
  /*--hidden by default--*/
  background-image: url("/images/alpha/back_tile.jpg");
  background-repeat: repeat;
  padding: 20px;
  border: 7px solid #fff;
  float: left;
  font-size: 12px;
  position: fixed;
  z-index: 99999;
  /*99999*/
  overflow-y: scroll;
  /*--CSS3 Box Shadows--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  /*--CSS3 Rounded Corners--*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 57, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.search_box {
  width: 100%;
  float: left;
  margin: 10px 10px 10px 10px;
  /*border: 1px solid #ccc;*/
}

/* line 64, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.search_box input {
  height: 30px;
  width: 311px;
  margin: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

/* line 73, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.js_search_locations {
  height: 30px;
  width: 580px;
}

/* line 78, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.lab_search_box {
  font-size: 16px;
  font-weight: bold;
  color: #eaa540;
  border: 0px solid red;
}

/* line 85, ../../../../app/stylesheets/actwitty/alpha/modals.scss */
.modal_ul {
  list-style-type: none;
  /*margin-left: 5px;
  padding: 0;
  margin-left: 0;
  font-weight: bold;*/
}
