@charset "UTF-8";
/* ----------------------------------------Settings page-------------------------------------- */
/* ----------- My Form ----------- */
/* line 3, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.myform {
  margin: 0 auto;
  width: 400px;
  height: 900px;
  padding: 5px;
  /*14*/
}

/* ----------- settings-main ----------- */
/* line 11, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main {
  /*border:solid 2px #b7ddf2;
  background:#ebf4fb;*/
  /*margin:0 auto;*/
}

/* line 16, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main h1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 21, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main p {
  font-size: 11px;
  color: #666666;
  margin-bottom: 20px;
  /*border-bottom:solid 1px #b7ddf2;*/
  padding-bottom: 10px;
}

/* line 28, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main label {
  display: block;
  /*font-weight:bold;*/
  font-family: nimbus-sans-condensed,sans-serif;
  color: #666;
  font-size: 16px;
  text-align: right;
  width: 140px;
  float: left;
  /*background: #E0E0E0;*/
}

/* line 39, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main .small {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  width: 140px;
}

/* line 47, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main input {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 12px 0 20px 50px;
  background-color: #DDD;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 57, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main textarea {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 12px 0 20px 50px;
  background-color: #DDD;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 67, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main #user_settings_image {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 50px;
  margin: -5px 0 20px 50px;
  /*10 0 20 500*/
}

/* line 75, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main #profile_img_selector {
  /*float:left;*/
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 100px;
  /*border:2px solid red;*/
  margin: -60px 0 20px 295px;
  /*10 0 20 500*/
  background-color: #DDD;
}

/* line 85, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main select {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 12px 0 20px 50px;
  background-color: #DDD;
}

/* line 95, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main button {
  clear: both;
  margin-left: 300px;
  /*200*/
  width: 50px;
  /*75*/
  height: 31px;
  /*background:#666666 url(img/button.png) no-repeat;*/
  text-align: center;
  /*line-height:31px;*/
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
}

/* pramod */
/* line 108, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#settings-main #settings-button {
  width: 75px;
  margin-left: 150px;
  margin-top: 10px;
}

/* --------------------------------------Facebook friends ----------------- */
/* line 115, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.sc_menu1 li {
  display: block;
  float: left;
  padding: 0 4px;
  /*4*/
}

/* line 120, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.sc_menu1 a {
  display: block;
  text-decoration: none;
}

/* line 124, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.sc_menu1 span {
  display: none;
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* line 132, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.sc_menu1 a:hover span {
  display: block;
}

/* line 135, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.sc_menu1 div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* line 139, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.sc_menu1 li:hover div#inner {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 143, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
div.sc_menu1 {
  /* Set it so we could calculate the offsetLeft */
  /*background:#cccccc none repeat scroll 0 0;*/
  position: relative;
  /*height: 240px;*/
  width: 750px;
  /*650*/
  overflow: hidden;
  /*border:2px solid black;*/
  left: 0px;
  /*340*/
}

/* line 155, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
div#invite_friends {
  background: #cccccc repeat scroll;
  position: relative;
  height: 240px;
  width: 610px;
  /*650*/
  overflow: auto;
  border: 2px solid black;
  left: 340px;
}

/* line 165, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
div#follower_friends {
  background: #cccccc repeat scroll;
  position: relative;
  height: 240px;
  width: 610px;
  /*650*/
  overflow: auto;
  border: 2px solid black;
  left: 340px;
}

/* line 175, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
div#following_friends {
  background: #cccccc repeat scroll;
  position: relative;
  height: 240px;
  width: 610px;
  /*650*/
  overflow: auto;
  border: 2px solid black;
  left: 340px;
}

/* line 184, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
p#fb_friends {
  margin-left: 340px;
  font-size: 18px;
  font-color: #000000;
}

/* line 189, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
p#flwr_friends {
  margin-left: 340px;
  font-size: 18px;
  font-color: #000000;
}

/* line 194, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
p#flwg_friends {
  margin-left: 340px;
  font-size: 18px;
  font-color: #000000;
}

/* line 199, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
p#fb_friends:hover {
  cursor: pointer;
}

/* line 202, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
h3#empty_check {
  /*margin-left:340px;*/
  font-size: 20px;
  font-color: #ccc;
  color: #ffffff;
}

/* line 208, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
h3#empty_check_flwg {
  font-size: 20px;
  font-color: #ccc;
  color: #ffffff;
}

/* line 213, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
h3#empty_check_flwr {
  font-size: 20px;
  font-color: #ccc;
  color: #ffffff;
}

/* line 218, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
ul.sc_menu1 {
  display: block;
  height: 210px;
  /* max width here, for users without javascript */
  width: 900px;
  /*1500*/
  padding: 5px 0 0 5px;
  /*15px 0 0 15px; */
  /* removing default styling */
  margin: 0;
  background: url("navigation.png");
  list-style: none;
  /*border:2px solid yellow;*/
}

/* line 230, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
div#txt1 {
  font-color: #ccc;
  color: #ffffff;
}

/* line 234, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
li.lk {
  width: 130px;
  margin: 5px;
}

/***************************** Welcome Page Facebook/Twitter ******************/
/* line 239, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#sns_twitter_id {
  /*float:right;
  margin-right:-25px;
  margin-left:40px;
  margin-top:-10px;
  padding:1px;
  height:23px;*/
}

/* line 247, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#tw {
  float: right;
  margin-right: 45px;
  margin-top: -3px;
  padding: 1px;
  width: 100px;
  height: 22px;
}

/* line 256, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#fb {
  float: right;
  margin-top: -3px;
  padding: 1px;
  width: 100px;
  height: 22px;
}

/* line 263, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#sns-login {
  display: block;
  float: right;
  /*margin-top: -20px;*/
}

/* line 269, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#sns_facebook_id {
  /*float:right;
    margin-right:5px;
    margin-top:-10px;
    padding:1px;
    margin-right:10px;
    padding:2px;
    height:23px;*/
}

/*
#tw{
  float:right;
  margin-right:-50px;
  margin-top:-10px;
  padding:2px;
  width:24px;
  height:22px;
}
#fb{
  float:right;
  margin-right:-25px;
  margin-top:-10px;
  padding:2px;
  width:24px;
  height:22px;
}
*/
/************ confirmation **********/
/* ----------- My Form ----------- */
/* line 299, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
.conf_form {
  margin: 0 auto;
  width: 400px;
  padding: 14px;
}

/* ----------- conf ----------- */
/* line 306, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf {
  /*border:solid 2px #b7ddf2;
  background:#ebf4fb;*/
}

/* line 310, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf h1 {
  /*
  font-size:14px;
  font-weight:bold;
  margin-bottom:8px;
  */
}

/* line 317, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf p {
  /*
  font-size:11px;
  color:#666666;
  margin-bottom:20px;
  border-bottom:solid 1px #b7ddf2;
  padding-bottom:10px;
  */
}

/* line 326, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf label {
  display: block;
  font-family: nimbus-sans-condensed,sans-serif;
  color: #666;
  margin-top: 5px;
  font-size: 16px;
  /*font-weight:bold;*/
  text-align: right;
  width: 140px;
  float: left;
}

/* line 337, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf .small {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  width: 140px;
}

/* line 345, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf input {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 30px;
}

/* line 353, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf textarea {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 30px;
}

/* line 361, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf select {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 30px;
}

/* line 369, ../../../../app/stylesheets/actwitty/alpha/settings.scss */
#conf button {
  clear: both;
  margin-left: 150px;
  width: 125px;
  height: 31px;
  /*background:#666666 url(img/button.png) no-repeat;*/
  text-align: center;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
}
