/* line 2, ../../../../app/stylesheets/actwitty/alpha/share-streams.scss */
.p-awp-share {
  height: 40px;
  width: 100%;
}

/* line 8, ../../../../app/stylesheets/actwitty/alpha/share-streams.scss */
.fb_share_div {
  float: right;
}
