#aw_home_header_signin_inputs
  = simple_form_for(:user,@user, :url => user_session_path, :remote => true, :html => { :id => "signin", :class=>"inputform" }) do |f|
    %span Email
    = f.input :email ,
              :placeholder => "Email",
              :label => false,
              :input_html => { :id => 'aw_sign_email'}
    %span Password
    = f.input :password ,
              :placeholder => "Password",
              :label => false,
              :input_html => { :id => 'aw_sign_password'}
    = link_to "Forgot password", new_password_path(:user), :id=>"forgot-password", :class=>"main-page-navlinks"
    %input#user_key{:name => "user[key]", :type => "hidden", :value => ""}/
    %input#user_provider{:name => "user[provider]", :type => "hidden", :value => ""}/
    %input#user_uid{:name => "user[uid]", :type => "hidden", :value => ""}/
    %input#signinbutton.actwittysignin.hover_point{ :type => "button", :value => "Sign In"}/
