/* line 1, ../../../app/stylesheets/actwitty/about.scss */
#team {
  width: 650px;
  margin-left: 350px;
  /*
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
  */
}

/* line 18, ../../../app/stylesheets/actwitty/about.scss */
#team_img {
  width: 600px;
  margin-left: 5px;
  border: 1px solid red;
}

/* line 25, ../../../app/stylesheets/actwitty/about.scss */
p.team {
  text-align: center;
}

/* line 29, ../../../app/stylesheets/actwitty/about.scss */
p.title {
  width: 60%;
  margin: auto;
  font-size: 30px;
  align: left;
  text-align: center;
  color: #009ACD;
}

/* line 39, ../../../app/stylesheets/actwitty/about.scss */
p.heading {
  width: 60%;
  margin: auto;
  font-size: 22px;
  color: #2F2F2F;
  text-align: center;
}

/* line 47, ../../../app/stylesheets/actwitty/about.scss */
p.description {
  width: 60%;
  margin: auto;
  font-size: 16px;
  color: #2F2F2F;
}

/* line 54, ../../../app/stylesheets/actwitty/about.scss */
p.multi-column {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -o-column-count: 2;
  -o-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  color: #2F2F2F;
  width: 50%;
  margin: auto;
  font-size: 16px;
}

/* line 71, ../../../app/stylesheets/actwitty/about.scss */
.multi-column span.heading {
  font-size: 18px;
  color: #009ACD;
}

/* line 77, ../../../app/stylesheets/actwitty/about.scss */
.team_img {
  margin: auto;
  align: center;
}
