@charset "UTF-8";
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* line 3, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#map {
  height: 300px;
  width: 600px;
  border: thin solid #333;
  margin-top: 0.6em;
  display: none;
}

/* line 13, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.profile_body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  /*border:1px solid red;*/
}

/* line 22, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#profile_header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #555555;
  background-color: #000;
}

/* line 32, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.profile-header-info {
  width: 1200px;
  padding: 0;
  margin: 0;
}

/* line 39, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#site_logo_img {
  float: left;
  padding: 6px;
  margin-left: 120px;
  margin-top: -10px;
}

/* line 46, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#profile_header_user_img {
  float: left;
  padding: 6px;
  width: 30px;
  height: 30px;
}

/* line 56, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.user_name {
  display: block;
  position: relative;
  top: 10px;
  /*this positions the tooltip*/
  left: 5px;
  /*this positions the tooltip*/
  font-family: “Lucida Grande”, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #333;
}

/* line 68, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.user_name_top_bar {
  display: block;
  position: relative;
  top: 10px;
  /*this positions the tooltip*/
  left: 5px;
  /*this positions the tooltip*/
  font-family: “Lucida Grande”, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #ddd;
}

/* line 82, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.profile_home_icon {
  width: 30px;
  height: 60px;
  display: inline;
  margin-top: 0px;
  float: left;
}

/* line 90, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.profile_nav_links {
  display: inline;
  list-style-type: none;
  /*float:right;*/
  margin-right: 0px;
  margin-top: 0px;
  padding: 5px;
}

/* line 99, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.profile_link_icons {
  width: 30px;
  height: 30px;
  border: 0px solid gray;
  margin-top: 5px;
  /*
  -moz-border-radius: 2px ; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px ;
  -webkit-border-radius: 2px ;
   */
}

/* line 113, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#home_page_nav {
  width: 120px;
  float: left;
  margin-left: 260px;
  /*
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      */
  /*
      -moz-box-shadow: 2px 2px 2px #c0c0c0;
      -webkit-box-shadow: 2px 2px 2px #c0c0c0;
      box-shadow: 2px 2px 2px #c0c0c0;
  */
  /*
      -moz-box-shadow:inset 0 0 1px #000000;
      -webkit-box-shadow:inset 0 0 1px #000000;
      box-shadow:inset 0 0 1px #000000;
  */
}

/* line 135, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.dropdown {
  width: 8px;
  height: 15px;
  margin-left: 50px;
  top: -5px;
}

/* line 142, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.dropdown img:hover {
  cursor: pointer;
}

/* line 147, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.profile-option-drpdwn {
  width: 100px;
  height: 60px;
  border: 1px solid red;
  background: #333;
  display: block;
  position: relative;
}

/* line 157, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.the_menu {
  list-style-type: none;
}

/* line 161, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.the_menu {
  display: none;
  width: 300px;
  border: 1px solid #1c1c1c;
}

/* line 169, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.options-drp-ul {
  list-style-type: none;
  display: inline;
}

/* line 174, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.options-drp-l {
  font-size: 12px;
  color: #ddd;
}

/* line 181, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.search_bar {
  width: 230px;
  float: left;
  margin-left: 130px;
  margin-top: 8px;
}

/* line 188, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.search_submit {
  background-image: url(http://static.ak.fbcdn.net/rsrc.php/v1/z_/r/2Oin6nHA4Mx.png);
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: #c4c4c4;
  border: 1px solid gray;
  cursor: pointer;
  width: 11%;
  height: 25px;
  margin-left: -5px;
}

/* line 204, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.searchit {
  border: 1px solid #333;
  width: 83%;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #333;
}

/* line 216, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.searchit:focus {
  border: 1px solid #eee;
  background: #eee;
}

/* ###################### PROFILE PAGE MAIN BLOCKS ###################*/
/* line 227, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#profile-body-wrapper {
  margin: 0;
  right: 0;
  margin-top: 40px;
  margin-left: 75px;
  padding: 0;
  width: 1250px;
}

/* line 238, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#profile-side-bars {
  width: 200px;
  float: left;
}

/* line 244, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#profile-main-bar {
  float: left;
  width: 605px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -40px;
}

/* line 254, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#profile-right-bar {
  float: left;
  width: 200px;
  height: 800px;
}

/*################################## INPUT SECTION : User Info, User Home Page Inputs , ################################ 
                                                        Basically Col 2
*/
/* line 270, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input-section {
  width: 100%;
  height: auto;
  padding: 0px;
  border: 1px solid red;
}

/* line 279, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.user-info-section {
  width: 80px;
  height: 100px;
  border: 0px solid black;
  display: block;
  margin: 40px 0 40px 80px;
}

/* line 288, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.user-info-section img {
  width: 70px;
  height: 70px;
  padding: 3px;
}

/* line 295, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.user-info-section span {
  display: block;
  position: relative;
  top: 0px;
  /*this positions the tooltip*/
  left: 0px;
  /*this positions the tooltip*/
  padding: 5px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 16px;
  text-align: center;
}

/* line 307, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.home_page_inputs {
  display: block;
  border: 1px solid #ddd;
  padding: 15px 10px 10px 10px;
  width: 580px;
  margin-top: 20px;
  /*
   margin-left:300px;
   margin-top:-110px;
   */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  /* 
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
  */
  -moz-box-shadow: inset 0 0 0px #000000;
  -webkit-box-shadow: inset 0 0 0px #000000;
  box-shadow: inset 0 0 0px #000000;
  background: #fff;
  display: none;
}

/* line 339, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.input-whats-up {
  margin-top: 20px;
}

/* line 343, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.add-page-input {
  border: 1px solid #ddd;
  height: 30px;
  width: 580px;
  padding: 3px;
  margin-left: 5px;
  margin-top: 10px;
}

/* line 354, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.page_input_close span {
  width: 15px;
  height: 15px;
  float: right;
  background: url("images/close.png");
}

/* line 362, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.activity_location {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 18px;
}

/* line 371, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.entity_maps {
  width: 100%;
  height: auto;
}

/* line 378, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.activities {
  float: left;
  width: 50%;
}

/* line 383, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.locations {
  float: left;
  width: 50%;
}

/* line 388, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#activity_input {
  margin-left: 0px;
  border: 1px solid #ddd;
}

/* line 393, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#searchTextField {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid gray;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border: 1px solid #ddd;
}

/* line 406, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.input_text_box {
  width: 90%;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid #ddd;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 419, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.symbol {
  color: #87CEEB;
  /*border:1px solid red;*/
}

/* line 424, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.symbol_at {
  margin-left: -10px;
}

/* line 430, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.symbol_icon {
  width: 15px;
  height: 15px;
}

/* line 437, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#entity_input {
  padding: 2px;
  margin-left: 20px;
  /*margin-left:3.15%;*/
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border: 1px solid #ddd;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: gray;
  width: 95%;
  height: 25px;
}

/* line 451, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input_entity {
  float: left;
}

/* line 455, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input_addons {
  display: block;
  width: 100%;
}

/* line 460, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.input_addons_links {
  display: inline;
  list-style-type: none;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

/* line 468, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.link_addon_icons {
  width: 25px;
  height: 25px;
  border: 2px solid gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 481, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input_campaign {
  /*border:1px solid gray;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
  padding: 5px 0 5px 0;
}

/* line 488, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#campaign_label {
  margin-left: 13px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 496, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#campaign {
  border: 1px solid gray;
}

/* line 501, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#post_submit_button {
  margin-left: 13px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #87ceeb;
  color: #282828;
  width: 80px;
  height: 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 518, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input-attachments-section {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  height: 110px;
  border: 1px solid #ddd;
  display: none;
}

/* line 528, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#attachment-list {
  width: 100%;
  height: 80px;
}

/* line 533, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input-addmore-attachments {
  width: 100%;
  height: 20px;
}

/* line 538, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input-addmore-attachments a {
  float: right;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #7D9EC0;
}

/* line 548, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.input-attachment {
  width: 80px;
  height: 50px;
  padding: 5px;
  float: left;
}

/* line 556, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.input-attachment a {
  text-decoration: none;
  text-align: center;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: normal;
  font-size: 10px;
  padding: 5px;
  padding-left: 10px;
}

/* line 570, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input-char-count {
  width: 100%;
  height: 30px;
  display: none;
}

/* line 577, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#input-char-count span {
  float: right;
  font-size: 12px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: normal;
  color: #7a7a7a;
}

/* line 587, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.info {
  position: relative;
  z-index: 0;
  color: #000;
  text-decoration: none;
}

/* line 588, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.info span {
  display: none;
  text-decoration: none;
}

/* line 589, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.info:hover {
  z-index: 1;
  background: #fff;
}

/* line 590, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.info:hover span {
  display: block;
  position: absolute;
  top: -10px;
  /*this positions the tooltip*/
  left: 55px;
  /*this positions the tooltip*/
  width: 80px;
  /*border:1px solid #fff;*/
  background: #87ceeb;
  color: #fff;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

/* line 606, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.nav_info {
  position: relative;
  z-index: 0;
  color: #000;
  text-decoration: none;
}

/* line 607, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.nav_info span {
  display: none;
  text-decoration: none;
}

/* line 608, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.nav_info:hover {
  z-index: 1;
  background: #fff;
}

/* line 609, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.nav_info:hover span {
  display: block;
  position: absolute;
  top: 20px;
  /*this positions the tooltip*/
  left: -10px;
  /*this positions the tooltip*/
  width: 80px;
  /*border:1px solid #fff;*/
  background: #87ceeb;
  color: #fff;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

/*############################### Streams CSS ################################*/
/*from here till next ### comment copied in actwitty-profile-summary.css*/
/*############################### Time Line Streams ###########################*/
/* line 644, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#timeline-streams {
  margin: 0;
  width: 100%;
  /*border:1px solid red;*/
  margin-top: 80px;
}

/* line 652, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post {
  list-style-type: none;
  height: auto;
  /*padding:5px;*/
  margin-top: 10px;
  margin-left: -10px;
}

/* line 665, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-entity {
  border: 1px solid #ddd;
  /*height:340px;*/
  height: auto;
  margin: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 580px;
  margin-left: -40px;
  padding: 15px 10px 10px 15px;
}

/* line 682, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-entity-left {
  height: auto;
  width: 40px;
}

/* line 688, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-entity-right {
  height: auto;
  width: 600px;
  margin-left: 45px;
}

/* line 696, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-entity-post-info {
  width: 100%;
  height: 30px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
}

/* line 703, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-entity-post-info a {
  text-decoration: none;
  color: #36c;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 50px;
}

/* line 712, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-entity-post-info span {
  color: #999;
  font-size: 10px;
}

/* line 721, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-header {
  width: 100%;
  height: auto;
  /*background-color:#1e1e1e;*/
  background-color: #fff;
}

/* line 728, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-header span {
  float: right;
  color: #3366cc;
  font-size: 12px;
  display: none;
}

/* line 736, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post:hover .tl-entity-post-info .delete-post {
  display: block;
}

/* line 741, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.delete-post {
  float: right;
  font-size: 30px;
  font-weight: bold;
  display: none;
  color: red;
}

/* line 750, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.delete-post:hover {
  cursor: pointer;
}

/* line 755, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-img {
  width: 40px;
  height: 40px;
  /*border:1px solid red;*/
  padding: 5px;
  margin: 0px 0 0 5px;
  float: left;
}

/* line 765, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-heading {
  display: block;
  float: left;
  margin-left: 20px;
  /*width:60%;*/
}

/* line 773, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-label {
  font-size: 15px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  float: left;
  color: #7D9EC0;
  vertical-align: middle;
  margin-top: 5px;
}

/* line 782, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-sym {
  width: 20px;
  height: 20px;
}

/* line 788, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-title {
  font-size: 15px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  color: #36c;
}

/* line 795, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-content {
  /*border:1px solid blue;*/
  font-size: 12px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  margin-top: 5px;
  width: 500px;
  margin-left: 30px;
  border: 1px solid #fff;
}

/* line 807, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tl-post-content p {
  font-size: 14px;
  text-align: left;
  color: #333;
}

/* ##################################### POST Like/Campaign Button ###############################*/
/* line 815, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.post-like {
  width: 100%;
  height: 30px;
  /*border:1px solid red;*/
}

/* line 821, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.post-like a {
  float: left;
  margin-left: 30px;
  text-decoration: none;
  font-size: 14px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  color: #1874CD;
}

/* line 831, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.post-like span {
  float: left;
  margin-left: 30px;
  font-size: 12px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  color: gray;
}

/* line 844, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.post-like-link {
  position: relative;
  z-index: 0;
  color: #36c;
  text-decoration: none;
}

/* line 851, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.post-like-link {
  text-decoration: none;
}

/* line 855, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.post-like-link:hover {
  z-index: 1;
  background: #fff;
}

/* line 860, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.post-like-link span {
  display: none;
}

/* line 863, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.post-like-link:hover span {
  display: block;
  position: absolute;
  top: 20px;
  /*this positions the tooltip*/
  left: -10px;
  /*this positions the tooltip*/
  width: 180px;
  /*border:1px solid gray;*/
  background: #fff;
  color: blue;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/*################################# TABIFYING ############################*/
/* line 898, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.container {
  height: auto;
  /*width:680px;
  margin-left:300px;*/
  padding: 15px 10px 10px 10px;
  margin-top: 60px;
  border: 1px solid blue;
}

/* line 910, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#streams {
  height: auto;
  width: 580px;
  margin-top: 50px;
  padding: 15px 10px 10px 10px;
}

/* line 924, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.tab_container {
  border-top: none;
  background: #fff;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

/* line 936, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
ul.tabs {
  margin: 0;
  margin-left: -10px;
  padding: 0;
  float: left;
  list-style: none;
  height: 33px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 605px;
  /*margin-left:300px;*/
  display: block;
  background: #fffafa;
}

/* line 956, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
ul.tabs li {
  display: block;
  float: left;
  margin: -1px 0 0 20px;
  padding: 0 0px;
  height: 29px;
  line-height: 29px;
  border: 0px solid #ddd;
  margin-top: 1px;
  margin-bottom: -1px;
  /*background: #e0e0e0;*/
  /*overflow: hidden;*/
  position: relative;
  /*
    -moz-border-radius-topright: 3px;
  	-khtml-border-radius-topright: 3px;
  	-webkit-border-top-right-radius: 3px;
  	-moz-border-radius-topleft: 3px;
  	-khtml-border-radius-topleft: 3px;
  	-webkit-border-top-left-radius: 3px;
  */
}

/* line 980, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
ul.tabs li a {
  text-decoration: none;
  color: #333;
  /*display: block;*/
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
  font-size: 16px;
  font-family: â€˜Lucida Grandeâ€™, sans-serif;
  font-weight: bold;
}

	/*
ul.tabs li a:hover {
	background: white;
}
*/
/* line 996, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
ul.tabs li a:hover {
  /*background: #388E8E;*/
  color: #00BFFF;
  text-decoration: none;
}

/* line 1002, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
html ul.tabs li.active a, html ul.tabs li.active a:hover {
  border-bottom: 1px solid #fff;
  color: #00BFFF;
}

/* line 1012, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.load-more {
  display: block;
  width: 92%;
  height: 40px;
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid gray;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 12px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-weight: normal;
  background-color: #F5F5F5;
}

/* line 1030, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.load-more:hover {
  background-color: #FFF5EE;
  cursor: pointer;
}

/* line 1036, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.load-more h5 {
  font-size: 16px;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-weight: normal;
  color: #36c;
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 7px;
}

/*###################################### SIDEBAR BOX for showing Friends in Common ##########################*/
/* line 1053, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.sidebar-panel {
  width: 150px;
  height: 800px;
  margin: 180px 0 0 40px;
}

/* line 1060, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.sidebar-box {
  width: 140px;
  height: 200px;
  margin: 10px 0 0 0px;
  display: block;
  float: left;
}

/* line 1070, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.sidebar-label {
  height: 16px;
  width: 100%;
  /*border:1px solid blue;*/
  font-size: 12px;
  font-weight: bold;
  font-family: “Lucida Grande”, sans-serif;
  text-align: left;
  padding-bottom: 5px;
  color: #333;
}

/* line 1082, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.sidebar-friends {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-top: -3px;
  margin-right: -2px;
}

/* line 1092, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.sidebar-friends img {
  width: 25px;
  height: 25px;
  border: 1px solid white;
}

/* line 1102, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.sd-frnd-info {
  position: relative;
  z-index: 0;
  color: #000;
  text-decoration: none;
}

/* line 1109, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.sd-frnd-info {
  text-decoration: none;
}

/* line 1113, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.sd-frnd-info:hover {
  z-index: 1;
  background: #fff;
}

/* line 1118, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.sd-frnd-info span {
  display: none;
}

/* line 1121, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.sd-frnd-info:hover span {
  display: block;
  position: absolute;
  top: 20px;
  /*this positions the tooltip*/
  left: -10px;
  /*this positions the tooltip*/
  width: 80px;
  /*border:1px solid gray;*/
  background: #fff;
  color: blue;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* ################################### FEEDBACK MECHANISM #################################*/
/* line 1149, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.trigger-feedback {
  /*position: absolute;*/
  position: fixed;
  text-decoration: none;
  /*top: 80px; right: 0;*/
  bottom: 0;
  right: 0;
  font-size: 12px;
  letter-spacing: -1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #fff;
  padding: 5px 5px 5px 5px;
  font-weight: normal;
  background: #333333 url(images/plus.png) 15% 55% no-repeat;
  border: 1px solid #444444;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  display: block;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 1179, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
a.trigger-feedback:hover {
  /*position: absolute;*/
  position: fixed;
  text-decoration: none;
  /*top: 80px; right: 0;*/
  bottom: 0;
  right: 0;
  font-size: 12px;
  letter-spacing: -1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #fff;
  padding: 5px 5px 5px 5px;
  font-weight: normal;
  background: #333333 url(images/plus.png) 15% 55% no-repeat;
  border: 1px solid #444444;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  display: block;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 1211, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.panel {
  position: fixed;
  /*top: 80px;*/
  right: 0;
  bottom: 0px;
  display: none;
  background: #fff;
  border: 1px solid #111111;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
  padding: 5px 20px 5px 5px;
  filter: alpha(opacity=85);
  opacity: .85;
  color: gray;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 1242, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#feedback-message {
  width: 100px;
  height: 16px;
  border: 1px solid red;
}

/* line 1255, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#feedback-form {
  border: 1px solid red;
  height: auto;
}

/*#########################################################################################################*/
/* line 1269, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.spacer {
  clear: both;
  height: 1px;
}

/* ----------- My Form ----------- */
/* line 1271, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.myform {
  margin: 0;
  width: 200px;
  padding: 14px;
  margin-right: -10px;
  height: auto;
}

/* ----------- stylized ----------- */
/* line 1281, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized {
  border: solid 0px #b7ddf2;
  /*background:#ebf4fb;*/
  background: #fff;
  z-index: 5;
}

/* line 1288, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized h1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 1294, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized p {
  font-size: 11px;
  color: #666666;
  margin-bottom: 20px;
  border-bottom: solid 1px #b7ddf2;
  padding-bottom: 10px;
}

/* line 1302, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized label {
  display: block;
  font-weight: bold;
  text-align: left;
  width: 140px;
  float: left;
  margin-left: 10px;
}

/* line 1311, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized .small {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  width: 140px;
}

/* line 1320, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized input {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 10px;
}

/*#stylized textarea*/
/* line 1330, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#feedback_input {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  height: 60px;
  resize: none;
  outline: none;
  overflow: auto;
  margin: 2px 0 20px 10px;
}

/* line 1343, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
#stylized .button {
  margin-left: 10px;
  width: 70px;
  height: 31px;
  background: #666666 url(img/button.png) no-repeat;
  text-align: center;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: -10px;
}

/* line 1357, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
body {
  scrollbar-base-color: #663366;
  scrollbar-face-color: #99CCCC;
  scrollbar-track-color: #996699;
  scrollbar-arrow-color: #330033;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #CCCCCC;
  scrollbar-shadow-color: #663366;
  scrollbar-darkshadow-color: #000000;
}

/* line 1371, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.comment-limit {
  font-size: 10px;
  float: right;
  color: #333;
}

/* ######################## Right Side Bar Panel ############################*/
/* line 1385, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.p-flng-list {
  margin-left: 5px;
}

/* line 1389, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.p-flng-list-item {
  width: 120px;
  margin-left: 30px;
  margin-top: 30px;
}

/* line 1397, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.right-sidebar-label {
  height: 16px;
  width: 100%;
  /*border:1px solid blue;*/
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #1F1F1F;
  text-align: cente;
  padding-bottom: 5px;
}

/* line 1409, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.right-sidebar-friends {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: -3px;
  margin-right: -2px;
}

/* line 1418, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.right-sidebar-friends img {
  width: 30px;
  height: 30px;
  border: 1px solid white;
}

/* line 1425, ../../../app/stylesheets/actwitty/actwitty_profile.scss */
.viewall a {
  text-decoration: none;
  font-size: 12px;
  font-family: ‘Lucida Grande’, sans-serif;
  color: #4169e1;
  text-align: center;
}
