/* line 2, ../../../app/stylesheets/actwitty/home_page.scss */
#map {
  height:200px;
  width: 200px;
  border: thin solid #333;
  margin-top: 0.6em;
}

/* line 9, ../../../app/stylesheets/actwitty/home_page.scss */
#home_page_input {
  margin-left: 300px;
  width: 650px;
}

/* line 14, ../../../app/stylesheets/actwitty/home_page.scss */
.home_page_signout {
  float: right;
}

/* line 18, ../../../app/stylesheets/actwitty/home_page.scss */
.home_page_filters {
  display: block;
}

/* line 22, ../../../app/stylesheets/actwitty/home_page.scss */
.filters {
  display: block;
  height: auto;
  border: 1px solid gray;
  margin-top: 10px;
  width: 250px;
}

/* line 31, ../../../app/stylesheets/actwitty/home_page.scss */
.filter_list {
  display: block;
}

/* line 36, ../../../app/stylesheets/actwitty/home_page.scss */
.filter_list_elem {
  list-style-type: none;
  text-align: center;
}

/* line 41, ../../../app/stylesheets/actwitty/home_page.scss */
div.filters h4 {
  text-align: center;
}

/* line 46, ../../../app/stylesheets/actwitty/home_page.scss */
.home_page_direct_signin {
  float: left;
}
