@charset "UTF-8";
/* line 1, ../../../app/stylesheets/actwitty/mainpage.scss */
.placeholder {
  color: #aaa;
}

/* line 4, ../../../app/stylesheets/actwitty/mainpage.scss */
body {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 1400px;
  overflow-x: hidden;
  /*border:1px solid green;*/
  /*background:#445D73 ;*/
}

/* line 14, ../../../app/stylesheets/actwitty/mainpage.scss */
#LoadingDiv {
  margin: 0;
  position: fixed;
  height: 100%;
  z-index: 9999;
  /*padding-top:200px;*/
  /*padding-left:50px;*/
  width: 100%;
  margin-top: -40px;
  /*clear:none;*/
  background: url(/images/actwitty/background.gif);
  /*background-color:#666666;
  border:1px solid #000000;*/
  opacity: 0.1;
  display: none;
}

/* line 31, ../../../app/stylesheets/actwitty/mainpage.scss */
.loading-img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* line 39, ../../../app/stylesheets/actwitty/mainpage.scss */
#page-wrapper {
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  /*border: 1px solid #e4e6e7;*/
}

/* line 49, ../../../app/stylesheets/actwitty/mainpage.scss */
#header {
  /*background:#484848;*/
  background: #fff;
  background: #445D73;
  width: 100%;
  height: 110px;
  /*margin-top:40px;*/
  border-bottom: 0px solid gray;
  /*
    box-shadow: 0 0 6px #f7faf0;
    -moz-box-shadow: 0 0 6px #f7faf0;
    -webkit-box-shadow: 0 0 6px #f7faf0;
    -o-box-shadow: 0 0 6px #f7faf0;
    border:1px solid red;
  */
}

/* line 66, ../../../app/stylesheets/actwitty/mainpage.scss */
#site-connect {
  /*background:#373735;*/
  /*background: white;*/
  background: #8DD297;
  background: #445D73;
  width: 100%;
  /*height:55%;*/
  height: 420px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 78, ../../../app/stylesheets/actwitty/mainpage.scss */
#logo {
  height: auto;
  width: auto;
  float: left;
  display: block;
  /*margin-top:-50px;
  margin-left:160px;*/
}

/* line 87, ../../../app/stylesheets/actwitty/mainpage.scss */
#logo-img {
  width: 300px;
  height: 100px;
  border: none;
}

/* line 93, ../../../app/stylesheets/actwitty/mainpage.scss */
#sns-connect {
  display: block;
  float: right;
  height: 80px;
  width: 470px;
  background: #111211;
  opacity: 0.7;
  /*background: #fff;*/
  background: #445D73;
  padding: 10px 0 0 20px;
  margin-right: 70px;
  margin-top: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 120, ../../../app/stylesheets/actwitty/mainpage.scss */
#info-slide {
  display: block;
  /*text-align:center;*/
  float: left;
  /* background:yellow;*/
  height: 300px;
  width: 400px;
  margin-left: 50px;
  padding: 10px 0 0 20px;
  margin-top: 30px;
}

/* line 132, ../../../app/stylesheets/actwitty/mainpage.scss */
#sns-desc {
  padding: 0 0 0 10px;
  color: #fff;
  /*text-align:center;*/
  font-size: 12px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 140, ../../../app/stylesheets/actwitty/mainpage.scss */
#sns-login {
  display: block;
  margin-top: -20px;
}

/* line 145, ../../../app/stylesheets/actwitty/mainpage.scss */
#desc {
  float: left;
  padding: 0 10px 0 10px;
  vertical-align: center;
  text-align: center;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #7EC0EE;
}

/* line 154, ../../../app/stylesheets/actwitty/mainpage.scss */
#facebook-login {
  float: left;
  padding: 5px;
}

/* line 159, ../../../app/stylesheets/actwitty/mainpage.scss */
#twitter-login {
  float: right;
  padding: 5px;
}

/* line 168, ../../../app/stylesheets/actwitty/mainpage.scss */
#sign-connect-desc {
  padding: 0;
  font-size: 14px;
  margin: 0;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 176, ../../../app/stylesheets/actwitty/mainpage.scss */
#sign-connect-desc h3 {
  text-align: center;
  margin-left: -20px;
}

/* line 182, ../../../app/stylesheets/actwitty/mainpage.scss */
#data-input {
  /*
  padding:3px;
  width:100%;
  height:auto;
  */
}

/* line 191, ../../../app/stylesheets/actwitty/mainpage.scss */
.inputform {
  margin-left: 30px;
  height: auto;
  width: 100%;
}

/* line 197, ../../../app/stylesheets/actwitty/mainpage.scss */
#sign_in_up {
  display: block;
  float: right;
  /*background:#121212;*/
  background: #fdfdfe;
  /*background: #111211;*/
  opacity: 0.7;
  background: #445D73;
  height: auto;
  width: 470px;
  padding: 10px 0 0 20px;
  margin-top: 30px;
  margin-right: 500px;
  /*margin-bottom:10px;
  
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  /*
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
  */
}

/* line 230, ../../../app/stylesheets/actwitty/mainpage.scss */
.main-input-list {
  list-style-type: none;
  margin-left: 40px;
}

/* line 234, ../../../app/stylesheets/actwitty/mainpage.scss */
.main-input-list .email-input {
  float: left;
  padding: 3px;
  width: 260px;
}

/* line 240, ../../../app/stylesheets/actwitty/mainpage.scss */
.password-input {
  float: left;
  padding: 3px;
  margin-top: 0px;
  border: 1px solid red;
  width: 260px;
}

/* line 248, ../../../app/stylesheets/actwitty/mainpage.scss */
.remember-main {
  float: none;
  margin-left: 0px;
  margin-top: 5px;
}

/* line 254, ../../../app/stylesheets/actwitty/mainpage.scss */
#data-input-actions {
  float: left;
  margin-top: 10px;
  margin-right: 40px;
}

/* line 260, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon {
  padding: 0;
  margin: 0;
}

/* line 265, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium {
  width: 32px;
  height: 30px;
  margin: 8px 0 8px 12px;
  background: transparent url(/images/actwitty/icons-medium.png) no-repeat;
}

/* line 272, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.linkedin {
  background-position: 0px 0px;
}

/* line 276, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.twitter {
  background-position: 0px -30px;
  float: right;
  margin-right: 30px;
}

/* line 282, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.facebook {
  background-position: 0px -60px;
  float: right;
}

/* line 287, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.foursquare {
  background-position: 0px -90px;
}

/* line 291, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.crunchbase {
  background-position: 0px -120px;
}

/* line 295, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.gmail {
  background-position: 0px -150px;
}

/* line 299, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.google-calendar {
  background-position: 0px -180px;
}

/* line 303, ../../../app/stylesheets/actwitty/mainpage.scss */
#top {
  background: gray;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 308, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-content {
  display: block;
  padding: 10px;
  margin-left: 100px;
}

/* line 314, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header {
  float: left;
  padding: 10px;
}

/* line 319, ../../../app/stylesheets/actwitty/mainpage.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 324, ../../../app/stylesheets/actwitty/mainpage.scss */
div.footers {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 328, ../../../app/stylesheets/actwitty/mainpage.scss */
.input-deco {
  border: 1px solid gray;
  height: 30px;
  margin-top: 3px;
}

/* line 334, ../../../app/stylesheets/actwitty/mainpage.scss */
#site-connect-buttons {
  margin-top: 10px;
  margin-left: 115px;
  display: block;
  float: left;
}

/* line 341, ../../../app/stylesheets/actwitty/mainpage.scss */
#signinbutton {
  /*margin-left:60px;*/
}

/* line 346, ../../../app/stylesheets/actwitty/mainpage.scss */
#site-connect-nav {
  width: 100%;
  height: 30px;
}

/* line 352, ../../../app/stylesheets/actwitty/mainpage.scss */
#resend-confirm-nav {
  width: 80px;
  float: left;
  text-align: center;
  color: #fff;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 12px;
  margin-left: 5px;
}

/* line 362, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-password-nav {
  width: 80px;
  float: left;
  text-align: center;
  color: #fff;
  margin-left: 30px;
  font-size: 8px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 12px;
}

/*
#forgot-password {
  margin-top: 40px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 12px;
  color: #333;
  margin-left:80px;
}
*/
  /*
.main-page-navlinks {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 12px;
  color: #333;
  padding: 5px;
  margin-left: 20px;
}
*/
/* line 391, ../../../app/stylesheets/actwitty/mainpage.scss */
.button {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #ffffff;
  /*background: #1B1B1B;*/
  background: #00BFFF;
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  width: 205px;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* line 410, ../../../app/stylesheets/actwitty/mainpage.scss */
.connect-buttons {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #ffffff;
  /*background: #1B1B1B;*/
  background: #00bfff url(/images/actwitty/7.jpg) 7px no-repeat;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottm: 10px;
  text-align: center;
  	                                                                 /*
    background: #398525;
  	background: -moz-linear-gradient(top, #87CEFA 0%, #A4D3EE 100%); 
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEFA), color-stop(100%,#A4D3EE)); 
  
  	box-shadow: inset 0px 0px 6px #fff;
  	-webkit-box-shadow: inset 0px 0px 6px #fff;
  	border: 1px solid #4169E1;
  	border-radius: 4px;
  
  	font: bold 20px/25px Helvetica, Sans-Serif; text-align: center;
  	text-transform: uppercase; text-decoration: none;
  	color: #3D3D3D;
  	text-shadow: 0px 1px 2px #b4d1ad;
  
  	-moz-transition: color 0.25s ease-in-out;
  	-webkit-transition: color 0.25s ease-in-out;
  	transition: color 0.25s ease-in-out;
    */
  background: #398525;
  /* old browsers */
  background: -moz-linear-gradient(top, #8dd297 0%, #398525 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8dd297), color-stop(100%, #398525));
  /* webkit */
  box-shadow: inset 0px 0px 6px #fff;
  -webkit-box-shadow: inset 0px 0px 6px #fff;
  border: 1px solid #5ea617;
  border-radius: 4px;
  font: bold 18px/25px Helvetica, Sans-Serif;
  text-align: center;
  /*text-transform: uppercase;*/
  text-decoration: none;
  color: #282828;
  text-shadow: 0px 1px 2px #b4d1ad;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

/* line 476, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-site-connect-buttons .connect-buttons {
  width: 120px;
}

/* line 480, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-site-connect-buttons #reset-password-btn {
  width: 200px;
}

/* line 484, ../../../app/stylesheets/actwitty/mainpage.scss */
.connect-buttons:hover {
  cursor: pointer;
  color: #f5f6fa;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

/* line 494, ../../../app/stylesheets/actwitty/mainpage.scss */
#validation-errors {
  display: block;
  background: green;
}

/* line 499, ../../../app/stylesheets/actwitty/mainpage.scss */
#email-error {
  float: left;
  margin-left: 20px;
  color: black;
}

/* line 505, ../../../app/stylesheets/actwitty/mainpage.scss */
#password-error {
  float: left;
  margin-left: 160px;
  color: black;
}

/* line 511, ../../../app/stylesheets/actwitty/mainpage.scss */
#email-col {
  float: left;
}

/* line 515, ../../../app/stylesheets/actwitty/mainpage.scss */
#password-col {
  float: left;
}

/* line 519, ../../../app/stylesheets/actwitty/mainpage.scss */
.listing {
  /*display:inline;*/
  list-style-type: none;
}

/* line 523, ../../../app/stylesheets/actwitty/mainpage.scss */
#info-section {
  background: white;
  width: 100%;
  height: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 532, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text {
  width: 90%;
  height: 350px;
  display: block;
  float: left;
  margin-top: 30px;
                      /*
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
  */
  margin-left: 70px;
}

/* line 553, ../../../app/stylesheets/actwitty/mainpage.scss */
#simplegallery1 {
  position: relative;
  /*keep this intact*/
  visibility: hidden;
  /*keep this intact*/
  border: 1px solid gray;
  width: 430px;
  height: 190px;
  display: block;
  float: left;
}

/* line 564, ../../../app/stylesheets/actwitty/mainpage.scss */
#simplegallery1 .gallerydesctext {
  text-align: left;
  padding: 2px 5px;
}

/* line 570, ../../../app/stylesheets/actwitty/mainpage.scss */
.actwitty-info {
  width: 600px;
  height: 100%;
  display: block;
}

/* line 577, ../../../app/stylesheets/actwitty/mainpage.scss */
.actwitty-info img {
  width: 500px;
  height: 210px;
  margin-top: 50px;
  margin-left: 50px;
}

/* line 584, ../../../app/stylesheets/actwitty/mainpage.scss */
.actwitty-info h4 {
  width: 160px;
  text-align: center;
  font-size: 25px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  border: 1px solid #333;
  margin-top: 10px;
  margin-left: 30px;
  z-index: 5;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 3px #3a3a3a;
  -moz-box-shadow: 0 0 3px #3a3a3a;
  -webkit-box-shadow: 0 0 3px #3a3a3a;
  -o-box-shadow: 0 0 3px #3a3a3a;
}

/* line 605, ../../../app/stylesheets/actwitty/mainpage.scss */
.actwitty-info h4 span {
  font-size: 15px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #87ceeb;
}

/* line 612, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-t1 {
  float: left;
  opacity: 0.9;
  width: 462px;
}

/* line 619, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-t2 {
  float: left;
  border-left: 1px solid #DDDFE1;
  border-right: 1px solid #DDDFE1;
  opacity: 0.7;
}

/* line 627, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-t3 {
  margin-left: 100px;
  float: left;
  opacity: 0.9;
}

/* line 633, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-t4 {
  float: left;
  opacity: 0.9;
  border-right: 1px solid #DDDFE1;
}

/* line 639, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-t5 {
  float: left;
  opacity: 0.9;
}

/* line 646, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .insist {
  font-size: 42px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  float: left;
  text-align: left;
  color: #3EA99F;
  margin-right: 5px;
  margin-top: 0px;
}

/* line 658, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .insist_2 {
  font-size: 42px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  float: left;
  text-align: left;
  color: #3EA99F;
  margin-right: 5px;
  margin-left: 200px;
  margin-top: 5px;
}

/* line 671, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .insist_3 {
  font-size: 42px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  float: left;
  text-align: left;
  color: #3EA99F;
  margin-right: 5px;
  margin-left: 30px;
}

/* line 683, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .detail {
  font-size: 25px;
  font-family: Verdana, Geneva, sans-serif;
  color: #3f3f3f;
  float: left;
  text-align: left;
  margin-right: 5px;
  margin-top: 22px;
}

/* line 695, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-mobile {
  height: 80px;
  width: 100%;
  margin-bottom: -20px;
}

/* line 700, ../../../app/stylesheets/actwitty/mainpage.scss */
#download-section {
  display: block;
  float: right;
  background: #fdfdfe;
  height: 80px;
  width: 150px;
  padding: 0px 0 0 0px;
  margin-top: -25px;
  /*margin-left:35px;*/
  margin-right: 40px;
  /*margin-bottom:10px;
  
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  /*border:1px solid blue;*/
  /*
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
  */
}

/* line 728, ../../../app/stylesheets/actwitty/mainpage.scss */
#download-desc {
  /*padding:10px;*/
  font-size: 10px;
  margin-left: 0px;
  margin-bottom: -10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 737, ../../../app/stylesheets/actwitty/mainpage.scss */
#download-list {
  display: block;
  background: white;
  width: 95%;
  height: 50%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 6px #fffdf9;
  -moz-box-shadow: 0 0 6px #fffdf9;
  -webkit-box-shadow: 0 0 6px #fffdf9;
  -o-box-shadow: 0 0 6px #fffdf9;
}

/* line 752, ../../../app/stylesheets/actwitty/mainpage.scss */
.download-src {
  padding-top: 10px;
  /*padding-left: 10px;*/
  width: 30px;
  height: 30px;
}

/* line 759, ../../../app/stylesheets/actwitty/mainpage.scss */
.android {
  margin-left: 60px;
}

/* line 763, ../../../app/stylesheets/actwitty/mainpage.scss */
.apple {
  margin-left: 10px;
}

/* line 766, ../../../app/stylesheets/actwitty/mainpage.scss */
#input-form {
  margin-left: 30px;
}

/* line 770, ../../../app/stylesheets/actwitty/mainpage.scss */
.main-input-list {
  list-style-type: none;
}

/* line 774, ../../../app/stylesheets/actwitty/mainpage.scss */
#remember-box {
  margin-left: 40px;
}

/* line 778, ../../../app/stylesheets/actwitty/mainpage.scss */
.remember-list {
  display: inline;
}

/*-------------------------- Forgot Password Page ---------------------*/
/* line 783, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-site-connect {
  /*background:#373735;*/
  background: white;
  width: 100%;
  height: 400px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 6px  #fff;
  -moz-box-shadow: 0 0 6px  #fff;
  -webkit-box-shadow: 0 0 6px  #fff;
  -o-box-shadow: 0 0 6px #fff;
}

/* line 801, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-sign_in_up {
  display: block;
  float: right;
  /*background:#121212;*/
  background: #fff;
  /*background:#445D73 ;*/
  height: 75%;
  width: 470px;
  padding: 10px 0 0 20px;
  margin-top: 60px;
  margin-right: 35%;
  /*margin-bottom:10px;
  
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 6px  #3a3a3a;
  -moz-box-shadow: 0 0 6px  #3a3a3a;
  -webkit-box-shadow: 0 0 6px  #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 826, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-sign-connect-desc {
  /*padding:10px;*/
  font-size: 14px;
  margin-left: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 834, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-site-connect-buttons {
  display: block;
}

/*------------------------- confirmation page ------------------------------*/
/* line 839, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-page-wrapper {
  background: white;
  height: 750px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 847, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-input-list {
  list-style-type: none;
}

/* line 851, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-fields {
  list-style-type: none;
  padding: 0px 10px 0px 10px;
  border: 1px solid #fff;
}

/* line 857, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-input {
  margin-left: 60px;
  margin-top: 10px;
}

/* line 862, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-labels {
  display: block;
  float: left;
  width: 150px;
  /*text-align: center;*/
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 875, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-header {
  /*background:#484848;*/
  background: #fff;
  background: #445D73;
  width: 100%;
  height: 10%;
  /*margin-top: 40px;*/
  border-bottom: 1px solid gray;
  /*
  box-shadow: 0 0 6px #f7faf0;
  -moz-box-shadow: 0 0 6px #f7faf0;
  -webkit-box-shadow: 0 0 6px #f7faf0;
  -o-box-shadow: 0 0 6px #f7faf0;
  -moz-box-shadow: 0 0 4px #3a3a3a;
  -webkit-box-shadow: 0 0 4px #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
  */
}

/* line 894, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-page {
  /*background:#373735;*/
  background: white;
  width: 100%;
  height: 80%;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 902, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-page-block {
  display: block;
  float: right;
  /*background:#121212;*/
  background: #fff;
  height: auto;
  width: 700px;
  padding: 10px 0 20px 20px;
  margin-top: 30px;
  margin-right: 25%;
  /*margin-bottom:10px;
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 4px  #3a3a3a;
  -moz-box-shadow: 0 0 4px  #3a3a3a;
  -webkit-box-shadow: 0 0 4px  #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
}

/* line 659, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 927, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirm-policies {
  width: 300px;
  height: 100px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 10px;
  border-radius: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 672, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 940, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirm-desc {
  font-size: 30px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
  text-align: center;
}

/* line 678, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 948, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirm-button {
  width: 180px;
  margin-left: 160px;
}

/* line 683, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 955, ../../../app/stylesheets/actwitty/mainpage.scss */
#profile_submit {
  margin-left: 260px;
}

/* line 688, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 960, ../../../app/stylesheets/actwitty/mainpage.scss */
#profile_submit:hover {
  cursor: pointer;
}

/* line 693, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 965, ../../../app/stylesheets/actwitty/mainpage.scss */
#tos_pos {
  display: block;
  margin-top: 90px;
}

/* line 698, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 971, ../../../app/stylesheets/actwitty/mainpage.scss */
#tos_pos p {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 10px;
  margin-left: 40px;
}

/* line 708, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 981, ../../../app/stylesheets/actwitty/mainpage.scss */
#tos_pos a {
  color: blue;
  text-decoration: none;
}

/* ########################## Footer Content ########################*/
/* line 717, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 988, ../../../app/stylesheets/actwitty/mainpage.scss */
#page-footer {
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 6px #fff;
  -moz-box-shadow: 0 0 6px #fff;
  -webkit-box-shadow: 0 0 6px #fff;
  -o-box-shadow: 0 0 6px #fff;
  background: #445D73;
}

/* line 728, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1003, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-content {
  display: block;
  padding: 10px;
  margin-left: 38%;
}

/* line 734, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1010, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header {
  float: left;
  padding-left: 10px;
  font-size: 12px;
  font-weight: normal;
  height: 14px;
  margin-top: -10px;
  color: gray;
}

/* line 745, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1021, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header {
  float: left;
  padding-left: 10px;
  color: black;
  font-size: 12px;
  font-weight: normal;
  height: 14px;
  margin-top: -20px;
}

/* line 759, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1032, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header a {
  text-decoration: none;
  color: #F4F4F4;
}

/* line 764, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1038, ../../../app/stylesheets/actwitty/mainpage.scss */
div.footers {
  font-family: ‘Arial Rounded MT Bold’, Helvetica, Arial, sans-serif;
}

/*#############################Sign-Up Welcome Message ##############################*/
/* line 772, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1044, ../../../app/stylesheets/actwitty/mainpage.scss */
.welcome-message {
  width: 600px;
  height: auto;
  margin-left: 400px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}

/* line 788, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1060, ../../../app/stylesheets/actwitty/mainpage.scss */
.welcome-message h4 {
  color: #333;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

/* line 796, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1069, ../../../app/stylesheets/actwitty/mainpage.scss */
.welcome-message h3 {
  color: #0a67a3;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 5px;
}

/*################################### Date Picker ###################################*/
/* line 808, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1079, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker {
  border-collapse: collapse;
  border: 1px solid #999;
  position: absolute;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 818, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1090, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tr.controls th {
  height: 22px;
  font-size: 11px;
}

/* line 823, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1096, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker select {
  font-size: 11px;
}

/* line 827, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1101, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tr.days th {
  height: 18px;
}

/* line 831, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1106, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tfoot td {
  height: 18px;
  text-align: center;
  text-transform: capitalize;
}

/* line 837, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1113, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker th, .datepicker tfoot td {
  background: #87cbee;
  font: 10px/18px Verdana, Arial, Helvetica, sans-serif;
}

/* line 842, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1119, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker th span, .datepicker tfoot td span {
  font-weight: normal;
}

/* line 847, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1124, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td {
  width: 24px;
  border: 1px solid blue;
  height: 24px;
  border: 1px solid #ccc;
  font: 11px/22px Arial, Helvetica, sans-serif;
  text-align: center;
  background: #fff;
}

/* line 857, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1135, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td.date {
  cursor: pointer;
}

/* line 861, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1140, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td.date.over {
  background-color: #00cfff;
}

/* line 865, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1145, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td.date.chosen {
  font-weight: bold;
  background-color: #0386a5;
}

/*######################## SLIDER CSS #######################*/
/* line 875, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1152, ../../../app/stylesheets/actwitty/mainpage.scss */
#slider {
  position: relative;
  margin-top: 20px;
  width: 430px;
  /* Change this to your images width */
  height: 190px;
  /* Change this to your images height */
  margin-top: -10px;
}

/* line 881, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1163, ../../../app/stylesheets/actwitty/mainpage.scss */
#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/* line 887, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1171, ../../../app/stylesheets/actwitty/mainpage.scss */
#slider a {
  border: 0;
  display: block;
}

/* The Nivo Slider styles */
/* line 894, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1178, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivoSlider {
  position: relative;
  width: 430px;
  height: 190px;
}

/* line 897, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1187, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* If an image is wrapped in a link */
/* line 903, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1195, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

/* The slices and boxes in the Slider */
/* line 916, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1210, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

/* line 922, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1218, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

/* Caption styles */
/* line 928, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1226, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 8;
}

/* line 938, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1239, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-caption p {
  padding: 5px;
  margin: 0;
}

/* line 942, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1245, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-caption a {
  display: inline !important;
}

/* line 945, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1250, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-html-caption {
  display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
/* line 949, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1256, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-directionNav a {
  position: absolute;
  margin-top: 80%;
  z-index: 100;
  cursor: pointer;
  color: red;
}

/* line 955, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1265, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-prevNav {
  left: 0px;
}

/* line 958, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1270, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-nextNav {
  right: 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
/* line 962, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1276, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

/* line 967, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1283, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-controlNav a.active {
  font-weight: bold;
}

/* line 970, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1288, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivoSlider {
  position: relative;
  background: white url(loading.gif) no-repeat 50% 50%;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
}

/* line 977, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1297, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 430px;
  height: 240px;
}

/* line 983, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1307, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivoSlider a {
  border: 0;
  display: block;
}

/* line 988, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1313, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-controlNav {
  position: absolute;
  left: 50%;
  /*bottom:-42px;*/
  margin-left: 40px;
  /* Tweak this to center bullets */
}

/* line 994, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1322, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

/* line 1004, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1334, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-controlNav a.active {
  background-position: 0 -22px;
}

/* line 1008, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1339, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

/* line 1016, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1349, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

/* line 1020, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1355, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default a.nivo-prevNav {
  left: 15px;
}

/* line 1024, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1360, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 1027, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1365, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

/* line 1031, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1371, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-caption a:hover {
  color: #fff;
}

/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/
/* line 1046, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1385, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman.slider-wrapper {
  background: url(slider.png) no-repeat;
  width: 722px;
  height: 337px;
  margin: 0 auto;
  padding-top: 18px;
  position: relative;
}

/* line 1055, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1395, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivoSlider {
  position: relative;
  width: 568px;
  height: 268px;
  margin-left: 77px;
  background: url(loading.gif) no-repeat 50% 50%;
}

/* line 1062, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1404, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 568px;
  /* Make sure your images are the same size */
  height: 268px;
  /* Make sure your images are the same size */
}

/* line 1070, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1416, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivoSlider a {
  border: 0;
  display: block;
}

/* line 1075, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1422, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-controlNav {
  position: absolute;
  left: 50%;
  bottom: -60px;
  margin-left: -30px;
  /* Tweak this to center bullets */
}

/* line 1081, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1431, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-controlNav a {
  display: block;
  width: 10px;
  height: 10px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 7px;
  float: left;
}

/* line 1091, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1443, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-controlNav a.active {
  background-position: 0 -10px;
}

/* line 1095, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1448, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-directionNav a {
  display: block;
  width: 25px;
  height: 200px;
  background: url(arrows.png) no-repeat 0% 50%;
  text-indent: -9999px;
  border: 0;
  top: 40px;
}

/* line 1104, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1459, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman a.nivo-nextNav {
  background-position: 100% 50%;
  right: -40px;
  padding-right: 20px;
}

/* line 1109, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1466, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman a.nivo-prevNav {
  left: -40px;
  padding-left: 20px;
}

/* line 1114, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1472, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 1117, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1477, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

/* line 1121, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1483, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-caption a:hover {
  color: #fff;
}

/* line 1125, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1488, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .ribbon {
  background: url(ribbon.png) no-repeat;
  width: 111px;
  height: 111px;
  position: absolute;
  top: -3px;
  left: 56px;
  z-index: 300;
}

/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
*/
/* line 1147, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1508, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal.slider-wrapper {
  background: url(slider.png) no-repeat;
  width: 668px;
  height: 299px;
  margin: 0 auto;
  padding-top: 17px;
  position: relative;
}

/* line 1156, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1518, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivoSlider {
  position: relative;
  width: 630px;
  height: 235px;
  margin-left: 19px;
  background: url(loading.gif) no-repeat 50% 50%;
}

/* line 1163, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1527, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 630px;
  /* Make sure your images are the same size */
  height: 235px;
  /* Make sure your images are the same size */
}

/* line 1171, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1539, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivoSlider a {
  border: 0;
  display: block;
}

/* line 1176, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1545, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-controlNav {
  background: url(controlnav.png) no-repeat;
  width: 251px;
  height: 40px;
  position: absolute;
  left: 200px;
  /* Tweak this to center bullets */
  bottom: -42px;
  padding: 8px 0 0 82px;
  z-index: 20;
}

/* line 1186, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1558, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

/* line 1196, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1570, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-controlNav a.active {
  background-position: 0 -22px;
}

/* line 1200, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1575, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-directionNav a {
  display: none;
}

/* line 1204, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1580, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-caption {
  bottom: 40%;
  left: auto;
  right: 0px;
  width: auto;
  max-width: 630px;
  overflow: hidden;
  background: #fff;
  text-shadow: none;
  font-family: arial, serif;
  color: #4c4b4b;
}

/* line 1216, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1594, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-caption p {
  padding: 5px 15px;
  color: #333;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}

/* line 1223, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1603, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-caption a {
  color: #333;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}

/* line 1230, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1611, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .ribbon {
  background: url(ribbon.png) no-repeat;
  width: 111px;
  height: 111px;
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: 300;
}
