@charset "UTF-8";
/* line 1, ../../../app/stylesheets/actwitty/mainpage.scss */
body {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 1300px;
  /*border:1px solid green;*/
}

/* line 9, ../../../app/stylesheets/actwitty/mainpage.scss */
#LoadingDiv {
  margin: 0;
  position: fixed;
  height: 100%;
  z-index: 9999;
  /*padding-top:200px;*/
  /*padding-left:50px;*/
  width: 100%;
  margin-top: -40px;
  /*clear:none;*/
  background: url(/images/actwitty/background.gif);
  /*background-color:#666666;
  border:1px solid #000000;*/
  opacity: 0.1;
  display: none;
}

/* line 26, ../../../app/stylesheets/actwitty/mainpage.scss */
.loading-img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* line 34, ../../../app/stylesheets/actwitty/mainpage.scss */
#page-wrapper {
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  /*border: 1px solid #e4e6e7;*/
}

/* line 44, ../../../app/stylesheets/actwitty/mainpage.scss */
#header {
  /*background:#484848;*/
  background: #fff;
  width: 100%;
  height: 140px;
  /*margin-top:40px;*/
  border-bottom: 1px solid gray;
  /*
    box-shadow: 0 0 6px #f7faf0;
    -moz-box-shadow: 0 0 6px #f7faf0;
    -webkit-box-shadow: 0 0 6px #f7faf0;
    -o-box-shadow: 0 0 6px #f7faf0;
    border:1px solid red;
  */
}

/* line 60, ../../../app/stylesheets/actwitty/mainpage.scss */
#site-connect {
  /*background:#373735;*/
  background: white;
  width: 100%;
  /*height:55%;*/
  height: 400px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 70, ../../../app/stylesheets/actwitty/mainpage.scss */
#logo {
  height: auto;
  width: auto;
  float: left;
  display: block;
  /*margin-top:-50px;
  margin-left:160px;*/
}

/* line 79, ../../../app/stylesheets/actwitty/mainpage.scss */
#logo-img {
  width: 450px;
  height: 100px;
}

/* line 84, ../../../app/stylesheets/actwitty/mainpage.scss */
#sns-connect {
  display: block;
  float: right;
  height: 80px;
  width: 470px;
  /*background: #111211;*/
  background: #fff;
  padding: 10px 0 0 20px;
  margin-right: 40px;
  margin-top: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 3px #3a3a3a;
  -moz-box-shadow: 0 0 3px #3a3a3a;
  -webkit-box-shadow: 0 0 3px #3a3a3a;
  -o-box-shadow: 0 0 3px #3a3a3a;
}

/* line 105, ../../../app/stylesheets/actwitty/mainpage.scss */
.inputform {
  margin-left: 40px;
  height: auto;
  width: 100%;
}

/* line 111, ../../../app/stylesheets/actwitty/mainpage.scss */
#sign_in_up {
  display: block;
  float: right;
  /*background:#121212;*/
  background: #fdfdfe;
  height: auto;
  width: 470px;
  padding: 10px 0 0 20px;
  margin-top: 30px;
  margin-right: 40px;
  /*margin-bottom:10px;
  
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 4px #3a3a3a;
  -moz-box-shadow: 0 0 4px #3a3a3a;
  -webkit-box-shadow: 0 0 4px #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
}

/* line 135, ../../../app/stylesheets/actwitty/mainpage.scss */
#info-slide {
  display: block;
  /*text-align:center;*/
  float: left;
  /* background:yellow;*/
  height: 300px;
  width: 470px;
  margin-left: 50px;
  padding: 10px 0 0 20px;
  margin-top: 30px;
}

/* line 147, ../../../app/stylesheets/actwitty/mainpage.scss */
#sns-desc {
  padding: 0 0 0 10px;
  color: #000;
  /*text-align:center;*/
  font-size: 12px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 155, ../../../app/stylesheets/actwitty/mainpage.scss */
#sns-login {
  display: block;
  margin-top: -20px;
}

/* line 160, ../../../app/stylesheets/actwitty/mainpage.scss */
#desc {
  float: left;
  padding: 0 10px 0 10px;
  vertical-align: center;
  text-align: center;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #7EC0EE;
}

/* line 169, ../../../app/stylesheets/actwitty/mainpage.scss */
#facebook-login {
  float: left;
  padding: 5px;
}

/* line 174, ../../../app/stylesheets/actwitty/mainpage.scss */
#twitter-login {
  float: right;
  padding: 5px;
}

/* line 179, ../../../app/stylesheets/actwitty/mainpage.scss */
#sign-connect-desc {
  /*padding:10px;*/
  font-size: 14px;
  margin-left: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 187, ../../../app/stylesheets/actwitty/mainpage.scss */
#sign-connect-desc h3 {
  text-align: center;
}

/* line 191, ../../../app/stylesheets/actwitty/mainpage.scss */
.email-input {
  float: left;
  padding: 3px;
}

/* line 196, ../../../app/stylesheets/actwitty/mainpage.scss */
.password-input {
  float: left;
  padding: 3px;
  margin-top: 0px;
}

/* line 202, ../../../app/stylesheets/actwitty/mainpage.scss */
.remember-main {
  float: none;
  margin-left: 0px;
  margin-top: 5px;
}

/* line 208, ../../../app/stylesheets/actwitty/mainpage.scss */
#data-input {
  /*
  padding:3px;
  width:100%;
  height:auto;
  */
}

/* line 216, ../../../app/stylesheets/actwitty/mainpage.scss */
.main-input-list {
  list-style-type: none;
  margin-left: 40px;
}

/* line 221, ../../../app/stylesheets/actwitty/mainpage.scss */
#data-input-actions {
  float: left;
  margin-top: 10px;
  margin-right: 40px;
}

/* line 227, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon {
  padding: 0;
  margin: 0;
}

/* line 232, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium {
  width: 32px;
  height: 30px;
  margin: 8px 0 8px 12px;
  background: transparent url(/images/actwitty/icons-medium.png) no-repeat;
}

/* line 239, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.linkedin {
  background-position: 0px 0px;
}

/* line 243, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.twitter {
  background-position: 0px -30px;
  float: right;
  margin-right: 30px;
}

/* line 249, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.facebook {
  background-position: 0px -60px;
  float: right;
}

/* line 254, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.foursquare {
  background-position: 0px -90px;
}

/* line 258, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.crunchbase {
  background-position: 0px -120px;
}

/* line 262, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.gmail {
  background-position: 0px -150px;
}

/* line 266, ../../../app/stylesheets/actwitty/mainpage.scss */
.icon.medium.google-calendar {
  background-position: 0px -180px;
}

/* line 270, ../../../app/stylesheets/actwitty/mainpage.scss */
#top {
  background: gray;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 275, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-content {
  display: block;
  padding: 10px;
  margin-left: 100px;
}

/* line 281, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header {
  float: left;
  padding: 10px;
}

/* line 286, ../../../app/stylesheets/actwitty/mainpage.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 291, ../../../app/stylesheets/actwitty/mainpage.scss */
div.footers {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 295, ../../../app/stylesheets/actwitty/mainpage.scss */
.input-deco {
  border: 1px solid gray;
  height: 30px;
  margin-top: 3px;
}

/* line 301, ../../../app/stylesheets/actwitty/mainpage.scss */
#site-connect-buttons {
  margin-top: 10px;
  display: block;
  float: left;
}

/* line 307, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-password {
  margin-top: 40px;
  /*padding-top:20px;*/
  margin-left: 20px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 12px;
  color: #333;
}

/* line 316, ../../../app/stylesheets/actwitty/mainpage.scss */
.main-page-navlinks {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 12px;
  color: #333;
  padding: 5px;
  border: 0px solid red;
  margin-left: 10px;
}

/* line 325, ../../../app/stylesheets/actwitty/mainpage.scss */
.button {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #ffffff;
  /*background: #1B1B1B;*/
  background: #00BFFF;
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  width: 205px;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* line 344, ../../../app/stylesheets/actwitty/mainpage.scss */
.connect-buttons {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #ffffff;
  /*background: #1B1B1B;*/
  background: #00BFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  width: 205px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottm: 10px;
  text-align: center;
}

/* line 363, ../../../app/stylesheets/actwitty/mainpage.scss */
.connect-buttons:hover {
  cursor: pointer;
}

/* line 367, ../../../app/stylesheets/actwitty/mainpage.scss */
#validation-errors {
  display: block;
  background: green;
}

/* line 372, ../../../app/stylesheets/actwitty/mainpage.scss */
#email-error {
  float: left;
  margin-left: 20px;
  color: black;
}

/* line 378, ../../../app/stylesheets/actwitty/mainpage.scss */
#password-error {
  float: left;
  margin-left: 160px;
  color: black;
}

/* line 384, ../../../app/stylesheets/actwitty/mainpage.scss */
#email-col {
  float: left;
}

/* line 388, ../../../app/stylesheets/actwitty/mainpage.scss */
#password-col {
  float: left;
}

/* line 392, ../../../app/stylesheets/actwitty/mainpage.scss */
.listing {
  /*display:inline;*/
  list-style-type: none;
}

/* line 396, ../../../app/stylesheets/actwitty/mainpage.scss */
#info-section {
  background: white;
  width: 100%;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 404, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text {
  width: 700px;
  display: block;
  float: left;
  margin-top: 50px;
}

/* line 414, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .insist {
  font-size: 56px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  float: left;
  text-align: left;
  color: #3EA99F;
  margin-right: 5px;
  margin-top: 0px;
}

/* line 426, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .insist_2 {
  font-size: 56px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  float: left;
  text-align: left;
  color: #3EA99F;
  margin-right: 5px;
  margin-left: 280px;
  margin-top: 5px;
}

/* line 439, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .insist_3 {
  font-size: 56px;
  font-family: Verdana Bold, Geneva Bold, sans-serif Bold;
  color: #3EA99F;
  float: left;
  text-align: left;
  color: #3EA99F;
  margin-right: 5px;
  margin-left: 30px;
}

/* line 451, ../../../app/stylesheets/actwitty/mainpage.scss */
#actwitty-text .detail {
  font-size: 33px;
  font-family: Verdana, Geneva, sans-serif;
  color: #3f3f3f;
  float: left;
  text-align: left;
  margin-right: 5px;
  margin-top: 22px;
}

/* line 461, ../../../app/stylesheets/actwitty/mainpage.scss */
#download-section {
  display: block;
  float: right;
  background: #fdfdfe;
  height: 60%;
  width: 470px;
  padding: 10px 0 0 20px;
  margin-top: 30px;
  /*margin-left:35px;*/
  margin-right: 40px;
  /*margin-bottom:10px;
  
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 4px #3a3a3a;
  -moz-box-shadow: 0 0 4px #3a3a3a;
  -webkit-box-shadow: 0 0 4px #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
}

/* line 485, ../../../app/stylesheets/actwitty/mainpage.scss */
#download-desc {
  /*padding:10px;*/
  font-size: 14px;
  margin-left: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 493, ../../../app/stylesheets/actwitty/mainpage.scss */
#download-list {
  display: block;
  background: white;
  width: 95%;
  height: 50%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 6px #fffdf9;
  -moz-box-shadow: 0 0 6px #fffdf9;
  -webkit-box-shadow: 0 0 6px #fffdf9;
  -o-box-shadow: 0 0 6px #fffdf9;
}

/* line 508, ../../../app/stylesheets/actwitty/mainpage.scss */
.download-src {
  padding-top: 10px;
  padding-left: 40px;
}

/* line 513, ../../../app/stylesheets/actwitty/mainpage.scss */
#input-form {
  margin-left: 30px;
}

/* line 517, ../../../app/stylesheets/actwitty/mainpage.scss */
.main-input-list {
  list-style-type: none;
}

/* line 521, ../../../app/stylesheets/actwitty/mainpage.scss */
#remember-box {
  margin-left: 40px;
}

/* line 525, ../../../app/stylesheets/actwitty/mainpage.scss */
.remember-list {
  display: inline;
}

/*-------------------------- Forgot Password Page ---------------------*/
/* line 530, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-site-connect {
  /*background:#373735;*/
  background: white;
  width: 100%;
  height: 300px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  margin-bottom: 80px;
}

/* line 539, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-sign_in_up {
  display: block;
  float: right;
  /*background:#121212;*/
  background: #fff;
  height: 80%;
  width: 470px;
  padding: 10px 0 0 20px;
  margin-top: 30px;
  margin-right: 30%;
  /*margin-bottom:10px;
  
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 6px  #3a3a3a;
  -moz-box-shadow: 0 0 6px  #3a3a3a;
  -webkit-box-shadow: 0 0 6px  #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

/* line 563, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-sign-connect-desc {
  /*padding:10px;*/
  font-size: 14px;
  margin-left: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 571, ../../../app/stylesheets/actwitty/mainpage.scss */
#forgot-site-connect-buttons {
  display: block;
}

/*------------------------- confirmation page ------------------------------*/
/* line 576, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-page-wrapper {
  background: white;
  height: 1100px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 584, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-input-list {
  list-style-type: none;
}

/* line 588, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-fields {
  list-style-type: none;
  padding: 10px;
}

/* line 593, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-input {
  margin-left: 60px;
  margin-top: 10px;
}

/* line 598, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirmation-labels {
  display: block;
  float: left;
  width: 150px;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 610, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-header {
  /*background:#484848;*/
  background: #fff;
  width: 100%;
  height: 10%;
  margin-top: 40px;
  border-bottom: 1px solid gray;
  /*
  box-shadow: 0 0 6px #f7faf0;
  -moz-box-shadow: 0 0 6px #f7faf0;
  -webkit-box-shadow: 0 0 6px #f7faf0;
  -o-box-shadow: 0 0 6px #f7faf0;
  -moz-box-shadow: 0 0 4px #3a3a3a;
  -webkit-box-shadow: 0 0 4px #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
  */
}

/* line 628, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-page {
  /*background:#373735;*/
  background: white;
  width: 100%;
  height: 80%;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 636, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirmation-page-block {
  display: block;
  float: right;
  /*background:#121212;*/
  background: #fff;
  height: auto;
  width: 800px;
  padding: 10px 0 20px 20px;
  margin-top: 30px;
  margin-right: 20%;
  /*margin-bottom:10px;
  margin-left:40px;*/
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 4px  #3a3a3a;
  -moz-box-shadow: 0 0 4px  #3a3a3a;
  -webkit-box-shadow: 0 0 4px  #3a3a3a;
  -o-box-shadow: 0 0 4px #3a3a3a;
}

/* line 659, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 660, ../../../app/stylesheets/actwitty/mainpage.scss */
.confirm-policies {
  width: 300px;
  height: 100px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 10px;
  border-radius: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* line 672, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 673, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirm-desc {
  font-size: 30px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #87CEEB;
}

/* line 678, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 680, ../../../app/stylesheets/actwitty/mainpage.scss */
#confirm-button {
  width: 150px;
}

/* line 683, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 685, ../../../app/stylesheets/actwitty/mainpage.scss */
#profile_submit {
  margin-left: 260px;
}

/* line 688, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 690, ../../../app/stylesheets/actwitty/mainpage.scss */
#profile_submit:hover {
  cursor: pointer;
}

/* line 693, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 695, ../../../app/stylesheets/actwitty/mainpage.scss */
#tos_pos {
  display: block;
  margin-top: 90px;
}

/* line 698, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 701, ../../../app/stylesheets/actwitty/mainpage.scss */
#tos_pos p {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 10px;
  margin-left: -60px;
}

/* line 708, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 711, ../../../app/stylesheets/actwitty/mainpage.scss */
#tos_pos a {
  color: blue;
  text-decoration: none;
}

/* ########################## Footer Content ########################*/
/* line 717, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 718, ../../../app/stylesheets/actwitty/mainpage.scss */
#page-footer {
  margin-bottom: 0;
  background: #fff;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 3px #3a3a3a;
  -moz-box-shadow: 0 0 3px #3a3a3a;
  -webkit-box-shadow: 0 0 3px #3a3a3a;
  -o-box-shadow: 0 0 3px #3a3a3a;
}

/* line 728, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 730, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-content {
  display: block;
  padding: 10px;
  margin-left: 38%;
}

/* line 734, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 737, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header {
  float: left;
  padding-left: 10px;
  font-size: 12px;
  font-weight: normal;
  height: 14px;
  margin-top: -10px;
  color: gray;
}

/* line 745, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 748, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header {
  float: left;
  padding-left: 10px;
  color: black;
  font-size: 12px;
  font-weight: normal;
  height: 14px;
  margin-top: -20px;
}

/* line 759, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 759, ../../../app/stylesheets/actwitty/mainpage.scss */
.footer-header a {
  text-decoration: none;
  color: #009ACD;
}

/* line 764, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 765, ../../../app/stylesheets/actwitty/mainpage.scss */
div.footers {
  font-family: ‘Arial Rounded MT Bold’, Helvetica, Arial, sans-serif;
}

/*#############################Sign-Up Welcome Message ##############################*/
/* line 772, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 771, ../../../app/stylesheets/actwitty/mainpage.scss */
.welcome-message {
  width: 600px;
  height: auto;
  margin-left: 400px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}

/* line 788, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 787, ../../../app/stylesheets/actwitty/mainpage.scss */
.welcome-message h4 {
  color: #333;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

/* line 796, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 796, ../../../app/stylesheets/actwitty/mainpage.scss */
.welcome-message h3 {
  color: #0a67a3;
  font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 5px;
}

/*################################### Date Picker ###################################*/
/* line 808, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 806, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker {
  border-collapse: collapse;
  border: 1px solid #999;
  position: absolute;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 818, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 817, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tr.controls th {
  height: 22px;
  font-size: 11px;
}

/* line 823, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 823, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker select {
  font-size: 11px;
}

/* line 827, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 828, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tr.days th {
  height: 18px;
}

/* line 831, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 833, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tfoot td {
  height: 18px;
  text-align: center;
  text-transform: capitalize;
}

/* line 837, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 840, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker th, .datepicker tfoot td {
  background: #87cbee;
  font: 10px/18px Verdana, Arial, Helvetica, sans-serif;
}

/* line 842, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 846, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker th span, .datepicker tfoot td span {
  font-weight: normal;
}

/* line 847, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 851, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td {
  width: 24px;
  border: 1px solid blue;
  height: 24px;
  border: 1px solid #ccc;
  font: 11px/22px Arial, Helvetica, sans-serif;
  text-align: center;
  background: #fff;
}

/* line 857, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 862, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td.date {
  cursor: pointer;
}

/* line 861, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 867, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td.date.over {
  background-color: #00cfff;
}

/* line 865, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 872, ../../../app/stylesheets/actwitty/mainpage.scss */
.datepicker tbody td.date.chosen {
  font-weight: bold;
  background-color: #0386a5;
}

/*######################## SLIDER CSS #######################*/
/* line 875, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 879, ../../../app/stylesheets/actwitty/mainpage.scss */
#slider {
  position: relative;
  width: 480px;
  /* Change this to your images width */
  height: 333px;
  /* Change this to your images height */
  margin-top: -10px;
}

/* line 881, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 889, ../../../app/stylesheets/actwitty/mainpage.scss */
#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/* line 887, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 897, ../../../app/stylesheets/actwitty/mainpage.scss */
#slider a {
  border: 0;
  display: block;
}

/* The Nivo Slider styles */
/* line 894, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 904, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivoSlider {
  position: relative;
}

/* line 897, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 909, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* If an image is wrapped in a link */
/* line 903, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 917, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

/* The slices and boxes in the Slider */
/* line 916, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 932, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

/* line 922, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 940, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

/* Caption styles */
/* line 928, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 948, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 8;
}

/* line 938, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 961, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-caption p {
  padding: 5px;
  margin: 0;
}

/* line 942, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 967, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-caption a {
  display: inline !important;
}

/* line 945, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 972, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-html-caption {
  display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
/* line 949, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 978, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}

/* line 955, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 986, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-prevNav {
  left: 0px;
}

/* line 958, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 991, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-nextNav {
  right: 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
/* line 962, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 997, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

/* line 967, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1004, ../../../app/stylesheets/actwitty/mainpage.scss */
.nivo-controlNav a.active {
  font-weight: bold;
}

/* line 970, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1009, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivoSlider {
  position: relative;
  background: white url(loading.gif) no-repeat 50% 50%;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
}

/* line 977, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1018, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 480px;
  height: 333px;
}

/* line 983, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1028, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivoSlider a {
  border: 0;
  display: block;
}

/* line 988, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1034, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-controlNav {
  position: absolute;
  left: 50%;
  /*bottom:-42px;*/
  margin-left: 40px;
  /* Tweak this to center bullets */
}

/* line 994, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1043, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

/* line 1004, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1055, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-controlNav a.active {
  background-position: 0 -22px;
}

/* line 1008, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1060, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

/* line 1016, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1070, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

/* line 1020, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1076, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default a.nivo-prevNav {
  left: 15px;
}

/* line 1024, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1081, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 1027, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1086, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

/* line 1031, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1092, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-default .nivo-caption a:hover {
  color: #fff;
}

/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/
/* line 1046, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1106, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman.slider-wrapper {
  background: url(slider.png) no-repeat;
  width: 722px;
  height: 337px;
  margin: 0 auto;
  padding-top: 18px;
  position: relative;
}

/* line 1055, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1116, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivoSlider {
  position: relative;
  width: 568px;
  height: 268px;
  margin-left: 77px;
  background: url(loading.gif) no-repeat 50% 50%;
}

/* line 1062, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1125, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 568px;
  /* Make sure your images are the same size */
  height: 268px;
  /* Make sure your images are the same size */
}

/* line 1070, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1137, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivoSlider a {
  border: 0;
  display: block;
}

/* line 1075, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1143, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-controlNav {
  position: absolute;
  left: 50%;
  bottom: -60px;
  margin-left: -30px;
  /* Tweak this to center bullets */
}

/* line 1081, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1152, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-controlNav a {
  display: block;
  width: 10px;
  height: 10px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 7px;
  float: left;
}

/* line 1091, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1164, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-controlNav a.active {
  background-position: 0 -10px;
}

/* line 1095, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1169, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-directionNav a {
  display: block;
  width: 25px;
  height: 200px;
  background: url(arrows.png) no-repeat 0% 50%;
  text-indent: -9999px;
  border: 0;
  top: 40px;
}

/* line 1104, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1180, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman a.nivo-nextNav {
  background-position: 100% 50%;
  right: -40px;
  padding-right: 20px;
}

/* line 1109, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1187, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman a.nivo-prevNav {
  left: -40px;
  padding-left: 20px;
}

/* line 1114, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1193, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 1117, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1198, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

/* line 1121, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1204, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .nivo-caption a:hover {
  color: #fff;
}

/* line 1125, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1209, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-orman .ribbon {
  background: url(ribbon.png) no-repeat;
  width: 111px;
  height: 111px;
  position: absolute;
  top: -3px;
  left: 56px;
  z-index: 300;
}

/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
*/
/* line 1147, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1229, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal.slider-wrapper {
  background: url(slider.png) no-repeat;
  width: 668px;
  height: 299px;
  margin: 0 auto;
  padding-top: 17px;
  position: relative;
}

/* line 1156, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1239, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivoSlider {
  position: relative;
  width: 630px;
  height: 235px;
  margin-left: 19px;
  background: url(loading.gif) no-repeat 50% 50%;
}

/* line 1163, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1248, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 630px;
  /* Make sure your images are the same size */
  height: 235px;
  /* Make sure your images are the same size */
}

/* line 1171, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1260, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivoSlider a {
  border: 0;
  display: block;
}

/* line 1176, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1266, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-controlNav {
  background: url(controlnav.png) no-repeat;
  width: 251px;
  height: 40px;
  position: absolute;
  left: 200px;
  /* Tweak this to center bullets */
  bottom: -42px;
  padding: 8px 0 0 82px;
  z-index: 20;
}

/* line 1186, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1279, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

/* line 1196, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1291, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-controlNav a.active {
  background-position: 0 -22px;
}

/* line 1200, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1296, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-directionNav a {
  display: none;
}

/* line 1204, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1301, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-caption {
  bottom: 40%;
  left: auto;
  right: 0px;
  width: auto;
  max-width: 630px;
  overflow: hidden;
  background: #fff;
  text-shadow: none;
  font-family: arial, serif;
  color: #4c4b4b;
}

/* line 1216, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1315, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-caption p {
  padding: 5px 15px;
  color: #333;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}

/* line 1223, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1324, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .nivo-caption a {
  color: #333;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}

/* line 1230, ../../../app/stylesheets/actwitty/mainpage.scss */
/* line 1332, ../../../app/stylesheets/actwitty/mainpage.scss */
.theme-pascal .ribbon {
  background: url(ribbon.png) no-repeat;
  width: 111px;
  height: 111px;
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: 300;
}
