/* Uploader */
/* line 2, ../../../app/stylesheets/actwitty/pluploader.scss */
a {
  color: #303030;
  cursor: pointer;
  -moz-outline-style: none;
  text-decoration: none;
}

/* line 9, ../../../app/stylesheets/actwitty/pluploader.scss */
.tcenter {
  text-align: center;
}

/* line 11, ../../../app/stylesheets/actwitty/pluploader.scss */
.borderBottom {
  border-bottom: 1px dotted #808080;
}

/* line 13, ../../../app/stylesheets/actwitty/pluploader.scss */
.ral {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(PIE.htc);
}

/* line 20, ../../../app/stylesheets/actwitty/pluploader.scss */
.grayField {
  background: #e0e0e0;
  border: 1px solid #c1c1c1;
  padding: 5px;
  padding-bottom: 30px;
  width: 400px;
}

/* line 28, ../../../app/stylesheets/actwitty/pluploader.scss */
.medium.button {
  padding: 7px 10px 8px 10px;
  font-size: 12px;
}

/* line 33, ../../../app/stylesheets/actwitty/pluploader.scss */
.silver.button {
  background: #f2f2f2;
  background: -webkit-gradient(linear, center bottom, center top, from(#d1d1d1), to(white));
  background: -moz-linear-gradient(90deg, #d1d1d1, white);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d1d1d1',endColorstr='#ffffff');
  border-color: #BBB #BBB #999;
  border-style: solid;
  border-width: 1px;
  color: #333 !important;
  text-shadow: #F0F0F0 0px 1px;
}

/* line 45, ../../../app/stylesheets/actwitty/pluploader.scss */
.silver.button:active {
  background: #d1d1d1;
}

/* line 49, ../../../app/stylesheets/actwitty/pluploader.scss */
.ram {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 55, ../../../app/stylesheets/actwitty/pluploader.scss */
#progress_bar {
  display: none;
}

/* line 59, ../../../app/stylesheets/actwitty/pluploader.scss */
.ui-progress-bar {
  margin: 1px 0px 1px 0;
}

/* line 63, ../../../app/stylesheets/actwitty/pluploader.scss */
.ui-progress span.ui-label {
  font-size: 1.2em;
  position: absolute;
  right: 0;
  line-height: 5px;
  padding-right: 12px;
  color: #000;
  text-shadow: rgba(255, 255, 255, 0.45) 0 1px 0px;
  white-space: nowrap;
}

/* line 74, ../../../app/stylesheets/actwitty/pluploader.scss */
.ui-progress-bar {
  position: relative;
  height: 5px;
  padding-right: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #cccccc;
}

/* line 84, ../../../app/stylesheets/actwitty/pluploader.scss */
.ui-progress {
  position: relative;
  display: block;
  overflow: hidden;
  height: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: 44px 44px;
  background: #cccccc;
}
