/******************facebook friends*******************/
/*
div#ex1{
 float:left;
 display:block;
 border: 1px solid #585858;
 width:20%;
 height:20%;
 margin-left:10px;

}
div#txt{
 margin-left:60px;
 margin-bottom:-20px;
 font-size: 13px;
 padding: 8px 4px 4px 4px;
 word-wrap: break-word;
 font-color:red; 
 background:#000000;
}
*/
/* line 22, ../../../app/stylesheets/actwitty/profile.scss */
div#inner {
  margin-top: 15px;
}

/* line 26, ../../../app/stylesheets/actwitty/profile.scss */
div#ex1 {
  float: left;
  display: block;
  border: 1px solid #585858;
  /*width:20%;pramod 13%
  height:20%;*/
  width: 120px;
  margin-left: 10px;
}

/* line 37, ../../../app/stylesheets/actwitty/profile.scss */
.img {
  margin: 5px;
}

/* line 40, ../../../app/stylesheets/actwitty/profile.scss */
#im {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 1px;
  padding: 2px 4px 4px 4px;
}

/* line 46, ../../../app/stylesheets/actwitty/profile.scss */
.im1 {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 1px;
  padding: 2px 4px 4px 4px;
}

/* line 54, ../../../app/stylesheets/actwitty/profile.scss */
div#ex {
  background-color: #00FFFF;
  width: 500px;
  height: 400px;
  overflow: scroll;
  margin-left: 10px;
}

/* line 61, ../../../app/stylesheets/actwitty/profile.scss */
div#outer:hover img.img {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

/* line 68, ../../../app/stylesheets/actwitty/profile.scss */
div#inner:hover img.im1 {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

/* line 74, ../../../app/stylesheets/actwitty/profile.scss */
div#inner:hover input.follow_button {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

/****************************** Side Bar Filters on Activities/entities/friends***************************/
/* line 87, ../../../app/stylesheets/actwitty/profile.scss */
.channels_list {
  display: block;
  width: 95%;
}

/* line 93, ../../../app/stylesheets/actwitty/profile.scss */
.summary_box {
  width: 90%;
  margin-top: 10px;
  display: block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

/* line 108, ../../../app/stylesheets/actwitty/profile.scss */
.summary_user_box {
  margin: 10px;
  font-size: 12px;
  overflow: hidden;
  color: #000000;
  width: 80px;
  height: 80px;
  float: right;
  display: block;
}

/* line 121, ../../../app/stylesheets/actwitty/profile.scss */
.summary_user_box a img {
  float: left;
  display: block;
  width: 40px;
  height: 40px;
}

/* line 129, ../../../app/stylesheets/actwitty/profile.scss */
.summary_channel_box {
  margin: 10px;
  width: 150px;
  height: 34px;
  display: block;
  float: left;
  border: 4px solid #afaf93;
  background: #903737;
}

/* line 140, ../../../app/stylesheets/actwitty/profile.scss */
.summary_channel_box:hover {
  cursor: pointer;
}

/* line 145, ../../../app/stylesheets/actwitty/profile.scss */
.summary_channel_box span {
  padding: 0px 0 0 0;
  margin-top: 5px;
  overflow: hidden;
  font-size: 22px;
  color: #a4a88d;
}

/* line 154, ../../../app/stylesheets/actwitty/profile.scss */
.summary_update_time_box {
  float: left;
  margin-top: 65px;
  margin-left: -170px;
  display: block;
  font-style: italic;
}

/* line 163, ../../../app/stylesheets/actwitty/profile.scss */
.summary_total_posts_box {
  float: left;
  margin-top: 80px;
  margin-left: -195px;
  display: block;
  font-style: italic;
}

/* line 172, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box {
  padding-left: 10px;
  margin-top: 10px;
  width: 100%;
  float: left;
  overflow: hidden;
  font-size: 12px;
  display: block;
}

/* line 184, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_attachments {
  float: left;
  font-size: 12px;
  border: 1px solid #ccc;
  width: 80%;
  overflow: hidden;
  color: #000000;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 196, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_attachments span {
  font-size: 16px;
}

/* line 200, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_friends {
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  display: block;
  overflow: hidden;
  color: #000000;
  margin-top: 2px;
}

/* line 212, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_friends span {
  width: 100%;
  font-size: 16px;
}

/* line 218, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_friends li {
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
}

/* line 226, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_friends li a span {
  font-size: 12px;
}

/* line 231, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_entities {
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  display: block;
  overflow: hidden;
  color: #000000;
  margin-top: 2px;
}

/* line 242, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_entities span {
  width: 100%;
  font-size: 16px;
}

/* line 247, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_entities li {
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
}

/* line 255, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_entities li a span {
  font-size: 12px;
}

/* line 260, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_locations {
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  display: block;
  overflow: hidden;
  color: #000000;
  margin-top: 2px;
}

/* line 271, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_locations span {
  width: 100%;
  font-size: 16px;
}

/* line 277, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_locations li {
  display: block;
  overflow: hidden;
  width: 100%;
}

/* line 284, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_locations li span {
  font-size: 12px;
}

/* line 289, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_latest {
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  display: block;
  overflow: hidden;
  color: #000000;
  margin-top: 2px;
}

/* line 299, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_latest span {
  width: 100%;
  font-size: 16px;
}

/* line 304, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_latest li {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  border: 1px solid #ccc;
}

/* line 313, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_latest li span {
  font-size: 13px;
}

/* line 318, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_latest li span .js_activity_entity {
  font-sixe: 12px;
  margin-left: 2px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 2px;
  background: #943988;
  color: black;
  border: 0px solid #003399;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

/* line 338, ../../../app/stylesheets/actwitty/profile.scss */
.more_loader {
  font-size: 20px;
  color: #000000;
  border: 1px solid #ccc;
  width: 80%;
  height: 30px;
  float: bottom;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  float: right;
}

/* line 356, ../../../app/stylesheets/actwitty/profile.scss */
.modal_channels_ul {
  list-style: none;
  width: 80%;
}

/* line 362, ../../../app/stylesheets/actwitty/profile.scss */
.modal_channels_ul li {
  display: block;
}

/* line 367, ../../../app/stylesheets/actwitty/profile.scss */
.modal_things_ul {
  list-style: none;
  width: 80%;
}

/* line 373, ../../../app/stylesheets/actwitty/profile.scss */
.modal_things_ul li {
  display: block;
}

/* line 378, ../../../app/stylesheets/actwitty/profile.scss */
.modal_followers_ul {
  list-style: none;
  width: 80%;
}

/********************* channel side bar ****************************/
/* line 385, ../../../app/stylesheets/actwitty/profile.scss */
.p-l-followers {
  width: 100%;
  width: 190px;
  height: auto;
  border: 0px solid gray;
  margin-top: 50px;
  position: absolute;
}

/* line 395, ../../../app/stylesheets/actwitty/profile.scss */
.p-l-followings {
  width: 100%;
  width: 190px;
  height: auto;
  border: 0px solid gray;
  margin-top: 150px;
  position: absolute;
}

/* line 405, ../../../app/stylesheets/actwitty/profile.scss */
.p-l-followers a, .p-l-followings a {
  float: right;
  text-decoration: underline;
  font-weight: bold;
}
