@charset "UTF-8";
/* line 2, ../../../app/stylesheets/actwitty/profile.scss */
.home_page_header {
  display: block;
  border: 1px solid red;
  height: 60px;
}

/* line 9, ../../../app/stylesheets/actwitty/profile.scss */
.aw_header_logo {
  float: left;
  border: 3px solid gray;
  margin-left: 10px;
}

/* line 15, ../../../app/stylesheets/actwitty/profile.scss */
.aw_header_nav {
  display: inline;
  float: right;
}

/* line 21, ../../../app/stylesheets/actwitty/profile.scss */
.aw_header_navl {
  float: left;
  list-style-type: none;
  display: inline;
  padding-right: 10px;
}

/* line 30, ../../../app/stylesheets/actwitty/profile.scss */
.aw_sub_header_nav {
  display: inline;
}

/* line 35, ../../../app/stylesheets/actwitty/profile.scss */
.aw_sub_header_nav_r {
  float: right;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  list-style-type: none;
  display: inline;
  padding-right: 10px;
  padding-top: 3px;
}

/* line 45, ../../../app/stylesheets/actwitty/profile.scss */
.aw_sub_header_nav_l {
  float: left;
  color: #ccc;
  list-style-type: none;
  display: inline;
  padding-right: 10px;
  padding-top: 3px;
}

/* line 56, ../../../app/stylesheets/actwitty/profile.scss */
#searchall {
  float: left;
  margin-left: 30%;
  margin-top: 10px;
}

/* line 63, ../../../app/stylesheets/actwitty/profile.scss */
label.main_title {
  font: 16px Arial, Helvetica, sans-serif;
  text-align: center;
}

/* line 71, ../../../app/stylesheets/actwitty/profile.scss */
img.img_sign_out {
  width: 40px;
  height: 40px;
  float: right;
}

/* line 78, ../../../app/stylesheets/actwitty/profile.scss */
textarea.home_page_people_search {
  float: right;
}

/* line 83, ../../../app/stylesheets/actwitty/profile.scss */
label.home_page_people_search_label {
  font: 12px Arial, Helvetica, sans-serif;
  float: right;
  vertical-align: text-bottom;
}

/* line 91, ../../../app/stylesheets/actwitty/profile.scss */
a.auth_provider {
  float: right;
}

/* line 96, ../../../app/stylesheets/actwitty/profile.scss */
img.img_provider {
  width: 40px;
  height: 40px;
}

/* line 102, ../../../app/stylesheets/actwitty/profile.scss */
label.alternate_login_label {
  font: 12px Arial, Helvetica, sans-serif;
  float: right;
  vertical-align: text-bottom;
}

/* line 110, ../../../app/stylesheets/actwitty/profile.scss */
.aw_sub_filter {
  display: inline;
  float: left;
}

/* line 115, ../../../app/stylesheets/actwitty/profile.scss */
.aw_sub_filter_navl {
  list-style-type: none;
  display: inline;
  padding-right: 10px;
}

/*************************Home Page Row2 ******************/
/* line 125, ../../../app/stylesheets/actwitty/profile.scss */
.home_page_row2 {
  display: block;
  height: 120px;
  font: 12px Arial, Helvetica, sans-serif;
}

/* line 133, ../../../app/stylesheets/actwitty/profile.scss */
.home_page_filter_row {
  display: block;
  height: 30px;
  width: 100%;
  background: #445D73;
  font-size: 16px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/*Input Section in row2 of home page*/
/* line 144, ../../../app/stylesheets/actwitty/profile.scss */
.input_box {
  width: 800px;
  float: left;
  margin-left: 350px;
  margin-top: 2px;
  height: 100px;
  font: 12px Arial, Helvetica, sans-serif;
}

/*home page user photo*/
/* line 163, ../../../app/stylesheets/actwitty/profile.scss */
.home_page_photo {
  float: left;
  display: block;
  border: 2px solid green;
  margin-left: 10px;
}

/****************************** Side Bar Filters on Activities/entities/friends***************************/
/* line 175, ../../../app/stylesheets/actwitty/profile.scss */
li.user_stamp {
  display: block;
  list-style: none;
  list-style-type: none;
  margin-top: -2px;
  margin-left: -2px;
}

/* line 184, ../../../app/stylesheets/actwitty/profile.scss */
a.link_user_stamp.user_stamp {
  font: 12px Arial, Helvetica, sans-serif;
  margin-top: -2px;
  margin-left: -2px;
}

/* line 191, ../../../app/stylesheets/actwitty/profile.scss */
img.img_stamp.user_stamp {
  width: 40px;
  height: 40px;
  font: 12px Arial, Helvetica, sans-serif;
  margin-top: -2px;
  margin-left: -2px;
}

/* line 201, ../../../app/stylesheets/actwitty/profile.scss */
.summary_box {
  width: 90%;
  height: 150px;
  border: 1px solid black;
}

/* line 209, ../../../app/stylesheets/actwitty/profile.scss */
.summary_user_box {
  width: 5%;
  height: 100%;
  float: left;
  border: 1px solid black;
  font: 10px Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* line 220, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box {
  height: 100%;
  width: 94%;
  float: left;
  border: 1px solid black;
  font: 12px Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* line 230, ../../../app/stylesheets/actwitty/profile.scss */
ul.summary_list {
  width: 100%;
  height: 100%;
  overflow: auto;
  list-style: none;
  border: 1px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 241, ../../../app/stylesheets/actwitty/profile.scss */
a.summary_user_box_a {
  float: left;
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 248, ../../../app/stylesheets/actwitty/profile.scss */
img.summary_user_box_img {
  float: left;
  width: 40px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 256, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_header {
  float: left;
  font: 16px Arial, Helvetica, sans-serif;
  height: 16px;
  width: 100%;
  background: #445D73;
  border: 1px solid black;
  overflow: hidden;
  color: #000000;
}

/* line 269, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_attachments {
  float: left;
  font: 12px Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 20%;
  overflow: hidden;
  color: #000000;
}

/* line 279, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_friends {
  float: left;
  font: 12px Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 20%;
  overflow: hidden;
}

/* line 289, ../../../app/stylesheets/actwitty/profile.scss */
.summary_links_styling {
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 295, ../../../app/stylesheets/actwitty/profile.scss */
.js_entity_mention {
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 301, ../../../app/stylesheets/actwitty/profile.scss */
.js_user_mention {
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 307, ../../../app/stylesheets/actwitty/profile.scss */
.more_loader {
  font: 16px Arial, Helvetica, sans-serif;
  color: #000000;
}

/* line 312, ../../../app/stylesheets/actwitty/profile.scss */
ul.summary_main_box_friends {
  display: block;
  list-style: none;
  width: 100%;
  color: #000000;
}

/* line 321, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_entities {
  float: left;
  font: 12px Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 20%;
  overflow: hidden;
  color: #000000;
}

/* line 330, ../../../app/stylesheets/actwitty/profile.scss */
ul.summary_main_box_entities {
  display: block;
  list-style: none;
  width: 100%;
  color: #000000;
}

/* line 338, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_locations {
  float: left;
  font: 12px Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 20%;
  overflow: hidden;
  color: #000000;
}

/* line 347, ../../../app/stylesheets/actwitty/profile.scss */
ul.summary_main_box_locations {
  display: block;
  list-style: none;
  width: 100%;
  color: #000000;
}

/* line 355, ../../../app/stylesheets/actwitty/profile.scss */
.summary_main_box_latest {
  float: left;
  font: 12px Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 10%;
  overflow: hidden;
  color: #000000;
}

/* line 365, ../../../app/stylesheets/actwitty/profile.scss */
ul.stream_list {
  width: 100%;
  height: 100%;
  overflow: auto;
  list-style: none;
  border: 1px;
  color: #000000;
}

/* line 375, ../../../app/stylesheets/actwitty/profile.scss */
.modal_channels_ul {
  list-style: none;
  width: 80%;
}

/* line 381, ../../../app/stylesheets/actwitty/profile.scss */
.modal_channels_ul li {
  display: block;
}

/* line 386, ../../../app/stylesheets/actwitty/profile.scss */
.modal_things_ul {
  list-style: none;
  width: 80%;
}

/* line 392, ../../../app/stylesheets/actwitty/profile.scss */
.modal_things_ul li {
  display: block;
}

/* line 397, ../../../app/stylesheets/actwitty/profile.scss */
.modal_followers_ul {
  list-style: none;
  width: 80%;
}

/*************************************** TABS START *******************************************/
/* line 403, ../../../app/stylesheets/actwitty/profile.scss */
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  /*--Set height of tabs--*/
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  width: 100%;
}

/* line 413, ../../../app/stylesheets/actwitty/profile.scss */
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px;
  /*--Subtract 1px from the height of the unordered list--*/
  line-height: 31px;
  /*--Vertically aligns the text within the tab--*/
  border: 1px solid #999;
  border-left: none;
  margin-bottom: -1px;
  /*--Pull the list item down 1px--*/
  overflow: hidden;
  position: relative;
  background: #e0e0e0;
}

/* line 426, ../../../app/stylesheets/actwitty/profile.scss */
ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  border: 1px solid #fff;
  /*--Gives the bevel look with a 1px white border inside the list item--*/
  outline: none;
}

/* line 435, ../../../app/stylesheets/actwitty/profile.scss */
ul.tabs li a:hover {
  background: #ccc;
}

/* line 438, ../../../app/stylesheets/actwitty/profile.scss */
html ul.tabs li.active, html ul.tabs li.active a:hover {
  /*--Makes sure that the active tab does not listen to the hover properties--*/
  background: #fff;
  border-bottom: 1px solid #fff;
  /*--Makes the active tab look like it's connected with its content--*/
}

/* line 443, ../../../app/stylesheets/actwitty/profile.scss */
.tab_container {
  border: 1px solid #999;
  border-top: none;
  overflow: hidden;
  clear: both;
  float: left;
  width: 100%;
  color: #000000;
}

/* line 451, ../../../app/stylesheets/actwitty/profile.scss */
.tab_content {
  padding: 20px;
  font-size: 1.2em;
  color: #000000;
}

/*************************************** TABS END *******************************************/
