#feedback_section {
  position: fixed;
  top: 200px;
  left: 0;
  background-color: #0066cc;
  height: 120px;
  width: 420px;
  margin: 0 0 0 -400px;
  padding-left: 25px;
  z-index: 1000;
  display: none; }
  #feedback_section img {
    position: absolute;
    right: 0;
    top: 0; }
    #feedback_section img:hover {
      cursor: pointer; }
  #feedback_section form {
    margin-left: 0px;
    margin-top: 0px; }
    #feedback_section form h3 {
      color: white;
      font-size: 16px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 10px; }
    #feedback_section form p {
      color: white;
      font-size: 12px;
      width: 100%;
      text-align: left;
      margin-top: 1px;
      margin-bottom: 0px;
      margin-left: 10px; }
    #feedback_section form ul {
      margin-left: 0px;
      padding-left: 0px;
      margin-top: 20px;
      margin-bottom: 0px;
      position: relative;
      list-style: none; }
      #feedback_section form ul li {
        margin-top: 15px;
        width: 450px;
        padding-left: 10px;
        height: auto; }
        #feedback_section form ul li span {
          height: 20px;
          width: 40px;
          font-size: 14px;
          font-weight: bold;
          color: white;
          margin-left: 5px; }
        #feedback_section form ul li .aw_feedback_text_input {
          border: 1px solid #dddddd;
          height: 20px;
          width: 280px;
          font-size: 14px;
          margin-left: 5px;
          border-radius: 5px;
          -moz-box-shadow: 0 0 8px #dddddd;
          -webkit-box-shadow: 0 0 8px #dddddd;
          box-shadow: 0 0 8px #dddddd; }
        #feedback_section form ul li textarea {
          height: 80px;
          margin-top: 2px;
          width: 325px;
          font-size: 14px;
          margin-left: 5px;
          border: 1px solid #dddddd;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          border-radius: 5px;
          -moz-box-shadow: 0 0 8px #dddddd;
          -webkit-box-shadow: 0 0 8px #dddddd;
          box-shadow: 0 0 8px #dddddd;
          resize: none; }
    #feedback_section form #aw_feedback_submit {
      margin-left: 100px;
      margin-top: 15px;
      width: 200px;
      height: 40px;
      font-size: 18px;
      text-align: center; }
