/*ActWitty Stylesheet file
 *File: AW Profile Page Channel Module
 *code: AWPPM (awppm) Actwitty Profile Page Channel Module
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com */
@font-face {
  font-family: "League Gothic";
  src: url(/webfont/leaguegothic/League_Gothic-webfont.eot);
  src: local("League Gothic Regular"), local("League Gothic"), url(/webfont/leaguegothic/LeagueGothic.woff?1324442542) format("woff"), url(/webfont/leaguegothic/LeagueGothic.otf) format("opentype"), url("/webfont/leaguegothic/LeagueGothic.svg#LeagueGothic") format("svg"); }

@font-face {
  font-family: "RobotoRegular";
  src: url(/webfont/roboto/Roboto-Regular-webfont.eot?1328856180);
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url(/webfont/roboto/Roboto-Regular-webfont.woff?1328856180) format("woff"), url(/webfont/roboto/Roboto-Regular-webfont.ttf?1328856180) format("truetype"), url("/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "RobotoLight";
  src: url(/webfont/roboto/Roboto-Light-webfont.eot?1328856180);
  src: url("/webfont/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url(/webfont/roboto/Roboto-Light-webfont.woff?1328856180) format("woff"), url(/webfont/roboto/Roboto-Light-webfont.ttf?1328856180) format("truetype"), url("/webfont/roboto/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "RobotoThin";
  src: url(/webfont/roboto/Roboto-Thin-webfont.eot?1328856180);
  src: url("/webfont/roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url(/webfont/roboto/Roboto-Thin-webfont.woff?1328856180) format("woff"), url(/webfont/roboto/Roboto-Thin-webfont.ttf?1328856180) format("truetype"), url("/webfont/roboto/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "RobotoBold";
  src: url(/webfont/roboto/Roboto-Bold.ttf?1328856180); }

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  color: #cccccc;
  margin-bottom: 40px;
  background: #cccccc; }

#aw_top_bar {
  position: fixed;
  _position: relative;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%; }
  #aw_top_bar #top_bar_container {
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    position: relative; }
  #aw_top_bar #aw_top_bar_bkg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #111111;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
    background: -moz-linear-gradient(top, #333333, #111111);
    background: transparent 9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

#aw_page_wrapper {
  width: 1000px;
  height: 100%;
  display: block;
  padding-top: 60px;
  margin: 0 auto 0 auto;
  _padding-top: 20px;
  /* Side box */ }
  #aw_page_wrapper #aw_front_page_container, #aw_page_wrapper #aw_page_container {
    width: 920px;
    margin: 0 40px;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-align: left; }
  #aw_page_wrapper .aw_infographic_container {
    width: 540px;
    float: left;
    display: inline-block;
    z-index: 4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 5px #444444;
    -moz-box-shadow: 0 5px 5px #444444;
    -webkit-box-shadow: 0 5px 5px #444444;
    position: relative;
    background: white;
    height: 100%;
    min-height: 800px;
    /* infographics sections start */ }
    #aw_page_wrapper .aw_infographic_container .aw_infographic_header {
      width: 100%;
      height: 40px;
      background: #d6f5f5;
      border-radius: 5px 0 0 0; }
    #aw_page_wrapper .aw_infographic_container .aw_infographic_header_label {
      font-size: 24px;
      font-family: "RobotoBold";
      color: #444444;
      float: left;
      border: 0px solid red;
      margin-left: 15px;
      margin-top: 12px;
      vertical-align: middle; }
    #aw_page_wrapper .aw_infographic_container .aw_section_container_box {
      position: relative;
      margin: 0 auto 0;
      display: block;
      width: 540px;
      height: auto;
      margin-top: 10px;
      border: 0px solid red; }
      #aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box {
        height: auto;
        width: 100%;
        border: 0px solid blue;
        /*float: left */ }
        #aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box .aw_section_container_internal_data_box {
          min-height: 100px;
          height: auto;
          margin-top: 0px;
          position: relative;
          border: 0px solid green;
          width: 100%;
          padding-top: 10px;
          /* -webkit-border-radius: 5px
           * -moz-border-radius: 5px
           * border-radius: 5px
           * box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
           * -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
           * -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5) */ }
        #aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box .aw_section_container_internal_data_label {
          font-family: "RobotoRegular";
          font-weight: normal;
          font-size: 32px;
          padding-right: 5px;
          background-color: white;
          color: #444444;
          position: absolute;
          top: 0px;
          left: 2px;
          overflow: hidden; }
        #aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box .aw_section_container_top_delimiter {
          border-top: 1px solid #444444;
          position: absolute;
          top: 16px;
          left: 2px;
          width: 100%; }
  #aw_page_wrapper #aw_sidebox_outer_container {
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
    _position: static;
    _width: 520px;
    _float: left;
    _display: inline-block; }
    #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell {
      position: relative;
      width: 920px;
      margin: 0 auto;
      padding: 0 40px;
      _position: static;
      _width: 520px;
      _padding: 0;
      _margin: 0; }
      #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container {
        background: white;
        position: relative;
        left: 10px;
        top: 0;
        width: 370px;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        display: none;
        _position: static; }
        #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries {
          display: block;
          margin-left: 5px;
          overflow-y: hidden;
          overflow-x: hidden;
          position: relative;
          width: 365px; }
          #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries:hover {
            overflow-y: auto; }
          #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries::-webkit-scrollbar {
            width: 9px;
            height: 9px; }
          #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries::-webkit-scrollbar-button:start:decrement, #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries::-webkit-scrollbar-button:end:increment {
            display: block;
            height: 0; }
          #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries::-webkit-scrollbar-track-piece {
            -webkit-border-radius: 0;
            -webkit-border-bottom-right-radius: 8px;
            -webkit-border-bottom-left-radius: 8px; }
          #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries::-webkit-scrollbar-thumb:vertical {
            height: 50px;
            background-color: #444444;
            -webkit-border-radius: 8px; }
          #aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries::-webkit-scrollbar-thumb:horizontal {
            width: 50px;
            background-color: #444444;
            -webkit-border-radius: 8px; }
  #aw_page_wrapper .aw_infographic_container, #aw_page_wrapper .aw_stream_container {
    color: #444444; }

/* Static profile section */
.aw_user_profile_pic {
  width: 110px;
  height: 110px;
  background-color: white;
  display: inline-block;
  border: 0px solid green;
  margin-left: 10px;
  margin-top: 11px;
  float: left; }
  .aw_user_profile_pic img {
    padding: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333; }

.aw_full_name {
  display: inline-block;
  float: left;
  margin-left: 10px;
  max-width: 400px;
  border: 0px solid green; }
  .aw_full_name h2 {
    color: #25a0da;
    font-size: 24px;
    line-height: 24px;
    font-family: "RobotoRegular";
    font-weight: normal;
    padding: 0;
    margin: 0; }

.aw_description {
  display: inline-block;
  max-width: 400px;
  max-height: 120px;
  padding: 0px;
  margin-top: 0px;
  margin-left: 10px;
  overflow: hidden;
  padding-top: 0px;
  /* font-style: italics
   * font-size: 15px
   * font-family: 'RobotoRegular'
   * color: #444 */
  font: italic 13px/18px Georgia, Times New Roman, serif;
  color: #777777;
  word-wrap: break-word;
  text-overflow: ellipsis;
  border: 0px solid red; }

.aw_profile_details {
  display: inline-block;
  max-width: 400px;
  max-height: 120px;
  padding: 0px;
  margin-top: 6px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0;
  line-height: 15px;
  font-style: normal;
  font-size: 15px;
  font-family: "RobotoRegular";
  color: #444444;
  border: 0px solid red; }

.aw_dyn_static_profile_details_element h3 {
  color: #444444;
  font-family: "RobotoRegular";
  font-weight: normal;
  size: 14px;
  font-size: 14px;
  line-height: 14px; }
.aw_dyn_static_profile_details_element span {
  color: #25a0da;
  font-family: "RobotoRegular";
  font-weight: normal;
  size: 14px; }

/* Friends section */
.aw_friends_services_box {
  width: 100%;
  height: 56px;
  margin-top: 10px;
  padding-left: 25px;
  display: block; }

.aw_services_contacts_box {
  width: 100%;
  margin-top: 10px;
  padding-left: 25px;
  height: auto;
  display: block;
  overflow: hidden; }

.aw_locations_container_box {
  width: 495px;
  margin: 20px;
  margin-top: 30px;
  padding: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
  display: block; }

.aw_fb_login_modal_fancybox {
  width: 300px;
  height: 300px; }

.aw_fb_login_div {
  width: 500px;
  height: 300px;
  display: block;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
  position: relative; }
  .aw_fb_login_div h3 {
    color: #25a0da;
    font-family: "RobotoRegular";
    font-weight: normal;
    size: 14px; }
  .aw_fb_login_div img {
    margin-left: 35px;
    margin-top: 10px; }
  .aw_fb_login_div .aw_fb_login_note {
    position: absolute;
    top: 240px;
    left: 20px; }
    .aw_fb_login_div .aw_fb_login_note span {
      color: #333333; }

.aw_data_busy_modal_fancybox {
  width: 300px;
  height: 300px; }

.aw_data_busy_div {
  width: 500px;
  height: 400px;
  display: block;
  position: relative; }
  .aw_data_busy_div h3 {
    color: #25a0da;
    margin-top: 30px;
    font-family: "RobotoRegular";
    font-weight: normal;
    font-size: 22px; }
  .aw_data_busy_div .aw_data_cookie {
    margin-top: 20px;
    margin-left: 90px;
    position: absolute;
    font-family: "RobotoRegular";
    font-size: 18px; }
    .aw_data_busy_div .aw_data_cookie span {
      color: #333333; }
  .aw_data_busy_div img {
    margin-left: 150px;
    margin-top: 90px;
    width: 130px;
    height: 130px; }
  .aw_data_busy_div .aw_data_busy_note {
    position: absolute;
    top: 350px;
    left: 20px;
    margin: auto;
    font-size: 14px; }
    .aw_data_busy_div .aw_data_busy_note span {
      color: #333333; }

.aw_busy_box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.6); }
  .aw_busy_box .aw_busy_mini_box {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    top: 50%;
    left: 50%;
    position: absolute; }
    .aw_busy_box .aw_busy_mini_box img.aw_busy_img {
      width: 50px;
      height: 50px;
      margin: auto; }

.aw_dyn_static_profile_details_element {
  width: 100%;
  display: block;
  overflow: hidden; }
  .aw_dyn_static_profile_details_element h3 {
    font-size: 12px;
    font-weight: normal;
    display: inline; }
  .aw_dyn_static_profile_details_element span {
    font-size: 12px;
    font-weight: normal; }

.aw_dyn_service_image_box {
  width: 44px;
  height: 44px;
  display: inline-block;
  float: left;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 8px;
  position: relative; }
  .aw_dyn_service_image_box .aw_dyn_service_img_small {
    position: absolute;
    top: 5px;
    left: 5px; }
  .aw_dyn_service_image_box .aw_dyn_service_img_large {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 10; }
  .aw_dyn_service_image_box:hover .aw_dyn_service_img_large {
    display: block; }

.aw_sketch_interest_main_box {
  height: auto;
  width: 100%;
  min-height: 240px;
  position: relative;
  border-bottom: 1px dotted #444444;
  margin-top: 20px;
  overflow: hidden; }

.aw_sketch_interest_background_box {
  margin: auto;
  display: block;
  position: absolute;
  top: 0px;
  left: 400px;
  width: auto;
  height: 100%;
  z-index: -1; }
  .aw_sketch_interest_background_box .aw_sketch_interest_background_img {
    height: 100%;
    filter: alpha(opacity=9);
    opacity: 0.09;
    z-index: -1; }

.aw_sketch_dyn_topics_box {
  display: block;
  border-top: 1px dotted #444444;
  min-height: 45px;
  height: auto;
  width: 100%;
  margin-top: -5px;
  padding: 0;
  position: relative; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_index {
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 28px;
    color: #cccccc;
    cursor: pointer;
    display: inline-block; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_index p {
      width: 100%;
      margin: auto;
      text-align: left;
      font-family: "League Gothic";
      font-size: 30px;
      line-height: 30px;
      font-weight: normal; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_name {
    padding-left: 10px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 60px;
    height: 32px;
    color: #25a0da;
    text-transform: uppercase;
    cursor: pointer; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_name p {
      font-family: "RobotoRegular";
      font-size: 30px;
      font-weight: normal;
      margin: auto;
      line-height: 30px; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_images {
    top: 50%;
    margin-top: -14px;
    right: 125px;
    position: absolute;
    height: 32px; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_images img.aw_sketch_dyn_topics_box_internal_img {
      margin-left: 8px;
      height: 26px;
      margin-top: 3px;
      filter: alpha(opacity=1);
      opacity: 0.01;
      cursor: pointer; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_delimiter {
    border-left: 1px dotted #444444;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 115px;
    filter: alpha(opacity=1);
    opacity: 0.01; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_services {
    top: 50%;
    height: 32px;
    margin-top: -14px;
    left: 425px;
    position: absolute; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_services img.aw_sketch_dyn_topics_box_services_img {
      margin-left: 8px;
      height: 26px;
      filter: alpha(opacity=1);
      opacity: 0.01;
      cursor: pointer; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_images img.aw_sketch_dyn_topics_box_internal_img {
    filter: alpha(opacity=95);
    opacity: 0.95; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_services img.aw_sketch_dyn_topics_box_services_img {
    filter: alpha(opacity=95);
    opacity: 0.95; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_delimiter {
    filter: alpha(opacity=95);
    opacity: 0.95; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_name {
    color: #444444; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_index {
    color: #444444; }
  .aw_sketch_dyn_topics_box:hover {
    background-color: #d6f5f5; }

.aw_js_topics_box_show_always {
  display: inline-block; }

.aw_js_topics_box_hide_on_less {
  display: none; }

.aw_js_topics_box_show_on_more {
  display: inline-block; }

.aw_show_more_topics_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal; }
  .aw_show_more_topics_box:hover {
    cursor: pointer; }

a.aw_sketch_timeline_links {
  color: #ffffcc;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  font-family: Georgia, serif;
  font-size: 14px; }
  a.aw_sketch_timeline_links:hover, a.aw_sketch_timeline_links.selected {
    color: #777777; }

#aw_sketch_timeline {
  width: 520px;
  height: auto;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  position: relative;
  background: url(/images/actwitty/refactor/aw_sketch/timeline/dot.gif?1328856180) left 45px repeat-x; }
  #aw_sketch_timeline ul.aw_sketch_timeline_dates {
    width: 520px;
    height: 60px;
    overflow: hidden; }
    #aw_sketch_timeline ul.aw_sketch_timeline_dates li {
      list-style: none;
      float: left;
      width: 140px;
      height: 50px;
      font-size: 18px;
      text-align: center;
      background: url(/images/actwitty/refactor/aw_sketch/timeline/biggerdot.png?1328856180) center bottom no-repeat; }
      #aw_sketch_timeline ul.aw_sketch_timeline_dates li a {
        line-height: 18px; }
    #aw_sketch_timeline ul.aw_sketch_timeline_dates .selected {
      font-size: 18px; }
  #aw_sketch_timeline ul.aw_sketch_timeline_details {
    width: 520px;
    height: auto;
    overflow: hidden; }
    #aw_sketch_timeline ul.aw_sketch_timeline_details li {
      width: 520px;
      height: auto;
      list-style: none;
      float: left; }
      #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box {
        width: 425px;
        height: auto;
        margin-top: 15px;
        padding: 5px;
        display: block;
        margin-left: 40px; }
        #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box {
          width: 100%;
          height: 30px;
          display: block;
          float: left;
          overflow: hidden; }
          #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box img {
            float: left;
            margin-left: 5px;
            margin-top: 2px;
            cursor: pointer; }
          #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box .aw_label_box {
            float: left;
            margin-left: 10px;
            display: inline-block;
            height: 100%;
            width: 140px;
            overflow: hidden;
            padding-top: 5px; }
            #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box .aw_label_box span {
              font-size: 14px;
              font-family: "RobotoRegular";
              letter-spacing: 1px;
              color: #444444;
              text-transform: uppercase;
              cursor: pointer; }
          #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box .aw_graph_box {
            float: left;
            height: 15px;
            margin-top: 6px;
            max-width: 200px;
            background-color: #25a0da;
            cursor: pointer; }
        #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box {
          margin-left: 170px;
          margin-top: 2px;
          width: 210px;
          height: 25px;
          display: block;
          float: left;
          border-top: 1px dotted #444444; }
          #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box span.left_limit {
            font-size: 11px;
            color: #444444; }
          #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box span.mid_limit {
            float: right;
            margin-right: 50px;
            font-size: 11px;
            color: #444444; }
          #aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box span.right_limit {
            float: right;
            font-size: 11px;
            color: #444444; }
  #aw_sketch_timeline .aw_sketch_timeline_prev, #aw_sketch_timeline .aw_sketch_timeline_next {
    position: absolute;
    font-size: 70px;
    top: 50%;
    margin-top: 13px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden; }
  #aw_sketch_timeline .aw_sketch_timeline_next {
    right: 0;
    width: 25px;
    height: 25px;
    background-image: url(/images/actwitty/refactor/aw_sketch/timeline/right.png?1331569284);
    background-size: 100%;
    cursor: pointer; }
  #aw_sketch_timeline .aw_sketch_timeline_prev {
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url(/images/actwitty/refactor/aw_sketch/timeline/left.png?1331569284);
    background-size: 100%;
    cursor: pointer; }
  #aw_sketch_timeline .aw_sketch_timeline_next.disabled, #aw_sketch_timeline .aw_sketch_timeline_prev.disabled {
    opacity: 0.2; }

.aw_service_popularity_container_box {
  width: 510px;
  height: auto;
  margin-top: 25px;
  margin-left: 8px;
  border: 0px solid green;
  display: inline-block; }

/* Services colors */
.aw_service_color_facebook {
  background-color: #91addd; }

.aw_service_color_twitter {
  background-color: #23b7e9; }

.aw_service_popularity_segment {
  width: 500px;
  margin: auto;
  text-align: center;
  float: left;
  border: 0px solid green;
  display: block; }
  .aw_service_popularity_segment .aw_service_popularity_interest_header {
    width: 100%;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px; }
    .aw_service_popularity_segment .aw_service_popularity_interest_header span {
      font-size: 14px;
      font-family: "RobotoRegular";
      font-weight: normal;
      text-transform: uppercase;
      text-align: left; }
  .aw_service_popularity_segment .aw_service_popularity_interest_details {
    height: auto;
    width: auto;
    margin-left: 60px;
    padding-bottom: 5px;
    border: 0px solid red;
    position: relative;
    display: block;
    float: left;
    border-bottom: 1px dotted #444444; }
    .aw_service_popularity_segment .aw_service_popularity_interest_details .aw_service_popularity_details_box {
      width: 75px;
      height: 75px;
      margin: auto;
      overflow: hidden;
      float: left;
      padding: 2px;
      margin: 2px;
      margin-left: 10px;
      border-radius: 3px;
      -moz-box-shadow: 0 0 5px #333333;
      -webkit-box-shadow: 0 0 5px #333333;
      box-shadow: 0 0 5px #333333;
      cursor: pointer; }
      .aw_service_popularity_segment .aw_service_popularity_interest_details .aw_service_popularity_details_box span.aw_service_popularity_number {
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 36px;
        font-family: "League Gothic";
        font-weight: normal;
        color: #333333;
        margin-top: 12px; }
      .aw_service_popularity_segment .aw_service_popularity_interest_details .aw_service_popularity_details_box img.aw_service_popularity_field {
        display: block;
        margin: auto;
        margin-top: 8px;
        width: 28px; }

.aw_js_popularity_box_show_always {
  display: inline-block; }

.aw_js_popularity_box_hide_on_less {
  display: none; }

.aw_js_popularity_box_show_on_more {
  display: block; }

.aw_show_more_popularity_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal;
  display: block;
  float: left; }
  .aw_show_more_popularity_box:hover {
    cursor: pointer; }

.aw_single_contact_box {
  height: 56;
  width: 56;
  margin: 5px;
  position: relative; }
  .aw_single_contact_box:hover {
    cursor: pointer; }
  .aw_single_contact_box .aw_single_contact_image {
    top: 0px;
    left: 0px;
    padding: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333; }
  .aw_single_contact_box .aw_single_contact_service_img {
    position: absolute;
    top: 48px;
    left: 48px; }
  .aw_single_contact_box .aw_single_contact_posts_count {
    position: absolute;
    top: 48px;
    left: 0px;
    height: 12px;
    width: 16px;
    overflow: hidden;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 2px;
    font-weight: normal;
    border-radius: 2px;
    opacity: 0.9;
    filter: alpha(opacity=90); }

.aw_js_single_contact_box_show_always {
  display: inline-block; }

.aw_js_single_contact_box_hide_on_less {
  display: none; }

.aw_js_single_contact_box_show_on_more {
  display: inline-block; }

.aw_show_more_contacts_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #0099b9;
  font-size: 14px;
  font-weight: normal; }
  .aw_show_more_contacts_box:hover {
    cursor: pointer; }

.aw_sketch_mention_box {
  margin: 10px;
  width: 520px;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden; }
  .aw_sketch_mention_box .aw_sketch_mentions_segment {
    width: 460px;
    min-height: 30px;
    margin-left: 40px;
    text-align: center;
    float: left;
    border: 0px solid green; }
  .aw_sketch_mention_box .aw_sketch_mention_column_delimiter {
    border-right: 1px dotted #444444;
    width: 100%;
    display: inline-block; }
  .aw_sketch_mention_box .aw_sketch_one_interest_header {
    width: 100%;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px; }
    .aw_sketch_mention_box .aw_sketch_one_interest_header span {
      font-size: 14px;
      font-family: "RobotoRegular";
      font-weight: normal;
      text-transform: uppercase;
      text-align: left; }
  .aw_sketch_mention_box .aw_sketch_one_interest_mention {
    width: 435px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 0px solid red;
    position: relative;
    display: block;
    float: left;
    border-bottom: 1px dotted #444444; }
    .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box {
      width: 64px;
      height: 64px;
      margin: auto;
      overflow: hidden;
      float: left;
      padding: 2px;
      margin: 2px;
      border-radius: 3px;
      -moz-box-shadow: 0 0 5px #333333;
      -webkit-box-shadow: 0 0 5px #333333;
      box-shadow: 0 0 5px #333333; }
      .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box .aw_sketch_mention_img_box {
        width: 60px;
        height: 60px;
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: 2px;
        border: 0px solid green;
        line-height: 60px;
        text-align: center; }
        .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box .aw_sketch_mention_img_box img {
          width: 60px;
          margin-top: 0;
          vertical-align: middle;
          text-align: center;
          cursor: pointer; }

.aw_js_mentions_box_show_always {
  display: inline-block; }

.aw_js_mentions_tab_hide_on_less {
  display: none; }

.aw_js_mentions_tab_show_on_more {
  display: block; }

.aw_js_mentions_box_hide_on_less {
  display: none; }

.aw_js_mentions_box_show_on_more {
  display: inline-block; }

.aw_show_more_mentions_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal;
  display: block;
  float: left; }
  .aw_show_more_mentions_box:hover {
    cursor: pointer; }

.aw_images_container_box {
  width: 510px;
  height: auto;
  display: block;
  margin-top: 25px;
  margin-left: 8px; }
  .aw_images_container_box .aw_images_internal_container_box {
    width: 100%;
    height: auto;
    display: block;
    float: left; }
    .aw_images_container_box .aw_images_internal_container_box .aw_images_col {
      width: 170px;
      height: auto;
      display: inline-block;
      float: left;
      margin: 0px;
      padding: 0px; }
      .aw_images_container_box .aw_images_internal_container_box .aw_images_col .aw_single_img_box {
        width: 166px;
        position: relative;
        margin: 2px; }
        .aw_images_container_box .aw_images_internal_container_box .aw_images_col .aw_single_img_box a img.aw_tiled_image {
          padding: 3px;
          border-radius: 3px;
          -moz-box-shadow: 0 0 5px #333333;
          -webkit-box-shadow: 0 0 5px #333333;
          box-shadow: 0 0 5px #333333; }
        .aw_images_container_box .aw_images_internal_container_box .aw_images_col .aw_single_img_box img.aw_images_service_img {
          position: absolute;
          top: 100%;
          left: 100%;
          margin-top: -25px;
          margin-left: -20px; }

.aw_js_image_box_show_always {
  display: inline-block; }

.aw_js_image_box_hide_on_less {
  display: none; }

.aw_js_image_box_show_on_more {
  display: inline-block; }

.aw_show_more_image_box {
  height: 15px;
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal;
  float: left; }
  .aw_show_more_image_box:hover {
    cursor: pointer; }

.aw_videos_container_box {
  width: 510px;
  height: auto;
  position: relative;
  display: inline-block;
  margin: 20px;
  margin-top: 25px; }
  .aw_videos_container_box .aw_all_videos_container_box {
    display: inline-block;
    width: 100%;
    height: auto; }
    .aw_videos_container_box .aw_all_videos_container_box .aw_single_video_container_box {
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 3px;
      border-radius: 3px;
      -moz-box-shadow: 0 0 5px #333333;
      -webkit-box-shadow: 0 0 5px #333333;
      box-shadow: 0 0 5px #333333; }
      .aw_videos_container_box .aw_all_videos_container_box .aw_single_video_container_box iframe {
        border: 0px; }

.aw_js_video_box_show_always {
  display: inline-block; }

.aw_js_video_box_hide_on_less {
  display: none; }

.aw_js_video_box_show_on_more {
  display: inline-block; }

.aw_show_more_videos_box {
  height: 15px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal;
  display: block; }
  .aw_show_more_videos_box:hover {
    cursor: pointer; }

#aw_stream_container_header {
  width: 100%;
  height: 40px;
  background: #d6f5f5;
  border-radius: 0 5px 0 0; }

#aw_stream_container_header_label {
  font-size: 24px;
  font-family: "RobotoBold";
  color: #444444;
  float: left;
  border: 0px solid red;
  margin-left: 15px;
  margin-top: 12px;
  vertical-align: middle; }

.aw_stream_container_close {
  width: 60px;
  height: 30px;
  border: 0px solid red;
  float: right;
  margin-top: 15px;
  color: #999999 !important;
  display: none;
  cursor: pointer; }
  .aw_stream_container_close:hover {
    color: #444444; }
  .aw_stream_container_close a {
    text-decoration: none;
    color: #999999; }
    .aw_stream_container_close a:hover {
      color: #444444; }

.aw_stream_entry_container {
  position: relative;
  border-bottom: 1px dotted #444444;
  min-height: 60px;
  clear: both;
  display: block;
  outline: none;
  margin-top: -1px;
  border-top: 1px solid transparent;
  padding: 5px 3px 5px 3px;
  width: 350px; }

.aw_stream_originator_img {
  float: left;
  margin-top: 3px; }
  .aw_stream_originator_img a {
    text-decoration: none; }
  .aw_stream_originator_img img {
    height: 32px;
    overflow: hidden;
    width: 32px;
    vertical-align: middle;
    margin-right: 4px; }
  .aw_stream_originator_img span {
    font-size: 13px;
    font-weight: bold;
    color: #444444; }
  .aw_stream_originator_img .aw_stream_content_screen_name {
    margin-left: 5px;
    text-decoration: none;
    font-family: "RobotoRegular";
    font-weight: normal;
    color: #444444;
    font-size: 13px;
    margin-right: 5px;
    font-family: "RobotoRegular";
      font-family-cursor: pointer; }
  .aw_stream_originator_img .aw_stream_content_name {
    margin-left: 1px;
    text-decoration: none;
    font-weight: normal;
    color: #25a0da;
    font-family: "RobotoRegular";
    font-size: 15px; }
    .aw_stream_originator_img .aw_stream_content_name:hover {
      cursor: pointer; }

.aw_stream_src_img {
  float: right;
  height: 16px;
  overflow: hidden;
  width: 16px;
  margin-top: 3px; }
  .aw_stream_src_img:hover {
    cursor: pointer; }

.aw_stream_time_orig {
  float: right;
  height: 16px;
  padding: 2px;
  overflow: hidden;
  width: 100%;
  text-align: right;
  font-family: "RobotoRegular";
  font-size: 10px; }
  .aw_stream_time_orig span {
    color: #444444; }

.aw_stream_content {
  margin-left: 10px;
  margin-right: 18px;
  min-height: 48px;
  width: 100%;
  height: auto;
  display: inline-block;
  border: 0px solid green; }
  .aw_stream_content .aw_stream_text_box {
    padding-top: 1px;
    min-height: 20px; }
    .aw_stream_content .aw_stream_text_box p {
      font-family: "RobotoRegular";
      width: 90%;
      line-height: 18px;
      font-size: 13px;
      word-wrap: break-word; }
      .aw_stream_content .aw_stream_text_box p .aw_text_mention {
        color: #25a0da; }
        .aw_stream_content .aw_stream_text_box p .aw_text_mention:hover {
          cursor: pointer; }
  .aw_stream_content .aw_location_box {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-bottom: 2px;
    text-align: right; }
    .aw_stream_content .aw_location_box p {
      font-family: "RobotoRegular";
      line-height: 18px;
      font-size: 15px;
      color: #25a0da; }
      .aw_stream_content .aw_location_box p img {
        height: 25px;
        margin-right: 2px; }
  .aw_stream_content .aw_attachment_box {
    margin-top: 2px;
    width: 100%;
    height: auto;
    display: inline-block; }
    .aw_stream_content .aw_attachment_box .aw_attachment_title {
      margin-bottom: 5px; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title a {
        font-family: "RobotoRegular";
        color: #25a0da;
        font-size: 16px;
        text-decoration: none; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title:hover {
        cursor: pointer; }
    .aw_stream_content .aw_attachment_box .aw_attachment_title_milder {
      width: 90%;
      margin-bottom: 5px; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title_milder a {
        font-family: "RobotoRegular";
        color: #25a0da;
        font-size: 15px;
        text-decoration: none; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title_milder:hover {
        cursor: pointer; }
    .aw_stream_content .aw_attachment_box .aw_attachment_content .aw_attachment_paragraph {
      padding-top: 2px;
      width: 90%;
      height: auto;
      font-family: "RobotoRegular";
      font-size: 11px;
      line-height: 18px;
      color: #444444;
      word-wrap: break-word; }
    .aw_stream_content .aw_attachment_box .aw_attachment_content .aw_attachment_image_box {
      width: 100%; }
      .aw_stream_content .aw_attachment_box .aw_attachment_content .aw_attachment_image_box .aw_attachment_image {
        margin-left: auto;
        padding: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 0 5px #333333;
        -webkit-box-shadow: 0 0 5px #333333;
        box-shadow: 0 0 5px #333333; }
    .aw_stream_content .aw_attachment_box .aw_attachment_caption {
      width: 100%;
      height: auto;
      font-family: "RobotoRegular";
      font-size: 13px;
      line-height: 18px;
      color: #444444;
      clear: left; }
    .aw_stream_content .aw_attachment_box .aw_attachment_embed {
      display: block;
      width: 100%;
      height: auto;
      font-family: "RobotoRegular";
      font-size: 12px; }
      .aw_stream_content .aw_attachment_box .aw_attachment_embed iframe {
        border: 0px;
        padding: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 0 5px #333333;
        -webkit-box-shadow: 0 0 5px #333333;
        box-shadow: 0 0 5px #333333; }

.aw_stream_mentions_box {
  margin-top: 5px;
  width: 90%;
  height: auto;
  display: inline-block; }
  .aw_stream_mentions_box span {
    display: block;
    color: #444444;
    font-family: "RobotoRegular";
    color: #444444;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 3px; }
  .aw_stream_mentions_box a {
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #25a0da;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #d6f5f5;
    padding: 2px;
    color: #444444;
    margin-left: 5px;
    margin-right: 5px; }
    .aw_stream_mentions_box a:hover {
      /* cursor: pointer */ }

/* line 1, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
.jPaginate {
  height: 34px;
  position: relative;
  color: #a5a5a5;
  font-size: small;
  width: 100%;
}
/* line 7, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
.jPaginate a {
  line-height: 15px;
  height: 18px;
  cursor: pointer;
  padding: 2px 5px;
  margin: 2px;
  float: left;
}

/* line 15, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
.jPag-control-back {
  position: absolute;
  left: 0px;
}

/* line 19, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
.jPag-control-front {
  position: absolute;
  top: 0px;
}

/* line 23, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
.jPaginate span {
  cursor: pointer;
}

/* line 26, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages {
  float: left;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
/* line 31, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li {
  display: inline;
  float: left;
  padding: 0px;
  margin: 0px;
}
/* line 36, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li a {
  float: left;
  padding: 2px 5px;
}

/* line 40, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-current {
  cursor: default;
  font-weight: normal;
  line-height: 15px;
  height: 18px;
  padding: 2px 5px;
  margin: 2px;
  float: left;
}

/* line 50, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li span.jPag-previous, ul.jPag-pages li span.jPag-next {
  height: 22px;
  margin: 2px;
  float: left;
  line-height: 18px;
}

/* line 57, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-sprevious, span.jPag-snext {
  height: 22px;
  margin: 2px;
  float: left;
  line-height: 18px;
}

/* line 64, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li span.jPag-previous-img, ul.jPag-pages li span.jPag-next-img {
  height: 22px;
  margin: 2px;
  float: left;
  line-height: 18px;
}

/* line 71, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-sprevious-img, span.jPag-snext-img {
  height: 22px;
  margin: 2px;
  float: left;
  line-height: 18px;
}

/* line 78, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li span.jPag-previous, ul.jPag-pages li span.jPag-previous-img {
  margin: 2px 0px 2px 2px;
  font-size: 12px;
  font-weight: bold;
  width: 10px;
}
/* line 83, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li span.jPag-next, ul.jPag-pages li span.jPag-next-img {
  margin: 2px 2px 2px 0px;
  font-size: 12px;
  font-weight: bold;
  width: 10px;
}

/* line 90, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-sprevious, span.jPag-sprevious-img {
  margin: 2px 0px 2px 2px;
  font-size: 18px;
  width: 15px;
  text-align: right;
}
/* line 95, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-snext, span.jPag-snext-img {
  margin: 2px 2px 2px 0px;
  font-size: 18px;
  width: 15px;
  text-align: right;
}

/* line 102, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li span.jPag-previous-img {
  background: transparent url(/images/actwitty/refactor/aw_sketch/external/jpaginate/previous.png?1331569284) no-repeat center right;
}
/* line 104, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
ul.jPag-pages li span.jPag-next-img {
  background: transparent url(/images/actwitty/refactor/aw_sketch/external/jpaginate/next.png?1331569284) no-repeat center left;
}

/* line 108, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-sprevious-img {
  background: transparent url(/images/actwitty/refactor/aw_sketch/external/jpaginate/sprevious.png?1331569284) no-repeat center right;
}
/* line 110, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jPaginate/jpaginate.sass */
span.jPag-snext-img {
  background: transparent url(/images/actwitty/refactor/aw_sketch/external/jpaginate/snext.png?1331569284) no-repeat center left;
}
