/* line 8, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#aw_top_bar_box {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  border: 0px solid yellow;
}

/* line 15, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_box {
  position: relative;
  margin: 0 auto 0;
  margin-bottom: 20px;
  display: block;
  width: 990px;
  height: 45px;
  border: 0px solid red;
  position: relative;
}

/* line 25, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_profile_logo {
  position: relative;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

/* line 34, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_search_edit_box {
  position: relative;
  margin-top: 5px;
  margin-left: 130px;
  float: left;
  height: 25px;
  width: 280px;
}
/* line 41, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_search_edit_box input {
  border: 1px solid #dddddd;
  height: 25px;
  width: 280px;
  font-size: 14px;
  border-radius: 3px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

/* line 57, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_search_box {
  width: 320;
  height: 15px;
  border: 3px solid #1457ba;
  border-radius: 5px 0 5px 5px;
  position: absolute;
  top: 48px;
  left: 235px;
  padding: 5px 0px 5px 10px;
  display: none;
  background-color: #363436;
  background: -moz-linear-gradient(center top, #f5f5f5 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent;
}

/* line 72, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_search_autocomplete_box {
  display: inline;
  width: 100%;
  height: 25px;
}
/* line 76, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_search_autocomplete_box .awppm_search_img_box {
  display: block-inline;
  width: 25px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}
/* line 82, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_search_autocomplete_box .awppm_search_name_box {
  width: 120px;
  overflow: hidden;
  display: block-inline;
  padding: 5px;
  float: left;
  font-size: 13px;
}
/* line 89, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_search_autocomplete_box .awppm_search_type_box {
  display: block-inline;
  float: right;
  margin-right: 5px;
  width: 25px;
}

/* line 99, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 28px;
  border: 0px solid #dddddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: -moz-linear-gradient(center top, #f5f5f5 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent;
  background: #feffe8;
  background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffe8), color-stop(99%, #d6dbbf));
  background: -webkit-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: -o-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: -ms-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 );
  -moz-box-shadow: inset 0 0 2px black;
  -webkit-box-shadow: inset 0 0 2px black;
  box-shadow: inset 0 0 2px black;
  padding: 3px 0px 3px 10px;
}
/* line 122, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_bar:hover {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
/* line 132, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_bar img {
  vertical-align: middle;
}
/* line 134, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_bar span {
  color: #333333;
  font-weight: bold;
}

/* line 138, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_logout {
  text-decoration: none;
  float: right;
  color: white;
  margin-top: 7px;
  margin-right: 25px;
  font-size: 15px;
}
/* line 145, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_logout:hover {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

/* line 150, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_settings {
  text-decoration: none;
  float: right;
  color: #333333;
  margin-top: 7px;
  margin-right: 5px;
}
/* line 156, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_settings:hover {
  color: #b22222;
  font-weight: bold;
  font-size: 15px;
}

/* line 161, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_info {
  text-decoration: none;
  float: left;
  color: #333333;
  margin-top: 0px;
  margin-left: 5px;
}
/* line 167, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_info:hover {
  color: #b22222;
  font-weight: bold;
  font-size: 15px;
}

/* line 178, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_image {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 10px;
  overflow: hidden;
  background: none;
}
/* line 186, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
#awppm_header_user_image a img {
  padding-top: 10px;
  width: 40px;
  float: right;
}

/* line 190, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  display: none;
  z-index: 40000;
  width: 100px;
  margin-left: 0px;
  margin-top: 15px;
  background: #454545;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
/* line 203, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu ul {
  list-style: none;
  padding-top: 3px;
  background: #454545;
  margin-top: 0px;
}
/* line 208, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu ul li {
  display: block;
  padding: 5px 0 5px 0;
  margin-left: -40px;
}
/* line 212, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu ul li a {
  padding: 3px 0px;
  font-size: 14px;
  display: block;
  margin: -6px 0 0 0;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 );
  color: #dddddd;
  text-decoration: none;
  text-align: center;
  zoom: 1;
}
/* line 223, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu ul li a span {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  background: black;
  z-index: 20;
  display: none;
  zoom: 1;
}
/* line 234, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu ul li:hover a {
  border-color: #d7dbea;
  color: white;
  background: black;
}
/* line 238, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_header.sass */
.awppm_header_options_menu ul li:hover a span {
  display: block;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_input_box_activate {
  position: absolute;
  top: 10px;
  left: 640px;
  cursor: pointer;
}

/* line 7, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.button_classic {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 10px;
  border: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#eeeeee));
  background: -moz-linear-gradient(0% 90% 90deg, #eeeeee, white);
  border-color: #3278be;
  background: #4195dd;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195dd), to(#003c82));
  background: -moz-linear-gradient(0% 90% 90deg, #003c82, #4195dd);
}
/* line 29, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.button_classic:hover {
  color: #eeeeee;
  border-color: #3278be;
  background: #4195dd;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195dd), to(#003c82));
  background: -moz-linear-gradient(0% 90% 90deg, #003c82, #4195dd);
}
/* line 35, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.button_classic:active {
  background: #4195dd;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003c82), to(#4195dd));
  background: -moz-linear-gradient(0% 90% 90deg, #4195dd, #003c82);
}
/* line 39, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.button_classic.notransitions {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 46, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.button_classic #awppm_input_box_attention_icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url(/images/actwitty/refactor/aw_ppm/common/checkin.png?1329499531);
  margin-left: 10px;
  float: left;
}
/* line 53, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.button_classic:hover #awppm_input_box_attention_icon {
  background-image: url(/images/actwitty/refactor/aw_ppm/common/checkin_hover.png?1329499531);
}

/* line 57, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_input_box {
  height: 140px;
  height: auto;
  width: 600px;
  border: 1px solid #dddddd;
  /*margin-left:300px;
   *margin-top:-100px; */
  margin-top: 30px;
  margin-left: 200px;
  padding: 14px;
  padding-top: 20px;
  position: relative;
  /* border-radius: 10px */
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_input_busy_box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
/* line 87, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_input_busy_box .awppm_input_busy_mini_box {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  left: 50%;
  position: absolute;
}
/* line 95, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_input_busy_box .awppm_input_busy_mini_box img.awppm_input_busy_image {
  width: 50px;
  height: 50px;
  margin: auto;
}

/* line 100, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_del_ipbox {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* line 106, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_input_label {
  color: #333333;
  font-size: 16px;
  width: 400px;
  margin-left: 50px;
  margin-bottom: 2px;
  border: 0px solid red;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 119, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_channel {
  width: 550px;
  margin-left: 50px;
}

/* line 122, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_channel input {
  width: 500px;
  height: 30px;
  border: 1px solid #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -moz-box-shadow: 0 0 8px #dddddd;
  -webkit-box-shadow: 0 0 8px #dddddd;
  box-shadow: 0 0 8px #dddddd;
}

/* line 132, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#aw_js_ppm_category_hide {
  width: 550px;
  margin-left: 50px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: none;
}

/* line 139, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_ip_cat, .awppm_ip_subcat {
  width: 240px;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #dddddd;
  -moz-box-shadow: 0 0 2px #dddddd;
  -webkit-box-shadow: 0 0 2px #dddddd;
  box-shadow: 0 0 2px #dddddd;
  background: white;
}
/* line 148, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_ip_cat option, .awppm_ip_subcat option {
  color: black;
  background: white;
}

/* line 153, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_ip_cat {
  vertical-align: middle;
  margin-right: 8px;
}

/* line 157, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_ip_subcat {
  vertical-align: middle;
  margin-right: 8px;
  color: #dddddd;
  margin-left: 6px;
  display: none;
}
/* line 162, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_ip_subcat:focus {
  color: #333333;
}

/* line 166, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_post {
  width: 550px;
  margin-left: 50px;
  width: 600px;
  margin-top: 10px;
}
/* line 170, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_post textarea {
  width: 500px;
  height: 80px;
  border: 1px solid #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -moz-box-shadow: 0 0 8px #dddddd;
  -webkit-box-shadow: 0 0 8px #dddddd;
  box-shadow: 0 0 8px #dddddd;
  border-bottom: none;
  resize: none;
}

/* line 182, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_location {
  width: 550px;
  margin-left: 50px;
  margin-top: 5px;
}

/* line 186, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_ip_add_attachment {
  width: 550px;
  margin-left: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  width: 505px;
  margin-top: 5px;
  border: 1px solid #dddddd;
  -moz-box-shadow: 0 0 8px #dddddd;
  -webkit-box-shadow: 0 0 8px #dddddd;
  box-shadow: 0 0 8px #dddddd;
  display: none;
}

/* line 198, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_location input {
  width: 395px;
  height: 30px;
  border: 1px solid #dddddd;
  -moz-box-shadow: 0 0 8px #dddddd;
  -webkit-box-shadow: 0 0 8px #dddddd;
  box-shadow: 0 0 8px #dddddd;
  display: none;
}

/* line 209, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_options {
  width: 550px;
  margin-left: 50px;
  width: 500px;
  height: 40px;
  border: 0px solid #dddddd;
  margin-top: -3px;
  margin-bottom: 10px;
  border-top: none;
}
/* line 217, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_options img {
  float: right;
  height: 30px;
  margin-top: 5px;
}

/* line 222, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_post_share {
  vertical-align: baseline;
}

/* line 225, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_submit {
  width: 250px;
  margin-left: 310px;
  margin-top: 10px;
  border: 0px solid red;
}
/* line 230, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_submit span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: black;
  vertical-align: baseline;
}
/* line 235, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_submit img {
  vertical-align: baseline;
}

/* line 238, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
.awppm_pub_btn {
  height: 40px;
  width: 100px;
  padding: 10px;
}

/* line 243, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_addphoto {
  position: absolute;
  right: 10px;
  top: 60px;
  width: 100px;
  height: 30px;
}

/* line 250, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_ip_addlocation {
  position: absolute;
  right: 10px;
  top: 100px;
  width: 100px;
  height: 30px;
}

/* line 257, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_input.sass */
#awppm_input_dummy {
  height: 200px;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box {
  height: 40px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-bottom: 40px;
  background: #ebece4;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
/* line 18, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box ul {
  list-style-type: none;
  margin-top: 10px;
}
/* line 21, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box li {
  display: inline;
  margin-right: 50px;
  margin-left: 10px;
}
/* line 25, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box input {
  float: right;
  margin-top: 0px;
}
/* line 29, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box li a {
  text-decoration: none;
  color: #333333;
  font-size: 13px;
}
/* line 34, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box li a:hover {
  font-color: black;
}
/* line 36, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box .aw_copyright {
  float: right;
  font-weight: bold;
  margin-right: 10px;
  color: #333333;
}
