/*ActWitty Stylesheet file
 *File: AW Profile Page Channel Module
 *code: AWPPM (awppm) Actwitty Profile Page Channel Module
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com */
@font-face {
  font-family: "League Gothic";
  src: url(/webfont/leaguegothic/League_Gothic-webfont.eot);
  src: local("League Gothic Regular"), local("League Gothic"), url(/webfont/leaguegothic/LeagueGothic.woff?1324442542) format("woff"), url(/webfont/leaguegothic/LeagueGothic.otf) format("opentype"), url("/webfont/leaguegothic/LeagueGothic.svg#LeagueGothic") format("svg");
}

@font-face {
  font-family: "RobotoRegular";
  src: url(/webfont/roboto/Roboto-Regular-webfont.eot?1328856180);
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url(/webfont/roboto/Roboto-Regular-webfont.woff?1328856180) format("woff"), url(/webfont/roboto/Roboto-Regular-webfont.ttf?1328856180) format("truetype"), url("/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url(/webfont/roboto/Roboto-Light-webfont.eot?1328856180);
  src: url("/webfont/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url(/webfont/roboto/Roboto-Light-webfont.woff?1328856180) format("woff"), url(/webfont/roboto/Roboto-Light-webfont.ttf?1328856180) format("truetype"), url("/webfont/roboto/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoThin";
  src: url(/webfont/roboto/Roboto-Thin-webfont.eot?1328856180);
  src: url("/webfont/roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url(/webfont/roboto/Roboto-Thin-webfont.woff?1328856180) format("woff"), url(/webfont/roboto/Roboto-Thin-webfont.ttf?1328856180) format("truetype"), url("/webfont/roboto/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url(/webfont/roboto/Roboto-Bold.ttf?1328856180);
}

/* line 50, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  color: #cccccc;
  margin-bottom: 40px;
  background: #cccccc;
}

/* line 62, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_top_bar {
  position: fixed;
  _position: relative;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
}
/* line 69, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_top_bar #top_bar_container {
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  position: relative;
}
/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_top_bar #aw_top_bar_bkg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #111111;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  background: -moz-linear-gradient(top, #333333, #111111);
  background: transparent 9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 91, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper {
  width: 1000px;
  height: 100%;
  display: block;
  padding-top: 60px;
  margin: 0 auto 0 auto;
  _padding-top: 20px;
  /* Side box */
}
/* line 100, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper #aw_front_page_container, #aw_page_wrapper #aw_page_container {
  width: 920px;
  margin: 0 40px;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
}
/* line 112, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container {
  width: 540px;
  float: left;
  display: inline-block;
  z-index: 4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  background: white;
  height: 100%;
  min-height: 800px;
  /* infographics sections start */
}
/* line 130, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container .aw_section_container_box {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 540px;
  height: auto;
  margin-top: 50px;
  border: 0px solid red;
}
/* line 136, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box {
  height: auto;
  width: 100%;
  border: 0px solid blue;
  /*float: left */
}
/* line 142, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box .aw_section_container_internal_data_box {
  min-height: 100px;
  height: auto;
  margin-top: 15px;
  padding-top: 25px;
  position: relative;
  border: 0px solid green;
  width: 100%;
  /* -webkit-border-radius: 5px
   * -moz-border-radius: 5px
   * border-radius: 5px
   * box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
   * -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
   * -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5) */
}
/* line 161, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box .aw_section_container_internal_data_label {
  font-family: "RobotoRegular";
  letter-spacing: 1px;
  background-color: white;
  font-size: 24px;
  padding-right: 10px;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
/* line 173, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box hr.aw_section_container_top_delimiter {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  width: 535px;
  position: absolute;
  top: 9px;
  left: 2px;
}
/* line 181, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container .aw_section_container_box .aw_section_container_info_box hr.aw_section_container_bottom_delimiter {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  width: 535px;
  margin-left: 2px;
}
/* line 190, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper #aw_sidebox_outer_container {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  _position: static;
  _width: 520px;
  _float: left;
  _display: inline-block;
}
/* line 202, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell {
  position: relative;
  width: 920px;
  margin: 0 auto;
  padding: 0 40px;
  _position: static;
  _width: 520px;
  _padding: 0;
  _margin: 0;
}
/* line 212, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container {
  background: white;
  position: relative;
  left: 10px;
  top: 0;
  max-width: 490px;
  min-width: 370px;
  height: 540px;
  overflow-y: hidden;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: none;
  _position: static;
  _width: 520px;
}
/* line 233, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper #aw_sidebox_outer_container .aw_sidebox_shell .aw_stream_container .aw_stream_entries {
  display: block;
  height: 100%;
  margin-left: 10px;
  overflow-y: auto;
  position: relative;
}
/* line 240, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
#aw_page_wrapper .aw_infographic_container, #aw_page_wrapper .aw_stream_container {
  color: #444444;
}

/* Static profile section */
/* line 248, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_user_profile_pic {
  width: 110px;
  height: 110px;
  background-color: white;
  display: inline-block;
  border: 0px solid green;
  margin-left: 10px;
  float: left;
}
/* line 256, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_user_profile_pic img {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px;
}

/* line 260, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_full_name {
  display: inline-block;
  float: left;
  margin-left: 10px;
  max-width: 400px;
}
/* line 266, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_full_name h2 {
  color: #22bdc1;
  font-size: 44px;
  font-family: "RobotoRegular";
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* line 276, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_description {
  display: inline-block;
  max-width: 400px;
  max-height: 120px;
  padding: 0px;
  margin-top: 1px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0;
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  font-family: Georgia, serif;
  color: #da1c5c;
  -webkit-font-smoothing: antialiased;
  border: 1px solid red;
}

/* line 294, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_profile_details {
  display: block;
  margin-top: 20px;
  width: 400px;
  height: auto;
  margin-left: 10px;
  border: 0px solid green;
  clear: left;
}

/* line 304, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_dyn_static_profile_details_element h3 {
  color: #cd3333;
  font-family: "RobotoBold";
  font-weight: bold;
  size: 20px;
}
/* line 309, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_dyn_static_profile_details_element span {
  color: #333333;
  font-family: "RobotoRegular";
  font-weight: bold;
  size: 18px;
}

/* Friends section */
/* line 318, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_friends_services_box {
  width: 100%;
  height: 56px;
  margin-top: 10px;
  padding-left: 25px;
  display: block;
}

/* line 325, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_page_main.sass */
.aw_services_contacts_box {
  width: 100%;
  margin-top: 10px;
  padding-left: 25px;
  height: auto;
  display: block;
  overflow: hidden;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_static_profile.sass */
.aw_dyn_static_profile_details_element {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 5, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_static_profile.sass */
.aw_dyn_static_profile_details_element h3 {
  font-size: 12px;
  font-weight: normal;
  display: inline;
}
/* line 9, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_static_profile.sass */
.aw_dyn_static_profile_details_element span {
  font-size: 12px;
  font-weight: normal;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_services_list.sass */
.aw_dyn_service_image_box {
  width: 80px;
  height: 80px;
  display: inline-block;
  float: left;
  margin-top: 25px;
  margin-right: 3px;
  margin-left: 3px;
  position: relative;
}
/* line 10, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_services_list.sass */
.aw_dyn_service_image_box .aw_dyn_service_img_small {
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 14, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_services_list.sass */
.aw_dyn_service_image_box .aw_dyn_service_img_large {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10;
}
/* line 20, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_services_list.sass */
.aw_dyn_service_image_box:hover .aw_dyn_service_img_large {
  display: block;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box {
  width: 154px;
  height: 213px;
  background-color: black;
  margin-left: 20px;
  margin-top: 25px;
  position: relative;
  font-family: "RobotoRegular";
  letter-spacing: 1px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 14, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topic_logo_large {
  display: block;
}
/* line 16, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_title {
  height: 32px;
  width: 100%;
  position: absolute;
  top: 0px;
  background: #25a0da;
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: "League Gothic";
  text-transform: uppercase;
  padding-top: 1px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
/* line 33, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_yellow {
  background-color: #f19720;
}
/* line 35, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_mid_green {
  background-color: #309b46;
}
/* line 37, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_red {
  background-color: #e61e26;
}
/* line 39, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_lilac {
  background-color: #7e51a1;
}
/* line 41, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_brown {
  background-color: #986827;
}
/* line 43, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_pink {
  background-color: #df73ad;
}
/* line 45, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_light_green {
  background-color: #8bc03f;
}
/* line 47, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_light_magenta {
  background-color: #ed1691;
}
/* line 51, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_gray1 {
  background-color: #c8c8c8;
}
/* line 53, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_gray2 {
  background-color: #6f6f6f;
}
/* line 55, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_gray3 {
  background-color: #676767;
}
/* line 57, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_gray4 {
  background-color: #575757;
}
/* line 59, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_gray5 {
  background-color: #989999;
}
/* line 61, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_grid_box_color_gray6 {
  background-color: #3f3f3f;
}
/* line 64, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_left {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 40px;
  left: 8px;
  overflow: hidden;
  cursor: pointer;
}
/* line 72, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_left:hover {
  background: #575757;
}
/* line 74, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_left img.aw_sketch_dyn_topic_grid_img {
  margin-left: 5px;
  margin-top: 5px;
  font-family: "League Gothic";
  font-size: 14px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 82, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_left span.aw_sketch_dyn_topic_grid_number {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
  font-family: "League Gothic";
  font-size: 36px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 95, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_right {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 40px;
  left: 81px;
  overflow: hidden;
  cursor: pointer;
}
/* line 103, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_right:hover {
  background: #575757;
}
/* line 105, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_right img.aw_sketch_dyn_topic_grid_img {
  margin-left: 5px;
  margin-top: 5px;
  font-family: "League Gothic";
  font-size: 14px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 113, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_top_right span.aw_sketch_dyn_topic_grid_number {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
  font-family: "League Gothic";
  font-size: 36px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 126, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_left {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 113px;
  left: 8px;
  cursor: pointer;
}
/* line 133, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_left:hover {
  background: #575757;
}
/* line 135, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_left img.aw_sketch_dyn_topic_grid_img {
  margin-left: 5px;
  margin-top: 5px;
  font-family: "League Gothic";
  font-size: 14px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 143, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_left span.aw_sketch_dyn_topic_grid_number {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
  font-family: "League Gothic";
  font-size: 36px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 156, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_right {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 113px;
  left: 81px;
  cursor: pointer;
}
/* line 163, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_right:hover {
  background: #575757;
}
/* line 165, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_right img.aw_sketch_dyn_topic_grid_img {
  margin-left: 5px;
  margin-top: 5px;
  font-family: "League Gothic";
  font-size: 14px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 173, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_grid_box_bottom_right span.aw_sketch_dyn_topic_grid_number {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
  font-family: "League Gothic";
  font-size: 36px;
  font-weight: normal;
  color: white;
  display: block;
}
/* line 189, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_logo_small {
  position: absolute;
  top: -15px;
  left: 132px;
  height: 30px;
  width: 30px;
}
/* line 196, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_logo_large {
  position: absolute;
  top: -20px;
  left: 127px;
  height: 40px;
  width: 40px;
  display: none;
}
/* line 204, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_service_distro {
  height: 25px;
  width: 100%;
  border: 0px solid red;
  position: absolute;
  top: 186px;
  left: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* line 216, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_service_distro .aw_sketch_dyn_topic_service_facebook {
  height: 100%;
  background-color: #005ca5;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  display: block;
  float: left;
  padding-top: 2px;
  margin: 0;
}
/* line 228, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_sketch_dyn_topics_box .aw_sketch_dyn_topic_service_distro .aw_sketch_dyn_topic_service_twitter {
  height: 100%;
  background-color: #23b7e9;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  display: inline-block;
  float: right;
  padding-top: 2px;
  margin: 0;
}

/* line 240, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_js_topics_box_show_always {
  display: inline-block;
}

/* line 243, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_js_topics_box_hide_on_less {
  display: none;
}

/* line 246, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_js_topics_box_show_on_more {
  display: inline-block;
}

/* line 249, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_show_more_topics_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #0099b9;
  font-size: 14px;
  font-weight: normal;
}
/* line 258, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_interests.sass */
.aw_show_more_topics_box:hover {
  cursor: pointer;
}

/* line 2, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
a.aw_sketch_timeline_links {
  color: #ffffcc;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  font-family: Georgia, serif;
  font-size: 14px;
}
/* line 12, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
a.aw_sketch_timeline_links:hover, a.aw_sketch_timeline_links.selected {
  color: #777777;
}

/* line 15, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline {
  width: 520px;
  height: auto;
  overflow: hidden;
  margin: auto;
  position: relative;
  background: url(/images/actwitty/refactor/aw_sketch/timeline/dot.gif?1328856180) left 45px repeat-x;
}
/* line 23, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_dates {
  width: 520px;
  height: 60px;
  overflow: hidden;
}
/* line 27, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_dates li {
  list-style: none;
  float: left;
  width: 140px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  background: url(/images/actwitty/refactor/aw_sketch/timeline/biggerdot.png?1328856180) center bottom no-repeat;
}
/* line 35, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_dates li a {
  line-height: 18px;
}
/* line 37, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_dates .selected {
  font-size: 18px;
}
/* line 40, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details {
  width: 520px;
  height: auto;
  overflow: hidden;
}
/* line 44, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li {
  width: 520px;
  height: auto;
  list-style: none;
  float: left;
}
/* line 50, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box {
  width: 425px;
  height: auto;
  margin-top: 15px;
  padding: 5px;
  display: block;
  margin-left: 40px;
}
/* line 57, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box {
  width: 100%;
  height: 30px;
  display: block;
  float: left;
  overflow: hidden;
}
/* line 63, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box img {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
}
/* line 67, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box .aw_label_box {
  float: left;
  margin-left: 10px;
  display: inline-block;
  height: 100%;
  width: 120px;
  overflow: hidden;
  padding-top: 5px;
}
/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box .aw_label_box span {
  font-size: 18px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  color: #777777;
  text-transform: uppercase;
}
/* line 81, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_sketch_timeline_single_topic_box .aw_graph_box {
  float: left;
  height: 15px;
  margin-top: 6px;
  max-width: 200px;
  background-color: #25a0da;
}
/* line 87, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box {
  margin-left: 150px;
  margin-top: 2px;
  width: 230px;
  height: 25px;
  display: block;
  float: left;
  border-top: 1px dotted #777777;
}
/* line 95, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box span.left_limit {
  font-size: 11px;
  color: #777777;
}
/* line 99, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box span.mid_limit {
  float: right;
  margin-right: 50px;
  font-size: 11px;
  color: #777777;
}
/* line 104, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline ul.aw_sketch_timeline_details li .aw_sketch_timeline_week_snapshot_box .aw_graph_axis_box span.right_limit {
  float: right;
  font-size: 11px;
  color: #777777;
}
/* line 112, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline .aw_sketch_timeline_prev, #aw_sketch_timeline .aw_sketch_timeline_next {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 120px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 123, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline .aw_sketch_timeline_next {
  right: 0;
  background-image: url(/images/actwitty/refactor/aw_sketch/timeline/right.png?1328856180);
}
/* line 127, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline .aw_sketch_timeline_prev {
  left: 0;
  background-image: url(/images/actwitty/refactor/aw_sketch/timeline/left.png?1328856180);
}
/* line 131, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_timeline.sass */
#aw_sketch_timeline .aw_sketch_timeline_next.disabled, #aw_sketch_timeline .aw_sketch_timeline_prev.disabled {
  opacity: 0.2;
}

/* Services colors */
/* line 5, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_color_facebook {
  background-color: #91addd;
}

/* line 8, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_color_twitter {
  background-color: #23b7e9;
}

/* line 11, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_container {
  width: 530px;
  height: auto;
  margin-bottom: 3px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
}
/* line 19, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_container .aw_service_popularity_container_label {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "League Gothic";
  display: block;
}
/* line 25, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_container .aw_service_popularity_service_logo {
  position: absolute;
  left: 440px;
}

/* line 29, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container {
  width: 100px;
  height: 170px;
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 25px;
}
/* line 38, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_topic_poularity_box {
  display: block;
  position: absolute;
  top: 10px;
  left: 17px;
  height: 150px;
  width: 66px;
}
/* line 45, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_topic_popularity_top {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 350px;
  height: 2px;
  border-top: 1px dotted #dddddd;
}
/* line 52, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_topic_popularity_bottom {
  position: absolute;
  top: 160px;
  left: 50px;
  width: 350px;
  height: 2px;
  border-top: 1px dotted #dddddd;
}
/* line 59, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_topic_popularity_middle {
  position: absolute;
  top: 85px;
  left: 50px;
  width: 350px;
  height: 2px;
  border-top: 1px dotted #dddddd;
}
/* line 66, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_topic_popularity_one_third {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 350px;
  height: 2px;
  border-top: 1px dotted #dddddd;
}
/* line 73, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_topic_popularity_two_third {
  position: absolute;
  top: 110px;
  left: 50px;
  width: 350px;
  height: 2px;
  border-top: 1px dotted #dddddd;
}
/* line 81, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container .aw_service_popularity_man {
  position: absolute;
  top: 10px;
  left: 17px;
  height: 150px;
  width: 66px;
}

/* line 88, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels {
  width: 300px;
  height: 170px;
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 15px;
}
/* line 96, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_3 {
  top: 10px;
}
/* line 98, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_2_of_3 {
  top: 60px;
}
/* line 100, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_3_of_3 {
  top: 110px;
}
/* line 103, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_3, .aw_service_topic_popularity_container_labels .aw_service_popularity_2_of_3, .aw_service_topic_popularity_container_labels .aw_service_popularity_3_of_3 {
  position: absolute;
  left: -15px;
  height: 50px;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}
/* line 112, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_2 {
  top: 10px;
}
/* line 114, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_2_of_2 {
  top: 85px;
}
/* line 117, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_2, .aw_service_topic_popularity_container_labels .aw_service_popularity_2_of_2 {
  position: absolute;
  left: -15px;
  height: 75px;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}
/* line 125, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_1 {
  top: 10px;
  left: 15px;
  height: 150px;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}
/* line 132, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_1 .aw_service_popularity_adjective {
  display: block;
  width: 100%;
  color: #25a0da;
  text-align: center;
  font-size: 46px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
}
/* line 144, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_topic_popularity_container_labels .aw_service_popularity_1_of_1 .aw_service_popularity_topic {
  display: block;
  width: 100%;
  color: #777777;
  text-align: center;
  font-size: 25px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2px;
}

/* line 156, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_adjective_for_3 {
  display: block;
  width: 100%;
  color: #a6a7a8;
  text-align: center;
  font-size: 38px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 0px;
}

/* line 169, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_topic_for_3 {
  display: block;
  width: 100%;
  color: #777777;
  text-align: center;
  font-size: 14px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2px;
}

/* line 180, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_adjective_for_2 {
  display: block;
  width: 100%;
  color: #a6a7a8;
  text-align: center;
  font-size: 38px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 10px;
}

/* line 193, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_topic_for_2 {
  display: block;
  width: 100%;
  color: #777777;
  text-align: center;
  font-size: 20px;
  font-family: "League Gothic";
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2px;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_single_contact_box {
  height: 56;
  width: 56;
  margin: 5px;
  position: relative;
}
/* line 6, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_single_contact_box:hover {
  cursor: pointer;
}
/* line 9, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_single_contact_box .aw_single_contact_image {
  top: 0px;
  left: 0px;
  padding: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
}
/* line 18, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_single_contact_box .aw_single_contact_service_img {
  position: absolute;
  top: 48px;
  left: 48px;
}
/* line 22, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_single_contact_box .aw_single_contact_posts_count {
  position: absolute;
  top: 48px;
  left: 0px;
  height: 12px;
  width: 16px;
  overflow: hidden;
  background-color: #333333;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-bottom: 2px;
  font-weight: normal;
  border-radius: 2px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* line 39, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_js_single_contact_box_show_always {
  display: inline-block;
}

/* line 42, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_js_single_contact_box_hide_on_less {
  display: none;
}

/* line 45, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_js_single_contact_box_show_on_more {
  display: inline-block;
}

/* line 48, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_show_more_contacts_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #0099b9;
  font-size: 14px;
  font-weight: normal;
}
/* line 57, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_connections.sass */
.aw_show_more_contacts_box:hover {
  cursor: pointer;
}

/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_image.sass */
.aw_images_container_box {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-left: 2px;
}
/* line 7, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_image.sass */
.aw_images_container_box .aw_images_col {
  width: 33%;
  height: auto;
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
}
/* line 14, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_image.sass */
.aw_images_container_box .aw_images_col .aw_single_img_box {
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  position: relative;
  padding: 5px;
}

/*
Syntax error: Invalid CSS after "80%": expected expression (e.g. 1px, bold), was ";"
        on line 165 of /home/alok/work/actwitty/pre-production/sangam/app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_stream_view.sass

160: 
161: 
162: 
163:  
164: .aw_stream_mentions_box 
165:   width: 80%;
166:   height: auto;
167:   display: inline-block
168:   span
169:     font-size: 12px
170:     padding: 2px

Backtrace:
/home/alok/work/actwitty/pre-production/sangam/app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_stream_view.sass:165
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/scss/parser.rb:928:in `expected'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/script/lexer.rb:191:in `expected!'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/script/parser.rb:465:in `assert_done'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/script/parser.rb:50:in `parse'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/script/parser.rb:140:in `parse'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/script.rb:31:in `parse'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:829:in `parse_script'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:592:in `parse_property'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:581:in `parse_property_or_rule'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:562:in `parse_line'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:455:in `build_tree'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:474:in `block in append_children'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:473:in `each'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:473:in `append_children'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:464:in `block in build_tree'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:457:in `each'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:457:in `build_tree'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:474:in `block in append_children'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:473:in `each'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:473:in `append_children'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:329:in `_to_tree'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:247:in `block in render'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/util.rb:310:in `silence_sass_warnings'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/engine.rb:247:in `render'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin.rb:54:in `check_for_updates'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.15/lib/sass/plugin/rack.rb:51:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/client_side_validations-3.1.4/lib/client_side_validations/middleware.rb:18:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:35:in `block in call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:34:in `catch'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:34:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/static.rb:33:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/content_length.rb:13:in `call'
/home/alok/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.5/lib/rack/handler/webrick.rb:52:in `service'
/home/alok/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/alok/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/alok/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"80%\": expected expression (e.g. 1px, bold), was \";\"\A         on line 165 of /home/alok/work/actwitty/pre-production/sangam/app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_stream_view.sass\A \A 160: \A 161: \A 162: \A 163:  \A 164: .aw_stream_mentions_box \A 165:   width: 80%;\A 166:   height: auto;\A 167:   display: inline-block\A 168:   span\A 169:     font-size: 12px\A 170:     padding: 2px"; }

/* line 1, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud {
  font-family: "League Gothic";
  letter-spacing: 1px;
  color: #0099ff;
  overflow: hidden;
  position: relative;
}
/* line 7, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
/* line 11, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud a:hover {
  color: #00ddff;
  color: #00ccff;
}
/* line 14, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span {
  padding: 0;
}
/* line 16, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w10 {
  font-size: 44px;
  color: #2b60de;
}
/* line 19, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w9 {
  font-size: 42px;
  color: #306eff;
}
/* line 22, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w8 {
  font-size: 40px;
  color: #2b65ec;
}
/* line 25, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w7 {
  font-size: 38px;
  color: #3bb9ff;
}
/* line 28, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w6 {
  font-size: 36px;
  color: #38acec;
}
/* line 31, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w5 {
  font-size: 32px;
  color: #357ec7;
}
/* line 34, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w4 {
  font-size: 28px;
  color: #1589ff;
}
/* line 37, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w3 {
  font-size: 24px;
  color: #157dec;
}
/* line 40, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w2 {
  font-size: 22px;
  color: #1569c7;
}
/* line 43, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/external/jQCloud/jqcloud.sass */
div.jqcloud span.w1 {
  font-size: 20px;
  color: #56a5ec;
}
