
/*
 * Note:: Channel page has a little bit different config than stream page hence different layout
 * to make it easy to change and maintain.
 * 
 * General conventions
 * -------------------
 * 1. p-channelp is the suffix foro all css related to Channel section.
 * 2. p in -channlep indication page.
 * 3. p-channelp : means profile-channle page
 * 4. lu: latest updates
 * 5. cu: channel updates
 *
 */

#p-channelp-sect
{
	padding:0px 0;
  border:0px solid red;
  margin-top:0px;	
}


#p-channelp-tabs-section
{
  width:100%;
  height:40px;
  border:0px solid blue;
  padding:5px;
}

.p-channelp-tab
{
  float:left;
  width:120px;
  height:30px;
}
.p-channelp-tab:hover
{
  cursor:pointer;
}
#p-channelp-tab-all
{
  margin-left:30px;
  border:0px solid red;
  background:#ddd;
}
#p-channelp-tab-all span
{
  text-align:center;
  font-size:22px;
  padding:5px;
}

#p-channelp-tab-mine
{
  margin-left:10px;
  border:0px solid red;
  background:#ddd;
}
#p-channelp-tab-mine span
{
  text-align:center;
  font-size:22px;
  padding:5px;
}


/*############### Channel page content section ################ */
#p-channelp-content
{
  width:100%;
  height:auto;
  border:0px solid green;
}

#p-channelp-posts
{
  width:70%;
  height:400px;
  float:left;
  border:0px solid blue;
}

#p-channelp-author-section
{
  width:28%;
  height:200px;
  float:left;
  border:0px solid green;
}



/* ############ Channle post section ###########*/
.p-channelp-post
{
  width:100%;
  height:auto;
  border:0px solid red;
  margin-top:10px;
}


.p-channelp-post-header
{
  width:100%;
  height:60px;
  border:0px solid green;
}

.p-channelp-post-tab
{
  float:left;
  width:60px;
  height:30px;
  background:#eaa440;
  margin-top:30px;
}

.p-channelp-post-author
{
  float:right;
  width:auto;
  height:100%;
  background:#e0e0e0;
  margin-right:65px;

}
.p-channelp-post-author-name
{
  float:left;
  width:140px;
  height:40px;
  border:0px solid red;
  margin-top:20px;
  position:relative;
}

.p-channelp-post-author-name span
{
  border:0px solid blue;
  position:absolute; 
  bottom:0px;
  font-size:24px;
  color:#30a3ad;
}

.p-channelp-post-author-img
{
  float:right;
  width:60px;
  height:100%;
  border:0px solid blue;
}


.p-channelp-post-info
{
  width:100%;
  height:150px;
  border:0px solid #8B3E2F;
}

.p-channelp-post-lu
{
  width:55%;
  height:140px;
  background:#FFF;
  float:left;
}


.p-channelp-post-cu
{
  width:35%;
  height:140px;
  background:#CDC8B1;
  float:left;
  margin-left:5px;
}


.p-channelp-post-analytic
{
  width:7%;
  height:140px;
  background:#fff;
  float:left;
}

.p-channelp-post-like
{
  width:100%;
  height:40px;
  background:#b847cf;
  margin-top:10px;
  color:#fff;
}
.p-channelp-post-like p center
{
  font-size:15px;
  text-align:center;
  color:#fff;
}


.p-channelp-post-post
{
  width:100%;
  height:40px;
  background:#afa3ad;
  margin-top:10px;
  color:#fff;
}




.p-channelp-post-post p center
{
  font-size:15px;
  text-align:center;
  color:#fff;
}





.p-channelp-post-lu-header
{
  width:100%;
  height:20px;
  font-size:16px;
}
.p-channelp-post-lu-header span
{
  float:left;
}

.p-channelp-post-lup
{
  width:100%;
  height:60px;
  background:#e0e0e0;
  margin-top:1px;
}
.p-channelp-post-lup-time
{
  height:15px;
  width:100%;
}
.p-channelp-post-lup-time span
{
  float:right;
  font-size:10px;
  color:#f9f9f9;
}

.p-channelp-post-lup-text
{
  margin-left:10px;
}

.p-channelp-post-lup-text p
{
  font-size:13px;
  color:#838383;
}



.p-channelp-related-info
{
  margin-top:10px;
  width:100%;
  height:150px;
  border:0px solid blue;
}

.p-channelp-rel-frnd
{
  width:55%;
  height:150px;
  border:0px solid red;
  float:left;
}

.p-channelp-post-rel-friend-header
{
  width:100%;
  height:20px;
}

.p-channelp-post-rel-friend-header span
{
  text-align:left;
  color:#000;
}


.p-channelp-rel-frnd div
{
  /*margin-left:20px;
  margin-top:30px;*/
  border:0px solid blue;
}

.p-channelp-rel-frnd div img
{
  padding:5px;
}

.p-channelp-post-rel-elem
{
  width:21%;
  height:150px;
  background:#fff;
  float:left;
  margin-left:4px;
}
.p-channelp-post-rel-elem-header
{
  width:100%;
  height:20px;

}
.p-channelp-post-rel-elem-header span
{
  text-align:left;
  color:#000;
}

ul .p-channelp-post-relelem
{
  list-style-type:none;
  background:#ff7575;
  border:0px solid red;
}
.p-channelp-post-relelem
{
  border:0px solid blue;
  background:#ff7575;
}
.p-channelp-post-relelem-sect
{
  width:100%;
  height:90%;
  background:#ff7575;
}
.p-channelp-post-relelem li
{
  border:0px solid red;
  width:100%;
}


#p-channelp-posts ul
{
  display:block;
  list-style-type:none;
}



.p-channelp-post-rel-loc
{
  width:21%;
  height:150px;
  float:left;
  margin-left:4px;
}


.p-channelp-post-rel-loc-header
{
  width:100%;
  height:20px;

}
.p-channelp-post-rel-loc-header span
{
  text-align:left;
  color:#000;
}

.p-channelp-post-relloc-sect
{
  width:100%;
  height:90%;
  background:#94e375;
}
.p-channelp-post-relloc li
{
  border:0px solid red;
  width:100%;
  margin-top:4px;
}

.p-channelp-post-rel-img-header
{
  width:100%;
  height:20px;  
}
.p-channelp-post-rel-img-header span
{
  text-align:left;
  color:#000;
}



.p-channelp-post-rel-img
{
  width:100%;
  height:140px;
}

.p-channelp-rel-img div
{
  margin-left:20px;
  margin-top:30px;
  border:0px solid blue;
}

.p-channelp-rel-img div img
{
  padding:5px;
}



/*#### Channel Author Section #### */

.p-channelp-author-img-sect
{
  width:100%;
  height:60px;
  border:0px solid red;
}

.p-channelp-author-img-sect img
{
  float:right;
}

.p-channelp-author-name
{
  width:100%;
  height:30px;
  border:0px solid blue;
}

.p-channelp-author-name span
{
  float:right;
  color:#30a3ad;
}

.p-channelp-auth-last-upd-sect
{
  width:100%;
  height:auto;
  border:0px solid red;
}

.p-channelp-auth-last-upd-hd
{
  width:100%;
  height:20px;
  border:0px solid blue;
}
.p-channelp-auth-last-upd-hd span
{
  float:right;
}

.p-channelp-auth-last-upd-post
{
  margin-top:5px;
  width:100%;
  height:auto;
  background:#e0e0e0;;
}

.p-channelp-auth-last-upd-post-time
{
  width:100%;
  height:12px;
}
.p-channelp-auth-last-upd-post-time span
{
  float:right;
  color:#fff;
}


.p-channelp-auth-last-upd-post-text
{
  width:100%;
  height:auto;
  margin-top:5px;
}
.p-channelp-auth-last-upd-post-text p
{
  color:#fff;
  font-size:14px;
}










