.ntabs {
          margin-right: 5px;
		      float:left;
 		      margin:5px 5px 5px 5px;
          border: 1px solid #BDC7D5;
          padding: 5px 8px 5px 8px;
		      position: relative;
          border:1px solid red;
       }

 .ctab {
          background: #E7EDF6;
          position: relative;
          top: 2px;
          border-bottom-width: 2;
       }
.boxer_close{
        float:right;
        width:16px;
        height:16px;
        border:1px solid #ccc;
        align:center;
}
.close{
         text-decoration: none;
         color: #ccc;
         font-weight: bold;
          width:100%;
         font-size: 14px;
		     top: -3px;
		     left: 157px;
         /*padding: 0 4px;
		     margin-top:10px;
		     margin-bottom:30px;
		     margin-right:15px;*/
         -webkit-border-radius: .2em;
         -moz-border-radius: .2em;
         border-radius: .2em;
      }
	
.close:hover {
                background: #999;
                color: #333;
             }

/*************** entity box *****************/
.entities_box {
                height:90px;
                width:120px;
             }

.entities_box_internal{
        width:80%;
        overflow:hidden;
        float:left;
}

.entities_box_internal a img{
}

.entities_box_internal a span{
}

.entities_box_images{
  height:40;
  width:40;
}
/*************** entity box *****************/

/****************** location box *************/
.locations_box {
                height:90px;
                width:120px;
             }

.locations_box_internal{
        width:80%;
        overflow:hidden;
        float:left;
}

.locations_box_internal a img{
  height:40px;
  width:40px;
}

.locations_box_internal a span{
  height:40px;
  width:40px;
}


/****************** location box *************/


/****************** channel box *************/
.channels_box {
                height:90px;
                width:120px;
             }

.channels_box_internal{
        width:80%;
        overflow:hidden;
        float:left;
}


.channels_box_internal a span{
}


/****************** channel box *************/
/*************** related friends box *****************/
.related_friends_box {
                height:90px;
                width:120px;
             }

.related_friends_box_internal{
        width:80%;
        overflow:hidden;
        float:left;
}

.related_friends_box_internal a img{
}

.related_friends_box_internal a span{
}

.friends_box_images{
  height:40;
  width:40;
}
/*************** related friends box *****************/

