.ntabs {
          margin-right: 9px;
 		      margin-top:9px;
          
          width:135px;
          height:71px;
          display:block-inline;
          float:left;
          background-color: white; 
          border:1px solid #ccc;
          border-radius: 2px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -o-border-radius: 3px;
          box-shadow: 0 0 6px #3a3a3a;
          -moz-box-shadow: 0 0 6px #3a3a3a;
          -webkit-box-shadow: 0 0 6px #3a3a3a;
          -o-box-shadow: 0 0 6px #3a3a3a;
    }


.boxer_close{
  z-index: 99999;/*9999*/
  float:top;
  float:right;
  margin-top:-8px;
  margin-right:-14px;
  height:18px;
  width:18px;
}

.boxer_close img{
   height:8px;
   width:8px;
}



/*************** entity box *****************/
.entities_box {
                height:90px;
                width:140px;
}

.entities_box:hover{
  filter:alpha(opacity=50);	
	opacity: 0.5;
  cursor: pointer;
}

.entities_box_internal{
        width:130px;
        overflow:hidden;
        float:left;
}


.entities_box_internal p{
  float:right;
  margin-top:65px;
  color:#30a3ad;
  font-size:20px; 
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
}


/*************** entity box *****************/

/****************** location box *************/
.locations_box {
                height:90px;
                width:120px;
             }

.locations_box_internal{
  width:80%;
  overflow:hidden;
  float:left;
}

.locations_box_internal a img{
  height:90px;
  width:120px;
  z-index:-200;
  position: fixed;
}

.locations_box_internal a span{
  height:5px;
  width:40px;
  z-index:600;
  position: absolute;
  margin-top:35px;
  margin-left:35px;
  font-size:16px;
  text-align:center;
}
.locations_box_images{
  /*margin-left:1px;
  margin-top:1px;*/
}
#loc_page_img{
  margin-left:60px;
}
.js_modal_locations{
  /*word-wrap: break-word;
  display:inline-block;
  text-align:center;*/
}
.hide{
  display: none;
}


/****************** location box *************/


/****************** channel box *************/
.channels_box {
                height:40px;
                width:130px;
             }

.channels_box_internal{
        width:80%;
        overflow:hidden;
        float:left;
}


.channels_box_internal a p{
  font-size:18px;
  margin-top:10px;
  margin-left:10px;
  /*background:#903737;*/
  text-transform:uppercase;
  color:#da9025;
}



/****************** channel box end *************/
/*************** related friends box *****************/

.related_friends_box {
                height:68px;
                width:140px;
             }

.related_friends_box_internal{
        width:90%;
        overflow:hidden;
        float:left;
}

.related_friends_box_internal a{
}

.related_friends_box_internal a img{
  margin-top:5px;
  margin-left:5px;
  width:50px;
  padding:2px;
  border:1px solid #ccc;
  float:left;
}

.related_friends_box_internal a p{
  margin-left:5px;
  margin-top:15px;
  width:50px;
  overflow:hidden;
  float:left;
  font-size:20px; 
  color:#30a3ad;
}


/*************** related friends box end *****************/

/*************** subscription box *****************/
.subscription_box {
                height:68px;
                width:140px;
             }

.subscription_box_internal{
        width:90%;
        overflow:hidden;
        float:left;
}

.subscription_box_internal a{
  border:1px solid red;
}

.subscription_box_internal a img{
  margin-top:5px;
  margin-left:5px;
  width:50px;
  padding:2px;
  border:1px solid #ccc;
  float:left;
}

.subscription_box_internal a p{
  margin-left:5px;
  margin-top:15px;
  width:50px;
  overflow:hidden;
  float:left;
  font-size:20px; 
  color:#30a3ad;
}


/*************** subscription box ends *****************/
/*************** subscribers box *****************/
.subscriber_box {
                height:68px;
                width:140px;
             }

.subscriber_box_internal{
        width:90%;
        overflow:hidden;
        float:left;
}

.subscriber_box_internal a{
  border:1px solid red;
}

.subscriber_box_internal a img{
  margin-top:5px;
  margin-left:5px;
  width:50px;
  padding:2px;
  border:1px solid #ccc;
  float:left;
}

.subscriber_box_internal a p{
  margin-left:5px;
  margin-top:15px;
  width:50px;
  overflow:hidden;
  float:left;
  font-size:20px; 
  color:#30a3ad;
}


/*************** subscribers box ends *****************/
/**************** likes box ***************************/
.like_box {
                height:68px;
                width:140px;
             }

.like_box_internal{
        width:90%;
        overflow:hidden;
        float:left;
}

.likes_box_internal a{
  border:1px solid red;
}

.likes_box_internal a img{
  margin-top:5px;
  margin-left:5px;
  width:50px;
  padding:2px;
  border:1px solid #ccc;
  float:left;
}

.likes_box_internal a p{
  margin-left:5px;
  margin-top:15px;
  width:50px;
  overflow:hidden;
  float:left;
  font-size:20px; 
  color:#30a3ad;
}
/**************** likes box ends **********************/
