/* --------------------------------------Facebook friends ----------------- */


div.fb_friends_lists {
	/* Set it so we could calculate the offsetLeft */
  /*background:#cccccc none repeat scroll 0 0;*/
	position: relative;
	/*height: 240px;*/
	width: 600px;/*650*/
	overflow: hidden;
  /*border:2px solid black;*/
  left:0px;/*380*/
}

p.fb_friends_header{
  margin-top:10px;
  margin-bottom:3px;
  margin-left:300px;
  font-size: 18px;
  font-color: #000000;
  
}


div#invite_friends
{
/*background-image:url("/images/alpha/back_tile.jpg");
  background-repeat:repeat;*/
	position: relative;
	height: 240px;
	width: 800px;
	overflow: auto;
  border:1px solid #ddd;
  margin:0px auto;
  color:#6abdc4;
}
div#subscribed_friends
{
/*background-image:url("/images/alpha/back_tile.jpg");
  background-repeat:repeat;*/
	position: relative;
	height: 240px;
	width: 800px;
	overflow: auto;
  border:1px solid #ddd;
  margin:0px auto;
  color:#6abdc4;
}
div#unsubscribed_friends
{
/*background-image:url("/images/alpha/back_tile.jpg");
  background-repeat:repeat;*/
	position: relative;
	height: 240px;
	width: 800px;
	overflow: auto;
  border:1px solid #ddd;
  margin:0px auto;
  color:#6abdc4;
}


h3.fb_empty_check{
  font-size: 20px;
  color:#6abdc4;;
}



.friends_box{
  width:135px;
  height:71px;
  display:block-inline;
  float:left;
  background-color: white; 
  margin:5px;
  border:1px solid #ccc;
  border-radius: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 6px #3a3a3a;
  -moz-box-shadow: 0 0 6px #3a3a3a;
  -webkit-box-shadow: 0 0 6px #3a3a3a;
  -o-box-shadow: 0 0 6px #3a3a3a;
}

.fb_friend_image{
  height:54px;
  width:54px;
  display:block-inline;
  float:left;
  margin-top:3px;
  margin-left:2px;

}
.fb_friend_image img {
  height:50px;
  width:50px;
  padding:2px;
  border:1px solid #ccc;
}

div.fb_friend_text{
  color:black;
  width:70px;
  display:block-inline;
  border:0px solid green;
  float:right;
}

.fb_friend_text p {
  padding:2px;
  border:0px solid red;
  margin-top:10px;
}



.fb_friend_text p:hover span {

}

.fb_friend_action{
  float:right;
  margin-top:5px;
  margin-right:10px;
  color:green;
  font-size:18px; 
  font-weight:bold;
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
}

.fb_friend_action:hover{
  filter:alpha(opacity=50);	
	opacity: 0.5;
  cursor: pointer;
}



