/*
 * General conventions
 * -------------------
 *  "p" in start => profile
 *  "l" => left
 *  "r" => right
 *  "ch" => channel
 *  "st" => stream
 *  "cstab" => channel stream tab
 *  "fltr" => filter
 *  "ip" => input
 *  "awp" => act witty post
 *
 *
 *  General Flow
 *  ------------
 *  1).The page width size has been fixed at 990px (Set in generalise section)
 *  2).We can have background image strips as presented in wireframes. Strip colors can
 *     be controlled by "wrapper" section in css. (for individual columns)
 *  3).There are 4 columns (distributed as rows)
 *      Col1: has header/top bar information
 *      Col2: has input box
 *      Col3: has Channel and stream tabs
 *      Col4: has main content information
 *          Col4 -> Col1: has left sidebar filters by content types (all/video/twitter etc)
 *          Col4 -> Col2: has main content stream
 *            Col4 -> Col2 -> Col1 : only in case of stream on, we have Show Containing bar
 *          Col4 -> Col3: has right sidebar filters (Me/others) and Search Filters
 *  
 *  General Remarks
 *  ---------------
 *  1). All the placeholders are in place for images to be placed.
 *  2). No jQuery implementation has be set currently
 *  3). Some specifications related to tab bar is not in place.
 *  4). Font-description have been mentioned at resp places to be changed on notice.
 */



/*
 * To apply actwitty font : gnuolane.
 * This has been used by embedding ttf file kept in public folder
 */

@font-face {
  font-family: 'actwitty-font';
  src: url( "/font/gnuolane.ttf" ) format("truetype");
}

body{
	margin:0;
	padding:0;
	font-size:12px;
  font-family:'actwitty-font';
	color:#CCCCCC;
	background-color:#fff;
	}


input[type=text]
{
  font-family:'actwitty-font';
}


img{border:0; padding:0; margin:0;}
.clear{clear: both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}


/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 20px 0;
	padding:0 0 8px 0;
	font-size:22px;
	font-weight:normal;
	border-bottom:1px dashed #DDDDDD;
	}

.col1{color:#D2D2D2; background-color:#FFFFFD;}
.col2{color:#FFFFFF; background-color:#FFFFFD;}
.col3{color:#000000; background-color:#FFFFFD;}
.col4{color:#666666; background-color:#FFFFFD;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header,#p-ip-sect ,#p-ch-st-tab-sect,#p-content-sect 
{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:990px;
  border:0px solid red;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header
{
	padding:0px 0;
	z-index:1000;
  width:605px;
  height:50px;
  border:0px solid red;
}

#top-bar
{
  position:fixed;
  border:0px solid red;
  background:#454545;
  width:624px;
  -moz-box-shadow: 4px 4px 4px #b0b0b0;
  -webkit-box-shadow: 4px 4px 4px #b0b0b0;
  box-shadow: 4px 4px 4px #b0b0b0;
}

#header h1, #header p
{
	margin:0;
	padding:0;
}

#logo
{
	display:block;
	float:left;
	width:120px;
  height:50px;
  border:0px solid white;
}

#header h1{
	margin:0 0 7px 0;
	font-size:36px;
	border:none;
	}

#header h1 a{
	color:#D2D2D2;
	background-color:#000000;
	}



#home_page_nav
{
    width:120px;
    float:right;
    border:0px solid red;
    position:relative;
    height:50px;
    display:inline;
/*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
*/
/*
    -moz-box-shadow: 2px 2px 2px #c0c0c0;
    -webkit-box-shadow: 2px 2px 2px #c0c0c0;
    box-shadow: 2px 2px 2px #c0c0c0;
*/
/*
    -moz-box-shadow:inset 0 0 1px #000000;
    -webkit-box-shadow:inset 0 0 1px #000000;
    box-shadow:inset 0 0 1px #000000;
*/
}

#profile_header_user_img
{
  float:right;
  padding:0px;
  width:50px;
  height:50px;
}

#p-topbar-home
{
  float:left;
  padding:0px;
  margin-left:-20px;
  margin-top:11px;
  width:28px;
  height:28px;
  background-image: url("/images/alpha/home_icon_normal.png");
}
#p-topbar-home:hover
{
  background-image: url("/images/alpha/home_icon_hover.png");
  cursor:pointer;
}


/* --------------- Search Bar -----------------*/
#searchwrapper 
{
  width:250px; 
  height:28px;
  /*background-image:url('../images/search_bar.png');*/
  /*background-repeat:no-repeat; */
  padding:0px;
  margin:0px;
  position:relative; 
  margin-left:20px;
  margin-top:15px;
  display:inline;
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
  border:0px; /*important*/
  /*background-color:transparent; 
  position:absolute; important*/
  /*top:4px;
  left:9px;*/
  width:220px;
  height:25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background:#333;
  margin-left:20px;
  margin-top:10px;
  color:#333;
}
.searchbox:focus
{
  border:1px solid #eee;
  background:#ddd;
}
 
.searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:265px;
width:32px;
height:28px;
opacity:40%;
}





/* ----------------------------------------------Profile page input-------------------------------------*/
#p-ip-sect{
	padding:0px 0;
  border:1px solid #fff;
  width:605px;
  /*margin-top:10px;*/
}

#input-box
{
  margin-bottom:5px;
  width:624px;
  height:auto;
  border:1px solid #ddd;
  background-image:url("/images/alpha/blue_back.png");
  background-repeat:repeat;
  

  /*background:#c8c8c8;*/
}



#input-section
{
  width:100%;
  height:auto;
  padding:0px;
  border:1px solid red;
  
}

.user-info-section
{
    width:80px;
    height:100px;
    border:0px solid black;
    display:block;
    margin:40px 0 40px 80px;
}

.user-info-section img
{
    width:70px;
    height:70px;
    padding:3px;
}

.user-info-section span
{
  display:block;
  position:relative;
  top:0px; /*this positions the tooltip*/
  left:0px; /*this positions the tooltip*/
  padding:5px;
  font-size:16px;
  text-align:center;
}

.home_page_inputs
{
  display:block;
  /*border:1px solid #ddd;*/
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:15px 10px 10px 10px;
  width:585px;
  margin-top:20px; 
  /*
   margin-left:300px;
   margin-top:-110px;
   */

  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;


  -moz-box-shadow:inset 0 0 0px #000000;
   -webkit-box-shadow:inset 0 0 0px #000000;
   box-shadow:inset 0 0 0px #000000;

  

  display:none;
}


.input-whats-up
{
  margin-top:20px;
  
}
.add-page-input
{
  border:1px solid #ddd;
  height:30px;
  width:580px;
  padding:3px;
  margin-left:5px;
  margin-top:10px;
}

.page_input_close span
{
  width:15px;
  height:15px;
  float:right;
  background: url("/images/alpha/close.png") ;
}





.trans
{
  opacity:0.8;
}

.activity_location
{
  display:block;
  width:100%;
  height:50px;
  margin-top:18px;
  border:0px solid green;
}

.entity_maps
{
  width:100%;
  height:auto;
  border:0px solid red;
}


.activities
{
  float:left;
  width:47%;
  height:50px;
  border:0px solid blue;
  margin-left:20px;
}
.activity_input
{
  margin-left:0px;
  border:0px solid #ddd;
  opacity:0.8;
}
#activity_box_desc
{
  float:left;
  width:90.5%;
  height:10px;
  border:0px solid red;
  margin-top:-6px;
  padding:0;
  background:#fff;
  margin-left:19px;
  opacity:0.8;
}
#activity_box_desc img
{
  float:right;
}
.locations
{
  float:left;
  width:47%;
  height:50px;
  border:0px solid blue;
}


#location_box_desc
{
  float:left;
  width:90.5%;
  height:10px;
  border:0px solid blue;
  margin-top:-6px;
  padding:0;
  background:#fff;
  margin-left:19px;
  opacity:0.8;
}
#location_box_desc img
{
  float:right;
}


.searchTextField
{
  width:90%;
  padding:1px;
  
  margin-left:0px;
  margin-top:5px;
  margin-bottom:5px;
  height:30px;
  border:1px solid gray;
  border:0px solid #ddd;
}

.input_text_box
{
  width:90%;
  padding:1px;
  
  margin-left:0px;
  margin-top:5px;
  margin-bottom:5px;
  height:30px;
  border:1px solid #000;
  opacity:0.8;
}

.symbol
{
  color:#87CEEB;
  /*border:1px solid red;*/
}
.symbol_at
{
  margin-left:-10px;
}


.symbol_icon
{
  width:15px;
  height:15px;
}
/*
#title_field
{
  padding:2px;
  margin-left:20px;
  margin-top:5px;
  margin-bottom:5px;
  display:block;
  border:1px solid #ddd;
  opacity:0.8;
}
*/
.symbol
{
  color:#87CEEB;
  /*border:1px solid red;*/
}
.symbol_at
{
  margin-left:-10px;
}


.symbol_icon
{
  width:15px;
  height:15px;
}


#subtitle-div
{
  width:100%;
  height:50px;
  display:block;
  border:0px solid blue;
}
#subtitle-box
{
  float:right;
  width:47%;
  height:40px;
  border:0px solid red;
   
}
.subtitle_input
{
  
  border:0px solid #ddd;
  margin-left:4px;
  opacity:0.8;
}



#subtitle_box_desc
{
  float:left;
  width:90%;
  height:10px;
  border:0px solid red;
  margin-top:-6px;
  padding:0;
  background:#fff;
  margin-left:4px;
  /*margin-left:19px;*/
  opacity:0.8;
}
#subtitle_box_desc img
{
  float:right;
}


#entity_div
{
  width:100%;
  height:auto;
  border:0px solid blue;
  opacity:0.8;
}
#entity-box
{
  width:100%;
  height:auto;
  border:0px solid green;
  margin-bottom:10px;
  opacity:0.8;
}
.entity_input
{
  padding:0px;
  margin-left:20px;
  /*margin-left:3.15%;*/
  /*
  margin-top:5px;
  margin-bottom:5px;
  */
  display:block;
  border:0px solid red;
  color:gray;
  width:92.5%;
  height:25px;
  opacity:0.8;
}

#entity_box_desc
{
  float:left;
  width:92.5%;
  height:10px;
  border:0px solid red;
  margin-top:-6px;
  padding:0;
  background:#fff;
  margin-left:20px;
  opacity:0.8;
}
#entity_box_desc img
{
  float:right;
}


#input_entity
{
  float:left;
}


.no-ol
{
  border:0;
  outline:none;
}
.no-ol:focus
{
  border:0;
  outline:none;
}





#input_addons
{
  display:block;
  width:92.5%;
  height:18px;
  border:0px solid red;
  margin-left:20px;
  /*margin-bottom:-8px;*/
  background:#fff;
  opacity:0.8;
}
.input_addons_links
{
  float:right;
}
.link_addon_icons
{
  /*width:25px;
  height:25px;
  border:2px solid gray;
  */
  /*
  -moz-border-radius: 4px ; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  -webkit-border-radius: 4px ;
  */

}

#input-attachments-section
{
  width:95%;
  padding:0;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
  height:auto;
  border:1px solid #ddd;
  display:none;
}

#input_campaign
{
  /*border:1px solid gray;*/
  color:#ccc;
  padding:5px 0 5px 0;
  margin-top:10px;
  border:0px solid red;
}

#input_campaign span
{
  margin-left:20px;
  border:0px solid red;
}

.ask-campaign
{
  margin-left:10px;
}
#campaign_label
{
  margin-left:13px;
  font-weight:bold;
  font-size:14px;
  display:inline-block;
  border:0px solid red;
  vertical-align:middle;

}
#campaign
{
  border:1px solid gray;
}

.campaign-type
{
   display:inline-block;
   width:auto;
   height:auto;
   border:0px solid blue;
   padding:0 5px 0 5px;
}

.del-camp
{
  color:green;
  width:9px;
  height:9px;
  border:0px solid red;
  font-size:8px;
  margin-top:0px;
  margin-left:0px;
  background:url("/images/alpha/close_mini.png");
  display:none;
}

.del-camp:hover
{
  cursor:pointer;
}

.del-camp-inactive
{
  display:none;
}
.campaign-btn
{

  width:40px;
  height:20px;
  display:inline-block;
  margin-left:0px;
  border:1px solid gray;
  margin-top:0px;
  margin-bottom:10px;
  background-color:#ddd;
  color:#333;
   -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.campaign-btn:hover
{
  cursor:pointer;
}

.camp-support
{
  width:60px
}
.selected-camp
{
  border:1px solid #4bacb2;
  background:#4bacb2;
  color:#f1f1f1;
  
}

.campaign-btn span
{
  text-align:center;
}


#post_submit
{
  width:100%;
  height:30px;
  border:0px solid red;
}

.post-fb-twt
{
  width:120px;
  height:30px;
  border:0px solid blue;
  float:right;
  margin-right:10px;
}
.post-fb-twt img
{
}
.fbtwt-pub
{
  border:0px solid red;
  margin-left:-5px;
  display:inline-block;
  
}
.fbtwt-pub input
{
}

#save-or-pub
{
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
  /*background-color:#92d050;*/
  color:#282828;
  width:10px;
  height:13px;
  float:right;
  background-image: url("/images/alpha/or_text.png"); 
}
#actwitty_generator 
{
  margin-right:20px;
  margin-top:0px;
  margin-bottom:10px;
  color:#282828;
  width:67px;
  height:24px;
  float:right;
  background-image: url("/images/alpha/publish_unselected_button.png"); 
}
#post_submit_button:hover 
{ 
  background-image: url("/images/alpha/publish_hover_button.png");
  cursor:pointer;
}
#save_submit_button 
{
  margin-right:20px;
  margin-top:0px;
  margin-bottom:10px;
  /*background-color:#92d050;*/
  color:#282828;
  width:67px;
  height:24px;
  float:right;
  background-image: url("/images/alpha/save_unselected_button.png"); 
  
}
#save_submit_button:hover 
{ 
  background-image: url("/images/alpha/save_hover_button.png");
  cursor:pointer;
}

#input-attachments-section
{
  width:95%;
  padding:0;
  margin-top:10px;
  margin-left:20px;
  height:auto;
  border:1px solid #ddd;
  display:none;
}
#attachment-list
{
  width:100%;
  height:auto;
  border:0px solid red;
}
.choose-attach
{
  disabled:true;
}
#input-addmore-attachments
{
  width:100%;
  height:20px;
}
#input-addmore-attachments a
{
  float:right;
  font-weight:normal;
  font-size:14px;
  color:#7D9EC0;
}
.attach-caption
{
  border:1px solid #ddd;
  color:#ddd;
  height:25px;
  width:300px;
}

.delete-attach
{
  display:inline-block;
  margin-left:20px;
}
.input-attachment
{
  width:400px;
  height:50px;
  padding:5px;
  border:0px solid blue;
  /*float:left;*/
}

.input-attachment a
{
  text-decoration:none;
  text-align:center;
  font-weight:normal;
  font-size:10px;
  padding:5px;
  padding-left:10px;
}




/* ----Input Character Count ---- */
#input-char-count
{
  width:100%;
  height:30px;
  display:none;
}

#input-char-count span
{
  float:right;
  font-size:12px;
  font-weight:normal;
  color:#7a7a7a;
}

/* ---- Hover on Image Addition ---- */
a.info {position:relative;z-index:0;color:#000;text-decoration:none;} 
a.info span {display: none; text-decoration:none;} 
a.info:hover{z-index:1;background:#fff;} 
a.info:hover span { 
  display:block;
  position:absolute;
  top:-10px; /*this positions the tooltip*/
  left:55px; /*this positions the tooltip*/
  width:80px;
  /*border:1px solid #fff;*/
  background:#87ceeb; 
  color:#fff;
  font-size:14px;
  text-align:center;
  padding:5px;
} 



/* ----------------------------------------------Channel Stream Tab-------------------------------------*/


#p-ch-st-tab-sect
{
  padding:0px 0;
  border:0px solid green;
}

#p-ch-st-tab
{
  width:605px;
  height:50px;
  border:0px solid blue;
  margin-left:195px;
}


ul.p-cstab {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 48px;
  border-top:0px solid #ddd;
  border-bottom: 0px solid #ddd;
	width: 620px;
  display:block;
  background:#afafaf;
  border:0px solid blue;
  margin-left:2px;
}


ul.p-cstab li {
  display:block;
	float: left;
	margin:0px 0 0 0px;
	padding: 0px 0px;
	height: 38px;
	line-height: 38px;
	margin-bottom: -1px;
	position: relative;
  background:#afafaf;
  width:304px;
  text-align:center;
  border-bottom:5px solid white;
  border-top:5px solid #afafaf;
}

ul.p-cstab li.p-ch-tab {
  border-left:5px solid  #afafaf;
  border-right:1px solid #afafaf;
}


ul.p-cstab li.p-st-tab {
  border-left:1px solid  #afafaf;
  border-right:5px solid #afafaf;
}




ul.p-cstab li a {
	text-decoration: none;
  text-align:center;
	color: #333;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
  font-size:16px;
  font-weight:bold;
}



ul.p-cstab li.p-ch-tab:hover {
  color:#00BFFF;
  background: #cccccc;
  border-left:5px solid #afafaf;
  border-right:1px solid #afafaf;
}

ul.p-cstab li.p-st-tab:hover {
  color:#00BFFF;
  background: #cccccc;
  text-decoration:none;
  border-right:1px solid #afafaf;
  border-bottom:5px solid white;
  border-right:5px solid #afafaf;
}

html ul.p-cstab li.p-ch-tab.active  {
	color:#00BFFF;
  background: #fff;
  text-decoration:none;
  border-left:5px solid #afafaf;
  border-right:1px solid #afafaf;
}

html ul.p-cstab li.p-st-tab.active  {
	color:#00BFFF;
  background: #fff;
  text-decoration:none;
  border-left:1px solid #afafaf;
  border-right:5px solid #afafaf;
}





.p-cstab_content {
	border: 5px solid  #afafaf;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width:610px;
  height:auto;
  color:#000000;
}


/*****************************************  Stream Filters ***************************************/
.p-st-fltr-box
{
  width:100%;
  height:50px;
 
}
.p-st-filter-sect
{
  height:50px;
  width:100%;
}
.p-st-filter
{
  margin:0;
  padding:0;
  width:620px;
  list-style:none;
  position:absolute;
  z-index:1000;
  background:#CCCCCC;
  border:0px solid red;
}
.p-st-filter li
{
  display:inline;
}
.p-st-flt-label
{
  width:100px;
  text-align:center;
  font-size:16px;
}
.p-st-filter-box
{
  width:auto;
  height:42px;
  font-size:18px;
  text-align:center;
  vertical-align:middle;
  /*padding:10px 5px 5px 5px;
  margin:8px 5px 0 2px;*/
  
  
}
.p-flt-actor
{
  width:140px;
  height:34px;
  display:inline-block;
  float:left;
  border:0px solid green;
  margin:0px 1px 0 0px;
  border:4px solid #afaf93;
}

.p-flt-holder
{
  padding:0px 0 0 0 ;
  margin-top:5px;
  border:0px solid blue;
  font-size:22px;
  overflow:hidden;
  width:140px;
  height:30px;
  
}

.del-fltr
{
  color:green;
  width:9px;
  height:9px;
  border:0px solid red;
  font-size:8px;
  margin-top:0px;
  margin-left:0px;
  float:top;
  float:right;
  background:url("/images/alpha/close_mini.png");
  display:none;
}

.del-fltr:hover
{
  cursor:pointer;
}

.del-fltr-inactive
{
  display:none;
}

.p-st-flt-default
{
  background:#cccccc;
  color:#ffffff;
}
.p-st-flt-channel
{
  background:#903737;
  color:#a4a88d;
}


.p-st-flt-entity
{
  background:#943988;;
  color:#ffffff;
}


.p-st-flt-location
{
  background:#274521;
  color:#a4a88d;
}

.p-st-fltr-search-img{
  height:30px;
  width:30px;
}


/* -------------------------------Left Bar Filter ----------------------------------*/
#channels_left_side_bar{
  display:none;
}

#streams_left_side_bar{
  display:none;
}

.p-con-l-fltr
{
  width:190px;
  height:auto;
  border:1px solid #fff;
  
}
.p-l-fltr-1
{
  width:190px;
  height:300px;
  border:0px solid black;
  position:absolute;
}





.p-content-type-fltr-sect
{
  height:160px;
  width:160px;
  border:0px solid blue;
  float:right;
  display:block;
}

.p-cont-typ-fltr
{
  height:43px;
  margin-top:7px;
  width:70px;
  border:0px solid green;
  /*background-image: url("../images/all.png");*/
  background-repeat:no-repeat;
  float:left;
}
.p-cont-typ-fltr:hover
{
  cursor:pointer;
}

#cont-typ-fltr-all { background-image: url("/images/alpha/all_unselected.png");}
#cont-typ-fltr-all:hover { background-image: url("/images/alpha/all_hover.png");}


#cont-typ-fltr-drafts  { background-image: url("/images/alpha/drafts_unselected.png"); }
#cont-typ-fltr-drafts:hover  { background-image: url("/images/alpha/drafts_hover.png"); }


#cont-typ-fltr-videos  { background-image: url("/images/alpha/videos_unselected.png"); }
#cont-typ-fltr-videos:hover  { background-image: url("/images/alpha/videos_hover.png"); }


#cont-typ-fltr-images  { background-image: url("/images/alpha/images_unselected.png"); }
#cont-typ-fltr-images:hover  { background-image: url("/images/alpha/images_hover.png"); }


#cont-typ-fltr-twitter { background-image: url("/images/alpha/twitter_unselected.png");}
#cont-typ-fltr-twitter:hover { background-image: url("/images/alpha/twitter_hover.png");}


.p-l-fltr-2
{
  width:100%;
  width:190px;
  height:auto;
  border:0px solid gray;
  margin-top:180px;
  position:absolute;
}
.p-related-fltrs-sect
{
  height:auto; 
}


.p-rel-fltrs
{
  width:100%;
}
.p-rel-fltrs span
{
  float:right;
  text-decoration:underline;
  font-weight:bold;
}

.p-rel-fltrs span:hover
{
  cursor:pointer;
}

.p-rel-fltr-tags
{
  width:100%;
  height:auto;
  border:0px solid green;
  float:right;
}


.p-fltr-tag-list
{
  display:block;
  float:right;
  margin:2px 2px;
}
.p-fltr-tag-list span
{
  background:#585858;
  padding:2px;
  font-weight:normal;
  -moz-border-radius: 10px ; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px ;
  color:#fff;
  text-decoration:none;
  font-size:10px;
  padding:2px;
}


.p-fltr-tag-list-location
{
  display:block;
  float:right;
  width:80px;
  overflow:hidden;
  height:14px;
  margin:2px 2px;
  background:#274521;
  -moz-border-radius: 10px ; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px ;
  text-decoration:none;
  text-align:center;
}
.p-fltr-tag-list-location span
{

  color:#a4a88d;
  background:#274521;
  padding:2px;
  font-weight:normal;
  text-decoration:none;
  font-size:10px;
  padding:2px;
  width:100%;
  
}

.p-fltr-tag-list-entity
{
  display:block;
  float:right;
  width:80px;
  overflow:hidden;
  height:14px;
  margin:2px 2px;
  background:#943988;
  -moz-border-radius: 10px ; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px ;
  text-decoration:none;
  text-align:center;

 
}
.p-fltr-tag-list-entity span
{
  background:#943988;
  color:#ffffff;
  width:100%;
  padding:2px;
  font-weight:normal;
  text-decoration:none;
  font-size:10px;
  padding:2px;
}

ul.p-fltr-tag-list
{
  list-style:none
}

ul.p-fltr-tag-list li
{
  display:inline;
  background:#EED5B7;
  padding:2px;
}


.p-fltr-tag-list span.p-selected-fltr-entity
{
  background:#2D7010;
  color:#fff;
}

/* ------------------------------- Right Bar Filter ---------------------------------*/
#channels_right_side_bar{
  display:none;
}

#streams_right_side_bar{
  display:none;
}
.p-con-r-fltr
{
  width:150px;
  height:auto;
  border:1px solid #fff;
  margin-left:10px;
}
.p-r-content
{
  width:150px;
  height:auto;
  border:0px solid red;
  margin-left:20px;
}


.p-r-fltr-st
{
  width:100%;
  width:180px;
  height:auto;
  height:80px;
  border:0px solid red;
  position:fixed;
}

.p-r-fltr-st-by
{
  height:180px;
}


.p-r-fltr-me
{
    margin-top:7px;
    width:80px;
    height:60px;
    border:0px solid green;
    background-image:url("/images/alpha/me_unselected.png");
    background-repeat:no-repeat;
    float:left;
}

.p-r-fltr-me-active
{
    background-image:url("/images/alpha/me_selected.png");
}

.p-r-fltr-me:hover { background-image:url("/images/alpha/me_hover.png"); cursor:pointer ;}
.p-r-fltr-others
{
    margin-top:7px;
    width:80px;
    height:60px;
    border:0px solid blue;
    background-image:url("/images/alpha/others_unselected.png");
    background-repeat:no-repeat;
    float:left;
}
.p-r-fltr-others:hover { background-image:url("/images/alpha/others_hover.png"); cursor:pointer ;}

.p-r-fltr-others-active
{
    background-image:url("/images/alpha/others_selected.png");
}

.p-r-userinfo{
  height:180px;
  font-size:22px;
  border:2px solid #ccc;
}

.p-r-userinfo a img{
  height:100px;
  width:100px;
}

.p-r-userinfo a span{
}

.p-r-userinfo .follow_button{
  float:right;
  float:bottom;
  margin-top:105px;
}


.p-r-search-fltr
{
  width:100%;
  width:150px;
  height:auto;
  margin-top:160px;
  position:fixed;
}



.p-r-search-fltr-bar
{
  height:25px;
  background:#ddd;
  padding:3px;
}
.p-r-search-fltr-bar span
{
  float:right;
  color:#333;
  font-size:14px;
}

.p-r-fltr-by
{
  width:100%;
  height:15px;
  margin:2px 0 2px 0;
}
.p-r-fltr-by span
{
  font-size:11px;
  text-decoration:underline;
}

.p-r-fltr-by span:hover
{
  cursor:pointer;
}

/* ----------------------------------------  Content stream -------------------------------------*/
#channels_main_bar{
  display:none;
}

#streams_main_bar{
  display:none;
}

#p-content-sect{
	padding:0px 0;
  border:0px solid red;
  margin-top:0px;	
 }

#p-content-sect ul, #p-content-sect p{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
  
	}


#p-content-sect li{
	display:block;
	float:left;
	margin:0 5px 0 0;
	padding:0;
  
	}



.p-content
{
  width:600px;
  height:auto;
  border:0px solid gray;
  background:#fff;
}

.p-content .js_activity_entity__
{
  margin-left:1px;
  padding-left:5px;
  padding-right:5px;
  margin-right:2px;
  background:#943988;
  color:#ffffff;
  border:0px solid #003399;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

.p-aw-post
{
  height:auto;
  width:100%;
  width:550px;
  border:0px solid blue;
  margin-top:8px;
  margin-left:10px;
  padding:10px;

}

.p-awp-user
{
  width:100%;
  height:80px;
  display:block;
  border:0px solid red;
  overflow:hidden;
}


.p-awp-user a
{
  width:80px;
  float:right;

}

div.p-awp-actions
{
  width:100%;
  /*float:right;
  float:top;*/
  height:25px;
  border:0px solid red;

}



div.p-awp-actions .p-awp-close
{
  float:right;
  margin-left:5px;
  /*float:top;*/
}

div.p-awp-actions .p-awp-publish
{
  float:left;
  margin-left:10px;
  padding-left:2px;
  padding-right:2px;
  /*float:top;*/
}

div.p-awp-actions .p-awp-edit
{
  float:left;
  margin-left:10px;
  padding-left:2px;
  padding-right:2px;
  /*float:top;*/
}



.p-awp-channel
{
  width:100%;
  height:30px;
  border:0px solid red;
  margin-top:4px;
}

.p-awp-channel-desc
{
  float:right;
}

.p-awp-channel-label
{
  font-size:16px;
  color:#e5e5e5;
}
.p-awp-channel-name
{
  font-size:18px;
  background:#903737;
  color:#a4a88d;
}


.p-awp-subtitle
{
  width:100%;
  height:30px;
  border:0px solid blue;
}

.p-awp-subtitle-name
{
  float:right;
  font-size:16px;
  padding:3px;
  font-weight:bold;
  color:#333;
}

.p-awp-time
{
  width:100%;
  height:20px;
  margin-top:5px;
  /*float:right;*/
  border:0px solid green;
}
.p-awp-time-content
{
  float:right;
  font-size:10px;
}
.p-awp-date
{
  width:100%;
  height:20px;
  border:0px solid blue;
  margin-top:4px;
}
.p-awp-date-content
{
  float:right;
  font-size:12px;
}

.p-awp-content
{
  width:100%;
  /*float:right;*/
  height:auto;
  border:0px solid red;
}

.p-awp-content p
{
  margin-left:10px;
  font-size:14px;
  color:#333;
  line-height:18px;
}

.p-awp-location{
  width:100%;
  float:right;
  height:auto;
  border:0px solid red;
}
.p-awp-location img{
  float:left;
  height:40px;
  width:40px;

}

.p-awp-location-name
{
  float:left;
  margin:2px 2px;
  background:#274521;
  -moz-border-radius: 10px ; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px ;
  text-decoration:none;
  text-align:center;
}
.p-fltr-tag-list-location span
{

  color:#a4a88d;
  background:#274521;
  padding:2px;
  font-weight:normal;
  text-decoration:none;
  font-size:10px;
  padding:2px;
  width:100%;
  
}



.p-awp-view-video-attachment
{
  width:100%;
  float:right;
  height:auto;
  border:0px solid #fff;
  margin-top:8px;
  z-index:1;

}


.p-awp-view-video-attachment .video
{
  float:left;
  margin:5px;
  border:2px solid #fff;
}

.p-awp-view-attachment
{
  width:100%;
  float:right;
  height:auto;
  border:0px solid #fff;
  margin-top:8px;
  z-index:1;
}

.p-awp-view-attachment a
{
  margin-left:5px;
}



/*
#header,#p-ip-sect ,#p-ch-st-tab-sect,#p-content-sect 
{
  border:0px solid red;
}
*/

a.js_handle_stream_entity_mention
{
    position: relative;
    z-index: 24;
}

a.js_handle_stream_entity_mention:hover
{
    z-index: 25;        
}

a.js_handle_stream_entity_mention span
{
    display: none;
}

a.js_handle_stream_entity_mention:hover span
{
    display: block;
    position: absolute;
    background-color: #6699ff;
    color: #fff;
     border:2px solid #ccc;
}



/*

.add-page-input
{
 
  font-family:'actwitty-font';
}

.actwitty-fontify
{
 
  font-family:'actwitty-font';
}
*/
