.p-st-docs-per-activity{
  width:90%;
  display:block;
  padding:5px;
  margin:20px;
  height:auto;

}

.p-st-docs-user{
  width:80px;
  float:left;
  display:inline;
  overflow:hidden;
  height:100%;
}

.p-st-user-pic{
  width:50px;
  float:left; 
}

.p-st-user-name{
  padding:2px;
}

.p-st-docs-list{
}

.p-st-docs-image{
  margin:2px;
}
