#latest_summary_box
{
  border:0px solid red;
  height:60px;
  /*width:470px; */
  width:100%;
  margin:0px auto;
}
.main_box_user_list{
  width:100%;
}

.main_users_single_user{
  
  display:inline;
  float:left;
  border:0px solid #ccc;
  /*padding:1px 1px;*/
  /*margin:8px 1px 0px;*/
  margin:0px 1px 0px;
  position:relative;
}

#latest_summary_box:first-child {
  margin-left:20px;
}

.main_users_img_box{
  width:50px;
  height:50px;
  overflow:hidden;
}

.main_summary_box{
  display:none;
  width:575px;
  height:200px;
  border:0px solid red;
  background-image:url("/images/alpha/channel_popup_back.png");
  background-repeat:no-repeat;
  position: absolute;
  margin-top:-230px;
  margin-left:-100px;
  overflow:hidden;
}

.main_summary_box_leftsiders{
  display:none;
  width:575px;
  height:200px;
  border:0px solid red;
  background-image:url("/images/alpha/channel_popup_back.png");
  background-repeat:no-repeat;
  position: absolute;
  margin-top:-230px;
  margin-left:-100px;
  overflow:hidden;
}

.main_summary_box_rightsiders
{
  display:none;
  width:575px;
  height:200px;
  border:0px solid red;
  background-image:url("/images/alpha/channel_popup_back_2.png");
  background-repeat:no-repeat;
  position: absolute;
  margin-top:-230px;
  margin-left:-450px;
  overflow:hidden;
}

.main_users_single_user:hover .main_summary_box{
  display: block;
}

.main_users_single_user:hover .main_summary_box_leftsiders{
  display: block;
}

.main_users_single_user:hover .main_summary_box_rightsiders{
  display: block;
}



/************************************* Channel Main Page Snapshot ********************************/
#aw_home_latest_updates
{ 
  font-family: nimbus-sans-condensed,sans-serif;
}
.p-channlep-post-mainpage
{
  width:550px;
  height:180px;
  border:0px solid blue;
  margin-top:10px;
  margin-left:10px;
}


.p-channelp-post-header-mainpage
{
  width:100%;
  height:60px;
  border:0px solid green;
}

.p-channelp-post-tab-mainpage
{
  float:left;
  width:60px;
  height:30px;
  background:#eaa440;
  margin-top:30px;
  border:0px solid red;
}

.p-channelp-post-author-mainpage
{
  float:right;
  width:auto;
  height:100%;
  background:#e0e0e0;
  margin-right:50px;

}
.p-channelp-post-author-name-mainpage
{
  float:left;
  width:140px;
  height:40px;
  border:0px solid red;
  margin-top:20px;
}

.p-channelp-post-author-name-mainpage span
{
  
}

.p-channelp-post-author-img-mainpage
{
  float:right;
  width:60px;
  height:100%;
  border:0px solid blue;
}


.p-channelp-post-info-mainpage
{
  width:100%;
  height:150px;
  border:0px solid #8B3E2F;
  margin-top:0px;
  margin-left:3px;
}

.p-channelp-post-lu-mainpage
{
  width:250px;
  height:120px;
  background:none;
  float:left;
  font-size:10px;
}


.p-channelp-post-cu-mainpage
{
  width:250px;
  height:140px;
  background:#CDC8B1;
  float:left;
  margin-left:5px;
}

.p-channelp-post-cu-bar-mainpage
{
  margin:0px auto;
  width:80%;
}


.p-channelp-post-title-mainpage
{
  font-size:38px;
  color:#fff;
  text-align:center;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.p-channelp-post-analytic-mainpage
{
  width:40px;
  height:140px;
  background:none;
  float:left;
}

.p-channelp-post-like-mainpage
{
  width:100%;
  height:40px;
  background:#b847cf;
  margin-top:10px;
  color:#fff;
}
.p-channelp-post-like-mainpage p center
{
  font-size:12px;
  text-align:center;
  color:#fff;
}


.p-channelp-post-post-mainpage
{
  width:100%;
  height:40px;
  background:#afa3ad;
  margin-top:10px;
  color:#fff;
}




.p-channelp-post-post-mainpage p center
{
  font-size:15px;
  text-align:center;
  color:#fff;
}





.p-channelp-post-lu-header-mainpage
{
  width:100%;
  height:20px;
  font-size:16px;
}
.p-channelp-post-lu-header-mainpage span
{
  float:left;
  color:#fffaf0;
}

.p-channelp-post-lup-mainpage
{
  width:100%;
  height:55px;
  background:#4a4a4a;
  margin-top:3px;
  overflow:hidden;

  box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  -webkit-box-shadow: 0 0 1px #fff;
  -o-box-shadow: 0 0 1px #fff;
}
.p-channelp-post-lup-mainpage .p-channelp-post-lup-time
{
  height:10px;
  width:100%;
}
.p-channelp-post-lup-mainpage .p-channelp-post-lup-time span
{
  float:right;
  font-size:10px;
  color:#f7f7f7;
}

.p-channelp-post-lup-mainpage .p-channelp-post-lup-text
{
  margin-left:10px;
}

.p-channelp-post-lup-mainpage .p-channelp-post-lup-text p
{
  font-size:16px;
  color:#fffaf0;
}

