#p-ch-st-tab-sect_mm
{
  padding:0px 0;
  border:0px solid green;
}

#p-ch-st-tab_mm
{
  width:605px;
  height:50px;
  border:0px solid blue;
  margin-left:383px; //TODO: Fix this 
}


ul.p-cstab_mm {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 48px;
  border-top:0px solid #ddd;
  border-bottom: 0px solid #ddd;
	width: 620px;
  display:block;
  background:#afafaf;
  border:0px solid blue;
  margin-left:2px;
}


ul.p-cstab_mm li {
  display:block;
	float: left;
	margin:0px 0 0 0px;
	padding: 0px 0px;
	height: 38px;
	line-height: 38px;
	margin-bottom: -1px;
	position: relative;
  background:#afafaf;
  width:304px;
  text-align:center;
  border-bottom:5px solid white;
  border-top:5px solid #afafaf;
}

ul.p-cstab_mm li.p-ch-tab_mm {
  border-left:5px solid  #afafaf;
  border-right:1px solid #afafaf;
}


ul.p-cstab_mm li.p-st-tab_mm {
  border-left:1px solid  #afafaf;
  border-right:5px solid #afafaf;
}




ul.p-cstab_mm li a {
	text-decoration: none;
  text-align:center;
	color: #333;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
  font-size:16px;
  font-weight:bold;
}



ul.p-cstab_mm li.p-ch-tab_mm:hover {
  color:#00BFFF;
  background: #cccccc;
  border-left:5px solid #afafaf;
  border-right:1px solid #afafaf;
}

ul.p-cstab_mm li.p-st-tab_mm:hover {
  color:#00BFFF;
  background: #cccccc;
  text-decoration:none;
  border-right:1px solid #afafaf;
  border-bottom:5px solid white;
  border-right:5px solid #afafaf;
}

html ul.p-cstab_mm li.p-ch-tab_mm.active  {
	color:#00BFFF;
  background: #fff;
  text-decoration:none;
  border-left:5px solid #afafaf;
  border-right:1px solid #afafaf;
}

html ul.p-cstab_mm li.p-st-tab_mm.active  {
	color:#00BFFF;
  background: #fff;
  text-decoration:none;
  border-left:1px solid #afafaf;
  border-right:5px solid #afafaf;
}





.p-cstab_content_mm {
	border: 5px solid  #afafaf;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width:610px;
  height:auto;
  color:#000000;
}


.p-content_mm{
  width:600px;
  height:auto;
  border:0px solid gray;
  background:#fff;
}

#channels_image_main_bar{
  display:none;
}

#streams_image_main_bar{
  display:none;
}
/********************************************************/
/*                 Channel Images Boxing ***************/
.mm-img-channel-parent-box{
  border: 2px solid  #ccc;
  width:280px;
  height:250px;
  margin-left:10px;
  margin-top:10px;
  background:#E5EECC;
  float:left;
  
}


.mm-img-channel-src-box{
  border: 0px solid  green;
  width:40px;
  float:left;
}
.mm-img-channel-src-box img{
  width:30px;
  height:30px;
  padding:2px;
  display:none;
}

.mm-img-channel-img-box{
  border: 0px solid  blue;
  margin-left:10px;
  width:205px;
  height:155px;
  float:left;
}

.mm-img-channel-img-box img{
  //width:200px;
  //height:150px;
  float:center;
}

.mm-img-channel-img-box:hover {
  cursor:pointer;
}

.mm-img-channel-user-box{
  border: 0px solid  yellow;
  width:45px;
  height:45px;
  float:right;
}



.mm-img-channel-user-image-box{
  border: 0px solid  black;
  float:right;  
}

.mm-img-channel-user-image-box:hover {
  cursor:pointer;
}

.mm-img-channel-user-image-box img{
  width:40px;
  height:40px;
  padding:2px;
}

.mm-img-channel-user-name-box{
  overflow:hidden;
  display:none;
}

.mm-img-channel-user-name-box:hover {
  cursor:pointer;
}

.mm-img-channel-user-name-box span{
  padding:2px;
}

.mm-img-channel-count-box{
  border: 0px solid  red;
  margin-right:5px;
  margin-top:40px;
  width:30px;
  height:30px;
  font-size:22px;
  background:#ccc;
  text-align:center;
  float:right;
}

.mm-img-channel-count-box span{
}
.mm-img-channel-count-box:hover {
  cursor:pointer;
}

.mm-img-channel-display-box{
  border: 0px solid  #111;
  width:90%;
  float:left;
  float:bottom;
  margin: 10px;
  height: 34px;
  display: block;
  overflow: hidden;
  border: 4px solid #AFAF93;
  background: #903737;
  text-align:center;
}

.mm-img-channel-display-box:hover {
  cursor:pointer;
}

.mm-img-channel-display-box span{
  padding: 0px 0 0 0;
  margin-top: 5px;
  overflow: hidden;
  font-size: 22px;
  color: #A4A88D;
}

/********************************************************/
