/* ----------------------------------------Settings page-------------------------------------- */
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
height:900px;
padding:5px;/*14*/
}

/* ----------- stylized ----------- */
#stylized{
/*border:solid 2px #b7ddf2;
background:#ebf4fb;*/
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
/*border-bottom:solid 1px #b7ddf2;*/
padding-bottom:10px;
}
#stylized label{
display:block;
/*font-weight:bold;*/
font-size:14px;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:12px 0 20px 50px;
}
#stylized textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:12px 0 20px 50px;
}
#stylized select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:12px 0 20px 50px;
}

#stylized button{
clear:both;
margin-left:250px;/*200*/
width:50px;/*75*/
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
/*line-height:31px;*/
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
/* pramod */
/*
#settings-button {
  width: 100px;
  margin-left:175px;
  margin-top:10px;
}
*/
/* --------------------------------------Facebook friends ----------------- */

.sc_menu1 li {
	display: block;
	float: left;	
	padding: 0 4px;/*4*/
}
.sc_menu1 a {
	display: block;
	text-decoration: none;
}
.sc_menu1 span {
	display: none;
	margin-top: 3px;
	
	text-align: center;
	font-size: 12px;	
	color: #fff;
}
.sc_menu1 a:hover span {
	display: block;
}
.sc_menu1 div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.sc_menu1 li:hover div#inner {
	filter:alpha(opacity=50);	
	opacity: 0.5;
}
div.sc_menu1 {
	/* Set it so we could calculate the offsetLeft */
  /*background:#cccccc none repeat scroll 0 0;*/
	position: relative;
	/*height: 240px;*/
	width: 750px;/*650*/
	overflow: hidden;
  /*border:2px solid black;*/
  left:0px;/*340*/
}

div#invite_friends
{
  background:#cccccc repeat scroll;
	position: relative;
	height: 240px;
	width: 610px;/*650*/
	overflow: auto;
  border:2px solid black;
  left:340px;
}

p#fb_friends{
  margin-left:340px;
  font-size: 18px;
  font-color: #000000;
}
h3#empty_check{
  /*margin-left:340px;*/
  font-size: 20px;
  font-color:#ccc;
  color:#ffffff;
}
ul.sc_menu1 {
	display: block;
	height: 210px;
	/* max width here, for users without javascript */	
	width: 900px;	/*1500*/
	padding: 5px 0 0 5px;/*15px 0 0 15px; */
	/* removing default styling */
	margin: 0;
	background: url('navigation.png');		
	list-style: none;
  /*border:2px solid yellow;*/
}
div#txt1{
  font-color:#ccc;
  color:#ffffff;
}
li.lk{
  width:130px;
  margin:5px;
}

