/* ----------------------------------------Settings page-------------------------------------- */
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
height:900px;
padding:5px;/*14*/
}

/* ----------- settings-main ----------- */
#settings-main{
/*border:solid 2px #b7ddf2;
background:#ebf4fb;*/
/*margin:0 auto;*/
}
#settings-main h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#settings-main p{
font-size:11px;
color:#666666;
margin-bottom:20px;
/*border-bottom:solid 1px #b7ddf2;*/
padding-bottom:10px;
}
#settings-main label{
display:block;
/*font-weight:bold;*/
font-family:nimbus-sans-condensed,sans-serif;
color: #666;
font-size:16px;
text-align:right;
width:140px;
float:left;
/*background: #E0E0E0;*/
}
#settings-main .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#settings-main input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:12px 0 20px 50px;
background-color: #DDD;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
#settings-main textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:12px 0 20px 50px;
background-color: #DDD;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
#settings-main #user_settings_image{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:50px; 
margin:-5px 0 20px 50px;/*10 0 20 500*/
}
#settings-main #profile_img_selector{
/*float:left;*/
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:100px; 
/*border:2px solid red;*/
margin:-60px 0 20px 295px;/*10 0 20 500*/
background-color: #DDD;
}
#settings-main select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:12px 0 20px 50px;
background-color: #DDD;
}

#settings-main button{
clear:both;
margin-left:300px;/*200*/
width:50px;/*75*/
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
/*line-height:31px;*/
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
/* pramod */
#settings-main #settings-button {
  width: 75px;
  margin-left:150px;
  margin-top:10px;
}

/***************************** Welcome Page Facebook/Twitter ******************/
#sns_twitter_id{
  /*float:right;
  margin-right:-25px;
  margin-left:40px;
  margin-top:-10px;
  padding:1px;
  height:23px;*/
}
#tw{
  float:right;
  margin-right:45px;
  margin-top:-3px;

  padding:1px;
  width:100px;
  height:22px;
}
#fb{
  float:right;
  margin-top:-3px;
  padding:1px;
  width:100px;
  height:22px;
}
#sns-login {
  display: block;
  float:right;
  /*margin-top: -20px;*/
}

#sns_facebook_id{
  /*float:right;
  margin-right:5px;
  margin-top:-10px;
  padding:1px;
  margin-right:10px;
  padding:2px;
  height:23px;*/
}

/*
#tw{
  float:right;
  margin-right:-50px;
  margin-top:-10px;
  padding:2px;
  width:24px;
  height:22px;
}
#fb{
  float:right;
  margin-right:-25px;
  margin-top:-10px;
  padding:2px;
  width:24px;
  height:22px;
}
*/
