/*ActWitty Stylesheet file
 *File: AW Profile Page Stream Module
 *code: AWPPM Actwitty Profile Page Stream
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com */
/******************************************* Common for all Columns main Div's ************************************ */
/* ----------------------------------------------Wrapper------------------------------------- */
/* line 23, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
div.awppm_stm_channel_page_wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

/* line 29, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
.awppm_stm_channel_page_column1 {
  color: #d2d2d2;
  background-color: #363436;
  /*background: -moz-linear-gradient(center top , #7E7F81 0pt, #363436 72%) repeat-y fixed 0 100px #7E7F81 */
  border: 0px solid red;
}

/* line 35, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
.awppm_stm_channel_page_column2 {
  color: white;
  background-color: white;
  border: 0px solid green;
}

/* line 40, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
.awppm_stm_channel_page_column3 {
  color: black;
  background-color: white;
  border: 0px solid blue;
}

/****************************************** User box section for user photo and input box ************************* */
/* line 47, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_channel_info_box {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 990px;
  height: auto;
  margin-bottom: 30px;
  border: 0px solid blue;
}

/* line 53, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_channel_info_section {
  width: 960px;
  height: auto;
  margin: auto;
  border: 0px solid red;
  position: relative;
}

/* line 60, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_channel_info_div {
  width: 200px;
  height: 135px;
  /*float:left; */
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #dddddd;
  -moz-box-shadow: 0 0 8px #dddddd;
  -webkit-box-shadow: 0 0 8px #dddddd;
  box-shadow: 0 0 8px #dddddd;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 74, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_channel_info_div .awppm_stm_channel_page_channel_label {
  height: 22px;
  width: 100%;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 88, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box {
  height: auto;
  min-height: 200px;
  width: 580px;
  margin-left: 300px;
  padding: 15px 10px 10px 10px;
  border: 0px solid blue;
  border: 1px solid #f4f4f4;
  float: left;
  display: inline-block;
}
/* line 99, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_main_label {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 106, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_stream_timelines {
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 200px;
  border: 0px solid red;
  margin-top: 30px;
  display: inline-block;
  position: relative;
}
/* line 115, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_stream_timelines .awppm_stm_channel_page_data_info_more {
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  text-align: center;
  font-weight: bold;
}
/* line 124, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_stream_timelines ul.awppm_stm_channel_page_post_timeline_list {
  width: 100%;
}
/* line 126, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_stream_timelines .awppm_stm_busy_channels_page {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
/* line 138, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_stream_timelines .awppm_stm_busy_mini_box {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  left: 50%;
  position: absolute;
}
/* line 146, ../../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/streams/channel_page/aw_ppm_channel_page_main.sass */
#awppm_stm_channel_page_timeline_container_box .awppm_stm_channel_page_stream_timelines .awppm_stm_busy_mini_box img.awppm_stm_busy_image {
  width: 50px;
  height: 50px;
  margin: auto;
}
