#aw_actgreen_main_header {
  width: 900px;
  height: 70px;
  margin: 0px auto;
  margin-top: 70px;
  padding: 5px;
  text-align: center; }

#aw_actgreen_main_header a {
  text-decoration: none;
  position: relative; }

#aw_actgreen_main_header img {
  vertical-align: middle; }

.actgreen_actwitty_logo {
  position: absolute;
  top: 40px;
  left: 600px; }

#aw_actgreen_main_header span {
  font-size: 30px;
  margin-left: 10px;
  color: #333333;
  vertical-align: middle; }

#aw_actgreen_map_canvas {
  height: 480px;
  width: 450px;
  margin-top: 0.6em;
  float: left;
  margin-left: 10px; }

#aw_actgreen_main_box {
  width: 990px;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px; }

#aw_actgreen_fields {
  width: 500px;
  float: left; }

#aw_actgreen_email_err, #aw_actgreen_location_err, #aw_actgreen_email_valid_err {
  color: red; }

#actgreen_data_save_report {
  color: blue;
  font-size: 14px;
  text-align: center; }
