@font-face {
  font-family: "RobotoRegular";
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot");
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/webfont/roboto/Roboto-Regular-webfont.woff") format("woff"), url("/webfont/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

#aw_actgreen_main_header {
  width: 700px;
  height: 160px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px; }

#aw_actgreen_main_header a {
  text-decoration: none;
  position: relative; }

#aw_actgreen_main_header img {
  vertical-align: middle; }

.actgreen_actwitty_logo {
  position: absolute;
  top: 40px;
  left: 600px; }

#aw_actgreen_main_header span {
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle; }

.actgreen_b {
  color: #29b50a; }

.actgreen_g {
  color: #b64d09; }

#aw_actgreen_main_subheader {
  width: 800px;
  height: 50px;
  text-align: center;
  margin: 0 auto; }
  #aw_actgreen_main_subheader h4 {
    font-size: 18px;
    line-height: 22px;
    font-family: "RobotoRegular";
    color: #333333; }

#aw_actgreen_map_canvas {
  height: 480px;
  width: 450px;
  margin-top: 0.6em;
  float: left;
  margin-left: 10px; }

#aw_actgreen_main_box {
  width: 990px;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px; }

#aw_actgreen_fields {
  width: 500px;
  float: left; }

#aw_actgreen_email_err, #aw_actgreen_location_err, #aw_actgreen_email_valid_err {
  color: red; }

#actgreen_data_save_report {
  color: blue;
  font-size: 14px;
  text-align: center; }

.aw_home_main_footer {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #777777; }
  .aw_home_main_footer .aw_home_footer {
    width: 950px;
    display: block;
    margin: 0px auto; }
    .aw_home_main_footer .aw_home_footer .aw_home_about_us {
      display: inline-block;
      margin-left: 5px;
      margin-right: 10px;
      height: 25px;
      margin-top: 5px;
      float: left; }
      .aw_home_main_footer .aw_home_footer .aw_home_about_us a {
        text-decoration: none;
        font-size: 16px;
        font-family: "RobotoRegular";
        color: white;
        margin-top: 4px; }
    .aw_home_main_footer .aw_home_footer .aw_home_act_green {
      display: inline-block;
      margin-left: 5px;
      margin-right: 10px;
      height: 25px;
      margin-top: 2px;
      float: left; }
      .aw_home_main_footer .aw_home_footer .aw_home_act_green a {
        text-decoration: none; }
        .aw_home_main_footer .aw_home_footer .aw_home_act_green a img {
          vertical-align: middle;
          margin-left: 3px;
          margin-top: -4px;
          padding: 0; }
        .aw_home_main_footer .aw_home_footer .aw_home_act_green a span {
          font-size: 16px;
          font-family: "RobotoRegular";
          color: white; }
    .aw_home_main_footer .aw_home_footer .aw_home_follow_us {
      display: inline-block;
      margin-right: 20px;
      height: 25px;
      margin-top: 5px;
      float: right; }
      .aw_home_main_footer .aw_home_footer .aw_home_follow_us a {
        text-decoration: none; }
        .aw_home_main_footer .aw_home_footer .aw_home_follow_us a img {
          float: right;
          vertical-align: middle;
          margin-left: 3px;
          padding: 0; }
        .aw_home_main_footer .aw_home_footer .aw_home_follow_us a span {
          font-size: 16px;
          font-family: "RobotoRegular";
          color: white; }
      .aw_home_main_footer .aw_home_footer .aw_home_follow_us span {
        float: right;
        font-size: 16px;
        font-family: "RobotoRegular";
        color: white;
        margin-top: 4px; }
