/*
 *ActWitty Stylesheet file
 *File: AW Landing Page Sign Up Module
 *code: AWLPM (awlpm) Actwitty Landing Page Sign Up Main
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com


$aw_var_default_border_width: 0px
$aw_var_default_border_width_big: 0px







#aw_lpm_signup_main_box
  height: 800px
  width: 100%
  
#aw_lpm_signup_main_box img
  width: 600px
  margin: 0 auto

#aw_lpm_signup_main_div
  font-family: RobotoRegular
  display: block
  margin: auto
  margin-top: 100px
  width: 900px
  height: 800px
  /*border: 8px solid #0fb4e7
  border-radius: 5px
  -moz-border-radius: 10px
  border: 1px solid #ddd
  -moz-box-shadow: 0 0 5px #333 
  -webkit-box-shadow: 0 0 5px #333
  box-shadow: 0 0 5px #333






#aw_lpm_sign_up_top_row_div
  width: 890px
  height: 300px
  margin-top: 5px
  border: $aw_var_default_border_width solid black
  display: block
  float: left
#aw_lpm_sign_up_bottom_row_div
  width: 860px
  height: 300px
  border: $aw_var_default_border_width solid black
  display: block
  float: left

#aw_lpm_sign_up_bottom_row_left_div
  width: 400px
  height: 400px
  border: $aw_var_default_border_width_big solid red
  display: inline-block
  float: left

#aw_lpm_sign_up_bottom_row_right_div
  width: 400px
  height: 400px
  border: $aw_var_default_border_width_big solid red
  display: inline-block
  float: left


#aw_lpm_sign_up_register_row_div
  width: 860px
  height: 100px
  display: block
  float: left

#aw_lpm_signup_top_left_div
  width: 400px
  height: 90%
  display: inline-block
  border: $aw_var_default_border_width solid red
  margin-top: 10px
  margin-left: 20px
  float: left

#aw_lpm_signup_top_right_div
  width: 400px
  height: 90%
  margin-top: 10px
  display: inline-block
  border: $aw_var_default_border_width solid green
  float: left
  margin-left: 50px

#aw_lpm_sign_up_bottom_row_right_div_internal
  width: 200px
  height: 80px
  margin-left: 80px
  margin-top: 0px
  padding: 30px
  padding-left: 80px
  display: inline-block
  border: $aw_var_default_border_width solid green


#aw_lpm_location_auto_complete
  display: block
  width: 600px 
  margin-left: 20px
  margin-bottom: 5px

#aw_lpm_map_selector
  padding: 2px
  border: 1px solid #ccc
  display: block
  width: 300px 
  height: 250px 
  margin-left: 40px



@mixin awlpm_signup_labels
  color: #B22222
  margin-left: 20px
  margin-bottom: 3px
  margin-top: 10px
  border: $aw_var_default_border_width solid red
  font-size: 14px
  font-weight: normal
  letter-spacing: 1px
  /* font: 20px/100% Arial, Helvetica, sans-serif
  

@mixin awlpm_signup_inputs
  width: 300px
  height: 40px
  margin-left: 20px
  margin-bottom: 1px
  border: 1px solid #ccc
  border-radius: 2px
  font-size: 21px
  color: #333
  font-family: RobotoRegular
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)))
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 )
  &:focus
    -moz-box-shadow: 0 0 2px #888
    -webkit-box-shadow: 0 0 2px#888
    box-shadow: 0 0 2px #888



@mixin awlpm_signup_errors
  width: 250px
  height: 12px
  font-size: 11px
  color: red
  margin-left: 20px
  display: block


#awlpm_signup_aw_logo
  margin-top: 15px
  margin-left: 200px
  border: $aw_var_default_border_width solid green
  height: 50px
  width: 75px
  display: inline
  position: relative

img.awlpm_signup_aw_logo_img
  height: 50px
  width: 75px

#awlpm_signup_aw_header_label
  margin: 0 auto
  margin-left: 10px
  /*width: 400px
  height: 20px
  color: #fff
  border: $aw_var_default_border_width solid red
  /*display: inline
  /* font: 20px/100% Arial, Helvetica, sans-serif
  font-weight: bold
  text-align: center

#aw_lpm_signup_username_label  
  @include awlpm_signup_labels

#aw_lpm_signup_email_label  
  @include awlpm_signup_labels

#aw_lpm_signup_password_label
  @include awlpm_signup_labels

#aw_lpm_signup_name_label  
  @include awlpm_signup_labels

#aw_lpm_signup_dob_label  
  @include awlpm_signup_labels

#aw_lpm_signup_gender_label  
  @include awlpm_signup_labels

#aw_lpm_signup_location_label  
  @include awlpm_signup_labels



#aw_lpm_signup_email_input
  @include awlpm_signup_inputs

#aw_lpm_signup_username_input 
  @include awlpm_signup_inputs

#aw_lpm_signup_password_input
  @include awlpm_signup_inputs


#aw_lpm_signup_name_input  
  @include awlpm_signup_inputs

#aw_lpm_signup_gender_input
  @include awlpm_signup_inputs

#aw_lpm_signup_dob_input  
  @include awlpm_signup_inputs

#aw_lpm_signup_location_input  
  @include awlpm_signup_inputs

#aw_lpm_user_register .simple_form 
  margin-left: 10px
  font-size: 12px
  color: black
  display: block
  width: 250px
#aw_lpm_user_register .simple_form .field_with_errors
  width: 200px
  display: block
#aw_lpm_user_register .simple_form .field_with_errors .error
  @include awlpm_signup_errors

#aw_lpm_sign_up_terms_declaration
  margin-left: 80px
  margin-top: -10px
  width: 100%
  display: block
  font-size: 14px

#aw_lpm_signup_already_a_user
  display: block
  color: #444444
  margin-left: 80px
  margin-top: 10px
  width: 100%
  border: $aw_var_default_border_width solid red
  font: 14px / 100% Arial, Helvetica, sans-serif
  font-weight: bold

input#aw_lpm_signupbutton
  width: 60px
  background: #ff9600
  margin-bottom: -5px
  padding: 2px
  border: none
  height: 23px
  display: inline
  color: #fef4e9
  border: solid 1px #da7c0c
  background: #f78d1d
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
  background: -moz-linear-gradient(top, #faa51a, #f47a20)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
  display: inline
  font: 14px / 100% Arial, Helvetica, sans-serif
  background: rgb(255,48,25)
  background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)))
  background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 )
  &:hover
    cursor: pointer
    color: #fcd3a5
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a))
    background: -moz-linear-gradient(top, #f47a20, #faa51a)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
    background: rgb(255,48,25)
