/*
 *ActWitty Stylesheet file
 *File: AW Landing Page Sign In Module
 *code: AWLPM (awlpm) Actwitty Landing Page Sign Up Forgot Password 
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com


$aw_var_default_border_width: 0px


#aw_lpm_signin_forgot_password_main_box
  background-image: url("/images/actwitty/refactor/aw_lpm/aw_lpm_template_bkg_bnw.png")
  height: 700px
  width: 100%
  padding-top: 80px

#aw_lpm_signin_forgot_password_main_div
  margin: auto
  width: 500px
  height: 400px
  border: 8px solid #33ccff
  border-radius: 10px
  -moz-border-radius: 10px
  background-color: white

@mixin aw_lpm_signin_forgot_password_labels
  color: #444444
  margin-left: 120px
  margin-bottom: 3px
  margin-top: 10px
  border: $aw_var_default_border_width solid red
  font-size: 24px
  font-weight: bold
  /* font: 20px/100% Arial, Helvetica, sans-serif

@mixin aw_lpm_signin_forgot_password_inputs
  width: 250px
  height: 26px
  margin-left: 120px
  margin-bottom: 1px
  color: black
  border: 1px solid #444444
  font: 14px/100% Arial, Helvetica, sans-serif

@mixin aw_lpm_signin_forgot_password_errors
  width: 250px
  height: 12px
  font-size: 12px
  margin-left: 120px
  display: block
  color: black


#aw_lpm_signin_forgot_password_aw_logo
  margin-top: 15px
  margin-left: 40px
  border: $aw_var_default_border_width solid green
  height: 50px
  width: 75px
  display: inline
  position: relative

img.aw_lpm_signin_forgot_password_aw_logo_img
  height: 50px
  width: 75px

#aw_lpm_signin_forgot_password_header_label
  margin: 0 auto
  margin-left: 10px
  width: 400px
  height: 30px
  color: #444444
  border: $aw_var_default_border_width solid red
  display: inline
  font-size: 30px
  font-weight: bold

#aw_lpm_signin_forgot_password_header_sub_label
  font-size: 14px
  margin: 0 auto
  margin-left: 10px
  color: #444444
  font-size: 18px

#aw_lpm_signin_forgot_password_email_label  
  @include aw_lpm_signin_forgot_password_labels
  margin-top: 40px


#aw_lpm_signin_forgot_password_email_input
  @include aw_lpm_signin_forgot_password_inputs



#aw_lpm_user_forgot_password .simple_form 
  margin-left: 10px
  font-size: 12px
  color: black
  display: block
  width: 250px
#aw_lpm_user_forgot_password .simple_form .field_with_errors
  width: 200px
  display: block
#aw_lpm_user_forgot_password .simple_form .field_with_errors .error
  @include aw_lpm_signin_forgot_password_errors


input#aw_lpm_forgot_password_btn
  width: 100px
  height: 60px
  background: #ff9600
  margin-bottom: -5px
  padding: 2px
  border: none
  display: inline
  margin: auto
  color: #fef4e9
  border: solid 1px #da7c0c
  background: #f78d1d
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
  background: -moz-linear-gradient(top, #faa51a, #f47a20)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
  display: inline
  font: 18px / 100% Arial, Helvetica, sans-serif
  font-weight: bold
  float: right
  margin-right: 30px
  &:hover
    cursor: pointer
    color: #fcd3a5
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a))
    background: -moz-linear-gradient(top, #f47a20, #faa51a)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
