/*
 *ActWitty Stylesheet file
 *File: AW Landing Page Sign In Module
 *code: AWLPM (awlpm) Actwitty Landing Page Sign In Main
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com


$aw_var_default_border_width: 0px


#aw_lpm_signin_main_box
  height: 700px
  width: 100%


#aw_lpm_signin_main_box img
  width: 500px
  margin: 0 auto
  display: block



#aw_lpm_signin_main_div
  font-family: Roboto
  margin: auto
  width: 700px
  height: 400px
  border-radius: 10px
  -moz-border-radius: 10px
  background-color: #fff
  margin-top: 20px
  border-radius: 5px
  -moz-border-radius: 10px
  background-color: #fffff3
  border: 1px solid #ddd
  -moz-box-shadow: 0 0 3px #ddd
  -webkit-box-shadow: 0 0 3px#ddd
  box-shadow: 0 0 3px #ddd
  
  



@mixin awlpm_signin_labels
  color: #333
  margin-left: 220px
  margin-bottom: 3px
  margin-top: 10px
  border: $aw_var_default_border_width solid red
  font-size: 14px
  font-weight: normal
  letter-spacing: 1px
  /* font: 20px/100% Arial, Helvetica, sans-serif
  
  /* font: 20px/100% Arial, Helvetica, sans-serif

@mixin awlpm_signin_inputs
  width: 250px
  height: 40px
  margin-left: 220px
  margin-bottom: 1px
  border: 1px solid #ddd
  border-radius: 2px
  font: 20px/100% Arial, Helvetica, sans-serif
  font-family: Roboto
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)))
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 )
  &:focus
    -moz-box-shadow: 0 0 2px #888
    -webkit-box-shadow: 0 0 2px#888
    box-shadow: 0 0 2px #888


@mixin awlpm_signin_errors
  width: 250px
  height: 12px
  font-size: 12px
  margin-left: 120px
  display: block
  color: black


#awlpm_signin_aw_logo
  margin-top: 15px
  margin-left: 20px
  border: $aw_var_default_border_width solid green
  height: 50px
  width: 75px
  display: inline
  position: relative

img.awlpm_signin_aw_logo_img
  height: 50px
  width: 75px

#awlpm_signin_aw_header_label
  margin: 0 auto
  /*margin-left: 10px
  width: 600px
  height: 30px
  color: #fff
  border: $aw_var_default_border_width solid red
  /*display: inline
  font-size: 26px
  /* font: 20px/100% Arial, Helvetica, sans-serif
  font-weight: bold
  text-align: center
  padding-top: 10px


#aw_lpm_signin_email_label  
  @include awlpm_signin_labels
  margin-top: 40px

#aw_lpm_signin_password_label
  @include awlpm_signin_labels


#aw_lpm_signin_email_input
  @include awlpm_signin_inputs


#aw_lpm_signin_password_input
  @include awlpm_signin_inputs



#aw_lpm_user_session .simple_form 
  margin-left: 10px
  font-size: 12px
  color: black
  display: block
  width: 250px
#aw_lpm_user_session .simple_form .field_with_errors
  width: 200px
  display: block
#aw_lpm_user_session .simple_form .field_with_errors .error
  @include awlpm_signin_errors


#aw_lpm_signin_already_a_user
  display: block
  color: #444444
  margin-left: 290px
  margin-top: 20px
  width: 100%
  border: $aw_var_default_border_width solid red
  font: 14px / 100% Arial, Helvetica, sans-serif
  font-weight: normal


.actwittysignin
  width: 150px
  height: 40px
  background: #ff9600
  margin-bottom: -5px
  padding: 2px
  border: none
  display: inline
  color: #fef4e9
  border: solid 1px #da7c0c
  background: #f78d1d
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
  background: -moz-linear-gradient(top, #faa51a, #f47a20)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
  font: 16px / 100% Arial, Helvetica, sans-serif
  font-weight: bold
  margin-left: 320px
  margin-top: 20px
  background: rgb(255,48,25)
  background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)))
  background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 )

  &:hover
    cursor: pointer
    color: #fcd3a5
    background: rgb(255,48,25)
  

input#aw_lpm_signinbutton
  width: 60px
  background: #ff9600
  margin-bottom: -5px
  padding: 2px
  border: none
  height: 23px
  display: inline
  color: #fef4e9
  border: solid 1px #da7c0c
  background: #f78d1d
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
  background: -moz-linear-gradient(top, #faa51a, #f47a20)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
  background: rgb(255,48,25)
  background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)))
  background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 )

  display: inline
  font: 14px / 100% Arial, Helvetica, sans-serif
  &:hover
    cursor: pointer
    color: #fcd3a5
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a))
    background: -moz-linear-gradient(top, #f47a20, #faa51a)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
