/*
 *ActWitty Stylesheet file
 *File: 
 *code: 
 *Author: 
 *Author URI: 


$aw_var_default_border_width: 0px
$aw_var_default_backgorund_color: #ffffff
$aw_var_default_font_family: "Helvetica", Arial, Helvetica, sans-serif
$aw_var_default_font_size: 12px
$aw_var_default_color: #CCCCCC
body
  margin: 0
  padding: 0
  font-size: $aw_var_default_font_size
  font-family: $aw_var_default_font_family
  color: $aw_var_default_color
  background-color: $aw_var_default_backgorund_color

img
  border: 0
  padding: 0
  margin: 0

.justify
  text-align: justify

.bold
  font-weight: bold

.center
  text-align: center

.right
  text-align: right

.nostart
  list-style-type: none
  margin: 0
  padding: 0

.clear
  clear: both

br.clear
  clear: both
  margin-top: -15px

a
  outline: none
  text-decoration: none

.fl_left
  float: left

.fl_right
  float: right

.imgl, .imgr
  border: 0px solid #DFDFDF
  padding: 5px
  color: #666666
  background-color: #FFFFFF

.imgl
  float: left
  margin: 0 8px 8px 0
  clear: left

.imgr
  float: right
  margin: 0 0 8px 8px
  clear: right
/******************************************** Common for all Columns main Div's ************************************

@mixin aw_inviteds_default_full_width
  position: relative
  margin: 0 auto 0
  display: block
  width: 990px
/* ----------------------------------------------Wrapper-------------------------------------

div.aw_inviteds_wrapper
  display: block
  width: 100%
  margin: 0
  text-align: left
  height: auto
  display: block

.aw_inviteds_column1
  color: #D2D2D2
  /*background-color:#33ccff;
  background: #363436
  /*background: -moz-linear-gradient(center top , #7E7F81 0pt, #363436 72%) repeat-y fixed 0 100px #7E7F81;
  border: 0px solid red

.aw_inviteds_column2
  color: #FFFFFF
  background-color: #ffffff
  border: 0px solid green

.aw_inviteds_column3
  color: #FFFFFF
  background-color: #ffffff
  border: 0px solid green



/******************************************* User box section for user photo and input box *************************



#aw_inviteds_data_wrapper
  @include aw_inviteds_default_full_width
  height: auto
  min-height: 900px
  margin-top: 20px
  border: 0px solid red

.aw_inviteds_label
  height: 20px
  width: 960px
  margin: auto
  display: block
  margin-top: 10px
  margin-bottom: 10px
  span
    font-size: 20px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: bold
    color: #333

.aw_inviteds_new_invite
  font-size: 16px
  height: auto
  width: 960px
  color: #555
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  margin: auto
  display: block
  margin-top: 10px
  margin-bottom: 10px
  padding-top: 10px
  display: block
  

    
  .aw_inviteds_new_invite_input_section
    height: 100px
    width: 900px
    margin-top: 10px
    border: 1px dotted #ccc
    margin: auto
    display: block

    .aw_inviteds_new_invite_label
      font-size: 16px
      width: 100%
      height: 20px
      color: #555
      margin-left: 20px
      margin-top: 5px
      margin-bottom: 5px
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif     

    .aw_inviteds_new_invite_facebook_label
      color: black
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 14px
      font-weight: bold
      width: 150px
      height: 20px
      margin-left: 20px
      text-align: left
    .aw_inviteds_new_invite_facebook_id
      border: 1px solid #ccc
      color: black
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 14px
      width: 200px
      height: 20px
      margin-left: 20px
    .aw_inviteds_new_invite_facebook_preprocess_button
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 18px
      width: 80px
      height: 30px
      margin-left: 20px
      &:hover
        cursor: pointer
  .aw_inviteds_new_invite_prefetch_section
    height: 200px
    width: 900px
    border: 1px dotted #ccc
    display: none
    margin-top: 10px
    margin: auto
    img 
      width: 50px
      height: 50px
      padding: 1px
      border: 1px solid #ccc
      margin-left: 50px
      margin-top: 10px
      padding: 3px
      border-radius: 3px
      -moz-box-shadow: 0 0 5px #333 
      -webkit-box-shadow: 0 0 5px #333
      box-shadow: 0 0 5px #333
    .aw_details_fetched
      margin-left: 10px
      padding-left: 10px
      margin-top: 5px
      height: auto
      width: 200px
      display: block
      .aw_fetched_name
        color: #333       
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size: 13px
        height: 15px
        margin-top: 2px
        margin-right: 2px
        display: inline-block
      .aw_service_name
        color: #333       
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size: 13px
        width: 100px
        height: 15px
        margin-top: 2px
        display: inline-block
    .aw_inviteds_new_invite_button
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 18px
      width: 80px
      height: 30px
      margin-left: 35px
      margin-bottom: 10px
      &:hover
        cursor: pointer
  .aw_inviteds_server_response
    width: 900px
    height: 30px
    margin: auto
    border: 1px dotted #ccc
    display: none



