/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box {
  height: 40px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-bottom: 40px;
  background: #ebece4;
}
/* line 7, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box ul {
  list-style-type: none;
  margin-top: 10px;
}
/* line 10, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box li {
  display: inline;
  margin-right: 50px;
  margin-left: 10px;
}
/* line 14, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box input {
  float: right;
  margin-top: 0px;
}
/* line 18, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box li a {
  text-decoration: none;
  color: #333333;
  font-size: 13px;
}
/* line 23, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box li a:hover {
  font-color: black;
}
/* line 25, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/common/aw_profile_footer.sass */
#aw_profile_footer_box .aw_copyright {
  float: right;
  font-weight: bold;
}
