#aw_top_bar_box {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  border: 0px solid yellow; }

#awppm_header_box {
  position: relative;
  margin: 0 auto 0;
  margin-bottom: 20px;
  display: block;
  width: 990px;
  height: 45px;
  border: 0px solid red;
  position: relative; }

.awppm_profile_logo {
  position: relative;
  float: left;
  margin-top: 3px;
  margin-left: 10px; }

#awppm_header_search_edit_box {
  position: relative;
  margin-top: 7px;
  padding: 0px;
  float: right;
  height: 25px;
  width: 230px; }
  #awppm_header_search_edit_box input {
    display: block;
    width: 205px;
    height: 14px;
    min-height: auto 9;
    padding: 6px 13px 6px 4px;
    font-size: 13px;
    line-height: 1;
    color: #cccccc;
    background-color: #555555;
    border: 0;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #awppm_header_search_edit_box input:focus {
      background-color: white;
      color: #333333; }

#awppm_header_user_bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 28px;
  border: 0px solid #dddddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: -moz-linear-gradient(center top, #f5f5f5 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent;
  background: #feffe8;
  background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffe8), color-stop(99%, #d6dbbf));
  background: -webkit-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: -o-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: -ms-linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  background: linear-gradient(top, #feffe8 0%, #d6dbbf 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 );
  -moz-box-shadow: inset 0 0 2px black;
  -webkit-box-shadow: inset 0 0 2px black;
  box-shadow: inset 0 0 2px black;
  padding: 3px 0px 3px 10px; }
  #awppm_header_user_bar:hover {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); }
  #awppm_header_user_bar img {
    vertical-align: middle; }
  #awppm_header_user_bar span {
    color: #333333;
    font-weight: bold; }

#awppm_header_user_logout {
  text-decoration: none;
  float: right;
  color: white;
  margin-top: 7px;
  margin-right: 25px;
  font-size: 15px;
  background-image: url("/images/actwitty/refactor/aw_ppm/common/aw_logout_unfocussed.png");
  width: 25px;
  height: 25px; }
  #awppm_header_user_logout:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-image: url("/images/actwitty/refactor/aw_ppm/common/aw_logout.png"); }

#awppm_header_user_home {
  text-decoration: none;
  float: right;
  color: white;
  margin-top: 7px;
  margin-right: 5px;
  font-size: 15px;
  background-image: url("/images/actwitty/refactor/aw_ppm/common/home_unfocussed.png");
  width: 22px;
  height: 22px; }
  #awppm_header_user_home:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-image: url("/images/actwitty/refactor/aw_ppm/common/home.png"); }

.awppm_search_autocomplete_box {
  width: 190px;
  height: 26px;
  display: block;
  border-bottom: 1px dotted #333333;
  position: relative;
  overflow: hidden; }
  .awppm_search_autocomplete_box .awppm_search_img_box {
    margin-left: 5px;
    margin-top: 2px;
    float: left;
    display: inline-block; }
  .awppm_search_autocomplete_box .awppm_search_name_box {
    margin-left: 5px;
    margin-top: 4px;
    display: inline-block;
    float: left; }
    .awppm_search_autocomplete_box .awppm_search_name_box .awppm_search_autocomplete_name {
      color: #333333;
      background-color: white;
      font-size: 14px;
      text-align: center; }
