#aw_lpm_signin_main_box
  %a{:href=>"http://www.actwitty.com", :target=> "_blank"}
    %img{:src=>'/images/actwitty/refactor/aw_lpm/aw_main_header.png'}
  #aw_lpm_signin_main_div
    #awlpm_signin_aw_header_label
      %img{:src=>'/images/actwitty/refactor/aw_lpm/sigin_label.png'}
    #aw_lpm_signin_box.js_signin_partial
      =render :partial => "users/sessions/new", :locals => { :user => @user }

%input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" } 


/Feed Back User Voice
:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/qSgEkukkoJykzYLLS3m3w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })(); 
