=render :partial => "welcome/header"
#aw_lpm_signin_main_box
  #aw_lpm_signin_main_div
    #awlpm_signin_aw_header_label
      Sign-in with your email address.
    #aw_lpm_signin_box.js_signin_partial
      =render :partial => "users/sessions/new", :locals => { :user => @user }

%input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" } 
