%link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
/=render "welcome/header"
#aw_lpm_signup_main_box
  %center
    %img{:src=>"/images/actwitty/refactor/aw_lpm/main_header.png"}
  #aw_lpm_signup_main_div
    #awlpm_signup_aw_header_label
      %img{:src=>"/images/actwitty/refactor/aw_lpm/registration_label.png"}    
    #aw_lpm_signup_box.js_signup_partial
      =render :partial => "users/registrations/new", :locals => { :user => @user } 
%input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" } 
