
    / ####  end of single post####
  #p-channelp-author-section
    .p-channelp-author-img-sect
      %img{:src => "/images/photo.jpg"}
    .p-channelp-author-name
      %span Samarth Deo
    .p-channelp-auth-last-upd-sect
      .p-channelp-auth-last-upd-hd
        %span Last Updates :
      .p-channelp-auth-last-upd-post
        .p-channelp-auth-last-upd-post-time
          %span 2 mins ago
        .p-channelp-auth-last-upd-post-text
          %p DSLR' are often purchased and repaired by some the of the most known persons...
      = succeed "`" do
        .p-channelp-auth-last-upd-post
          .p-channelp-auth-last-upd-post-time
            %span 2 mins ago
          .p-channelp-auth-last-upd-post-text
            %p DSLR' are often purchased and repaired by some the of the most known persons...
