#channels_tab.p-cstab_content
  #channels_display_list.channels_list
  /%a#more_channels.more_loader.actwitty-fontify{:href => "#"} More
  %input#more_channels_cookie{:type => "hidden", :value => ""}
  
