#p-channelp-posts
/  
  .p-channlep-post
    .p-channelp-post-header
      .p-channelp-post-tab
      .p-channelp-post-author
        .p-channelp-post-author-img
          %img{:src => "/images/photo.jpg"}
        .p-channelp-post-author-name
          %span Michael Jordan
    .p-channelp-post-info
      .p-channelp-post-lu
        .p-channelp-post-lu-header
          %span Last Updates
        .p-channelp-post-lup
          .p-channelp-post-lup-time
            %span 2 mins ago
          .p-channelp-post-lup-text
            %p DSLR's are often preferred by experts and still photography and national geographic...
        .p-channelp-post-lup
          .p-channelp-post-lup-time
            %span 2 mins ago
          .p-channelp-post-lup-text
            %p DSLR's are often preferred by experts and still photography and national geographic...
      .p-channelp-post-cu
      .p-channelp-post-analytic
        .p-channelp-post-like
          %p
            %center 37
          %p
            %center Likes
        .p-channelp-post-post
          %p
            %center 37
          %p
            %center Likes
    .p-channelp-related-info
      .p-channelp-rel-frnd
        %div
          %img{:src => "/images/photo.jpg"}
            %img{:src => "/images/photo.jpg"}
              %img{:src => "/images/photo.jpg"}
      .p-channelp-post-rel-elem
        .p-channelp-post-rel-elem-header
          %span Related Elements :
        .p-channelp-post-relelem-sect
          %ul.p-channelp-post-relelem
            %li
              %span Guitar
            %li
              %span Music Festival
            %li
              %span Electronica
      .p-channelp-post-rel-loc
        .p-channelp-post-rel-loc-header
          %span Related Elements :
        .p-channelp-post-relloc-sect
          %ul.p-channelp-post-relelem
            %li
              %span Guitar
            %li
              %span Music Festival
            %li
              %span Electronica
    .p-channelp-post-rel-img
      .p-channelp-rel-img
        %div
          %img{:src => "/images/photo.jpg"}
            %img{:src => "/images/photo.jpg"}
              %img{:src => "/images/photo.jpg"}
  
  
  
  
  
  
  .p-channlep-post
    .p-channelp-post-header
      .p-channelp-post-tab
      .p-channelp-post-author
        .p-channelp-post-author-img
          %img{:src => "/images/photo.jpg"}
        .p-channelp-post-author-name
          %span Michael Jordan
    .p-channelp-post-info
      .p-channelp-post-lu
        .p-channelp-post-lu-header
          %span Last Updates
        .p-channelp-post-lup
          .p-channelp-post-lup-time
            %span 2 mins ago
          .p-channelp-post-lup-text
            %p DSLR's are often preferred by experts and still photography and national geographic...
        .p-channelp-post-lup
          .p-channelp-post-lup-time
            %span 2 mins ago
          .p-channelp-post-lup-text
            %p DSLR's are often preferred by experts and still photography and national geographic...
      .p-channelp-post-cu
      .p-channelp-post-analytic
        .p-channelp-post-like
          %p
            %center 37
          %p
            %center Likes
        .p-channelp-post-post
          %p
            %center 37
          %p
            %center Likes
    .p-channelp-related-info
      .p-channelp-rel-frnd
        %div
          %img{:src => "/images/photo.jpg"}
            %img{:src => "/images/photo.jpg"}
              %img{:src => "/images/photo.jpg"}
      .p-channelp-post-rel-elem
        .p-channelp-post-rel-elem-header
          %span Related Elements :
        .p-channelp-post-relelem-sect
          %ul.p-channelp-post-relelem
            %li
              %span Guitar
            %li
              %span Music Festival
            %li
              %span Electronica
      .p-channelp-post-rel-loc
        .p-channelp-post-rel-loc-header
          %span Related Elements :
        .p-channelp-post-relloc-sect
          %ul.p-channelp-post-relelem
            %li
              %span Guitar
            %li
              %span Music Festival
            %li
              %span Electronica
    .p-channelp-post-rel-img
      .p-channelp-rel-img
        %div
          %img{:src => "/images/photo.jpg"}
            %img{:src => "/images/photo.jpg"}
              %img{:src => "/images/photo.jpg"}
