#aw_profile_footer_box
  %ul
    %li
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} About Us
    %li
      %a{:href => "#"} Developer
    %li
      %a{:href => "#"} Privacy
    %li
      %a{:href => "#"} Terms
    %li
      %input#aw_js_ppm_feedback_btn.button_actwitty.gray{:type => "button", :value => "Feedback"}/
