/ Java scripts includes
%script{:src => "http://maps.google.com/maps/api/js?sensor=true&libraries=places", :type => "text/javascript"}
= javascript_include_tag 'actwitty/input_location'

.wrapper.col2
  #p-ip-sect
    #input-box
      /.input-whats-up
      /  %input.add-page-input.trans{:name => "add-page-input", :placeholder => "Whats Up....", :type => "text", :value => "Whats Up......"}/
      .home_page_inputs
        /.close.page_input_close
        /  %span.p-i-c
        .activity_location
          .activities
            %img.symbol_icon{:src => "/images/alpha/channel_icon.png"}
            %input#activity_field.activity_input.input_text_box.count-enable.no-ol{:placeholder=>"Channel",:maxlength => "32", :type => "text"}/
          .locations
            %img.symbol_icon{:src => "/images/alpha/at_icon.png"}
            %input#location_field.searchTextField.input_text_box.location_input.count-enable.no-ol{:maxlength => "140", :type => "text"}/
        .entity_maps
          #subtitle-div
            #subtitle-box
              .subtitle
                %input#title_field.subtitle_input.input_text_box.count-enable.no-ol{:placeholder=>"Title",:maxlength => "250", :type => "text"}/
          #entity_div
            #entity-box
              %textarea#entity_field.entity_input.count-enable.no-ol{:placeholder=>"Post..",:maxlength => "4096", :type => "text"}
              #input_addons
                %a#attachment.info.input_addons_links{:href => "#"}
                  %img.link_addon_icons{:src => "/images/alpha/camera_icon.png"}/
                  %span Add Images
                /%a#add_location.info.input_addons_links{:href => "#"}
                /  %img.link_addon_icons{:src => "/images/alpha/location_icon.png"}/
                /  %span Add Location
                %a#add_subtitle.info.input_addons_links{:href => "#"}
                  %img.link_addon_icons{:src => "/images/alpha/title_normal_button.png"}/
                  %span Add Title
          /#locations
          /  %img.symbol_icon{:src => "/images/alpha/at_icon.png"}
          /    %input#location_field.searchTextField.input_text_box.location_input.count-enable.no-ol{:maxlength => "140", :type => "text"}/
          #map
        #pre_uploaded_docs
        #input-attachments-section.p-input-pre-added-images-list
          =render :partial => "home/upload_attachments.html.haml"
        #post_submit
          #actwitty_generator.button_actwitty.green.medium.actwitty_button_font Publish
          /#save-or-pub
          /#save_submit_button.button_actwitty.gray.medium.actwitty_button_font Save
          /
            .post-fb-twt
              %img{:src => "/images/alpha/fb_pub.jpeg"}/
              .fbtwt-pub
                %input{:name => "fb_publish", :type => "checkbox", :value => "fb_publish" }/
              %img{:src => "/images/alpha/twt_pub.jpeg"}/
              .fbtwt-pub
                %input{:name => "twt_publish", :type => "checkbox", :value => "twt_publish" }/

        /#input-char-count
        /  %span#char-count : 120
        /  %span Characters Remaining :

        %input#user_latlng{:name => "latlang", :type => "hidden"}
        %input#geo_location{:size => "50", :type => "hidden", :value => ""}
        %input#location_type{:name => "location_type", :type => "hidden", :value => ""}
        %input#input_latlang{:name => "input_latlang", :type => "hidden", :value => ""}
        %input#lat_value{:name => "input_latlang", :type => "hidden", :value => ""}
        %input#lng_value{:name => "input_latlang", :type => "hidden", :value => ""}

