#aw_modal_base.modal.hide.fade{:style => "display: none; "}
  #aw_modal_header.modal-header
    %a.close{:href => "#"} ×
    %h3#aw_modal_header_h3
  #aw_modal_body.modal-body
    
  #aw_modal_footer.modal-footer

