#modal_box_id.modal_box
  #modal_box_window_id.modal_window
  %a#modal_c.aw_js_ppm_stm_modal_close.modal_close{:href => "#"}
    %img{:src => "/images/actwitty/refactor/aw_common/aw_close.png", :width => "20px", :height => "20px" }/
  #modal_box_mask_id.modal_mask
    
