#modal_box_id.modal_box
  #modal_box_window_id.modal_window
  %a#modal_c.js_modal_close.modal_close{:href => "#"}
    %img{:src => "/images/alpha/modal_close.png"}/
  #modal_box_mask_id.modal_mask
    
