#awppm_user_profile_settings_change_pswd
  .awppm_user_profile_settings_pswd_label
    Password Setting
  =simple_form_for(:user, @user, :url => home_change_password_path, :remote => true , :html => { :method => :put })  do |f|
    = f.input :current_password ,
              :label => false,
              :placeholder => "Old Password",
              :input_html => {:type => 'password', :class=>'awppm_user_profile_settings_oldpswd',:id=>"js_awppm_user_setting_oldpswd"}
    %h5#awppm_user_profile_settings_curpswd_error.awppm_user_profile_settings_pswd_error Invalid Password
    = f.input :password ,
              :label => false,
              :placeholder => "New Password",
              :input_html => {:type => 'password', :class=>'awppm_user_profile_settings_newpswd',:id=>"js_awppm_user_setting_newpswd" }
    = f.input :password_confirmation ,
              :label => false,
              :placeholder => "Confirm Password",
              :input_html => {:type => 'password', :class=>'awppm_user_profile_settings_cnfrmpswd',:id=>"js_awppm_user_setting_cnfrmpswd" }
    %h5#awppm_user_profile_settings_newpswd_error.awppm_user_profile_settings_pswd_error Password needs to be minimum of 5 characters
    %h5#awppm_user_profile_settings_mismatchpswd_error.awppm_user_profile_settings_pswd_error Passwords does not match
    = f.submit "Change Password", :type => "submit", :class=>"button_actwitty red awppm_user_profile_settings_pswd_btn" ,:id=>"js_awppm_profile_setting_pswd_chng"
    %h5#awppm_user_profile_settings_pswdchn_success Your password has been changed successfully

  /%input.awppm_user_profile_settings_oldpswd{:placeholder => "Old Password", :type => "password"}
  /  %input.awppm_user_profile_settings_newpswd{:placeholder => "New Password", :type => "password"}
  /    %input.awppm_user_profile_settings_cnfrmpswd{:placeholder => "Confirm Password", :type => "password"}
  /      %a{:href => "#"} Close
  /      %input.button_actwitty.red.awppm_user_profile_settings_pswd_btn{:type => "button", :value => "Change Password"}


       
    


