.p-l-fltr-1

  .p-content-type-fltr-sect
    #cont-typ-fltr-all.button_actwitty.medium.blue.actwitty_button_font All Posts
    #cont-typ-fltr-drafts.button_actwitty.medium.blue.actwitty_button_font Draft Posts
    #cont-typ-fltr-videos.button_actwitty.medium.blue.actwitty_button_font Videos
    #cont-typ-fltr-images.button_actwitty.medium.blue.actwitty_button_font Images
    #cont-typ-fltr-twitter.button_actwitty.medium.blue.actwitty_button_font Twitter



    /#cont-typ-fltr-all.p-cont-typ-fltr
    /#cont-typ-fltr-drafts.p-cont-typ-fltr
    /#cont-typ-fltr-videos.p-cont-typ-fltr
    /#cont-typ-fltr-images.p-cont-typ-fltr
    /#cont-typ-fltr-twitter.p-cont-typ-fltr
.p-l-fltr-2
  .p-related-fltrs-sect
    .p-rel-flwers.p-rel-fltrs
      %span#p-l-st-related-frnds.JS_AW_MODAL_related_friends.js_modal_dialog_link People with similar interest >
      #stream_related_friends_parent
        #stream_related_friends.p-rel-fltr-tags
    .p-rel-flwers.p-rel-fltrs
      %span#p-l-st-related-entities.JS_AW_MODAL_related_entities.js_modal_dialog_link Related Mentions >
      #stream_related_entities_parent
        #stream_related_entities.p-rel-fltr-tags
    .p-rel-flwers.p-rel-fltrs
      %span#p-l-st-related-locations.JS_AW_MODAL_related_locations.js_modal_dialog_link Related Locations >
      #stream_related_locations_parent
        #stream_related_locations.p-rel-fltr-tags
