.p-l-fltr-1
  .p-content-type-fltr-sect
    #cont-typ-fltr-all.p-cont-typ-fltr
      %span
    #cont-typ-fltr-drafts.p-cont-typ-fltr
      %span
    #cont-typ-fltr-videos.p-cont-typ-fltr
      %span
    #cont-typ-fltr-images.p-cont-typ-fltr
      %span
    #cont-typ-fltr-twitter.p-cont-typ-fltr
      %span
.p-l-fltr-2
  .p-related-fltrs-sect
    .p-rel-flwers.p-rel-fltrs
      %span Related Followers >
      .p-rel-fltr-tags
    .p-rel-flwers.p-rel-fltrs
      %span Related Entities >
      .p-rel-fltr-tags
    .p-rel-flwers.p-rel-fltrs
      %span Related Locations >
      .p-rel-fltr-tags
