.p-l-fltr-1
  .p-content-type-fltr-sect
    #cont-typ-fltr-all.p-cont-typ-fltr
      %span
    #cont-typ-fltr-drafts.p-cont-typ-fltr
      %span
    #cont-typ-fltr-videos.p-cont-typ-fltr
      %span
    #cont-typ-fltr-images.p-cont-typ-fltr
      %span
    #cont-typ-fltr-twitter.p-cont-typ-fltr
      %span
.p-l-fltr-2
  .p-related-fltrs-sect
    .p-rel-flwers.p-rel-fltrs
      %span#p-l-st-related-frnds.JS_AW_MODAL_related_friends.js_modal_dialog_link Related Followers >
      =render :partial => "home/modal"
      #stream_related_friends.p-rel-fltr-tags
    .p-rel-flwers.p-rel-fltrs
      %span#p-l-st-related-entities.JS_AW_MODAL_related_entities.js_modal_dialog_link Related Entities >
      =render :partial => "home/modal"
      #stream_related_entities.p-rel-fltr-tags
    .p-rel-flwers.p-rel-fltrs
      %span#p-l-st-related-locations.JS_AW_MODAL_related_locations.js_modal_dialog_link Related Locations >
      =render :partial => "home/modal"
      #stream_related_locations.p-rel-fltr-tags
