.wrapper.col1
  #header
    #top-bar
      #logo
        %a{:href => "http://www.actwitty.com"}
          %img{:height => "50", :src => "/images/alpha/actwitty.png", :width => "120"}
      #searchwrapper
        %form{:action => ""}
          %input.searchbox{:name => "s", :placedholder => "Search", :type => "text"}
      #home_page_nav
        #settings
          #p-topbar-home
          -if user_signed_in?
            %a.button{:href => "/home/show?id=#{@user.id}"}
              %img#profile_header_user_img{:src => "#{@user.photo_small_url}"}/
            .options-menu
              %ul
                %li
                  %a{:href => "/home/settings"} settings
                %li
                  %a{:href => "/help/show"} help center
                %li
                  %a{:href => "/users/sign_out"} logout
    %br.clear/
/
  #follow.top_bar_follow
    -if user_signed_in?
      -if current_user.id != @user.id
        -if !@follow
          %input#follow_unfollow_btn.follow_button{:type => "button", :value => "Follow"}  
        -else
          %input#follow_unfollow_btn.follow_button{:type => "button", :value => "Un-Follow"}
        %input#follow_unfollow_btn_user_id{:type => "hidden",  :value => "#{@user.id}"}
