#awppm_header_box
  %img.awppm_profile_logo{:src => "/images/actwitty/refactor/aw_ppm/common/aw_ppm_logo_topbar.png"}
  #awppm_header_user_bar
    -if user_signed_in? && !if_ghost_user?
      %a#awppm_header_user_info{:href => "/home/show?id=#{@current_user.id}"} 
        %img{:src =>"#{@current_user.photo_small_url}", :width=>"30", :height=>"30"}
        %span #{@current_user.full_name}
      %a#awppm_header_user_logout{:href => "/users/sign_out"} Logout
      %a#awppm_header_user_settings{:href => "/home/settings"} Settings
    -elsif if_ghost_user?
      %a#awppm_header_user_info{:href => "/"}
        %img{:src => "/images/actwitty/refactor/aw_ppm/common/User.png"}
  %input#aw_js_ppm_header_search.awppm_search_enable.button_actwitty.red{:type => "button", :value => "Search"}
  #aw_js_ppm_search_box.awppm_header_search_box
    #awppm_header_search_options
      %input#aw_js_ppm_header_search_ppl.aw_js_ppm_cmn_search_radio_click{:name => "aw_js_ppm_top_search_type", :type => "radio", :value => "user", :checked=> "true" } 
      %label{:for => "aw_js_ppm_header_search_ppl"} People

      %input#aw_js_ppm_header_search_chn.aw_js_ppm_cmn_search_radio_click{:name => "aw_js_ppm_top_search_type", :type => "radio", :value => "channel"}     
      %label{:for => "aw_js_ppm_header_search_chn"} Channels

      %input#aw_js_ppm_header_search_locations.aw_js_ppm_cmn_search_radio_click{:name => "aw_js_ppm_top_search_type", :type => "radio", :value => "location"}
      %label{:for => "aw_js_ppm_header_search_locations"} Locations

      %input#aw_js_ppm_header_search_mentions.aw_js_ppm_cmn_search_radio_click{:name => "aw_js_ppm_top_search_type", :type => "radio", :value => "entity"} 
      %label{:for => "aw_js_ppm_header_search_mentions"} Mentions

    #awppm_header_search_edit_box
      %input#aw_js_ppm_header_search_text{:placeholder => "Search", :type => "text"}

  
              
            
            
              
            
  
