%h4 Attach files
%form{:method => "post"}
  #uploader
    %p You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.
  
:plain      
  #{s3_uploader(:max_filesize => 500.megabytes)}
       
