#page-wrapper
  #header
    =render :partial => "welcome/logo"
  
  #forgot-site-connect
    #forgot-sign_in_up
      #forgot-sign-connect-desc
        %h3#forgot-desc.desc Welcome to ActWitty
        %p
          Dear netizen,
          %br/
          We welcome you to ActWitty. 
          %br/

          Our website is getting enriched. 
          %br/
          ActWitty will keep you posted over email.
        %a.connect-buttons{:href => "/users/sign_out"} Sign Out


=render :partial => "welcome/footer"    

