#page-wrapper
  #header
    #logo
      %a{:href => "http://www.actwitty.com"}
        %img#logo-img{:src => "/images/actwitty/actwitty_logo.png"}/
      /%img{:id=>"logo-img", :src => "/images/actwitty/actwitty_logo.png"}/
  #forgot-site-connect
    #forgot-sign_in_up
      #forgot-sign-connect-desc
        %h3#forgot-desc.desc Welcome to ActWitty
        %p
          Dear netizen we welcome you to actwitty. 
          We will soon be bringing up enriched website.
          We will keep you posted over email.
        %a.connect-buttons{:href => "/users/sign_out"} Sign Out
    
  #page-footer
    .footer-content
      #about-us.footer-header
        %a.footers{:href => "#"}
          %h4 About ActWitty
      #team-us.footer-header
        %a.footers{:href => "#"}
          %h4 Team
      #contact-us.footer-header
        %a.footers{:href => "#"}
          %h4 Contact Us
      #blog-us.footer-header
        %a.footers{:href => "#"}
          %h4 Blogs

