if(#{@current_password})
{
$("#awppm_user_profile_settings_curpswd_error").hide();  
$("#awppm_user_profile_settings_pswdchn_success").fadeIn(5000,function(){
trgr_sign_out_aft_pswd_chng();
});
}
else
{
$("#awppm_user_profile_settings_curpswd_error").show();
$("#awppm_user_profile_settings_pswdchn_success").hide();
}


