if(#{@current_password})
{
$("#awppm_user_profile_settings_curpswd_error").hide();  
$("#awppm_user_profile_settings_pswdchn_success").fadeIn(5000,function(){
});
}
else
{
$("#awppm_user_profile_settings_curpswd_error").show();
$("#awppm_user_profile_settings_pswdchn_success").hide();
}
awppm_settings_page_elem_init();


