-if @success
  $("#aw_js_ppm_input_add_attachment_partial").html("#{escape_javascript(render(:partial => "home/upload_attachments.html.haml"))}");
-else
  alert("Failed to create post.\n Actwitty is trying to solve the problem.");
