.awppm_stm_mention_page_wrapper.awppm_stm_mention_page_column1
  =render :partial => "/home/top_bar"

.awppm_stm_mention_page_wrapper.awppm_stm_mention_page_column2
  #awppm_stm_mention_page_channel_info_box
    #awppm_stm_mention_page_channel_info_section
      .awppm_stm_mention_page_side_section
        #awppm_stm_mention_page_channel_info_div.aw_js_ppm_mention_page_theme_thumb
          .awppm_stm_mention_page_channel_label
            %span#aw_js_ppm_mention_page_name
        .awppm_stm_mentions_analytics_container_box
          .awppm_stm_mentions_analytics_container_label_box
            %span Mentions Analytics

      #awppm_stm_mention_page_timeline_container_box
        %span#aw_js_ppm_stm_mention_page_main_label.awppm_stm_mention_page_main_label All streams
        #aw_js_ppm_stm_stream_mention_page_div.awppm_stm_mention_page_stream_timelines
          %input#aw_js_ppm_stm_mention_page_data_more.button_actwitty.gray.awppm_stm_mention_page_data_info_more{:type => "button", :value => "More"}
          %ul#aw_js_ppm_stm_mention_page_list.awppm_stm_mention_page_post_timeline_list
          .awppm_stm_busy_channels_page.aw_js_ppm_loading_animation
            .awppm_stm_busy_mini_box
              %img.awppm_stm_busy_image{ :src => "/images/actwitty/refactor/aw_common/aw_loading.gif", :width => '50px', :height => '50px'  }
      

/Secret cookies
%input#aw_js_ppm_fb_access_token{:type => "hidden", :value => "#{@fb_access_token}" }
%input#aw_js_ppm_mention_page_channel_id{:type => "hidden", :value => "#{@mention_id}" }
%input#page_owner_id{:name => "user_id_for_this_page", :type => "hidden", :value => "" }
%input#page_owner_photo{:name => "user_photo_for_this_page", :type => "hidden", :value => "" }
%input#page_owner_name{:name => "user_name_for_this_page", :type => "hidden", :value => "" }
%input#cache_cookie_id{:type => "hidden", :value => "" }
%input#page_mode{ :type => "hidden", :value => "#{@page_mode}" }
- if user_signed_in?
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "#{current_user.id}" }
- else
  %input#session_owner_id{:name => "user_id_for_current_login", :type => "hidden", :value => "-1" }   



