.wrapper.col1
  #header
    #top-bar
      #logo
        / h1><a href="#">actWITTy</a></h1
        %img{:height => "50", :src => "images/alpha/actwitty.png", :width => "120"}
      #searchwrapper
        %form{:action => ""}
          %input.searchbox{:name => "s", :placedholder => "Search", :type => "text"}
      /
        </div>
      #home_page_nav
        / img id="profile_header_user_img" src="images/photo.jpg" /
        / span class="user_name_top_bar">Samarth</span
        #settings
          / a href="#" class="button"><span class="ar">&#9660;</span></a
          / img id="p-topbar-home" src="images/home_icon_hover.png" /
          #p-topbar-home
          %a.button{:href => "#"}
            %img#profile_header_user_img{:src => "images/photo.jpg"}/
          .options-menu
            %ul
              %li
                %a{:href => "#"} settings
              %li
                %a{:href => "#"} help center
              %li
                %a{:href => "#"} logout
    %br.clear/
.wrapper.col2
  #p-ip-sect
    #input-box
      .input-whats-up
        %input.add-page-input{:name => "add-page-input", :placeholder => "Whats Up....", :type => "text", :value => "Whats Up"}/
      .home_page_inputs
        / #### Home Page input starts  ####
        .close.page_input_close
          %span.p-i-c
        .activity_location
          .activities
            %img.symbol_icon{:src => "images/hash1.jpg"}
              %input#activity_input.input_text_box.count-enable{:maxlength => "32", :placeholder => "activity", :type => "text"}/
          .locations
            %img.symbol_icon{:src => "images/at.jpg"}
              %input#searchTextField.input_text_box.location_input.count-enable{:maxlength => "140", :type => "text"}/
        .entity_maps
          #entity_div
            %textarea#entity_input.count-enable{:maxlength => "600", :placeholder => "description"}
              :preserve
                
                                        #map
        #input_addons
          %li.input_addons_links
            %a#attachment.info{:href => "#"}
              %img.link_addon_icons{:src => "images/add_img.jpg"}/
              %span add image
        #input_campaign.campaign
          %span Ask For
          .campaign-type
            .del-camp
            %input.campaign-btn.camp-like.selected-camp{:type => "submit", :value => "Like"}
          .campaign-type
            .del-camp
            %input.campaign-btn.camp-join{:type => "submit", :value => "Join"}
          .campaign-type
            .del-camp
            %input.campaign-btn.camp-support{:type => "submit", :value => "Support"}
        #input-attachments-section
          #attachment-list
            /
              <div class="input-attachment">
              <input type="file" class="choose-attach">
              <input type="text" placeholder="Caption" class="attach-caption"/>
              <input type="button" value="Delete" class="delete-attach"/>
              </div>
          #input-addmore-attachments
            %a#add-more-attachment.info{:href => "#"} Add More
            %a#delete-all-attachment.info{:href => "#"} Delete All   -
        /
          <div id="input-attachments-section">
          <div id="attachment-list">
          <div class="input-attachment">
          <img src="images/photo.jpg">
          <a href="#" class="delete-attachment">delete 1</a>
          </div>
          </div>
          <div id="input-addmore-attachments">
          <a class="info" href="#" id="add-more-attachment">Add More</a>
          <a class="info" id="delete-all-attachment" href="#">Delete All   -</a>
          </div>
          </div>
        #post_submit
          %input#post_submit_button{:type => "submit", :value => "Publish"}
            .post-fb-twt
              %img{:src => "images/fb_pub.jpeg"}/
              .fbtwt-pub
                %input{:name => "fb_publish", :type => "checkbox", :value => "fb_publish"}/
              %img{:src => "images/twt_pub.jpeg"}/
              .fbtwt-pub
                %input{:name => "twt_publish", :type => "checkbox", :value => "twt_publish"}/
        #input-char-count
          %span#char-count : 120
          %span Characters Remaining :
      / #### Home Page input ends####
.wrapper.col3
  #p-ch-st-tab-sect
    #p-ch-st-tab
      %ul.p-cstab
        %li.p-ch-tab
          %a{:href => "#timeline-streams"} Channels
        %li.p-st-tab
          %a{:href => "#timeline-streams"} Streams
.wrapper.col4
  #p-content-sect
    %ul
      %li.p-con-l-fltr
        / #### Start of Left Side Filters ####
        .p-l-fltr-1
          .p-content-type-fltr-sect
            #cont-typ-fltr-all.p-cont-typ-fltr
              %span
            #cont-typ-fltr-drafts.p-cont-typ-fltr
              %span
            #cont-typ-fltr-videos.p-cont-typ-fltr
              %span
            #cont-typ-fltr-images.p-cont-typ-fltr
              %span
            #cont-typ-fltr-twitter.p-cont-typ-fltr
              %span
        .p-l-fltr-2
          .p-related-fltrs-sect
            .p-rel-flwers.p-rel-fltrs
              %span Related Followers >
              .p-rel-fltr-tags
                .p-fltr-tag-list
                  %span Sammy
                .p-fltr-tag-list
                  %span Alok Srivastava
                .p-fltr-tag-list
                  %span Sudhanshu
                .p-fltr-tag-list
                  %span Anand
                .p-fltr-tag-list
                  %span Pramod
            .p-rel-flwers.p-rel-fltrs
              %span Related Entities >
              .p-rel-fltr-tags
                .p-fltr-tag-list
                  %span Slice
                .p-fltr-tag-list
                  %span Fuji
                .p-fltr-tag-list
                  %span.p-selected-fltr-entity Nikon DSLR
                .p-fltr-tag-list
                  %span Nature Photos
                .p-fltr-tag-list
                  %span Birds
            .p-rel-flwers.p-rel-fltrs
              %span Related Locations >
              .p-rel-fltr-tags
                .p-fltr-tag-list
                  %span Bangalore KA
                .p-fltr-tag-list
                  %span Delhi
                .p-fltr-tag-list
                  %span California
                .p-fltr-tag-list
                  %span Greater Noida
                .p-fltr-tag-list
                  %span Sri Lanka
      / #### End of Left Side Filters ####
      / #### Start of Main Content Bar  ####
      %li.p-content
        #p-st-fltr-box
          .p-st-filter-sect
            %ul.p-st-filter
              %li.p-st-flt-label
                %span show containing:
              %li.p-st-filter-box
                .p-flt-actor.p-st-flt-channel
                  %span photography
              %li.p-st-filter-box
                .p-flt-actor.p-st-flt-entity
                  %span object
              %li.p-st-filter-box
                .p-flt-actor.p-st-flt-location
                  %span bengaluru ka
        / #### Post content ####
        .p-awp-post-stream
          #123.p-aw-post
            .p-awp-channel
              .p-awp-channel-desc
                %label.p-awp-channel-label Channel::
                %span.p-awp-channel-name Photography
            .p-awp-subtitle
              %span.p-awp-subtitle-name Future of DSLR
            .p-awp-time
              %span.p-awp-time-content 3:20 am
            .p-awp-date
              %span.p-awp-date-content Sunday, 13th June 2011
            .p-awp-content
              %p The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle. It is then reflected three times by the roof pentaprism, rectifying it for the photographer's eye. (Note that the diagram below incorrectly shows a non-roof pentaprism.) The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle. It is then reflected three times by the roof pentaprism, rectifying it for the photographer's eye. (Note that the diagram below incorrectly shows a non-roof pentaprism.)
            .p-awp-view-comment
              %span.view-comments Comments >
            .p-awp-comments-section
              .p-awp-comment
                .author
                  .p-st-comment-actor-image
                    %img.avatar{:alt => "", :height => "32", :src => "images/photo.jpg", :width => "32"}/
                  .p-st-comment-actor-desc
                    %span.p-st-comment-actor
                      %a{:href => "#"} Sudhanshu
                    %span.wrote wrote:
                    %span.p-st-comment-submitdate August 4, 2009 at 8:35 am
                  .p-st-comment-content
                    %p.comment-text The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle.
              .p-awp-comment
                .author
                  .p-st-comment-actor-image
                    %img.avatar{:alt => "", :height => "32", :src => "images/photo.jpg", :width => "32"}/
                  .p-st-comment-actor-desc
                    %span.p-st-comment-actor
                      %a{:href => "#"} Sudhanshu
                    %span.wrote wrote:
                    %span.p-st-comment-submitdate August 4, 2009 at 8:35 am
                  .p-st-comment-content
                    %p.comment-text This is an example of a comment made on a post.
          #123.p-aw-post
            .p-awp-channel
              .p-awp-channel-desc
                %label.p-awp-channel-label Channel::
                %span.p-awp-channel-name Photography
            .p-awp-subtitle
              %span.p-awp-subtitle-name Future of DSLR
            .p-awp-time
              %span.p-awp-time-content 3:20 am
            .p-awp-date
              %span.p-awp-date-content Sunday, 13th June 2011
            .p-awp-content
              %p The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle. It is then reflected three times by the roof pentaprism, rectifying it for the photographer's eye. (Note that the diagram below incorrectly shows a non-roof pentaprism.) The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle. It is then reflected three times by the roof pentaprism, rectifying it for the photographer's eye. (Note that the diagram below incorrectly shows a non-roof pentaprism.)
            .p-awp-view-comment
              %span.view-comments Comments >
            .p-awp-comments-section
              .p-awp-comment
              .p-awp-comment
          #123.p-aw-post
            .p-awp-channel
              .p-awp-channel-desc
                %label.p-awp-channel-label Channel::
                %span.p-awp-channel-name Photography
            .p-awp-subtitle
              %span.p-awp-subtitle-name Future of DSLR
            .p-awp-time
              %span.p-awp-time-content 3:20 am
            .p-awp-date
              %span.p-awp-date-content Sunday, 13th June 2011
            .p-awp-content
              %p The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle. It is then reflected three times by the roof pentaprism, rectifying it for the photographer's eye. (Note that the diagram below incorrectly shows a non-roof pentaprism.) The basic operation of a DSLR is as follows: for viewing purposes, the mirror reflects the light coming through the attached lens upwards at a 90-degree angle. It is then reflected three times by the roof pentaprism, rectifying it for the photographer's eye. (Note that the diagram below incorrectly shows a non-roof pentaprism.)
            .p-awp-view-comment
              %span.view-comments Comments >
            .p-awp-comments-section
              .p-awp-comment
              .p-awp-comment
      / #### End of Main Content Bar  ####
      / #### Start of Right filter Bar  ####
      %li.p-con-r-fltr.right-filters
        .p-r-content
          .p-r-fltr-st
            .p-r-fltr-st-by
              .p-r-fltr-me
              .p-r-fltr-others
          .p-r-search-fltr
            .p-r-search-fltr-bar
              %span Search Filters
            .p-r-fltr-by
              %span Filter by Followers >
            .p-r-fltr-by
              %span Filter by Locations >
            .p-r-fltr-by
              %span Filter by Entities >
      / #### End of Right filter bar  ####
    %br.clear/
