#page-footer
  .footer-content
    #about-us.footer-header
      %a.footers{:href => "/about/show"}
        %h4 About ActWitty
    #team-us.footer-header
      %a.footers{:href => "/team/show"}
        %h4 Team
    #contact-us.footer-header
      %a.footers{:href => "mailto:contact@actwitty.com"}
        %h4 Contact Us
    #blog-us.footer-header
      %a.footers{:href => "http://act-witty.blogspot.com/"}
        %h4 Blogs
