.wrapper_hompage.homep_col5
  #aw_home_footer
    %center
      %a{:href => "/about/show"} About
      %a{:href => "http://act-witty.blogspot.com/"} Blog
      %a{:href => "/team/show"} Team
      %a{:href => "mailto:contact@actwitty.com"} Contact
      %a{:href => "/terms_of_service.html"} Terms of Service

