.awlpm_footer_horizontal_section
  #awlpm_footer_section
    #awlpm_footer_section_div
      %ul.first_ul
        %li.awlpm_footer_label Company
        %li
          %a{:href => "/about/show"} About Us
        %li
          %a{:href => "/about/show"} Jobs
      %ul
        %li.awlpm_footer_label Links
        %li
          %a{:href => "http://act-witty.blogspot.com/"} Blog
        %li
          %a{:href => "http://act-witty.blogspot.com/"} API
      %ul
        %li.awlpm_footer_label Connect
        %li
          %a{:href => "mailto:contact@actwitty.com"} Contact Us
        %li
          %a{:href => "#", :title => "Facebook"} Facebook
        %li
          %a{:href => "#", :title => "Twitter"} Twitter
      %ul
        %li.awlpm_footer_label Legal Info
        %li
          %a{:href => "/terms_of_service.html"} Terms of Service
  #awlpm_footer_copyright
    \© 2011 ActWitty Software Systems Pvt Ltd.

