.wrapper_hompage.homep_col5
  #aw_home_footer
    %center
      %a{:href => "#"} About
      %a{:href => "#"} Blog
      %a{:href => "#"} FAQ
      %a{:href => "#"} Content Policy
      %a{:href => "#"} Terms of Service

