#page-footer
  .footer-content
    #about-us.footer-header
      %a.footers{:href => "/about/show"} About 
    #team-us.footer-header
      %a.footers{:href => "/team/show"} Team
    #contact-us.footer-header
      %a.footers{:href => "mailto:contact@actwitty.com"} Contact
    #blog-us.footer-header
      %a.footers{:href => "http://act-witty.blogspot.com/"} Blogs
    #termsos.footer-header
      %a.footers{:href => "/terms_of_service.html"} Terms
    .footer-header.terms_of_service
      %span ActWitty © 2011
    #best-viewed.footer-header
      %span Best Viewed in IE9, Mozilla, Chrome
