.wrapper_hompage.homep_col1
  #homep_header
    #aw_home_header_div
      #aw_home_header_signin
        %span
          Already a registered user?
          %a#aw_login_open{:href => "#"} Login
        
      %a{:href => "http://www.actwitty.com" }
        #aw_home_header_logo
       
    #aw_home_header_signin_box.js_signin_partial
      =render :partial => "users/sessions/new", :locals => { :user => User.new } 
    -if @page_mode == "sign-in-page"
      #aw_home_direct_foreign_login
        %a#twitter_connect{:href => "/users/auth/twitter"}
          %img{:src => "/images/alpha/t-connect.png"}
        %a#sns_facebook_id{:href => "/users/auth/facebook"}
          %img{:src => "/images/alpha/f-connect.png"}    
      



