/#page-wrapper
/  #header
=render :partial => "welcome/logo"

#forgot-site-connect
  #forgot-sign_in_up
    #forgot-sign-connect-desc
      %h3#forgot-desc.desc Email confirmation pending.
      %p
        An email has been sent to your id: #{params[:email]}.
        %br/
        Please click email id by clicking the link mentioned in email.
        %br/
        %br/
        %br/
        %br/
        %br/

=render :partial => "welcome/footer"
