#aw_home_main_container
  #aw_home_top_header
    .aw_home_top_nav.top_nav_active
      %h3 ABOUT
    .aw_home_top_nav
      %h3 BLOG
  %img{:src => "/images/actwitty/refactor/aw_lpm/main_header.png"}
    %h3#aw_home_main_desc
      RE-DISCOVER FOOTPRINT OF SOCIAL ACTIVITES
    #aw_home_desc
      YOUR INTERESTS DEFINE YOUR PERSONA, WE HELP YOU BUILD AND SHOWCASE IT  
      %br/
      ENHANCE YOUR IMAGE AND ENGAGE BETTER
    #aw_home_social_signup
      %img{:src => "/images/actwitty/refactor/aw_lpm/come_join_us.png"}
        %a{:href => "/users/auth/facebook"}
          %img{:src => "/images/actwitty/refactor/aw_lpm/fb_connect.png"}
        %a{:href => "/users/auth/twitter"}
          %img{:src => "/images/actwitty/refactor/aw_lpm/tw_connect.png"}
    #aw_home_footer

%input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" } 

