
#LoadingDiv
  %img.loading-img{:src => "/images/actwitty/loading4.gif"} 
#page-wrapper
  / Welcome page header
  #header
    =render :partial => "welcome/logo" 
    =render :partial => "users/sessions/foreign_auth"
  
  / Welcome sign in/ sign up div
  #site-connect  
    #sign_in_up  
      =render :partial => "users/sessions/new", :locals => { :user => User.new }

    / Welcome information slider div
    /
      #info-slide
        .slider-wrapper.theme-default
          .ribbon
          #slider.nivoSlider
            %img{:alt => "", :src => "/images/actwitty/actwitty_intro_1.png"}/
            %img{:alt => "", :src => "/images/actwitty/actwitty_intro_2.png"}/
    
  / Welcome page Information text
  #info-section
    
    #actwitty-text
      #simplegallery1
      
     
      #actwitty-t3.actwitty-info
        %img{:alt => "", :src => "/images/actwitty/main_page_info.jpg"}/
        
      /
        #actwitty-t4.actwitty-info
          %img{:alt => "", :src => "/images/actwitty/SocialMedia.jpg"}/
          %h4
            \#Channels
            %span something
        #actwitty-t5.actwitty-info
          %img{:alt => "", :src => "/images/actwitty/SocialMedia.jpg"}/
          %h4
            \#Channels
            %span something
      
      /    
        %span
          .insist #Channelize
          .detail interests
          .insist_2 #Enrich
          .detail channels
          .insist_3 #Connect
          .detail to topical short lived networks 

    
  #actwitty-mobile
    #download-section
      #download-desc
        %h3.desc ActWitty soon on
      #download-list
        %img.download-src.android{:height => "65", :src => "/images/actwitty/android.jpg", :width => "65"}
          %img.download-src.apple{:height => "65", :src => "/images/actwitty/iphone.png", :width => "65"}
            
=render :partial => "welcome/footer"
