#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=180483002026787";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

#aw_home_main_container
  #aw_home_top_header
    .aw_home_top_nav
      %a{:href=>"http://act-witty.blogspot.in/", :target => "_blank"}
        %h3 BLOG
    .aw_home_top_nav
      %a{:href=>"/about/show.html" }
        %h3 ABOUT
    .aw_home_top_nav.top_nav_active
      %a{:href=>"http://www.actwitty.com" }
        %h3 HOME

  %img{:src => "/images/actwitty/refactor/aw_lpm/main_header.png"}
    %h3#aw_home_main_desc
      The Complete You
    #aw_home_desc
      Your Interests Define Your Persona. We Help You Build and Showcase it
      %br/
      Enhance Your Image and Engage Better
    #aw_home_social_signup
      %img{:src => "/images/actwitty/refactor/aw_lpm/come_join_us.png"}
        %a{:href => "/users/auth/facebook"}
          %img{:src => "/images/actwitty/refactor/aw_lpm/fb_connect.png"}
        %a{:href => "/users/auth/twitter"}
          %img{:src => "/images/actwitty/refactor/aw_lpm/tw_connect.png"}
    #aw_home_footer

    #aw_home_follow_us
      .fb-like.aw_like_us{"data-href" => "http://www.actwitty.com", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
      %a{:href=>"http://www.facebook.com/pages/Actwitty/162060013895162",:target => "_blank"}
        %img{:src=>"/images/actwitty/refactor/aw_lpm/facebook.png",:target => "_blank"}
      %a{:href=>"http://twitter.com/#!/act_witty", :target => "_blank" }
        %img{:src=>"/images/actwitty/refactor/aw_lpm/twitter.png"}
      %span follow us on
%input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" } 

/Feed Back User Voice
:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/qSgEkukkoJykzYLLS3m3w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })(); 
