/= render :partial => "users/sessions/foreign_auth"
/.clear 
/.right
/  #gettingin.signindiv
/    =render :partial => "users/sessions/new", :locals => { :user => User.new }

/=render :partial => 'users/sign_up/new'
#LoadingDiv
  %img.loading-img{:src => "/images/actwitty/loading4.gif"} 
#page-wrapper
  #header
    #logo
      %a{:href => "#"}
        %img#logo-img{:src => "/images/actwitty/actwitty_logo.png"}/
      /%img{:id=>"logo-img", :src => "/images/actwitty/actwitty_logo.png"}/
    = render :partial => "users/sessions/foreign_auth"
    /
      #sns-connect
        #sns-desc
          %h3 If you have already started acting witty!
        #sns-login
          %h3#desc Directly Sign-In with
          .twitter.icon.medium
          .facebook.icon.medium
  #site-connect  
    #sign_in_up  
      =render :partial => "users/sessions/new", :locals => { :user => User.new }
    #info-slide
      .slider-wrapper.theme-default
        .ribbon
        #slider.nivoSlider
          %img{:alt => "", :src => "/images/l1.jpg"}/
          %img{:alt => "", :src => "/images/l2.jpg"}/
          %img{:alt => "", :src => "/images/l3.jpg"}/
          %img{:alt => "", :src => "/images/l4.jpg"}/

  #info-section
    #actwitty-text
      %h3 Channelize, Collaborate, Connect
    #download-section
      #download-desc
        %h3.desc GET ActWitty ON
      #download-list
        %img.download-src{:height => "65", :src => "/images/actwitty/android.jpg", :width => "65"}
          %img.download-src{:height => "65", :src => "/images/actwitty/iphone.png", :width => "65"}
            %img.download-src{:height => "65", :src => "/images/actwitty/blackberry.png", :width => "65"}
              %img.download-src{:height => "65", :src => "/images/actwitty/palm.png", :width => "65"}
  #page-footer
    .footer-content
      #about-us.footer-header
        %a.footers{:href => "/about/show"}
          %h4 About ActWitty
      #team-us.footer-header
        %a.footers{:href => "/team/show"}
          %h4 Team
      #contact-us.footer-header
        %a.footers{:href => "mailto:contact@actwitty.com"}
          %h4 Contact Us
      #blog-us.footer-header
        %a.footers{:href => "http://act-witty.blogspot.com/"}
          %h4 Blogs
