#fb-root


.aw_home_top_header
  .aw_home_top_header_content
    .aw_home_top_header_logo_img
    .aw_home_top_header_logo
    .aw_lpm_top_nav
      %ul
        %li
          %a{:href=>"/about/show.html",:target => "_blank" } Team
        %li
          %a{:href=>"/actwitty",:target => "_blank" } Live 
        %li
          %a{:href=>"http://actwittyblog.tumblr.com/",:target => "_blank" } Blog      
        %li
          %a{:href=>"/actgreen",:target => "_blank" } Eco
        %li
          %a{:href=>"/actgreen",:target => "_blank" } API          
#aw_home_main_container
  .aw_lpm_main_box
    .aw_lpm_intro
      %img{:src => "/images/actwitty/refactor/aw_lpm/aw_intro.png" }
    .aw_lpm_social_signup
      %a{:href => "/users/auth/facebook"}
        %img{:src => "/images/actwitty/refactor/aw_lpm/fb_connect.png"}
      %a{:href => "/users/auth/twitter"}
        %img{:src => "/images/actwitty/refactor/aw_lpm/tw_connect.png"}
    .aw_lpm_lower_banner
      %span.aw_lpm_free Signup for free ! 
      %span.aw_lpm_invite_based Invite based !!!
    .aw_lpm_product_info_section
      %h2 Mileage added to your social media.
      .aw_lpm_product_feature
        %img{ :src => "/images/actwitty/refactor/aw_lpm/feature_info1.png" }
        %p Highlight your aspects on social media. Share individual aspects as pages. 
      .aw_lpm_product_feature
        %img{ :src =>  "/images/actwitty/refactor/aw_lpm/feature_info3.png",:style => "margin-top:25px" }
        %p{:style=>"margin-top:58px" } Increase your visibility on search engines. Your aspects make you star.
      .aw_lpm_product_feature
        %img{ :src =>  "/images/actwitty/refactor/aw_lpm/feature_info2.png", :width => "180px" ,:style => "margin-top:20px;margin-left:25px"}
        %p{:style=>"margin-top:18px" } Add your social media to your domain by hosting Actwitty on your domain.

    .aw_lpm_reach_info_section
      %h2 Know more about us.
      .reach_box
        %a{:href=>"http://business.outlookindia.com/article.aspx?280665", :target => "_blank" }
          %img{:src=> "/images/actwitty/refactor/aw_lpm/outlook_business.jpg", :width => "130px", :style => "margin-top: 70px" }
      .reach_box
        %a{:href=>"http://www.pluggd.in/categorize-twitter-facebook-into-topics-using-actwitty-297/", :target => "_blank"}
          %img{:src=> "/images/actwitty/refactor/aw_lpm/pluggdin.jpg", :width => "130px", :style => "margin-top: 70px" }
      .reach_box
        %a{:href=>"https://www.facebook.com/pages/Actwitty/162060013895162", :target => "_blank"}
          %img{:src=> "/images/actwitty/refactor/aw_lpm/facebook-logo.jpg", :width => "130px", :style => "margin-top: 65px" }
      .reach_box
        %a{:href=>"https://twitter.com/#!/act_witty", :target => "_blank"}
          %img{:src=> "/images/actwitty/refactor/aw_lpm/twitter_logo.jpg", :width => "130px", :style => "margin-top: 65px" }
    
    .aw_lpm_page_share_section 
      %h2 Stay connected and share with friends 
      .aw_pageshare
        #gb.sbutton
          %script{:src => "https://connect.facebook.net/en_US/all.js#xfbml=1"}
          %fb:like{:font => "", :layout => "button_count", :show_faces => "false", "data-href" => "https://www.facebook.com/actwitty"}
        #tw_follow.sbutton
          %a.twitter-follow-button{"data-show-count" => "true", :href => "https://twitter.com/act_witty"} Follow
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        #rt.sbutton
          %a.twitter-share-button{"data-count" => "horizontal", 
                              :href => "https://twitter.com/share",
                              "data-counturl" =>  "https://www.actwitty.com",
                              "data-text" => "Join Actwitty-your social home page, integrate your #socialmedia to an interesting curated page with topical sense",
                              :url=> "https://www.actwitty.com" } Tweet
          %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
        #gplusone.sbutton
          %script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}
          %g:plusone{:size => "medium"}

 
.aw_lpm_page_footer
  %img{:src => "/images/actwitty/refactor/aw_common/aw_logo.png"}
  %span @actwitty  
  

/Feed Back User Voice
:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/qSgEkukkoJykzYLLS3m3w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })(); 
