
=render :partial => "welcome/logo"       

.wrapper_hompage.homep_col2
  #aw_home_intro
    #aw_home_intro_image
    #aw_home_intro_signup_sect
      #aw_home_intro_signup_new_here
      #aw_home_intro_signup_new_here_info
      #aw_home_intro_register_box.js_signup_partial
        =render :partial => "users/registrations/new", :locals => { :user => User.new } 
     

.wrapper_hompage.homep_col4
  #aw_home_latest
    #aw_home_latest_section
      #dummy_block
      .aw_home_divider
      #aw_home_latest_updates
        #latest_summary_box.main_box_user_list
          %input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" }  
      .aw_home_divider

.wrapper_hompage.homep_col3
  #aw_home_container
    #aw_container_intro_channels.aw_home_container_intro
      #home_page_channel_text 
        %span show your interests and aspects of life through channels
    #aw_container_intro_filters.aw_home_container_intro
      #home_page_filter_text 
        %span smart way to explore channels
    #aw_container_intro_summary.aw_home_container_intro
      #home_page_summary_text 
        %span collection of your interests



=render :partial => "welcome/footer"

.wrapper_hompage.homep_col6

