/*ActWitty Stylesheet file
 *File: 
 *code: 
 *Author: 
 *Author URI:  */
@font-face {
  font-family: "RobotoRegular";
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot");
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/webfont/roboto/Roboto-Regular-webfont.woff") format("woff"), url("/webfont/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  color: #cccccc;
  background-color: white; }

img {
  border: 0;
  padding: 0;
  margin: 0; }

.justify {
  text-align: justify; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.nostart {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

br.clear {
  clear: both;
  margin-top: -120px; }

a {
  outline: none;
  text-decoration: none; }

.fl_left {
  float: left; }

.fl_right {
  float: right; }

.imgl, .imgr {
  border: 0px solid #dfdfdf;
  padding: 20px;
  color: #666666;
  background-color: white; }

.imgl {
  float: left;
  margin: 0 8px 8px 0;
  clear: left; }

.imgr {
  float: right;
  margin: 0 0 8px 8px;
  clear: right; }

/******************************************* Common for all Columns main Div's ************************************ */
/* ----------------------------------------------Wrapper------------------------------------- */
.aw_user_listing_wrapper {
  display: block;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
  height: auto;
  display: block;
  color: white;
  background-color: white;
  border: 0px solid green; }
  .aw_user_listing_wrapper .aw_users_page_title {
    width: 800px;
    margin: 0px auto;
    height: auto;
    display: block; }
  .aw_user_listing_wrapper .aw_users_counts_box {
    width: 800px;
    margin: 0px auto;
    height: auto;
    display: block;
    height: 60px; }
    .aw_user_listing_wrapper .aw_users_counts_box .aw_counters_section {
      width: 250px;
      color: black;
      display: inline-block;
      float: left; }
      .aw_user_listing_wrapper .aw_users_counts_box .aw_counters_section span {
        margin: 4px auto;
        font-size: 40px; }

/****************************************** User box section for user photo and input box ************************* */
.aw_users_list_table {
  width: 800px;
  margin: 0px auto;
  height: auto;
  display: block;
  border-radius: 3px;
  -moz-box-shadow: 0 0 20px #333333;
  -webkit-box-shadow: 0 0 20px #333333;
  box-shadow: 0 0 20px #333333; }
  .aw_users_list_table .aw_users_table_header {
    height: 30px;
    border-bottom: 1px dotted #cccccc;
    font-size: 16px;
    font-family: "RobotoRegular";
    font-weight: normal;
    display-inline: block;
    color: #25a0da;
    text-transform: uppercase;
    padding-top: 3px; }
    .aw_users_list_table .aw_users_table_header .aw_user_image_header {
      width: 80px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_header .aw_user_image_header span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_header .aw_user_name_header {
      width: 100px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_header .aw_user_name_header span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_header .aw_user_gender_header {
      width: 60px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_header .aw_user_gender_header span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_header .aw_user_location_header {
      width: 200px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_header .aw_user_location_header span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_header .aw_user_creation_header {
      width: 80px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_header .aw_user_creation_header span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_header .aw_user_login_header {
      width: 100px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_header .aw_user_login_header span {
        margin: 0px auto; }
  .aw_users_list_table .aw_users_table_row {
    height: auto;
    border-bottom: 1px dotted #cccccc;
    font-size: 16px;
    font-family: "RobotoRegular";
    font-weight: normal;
    border-bottom: 1px dotted #cccccc;
    display: block;
    color: black; }
    .aw_users_list_table .aw_users_table_row .aw_user_image {
      width: 80px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_row .aw_user_image img {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_row .aw_user_name {
      width: 100px;
      display: inline-block; }
      .aw_users_list_table .aw_users_table_row .aw_user_name span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_row .aw_user_gender {
      width: 60px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_row .aw_user_gender span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_row .aw_user_location {
      width: 200px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_row .aw_user_location span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_row .aw_user_creation {
      width: 80px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_row .aw_user_creation span {
        margin: 0px auto; }
    .aw_users_list_table .aw_users_table_row .aw_user_login {
      width: 100px;
      display: inline-block;
      margin-left: 20px; }
      .aw_users_list_table .aw_users_table_row .aw_user_login span {
        margin: 0px auto; }

.aw_users_list_nav {
  width: 800px;
  padding-top: 5px;
  margin: 0px auto;
  height: auto;
  display: block; }

.aw_navigate_button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 80px;
  height: 22px;
  margin-left: 35px;
  margin-bottom: 5px;
  padding-top: 15px; }
  .aw_navigate_button:hover {
    cursor: pointer; }
