= javascript_include_tag 'actwitty/facebook'
= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
%h2 Facebook Friends
%h3 List of people from facebook you may like to connect on actwitty
%ul#fb_friend_suggests
 
%hr
%h3 List of people whom you can invite from facebook to actwitty
%ul#fb_invites
  
%hr
%h3 List of people your friends on actwitty and facebook both
%ul#fb_friends
 
%hr
