/********************************************************************** */
/* line 2, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_locations_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 11, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_locations_box:hover {
  border: 1px solid #cccccc;
}
/* line 14, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_locations_box div.aw_ppm_dyn_location_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  font-size: 10px;
  position: absolute;
  left: 120px;
  top: 84px;
  z-index: 99;
  width: 120px;
  height: 60px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  overflow: hidden;
  display: none;
}
/* line 27, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_locations_box:hover div.aw_ppm_dyn_location_info_hover_box {
  display: block;
}
/* line 29, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_locations_box .aw_ppm_dyn_chn_locations_map_box {
  width: 100%;
  height: 100%;
}

/* line 34, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_location_label_box {
  width: 100%;
  height: 20px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 42, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page_locations.sass */
.aw_ppm_dyn_chn_location_label_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
