/********************************************************************** */
/* line 2, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 11, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box div.aw_ppm_dyn_users_chn_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 350px;
  height: 280px;
  background-color: #dddddd;
  border: 1px solid #cccccc;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  display: none;
}
/* line 28, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box div.aw_ppm_dyn_users_chn_info_hover_box:hover {
  cursor: pointer;
}
/* line 30, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box:hover div.aw_ppm_dyn_users_chn_info_hover_box {
  display: block;
}

/* line 45, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_label_own_page {
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
}

/* line 49, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_own_chn_label_others_page {
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 130px;
}

/* line 53, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 59, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 70, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 72, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box:hover span {
  display: block;
}

/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 83, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 86, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

/********************************************************************** */
/* line 91, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 101, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box div.aw_ppm_dyn_subscribed_chn_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 350px;
  height: 280px;
  background-color: #dddddd;
  border: 3px solid red;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  display: block;
}
/* line 118, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box div.aw_ppm_dyn_subscribed_chn_info_hover_box:hover {
  cursor: pointer;
}

/* line 124, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_label {
  width: 130px;
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 137, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 143, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 154, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 156, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box:hover span {
  display: block;
}

/* line 159, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 167, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 170, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

/********************************************************************** */
/* line 175, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 184, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box div.aw_ppm_dyn_all_chn_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 250px;
  height: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 197, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box:hover {
  cursor: pointer;
}
/* line 199, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box:hover div.aw_ppm_dyn_all_chn_info_hover_box {
  display: block;
}

/* line 201, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_label {
  width: 130px;
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 214, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 220, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 231, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 233, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box:hover span {
  display: block;
}

/* line 236, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 244, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 247, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}
