/********************************************************************** */
/* line 6, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid #cccccc;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 21, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box div.aw_ppm_dyn_users_chn_info_hover_box {
  position: absolute;
  left: 20px;
  top: 30px;
  z-index: 99;
  width: 270px;
  height: 320px;
  background-color: #137bb0;
  border: 1px solid #cccccc;
  /*background-image: url("/images/actwitty/refactor/aw_ppm/channel/analytics/analytics_bkg.png") */
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  display: none;
}
/* line 36, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box:hover {
  cursor: pointer;
  border: 1px solid #555555;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 43, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box:hover div.aw_ppm_dyn_users_chn_info_hover_box {
  display: block;
}

/* line 64, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_label_own_page {
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 102, 204, 0.9);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  width: 100%;
}

/* line 68, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_own_chn_label_others_page {
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 102, 204, 0.9);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  width: 100%;
}

/* line 72, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 78, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 89, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 91, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box:hover span {
  display: block;
}

/* line 94, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* line 106, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 109, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/********************************************************************** */
/* line 114, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid #cccccc;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 128, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box div.aw_ppm_dyn_subscribed_chn_info_hover_box {
  position: absolute;
  left: 20px;
  top: 30px;
  z-index: 99;
  width: 270px;
  height: 320px;
  background-color: #137bb0;
  border: 1px solid #cccccc;
  /*background-image: url("/images/actwitty/refactor/aw_ppm/channel/analytics/analytics_bkg.png") */
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  display: none;
}
/* line 143, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box:hover {
  cursor: pointer;
  border: 1px solid #555555;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 150, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box:hover div.aw_ppm_dyn_subscribed_chn_info_hover_box {
  display: block;
}

/* line 154, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_label {
  width: 100%;
  height: 18px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 102, 204, 0.9);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* line 173, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 179, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 190, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 192, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box:hover span {
  display: block;
}

/* line 195, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* line 207, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}
/* line 212, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

/********************************************************************** */
/* line 217, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid #cccccc;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 231, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box div.aw_ppm_dyn_all_chn_info_hover_box {
  position: absolute;
  left: 20px;
  top: 30px;
  z-index: 99;
  width: 270px;
  height: 320px;
  background-color: #137bb0;
  border: 1px solid #cccccc;
  /*background-image: url("/images/actwitty/refactor/aw_ppm/channel/analytics/analytics_bkg.png") */
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  display: none;
}
/* line 246, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box:hover {
  cursor: pointer;
  border: 1px solid #555555;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 253, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box:hover div.aw_ppm_dyn_all_chn_info_hover_box {
  display: block;
}

/* line 255, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_label {
  width: 100%;
  height: 18px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 102, 204, 0.9);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* line 274, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 280, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 291, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 293, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box:hover span {
  display: block;
}

/* line 296, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
}
/* line 304, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}
/* line 309, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
