/********************************************************************** */
/* line 2, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 12, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box div.aw_ppm_dyn_users_chn_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 350px;
  height: 280px;
  background-color: #dddddd;
  background-image: url("/images/actwitty/refactor/aw_ppm/channel/analytics/my_channel_bck.png");
  border: 1px solid #cccccc;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  display: none;
}
/* line 30, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box:hover {
  cursor: pointer;
  border: 1px solid #cccccc;
}
/* line 33, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_box:hover div.aw_ppm_dyn_users_chn_info_hover_box {
  display: block;
}

/* line 48, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_chn_label_own_page {
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 100%;
}

/* line 52, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_users_own_chn_label_others_page {
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 130px;
}

/* line 56, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 62, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 73, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 75, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_subscription_action_box:hover span {
  display: block;
}

/* line 78, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 86, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 89, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_user_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/********************************************************************** */
/* line 94, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 104, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box div.aw_ppm_dyn_subscribed_chn_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 350px;
  height: 280px;
  background-color: #dddddd;
  background-image: url("/images/actwitty/refactor/aw_ppm/channel/analytics/my_channel_bck.png");
  border: 1px solid #cccccc;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  display: none;
}
/* line 122, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box:hover {
  cursor: pointer;
  border: 1px solid #cccccc;
}
/* line 125, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_box:hover div.aw_ppm_dyn_subscribed_chn_info_hover_box {
  display: block;
}

/* line 129, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_label {
  width: 130px;
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 142, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 148, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 159, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 161, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_subscription_action_box:hover span {
  display: block;
}

/* line 164, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 172, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 175, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_subscribed_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

/********************************************************************** */
/* line 180, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid black;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
/* line 189, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box div.aw_ppm_dyn_all_chn_info_hover_box {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 100px;
  margin-top: 50px;
  width: 350px;
  height: 280px;
  background-color: #dddddd;
  background-image: url("/images/actwitty/refactor/aw_ppm/channel/analytics/my_channel_bck.png");
  border: 1px solid #cccccc;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  display: none;
}
/* line 207, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box:hover {
  cursor: pointer;
  border: 1px solid #cccccc;
}
/* line 210, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_box:hover div.aw_ppm_dyn_all_chn_info_hover_box {
  display: block;
}

/* line 212, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_label {
  width: 130px;
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 225, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 231, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
  display: none;
}
/* line 242, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box:hover {
  cursor: pointer;
}
/* line 244, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_subscription_action_box:hover span {
  display: block;
}

/* line 247, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
}
/* line 255, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
}
/* line 258, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/channel/aw_ppm_dyn_chn_page.sass */
.aw_ppm_dyn_all_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
