#aw_stream_container_header {
  width: 100%;
  height: 40px;
  background: #d6f5f5;
  border-radius: 0 5px 0 0; }

#aw_stream_container_header_label {
  font-size: 24px;
  font-family: "RobotoBold";
  color: #444444;
  float: left;
  border: 0px solid red;
  margin-left: 15px;
  margin-top: 12px;
  vertical-align: middle; }

.aw_stream_container_close {
  width: 60px;
  height: 30px;
  border: 0px solid red;
  float: right;
  margin-top: 15px;
  font-size: 14px;
  color: #999999 !important;
  display: none;
  cursor: pointer; }
  .aw_stream_container_close a {
    text-decoration: none;
    color: #999999; }
    .aw_stream_container_close a:hover {
      color: #444444; }

.aw_stream_entry_container {
  position: relative;
  border-bottom: 1px dotted #444444;
  min-height: 60px;
  clear: both;
  display: block;
  outline: none;
  margin-top: -1px;
  border-top: 1px solid transparent;
  padding: 5px 3px 5px 3px;
  width: 350px; }

.aw_stream_originator_img {
  float: left;
  margin-top: 3px; }
  .aw_stream_originator_img a {
    text-decoration: none; }
  .aw_stream_originator_img img {
    height: 32px;
    overflow: hidden;
    width: 32px;
    vertical-align: middle;
    margin-right: 4px; }
  .aw_stream_originator_img span {
    font-size: 13px;
    font-weight: bold;
    color: #444444; }
  .aw_stream_originator_img .aw_stream_content_screen_name {
    margin-left: 5px;
    text-decoration: none;
    font-family: "RobotoRegular";
    font-weight: normal;
    color: #444444;
    font-size: 13px;
    margin-right: 5px;
    font-family: "RobotoRegular";
      font-family-cursor: pointer; }
  .aw_stream_originator_img .aw_stream_content_name {
    margin-left: 1px;
    text-decoration: none;
    font-weight: normal;
    color: #25a0da;
    font-family: "RobotoRegular";
    font-size: 15px; }
    .aw_stream_originator_img .aw_stream_content_name:hover {
      cursor: pointer; }

.aw_stream_src_img {
  float: right;
  height: 16px;
  overflow: hidden;
  width: 16px;
  margin-top: 3px; }
  .aw_stream_src_img:hover {
    cursor: pointer; }

.aw_stream_time_orig {
  float: right;
  height: 16px;
  padding: 2px;
  overflow: hidden;
  width: 100%;
  text-align: right;
  font-family: "RobotoRegular";
  font-size: 10px; }
  .aw_stream_time_orig span {
    color: #444444; }

.aw_stream_content {
  margin-left: 10px;
  margin-right: 18px;
  min-height: 48px;
  width: 100%;
  height: auto;
  display: inline-block;
  border: 0px solid green; }
  .aw_stream_content .aw_stream_text_box {
    padding-top: 1px;
    min-height: 20px; }
    .aw_stream_content .aw_stream_text_box p {
      font-family: "RobotoRegular";
      width: 90%;
      line-height: 18px;
      font-size: 13px;
      word-wrap: break-word; }
      .aw_stream_content .aw_stream_text_box p .aw_text_mention {
        color: #25a0da; }
        .aw_stream_content .aw_stream_text_box p .aw_text_mention:hover {
          cursor: pointer; }
  .aw_stream_content .aw_location_box {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-bottom: 2px;
    text-align: right; }
    .aw_stream_content .aw_location_box p {
      font-family: "RobotoRegular";
      line-height: 18px;
      font-size: 15px;
      color: #25a0da; }
      .aw_stream_content .aw_location_box p img {
        height: 25px;
        margin-right: 2px; }
  .aw_stream_content .aw_attachment_box {
    margin-top: 2px;
    width: 100%;
    height: auto;
    display: inline-block; }
    .aw_stream_content .aw_attachment_box .aw_attachment_title {
      margin-bottom: 5px; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title a {
        font-family: "RobotoRegular";
        color: #25a0da;
        font-size: 16px;
        text-decoration: none; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title:hover {
        cursor: pointer; }
    .aw_stream_content .aw_attachment_box .aw_attachment_title_milder {
      width: 90%;
      margin-bottom: 5px; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title_milder a {
        font-family: "RobotoRegular";
        color: #25a0da;
        font-size: 15px;
        text-decoration: none; }
      .aw_stream_content .aw_attachment_box .aw_attachment_title_milder:hover {
        cursor: pointer; }
    .aw_stream_content .aw_attachment_box .aw_attachment_content .aw_attachment_paragraph {
      padding-top: 2px;
      width: 90%;
      height: auto;
      font-family: "RobotoRegular";
      font-size: 11px;
      line-height: 18px;
      color: #444444;
      word-wrap: break-word; }
    .aw_stream_content .aw_attachment_box .aw_attachment_content .aw_attachment_image_box {
      width: 100%; }
      .aw_stream_content .aw_attachment_box .aw_attachment_content .aw_attachment_image_box .aw_attachment_image {
        margin-left: auto;
        padding: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 0 5px #333333;
        -webkit-box-shadow: 0 0 5px #333333;
        box-shadow: 0 0 5px #333333; }
    .aw_stream_content .aw_attachment_box .aw_attachment_caption {
      width: 100%;
      height: auto;
      font-family: "RobotoRegular";
      font-size: 13px;
      line-height: 18px;
      color: #444444;
      clear: left; }
    .aw_stream_content .aw_attachment_box .aw_attachment_embed {
      display: block;
      width: 100%;
      height: auto;
      font-family: "RobotoRegular";
      font-size: 12px; }
      .aw_stream_content .aw_attachment_box .aw_attachment_embed iframe {
        border: 0px;
        padding: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 0 5px #333333;
        -webkit-box-shadow: 0 0 5px #333333;
        box-shadow: 0 0 5px #333333; }

.aw_stream_mentions_box {
  margin-top: 5px;
  width: 90%;
  height: auto;
  display: inline-block; }
  .aw_stream_mentions_box span {
    display: block;
    color: #444444;
    font-family: "RobotoRegular";
    color: #444444;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 3px; }
  .aw_stream_mentions_box a {
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #25a0da;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #d6f5f5;
    padding: 2px;
    color: #444444;
    margin-left: 5px;
    margin-right: 5px; }
    .aw_stream_mentions_box a:hover {
      /* cursor: pointer */ }

.aw_actions_box {
  margin-top: 2px;
  width: 100%;
  height: auto;
  display: inline-block; }
  .aw_actions_box .aw_single_action {
    font-size: 13px;
    font-family: "RobotoRegular";
    display: inline-block;
    margin-left: 5px; }
    .aw_actions_box .aw_single_action:hover {
      color: #333333; }
  .aw_actions_box .aw_single_action_static {
    color: #333333; }
  .aw_actions_box .aw_single_action_link {
    color: #777777;
    color: #25a0da;
    cursor: pointer; }
