/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_static_profile.sass */
.aw_dyn_static_profile_details_element {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 5, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_static_profile.sass */
.aw_dyn_static_profile_details_element h3 {
  font-size: 12px;
  font-weight: normal;
  display: inline;
}
/* line 9, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_static_profile.sass */
.aw_dyn_static_profile_details_element span {
  font-size: 12px;
  font-weight: normal;
}
