/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_container_box {
  width: 510px;
  height: auto;
  margin-top: 25px;
  margin-left: 8px;
  border: 0px solid green;
  display: inline-block;
}

/* Services colors */
/* line 11, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_color_facebook {
  background-color: #91addd;
}

/* line 14, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_color_twitter {
  background-color: #23b7e9;
}

/* line 17, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment {
  width: 500px;
  margin: auto;
  text-align: center;
  float: left;
  border: 0px solid green;
  display: block;
}
/* line 25, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment .aw_service_popularity_interest_header {
  width: 100%;
  height: 20px;
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 31, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment .aw_service_popularity_interest_header span {
  font-size: 14px;
  font-family: "RobotoRegular";
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
/* line 38, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment .aw_service_popularity_interest_details {
  width: 480px;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border: 0px solid red;
  position: relative;
  display: block;
  float: left;
  border-bottom: 1px dotted #444444;
  margin: auto;
}
/* line 51, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment .aw_service_popularity_interest_details .aw_service_popularity_details_box {
  width: 64px;
  height: 64px;
  margin: auto;
  overflow: hidden;
  float: left;
  padding: 2px;
  margin: 2px;
  margin-left: 10px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
}
/* line 64, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment .aw_service_popularity_interest_details .aw_service_popularity_details_box span.aw_service_popularity_number {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-family: "League Gothic";
  font-weight: normal;
  color: white;
  margin-top: 12px;
}
/* line 74, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_service_popularity_segment .aw_service_popularity_interest_details .aw_service_popularity_details_box span.aw_service_popularity_field {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 11px;
  line-height: 12px;
  font-family: "RobotoRegular";
  font-weight: normal;
  color: white;
}

/* line 88, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_js_popularity_box_show_always {
  display: inline-block;
}

/* line 91, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_js_popularity_box_hide_on_less {
  display: none;
}

/* line 94, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_js_popularity_box_show_on_more {
  display: block;
}

/* line 97, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_show_more_popularity_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal;
  display: block;
  float: left;
}
/* line 108, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_service_popularity.sass */
.aw_show_more_popularity_box:hover {
  cursor: pointer;
}
