/* line 1, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box {
  margin: 10px;
  width: 520px;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 9, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_mentions_segment {
  width: 500px;
  min-height: 30px;
  margin: auto;
  text-align: center;
  float: left;
  border: 0px solid green;
}
/* line 17, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_mention_column_delimiter {
  border-right: 1px dotted #444444;
  width: 100%;
  display: inline-block;
}
/* line 23, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_one_interest_header {
  width: 100%;
  height: 20px;
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 29, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_one_interest_header span {
  font-size: 14px;
  font-family: "RobotoRegular";
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
/* line 36, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_one_interest_mention {
  width: 480px;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border: 0px solid red;
  position: relative;
  display: block;
  float: left;
  border-bottom: 1px dotted #444444;
}
/* line 48, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box {
  width: 64px;
  height: 64px;
  margin: auto;
  overflow: hidden;
  float: left;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
}
/* line 61, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box .aw_sketch_mention_img_box {
  width: 60px;
  height: 60px;
  display: block;
  overflow: hidden;
  margin: auto;
  margin-top: 2px;
  border: 0px solid green;
  line-height: 60px;
  text-align: center;
}
/* line 71, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box .aw_sketch_mention_img_box img {
  width: 60px;
  margin-top: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

/* line 82, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_js_mentions_box_show_always {
  display: inline-block;
}

/* line 85, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_js_mentions_tab_hide_on_less {
  display: none;
}

/* line 88, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_js_mentions_tab_show_on_more {
  display: block;
}

/* line 91, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_js_mentions_box_hide_on_less {
  display: none;
}

/* line 94, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_js_mentions_box_show_on_more {
  display: inline-block;
}

/* line 97, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_show_more_mentions_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #25a0da;
  font-size: 14px;
  font-weight: normal;
  display: block;
  float: left;
}
/* line 108, ../../../../../../app/stylesheets/actwitty/refactor/aw_ppm/sketch/aw_sketch_js_mentions.sass */
.aw_show_more_mentions_box:hover {
  cursor: pointer;
}
