.aw_mentions_header_label {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #008bf8; }

.aw_sketch_mention_box {
  margin: 10px;
  width: 520px;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden; }
  .aw_sketch_mention_box .aw_sketch_mentions_segment {
    width: 460px;
    min-height: 30px;
    margin-left: 40px;
    text-align: center;
    float: left;
    border: 0px solid green; }
  .aw_sketch_mention_box .aw_sketch_mention_column_delimiter {
    border-right: 1px dotted #444444;
    width: 100%;
    display: inline-block; }
  .aw_sketch_mention_box .aw_sketch_one_interest_header {
    width: 100%;
    height: 20px;
    display: block;
    margin-top: 8px;
    margin-bottom: 2px; }
    .aw_sketch_mention_box .aw_sketch_one_interest_header span {
      font-size: 14px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      text-align: left; }
  .aw_sketch_mention_box .aw_sketch_one_interest_mention {
    width: 435px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 0px solid red;
    position: relative;
    display: block;
    float: left;
    border-bottom: 1px dotted #444444;
    text-align: center; }
    .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box {
      width: auto;
      height: auto;
      overflow: hidden;
      padding: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      border-radius: 3px;
      -moz-box-shadow: 0 0 5px #333333;
      -webkit-box-shadow: 0 0 5px #333333;
      box-shadow: 0 0 5px #333333; }
      .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box span {
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-align: left;
        color: #333333; }
        .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box span:hover {
          cursor: pointer;
          color: #008bf8; }
      .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box .aw_sketch_mention_img_box {
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: 2px;
        border: 0px solid green;
        line-height: 60px;
        text-align: center; }
        .aw_sketch_mention_box .aw_sketch_one_interest_mention .aw_sketch_mention_box .aw_sketch_mention_img_box img {
          width: 60px;
          margin-top: 0;
          vertical-align: middle;
          text-align: center;
          cursor: pointer; }

.aw_js_mentions_box_show_always {
  display: inline-block; }

.aw_js_mentions_tab_hide_on_less {
  display: none; }

.aw_js_mentions_tab_show_on_more {
  display: block; }

.aw_js_mentions_box_hide_on_less {
  display: none; }

.aw_js_mentions_box_show_on_more {
  display: inline-block; }

.aw_show_more_mentions_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #008bf8;
  font-size: 14px;
  font-weight: normal;
  display: block;
  float: left; }
  .aw_show_more_mentions_box:hover {
    cursor: pointer; }
