.aw_sketch_interest_main_box {
  height: auto;
  width: 100%;
  min-height: 240px;
  position: relative;
  border-bottom: 1px dotted #444444;
  margin-top: 20px;
  overflow: hidden; }

.aw_sketch_interest_background_box {
  margin: auto;
  display: block;
  position: absolute;
  top: 0px;
  left: 400px;
  width: auto;
  height: 100%;
  z-index: -1; }
  .aw_sketch_interest_background_box .aw_sketch_interest_background_img {
    height: 100%;
    filter: alpha(opacity=9);
    opacity: 0.09;
    z-index: -1; }

.aw_sketch_dyn_topics_box {
  display: block;
  border-top: 1px dotted #444444;
  min-height: 45px;
  height: auto;
  width: 100%;
  margin-top: -5px;
  padding: 0;
  position: relative; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_index {
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 28px;
    color: #cccccc;
    cursor: pointer;
    display: inline-block; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_index p {
      width: 100%;
      margin: auto;
      text-align: left;
      font-family: "League Gothic";
      font-size: 30px;
      line-height: 30px;
      font-weight: normal; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_name {
    padding-left: 10px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 60px;
    height: 32px;
    color: #008bf8;
    text-transform: uppercase;
    cursor: pointer; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_name p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 26px;
      font-weight: normal;
      margin: auto;
      line-height: 30px; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_images {
    top: 50%;
    margin-top: -14px;
    right: 125px;
    position: absolute;
    height: 32px; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_images img.aw_sketch_dyn_topics_box_internal_img {
      margin-left: 8px;
      height: 26px;
      margin-top: 3px;
      filter: alpha(opacity=1);
      opacity: 0.01;
      cursor: pointer; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_delimiter {
    border-left: 1px dotted #444444;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 115px;
    filter: alpha(opacity=1);
    opacity: 0.01; }
  .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_services {
    top: 50%;
    height: 32px;
    margin-top: -14px;
    left: 425px;
    position: absolute; }
    .aw_sketch_dyn_topics_box .aw_sketch_dyn_topics_box_services img.aw_sketch_dyn_topics_box_services_img {
      margin-left: 8px;
      height: 26px;
      filter: alpha(opacity=1);
      opacity: 0.01;
      cursor: pointer; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_images img.aw_sketch_dyn_topics_box_internal_img {
    filter: alpha(opacity=95);
    opacity: 0.95; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_services img.aw_sketch_dyn_topics_box_services_img {
    filter: alpha(opacity=95);
    opacity: 0.95; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_delimiter {
    filter: alpha(opacity=95);
    opacity: 0.95; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_name {
    color: black; }
  .aw_sketch_dyn_topics_box:hover .aw_sketch_dyn_topics_box_index {
    color: black; }
  .aw_sketch_dyn_topics_box:hover {
    background-color: #d6f5f5; }

.aw_js_topics_box_show_always {
  display: inline-block; }

.aw_js_topics_box_hide_on_less {
  display: none; }

.aw_js_topics_box_show_on_more {
  display: inline-block; }

.aw_show_more_topics_box {
  height: 15px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: #008bf8;
  font-size: 14px;
  font-weight: normal; }
  .aw_show_more_topics_box:hover {
    cursor: pointer; }
