#page-wrapper
  #header
    #logo
      %a{:href => "http://www.actwitty.com"}
        %img{:height => "120", :src => "/images/actwitty/actwitty_logo.png", :width => "600"}/
  %br/
  #team
    %p.title
      TEAM ACTWITTY
    %br/

    %p.heading
      ActWitty is a team of engineers.
    %br/
    %br/
    %img.team_img{ :src => "/images/actwitty/team_dilbert.png"}/
    %br/
    %p.team
      We at ActWitty team have two dilbertish engineers:
      %br/
      %br/
      %br/
      Alok Srivastava
      %br/
      Sudhanshu Saxena
      %br/
      


    
      

  #page-footer
    .footer-content
      #about-us.footer-header
        %a.footers{:href => "/about/show"}
          %h4 About ActWitty
      #team-us.footer-header
        %a.footers{:href => "/team/show"}
          %h4 Team
      #contact-us.footer-header
        %a.footers{:href => "mailto:contact@actwitty.com"}
          %h4 Contact Us
      #blog-us.footer-header
        %a.footers{:href => "http://act-witty.blogspot.com/"}
          %h4 Blogs
