#page-wrapper
  #header
    =render :partial => "welcome/logo" 
  %br/
  #team
    %p.title
      TEAM ACTWITTY
    %br/

    %p.heading
      ActWitty is a team of engineers.
    %br/
    %br/
    %img.team_img{ :src => "/images/actwitty/team_dilbert.png"}/
    %br/
    %p.team
      We at ActWitty team have two dilbertish engineers:
      %br/
      %br/
      %br/
      Alok Srivastava
      %br/
      Sudhanshu Saxena
      %br/
      
=render :partial => "welcome/footer"

    
      

