#page-wrapper
  #header
    #logo
      %img{:height => "120", :src => "/images/actwitty/actwitty_logo.png", :width => "600"}/
  %br/
  #about
    %p.title
      ABOUT ACTWITTY
    %br/

    %p.heading
      ActWitty is a new way of presenting the aspects of life and getting connected on those aspects.
    %br/
    %br/
    %p.multi-column
      %span.heading
        Channelize, Collaborate and Connect 
      %br/
      %br/
      Its time what ever valuable information we put up assists us to make us a more organized netizen. A netizen who could tell what are the aspects of life. A netizen who could precisely showcase lifestyle, interests, thoughts, activities, ownerships, political views and what not. 
      %br
      ActWitty is the platform for all such enthusiastic netizens to channelize their thoughts and collaborate to become more presentable and accessible. Collaboration of thoughts of a netizen with other netizens bring in new connections which are topical and not prepetual.
      %br/
      These topical connections may range from interests, activities, to locations, to things netizens talk about.

      %br/
      %br/
      %span.heading
        What's in the name ?
        %br/
        %br/
      ActWitty can be interpreted into  ways. 
      "Acting witty" such that we get to present information in precise but most useful way.
      Also, ActWitty sounds much like "Activity" which is akin to the channels which netizens share about.
      %br/
      %br/
      %span.heading
        Who can use ActWitty ?
        %br/
        %br/
      Any netizen can be active and can be witty. So ActWitty is for all who want to reduce the clutter from their virtual dimension, who want to present their aspects of life, who want to be engaged in topical short lived social networks.
      %br/
      %br/
      %span.heading
        ActWitty's Commitment 
        %br/
        %br/
      We are focussed to make aspects of life talked about, more accessible and bring out the richness of information. We believe in open sharing of the relevant information which a netizen believes is worth presenting as a characterstic. ActWitty has a commitment to bring out a new paradigm in user generated information browsing. 
      %br/
     

    
      
  #page-footer
    .footer-content
      #about-us.footer-header
        %a.footers{:href => "/about/show"}
          %h4 About ActWitty
      #team-us.footer-header
        %a.footers{:href => "/team/show"}
          %h4 Team
      #contact-us.footer-header
        %a.footers{:href => "mailto:contact@actwitty.com"}
          %h4 Contact Us
      #blog-us.footer-header
        %a.footers{:href => "http://act-witty.blogspot.com/"}
          %h4 Blogs
