#aw_profile_footer_box
  height: 40px
  border: 1px solid #ddd
  margin-top: 20px
  margin-bottom: 40px
  background: #ebece4
  ul
    list-style-type: none
  li
    display: inline
    margin-right: 50px
  input
    float: right
    margin-top: -5px
  li a
    text-decoration: none
    color: #333
    font-size: 13px
