#aw_profile_footer_box
  height: 40px
  border: 1px solid #ddd
  margin-top: 20px
  margin-bottom: 40px
  background: #ebece4
  ul
    list-style-type: none
    margin-top: 10px
  li
    display: inline
    margin-right: 50px
    margin-left: 10px
  input
    float: right
    margin-top: 0px
  
  li a
    text-decoration: none
    color: #333
    font-size: 13px
    
    &:hover
      font-color: #000
  .aw_copyright
    float: right
    font-weight: bold
