#aw_profile_footer_box
  height: 40px
  border: 1px solid #ddd
  margin-top: 20px
  margin-bottom: 40px
  background: #ebece4
  background: rgb(255,255,255)
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)))
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 )



  ul
    list-style-type: none
    margin-top: 10px
  li
    display: inline
    margin-right: 50px
    margin-left: 10px
  input
    float: right
    margin-top: 0px
  
  li a
    text-decoration: none
    color: #333
    font-size: 13px
    
    &:hover
      font-color: #000
  .aw_copyright
    float: right
    font-weight: bold
    margin-right: 10px
    color: #333
