$aw_var_default_border_width: 0px
$aw_var_default_backgorund_color: #ffffff
$aw_var_default_font_family: "Helvetica", Arial, Helvetica, sans-serif
$aw_var_default_font_size: 12px
$aw_var_default_color: #CCCCCC


#awppm_header_box
  position: relative
  margin: 0 auto 0
  margin-bottom: 20px
  display: block
  width: 990px
  height: 45px
  border: $aw_var_default_border_width solid red
  position: relative

.awppm_profile_logo
  position: relative
  float: left
  margin-top: 3px
  margin-left: 0px


#awppm_header_search_edit_box
  position: relative
  margin-top: 9px
  margin-left: 70px
  float: left
  height: 25px
  width: 280px
  input
    border: 1px solid #ddd
    height: 25px
    width: 280px
    font-size: 14px
    border-radius: 3px
    background: rgb(255,255,255)
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)))
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 )


.awppm_header_search_box
  width: 320
  height: 15px
  border: 3px solid #1457ba
  border-radius: 5px 0 5px 5px
  position: absolute
  top: 48px
  left: 235px
  padding: 5px 0px 5px 10px
  display: none
  background-color: #363436
  background: -moz-linear-gradient(center top, #f5f5f5 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent

 

.awppm_search_autocomplete_box
  display: inline
  width: 100%
  height: 25px
  .awppm_search_img_box
    display: block-inline
    width: 25px
    padding-left: 5px
    padding-right: 5px
    float: left
  .awppm_search_name_box
    width: 120px
    overflow: hidden
    display: block-inline
    padding: 5px
    float: left
    font-size: 13px
  .awppm_search_type_box
    display: block-inline
    float: right
    margin-right: 5px
    width: 25px 





#awppm_header_user_bar
  position: absolute
  top: 0
  right: 0
  width: 320px
  height: 28px
  border: 0px solid #ddd
  border-top: none
  border-radius: 0 0 5px 5px
  background: -moz-linear-gradient(center top, #f5f5f5 0pt, #f0f0f0 100%) repeat scroll 0 0 transparent
  background: #feffe8 
  background: -moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 99%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(99%,#d6dbbf))
  background: -webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 99%)
  background: -o-linear-gradient(top,  #feffe8 0%,#d6dbbf 99%)
  background: -ms-linear-gradient(top,  #feffe8 0%,#d6dbbf 99%)
  background: linear-gradient(top,  #feffe8 0%,#d6dbbf 99%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 )

  -moz-box-shadow: inset 0 0 2px #000000
  -webkit-box-shadow: inset 0 0 2px #000000
  box-shadow: inset 0 0 2px #000000
  padding: 3px 0px 3px 10px
  &:hover
    background: #ffffff
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed))
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%)
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%)
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%)
    background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 )
  
  img
    vertical-align: middle
  span
    color: #333
    font-weight: bold

#awppm_header_user_logout    
  text-decoration: none
  float: right
  color: #333
  margin-top: 7px
  margin-right: 5px
  &:hover
    color: #b22222
    font-weight: bold
    font-size: 15px

#awppm_header_user_settings
  text-decoration: none
  float: right
  color: #333
  margin-top: 7px
  margin-right: 5px
  &:hover
    color: #b22222
    font-weight: bold
    font-size: 15px

#awppm_header_user_info
  text-decoration: none
  float: left
  color: #333
  margin-top: 0px
  margin-left: 5px
  &:hover
    color: #b22222
    font-weight: bold
    font-size: 15px    







#awppm_header_user_image
  height: 50px
  width: 50px
  position: absolute
  top: 20px
  right: 10px
  overflow: hidden
  background: none
  a img
    padding-top: 10px
    width: 40px
    float: right
.awppm_header_options_menu
  position: absolute
  top: 35px
  left: 0
  right: 0
  display: none
  z-index: 40000
  width: 100px
  margin-left: 0px
  margin-top: 15px
  background: #454545
  border-radius: 0 0 5px 5px
  -moz-border-radius: 0 0 5px 5px
  ul
    list-style: none
    padding-top: 3px
    background: #454545
    margin-top: 0px
    li
      display: block
      padding: 5px 0 5px 0
      margin-left: -40px
      a
        padding: 3px 0px
        font-size: 14px
        display: block
        margin: -6px 0 0 0
        position: relative
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 )
        color: #ddd
        text-decoration: none
        text-align: center
        zoom: 1
        span
          position: absolute
          bottom: -1px
          left: 0
          right: 0
          height: 1px
          display: block
          background: #000
          z-index: 20
          display: none
          zoom: 1
      &:hover a
        border-color: #d7dbea
        color: #fff
        background: #000
        span
          display: block
