#page-wrapper
  #header
   =render :partial => "welcome/footer"

  #forgot-site-connect
    #forgot-sign_in_up
      #forgot-sign-connect-desc
        %h3#forgot-desc.desc Forgot Your Password?
        %p
          Please enter any email address that we may have.
          We'll send you an email that will allow you to reset your password.
      = simple_form_for(@user, :as => :user, :url => password_path(:user), :html => { :method => :post }) do |f|
        =f.input :reset_password_token, :as => :hidden
        #data-input
          = f.input :password ,
                    :placeholder => "Password", 
                    :label => false, 
                    :class => 'inputbox', 
                    :input_html => { :size=> 30,:id=>"password-input",:class=>"input-deco"  }

          = f.input :password ,
                    :placeholder => "Re-enter Password", 
                    :label => false, 
                    :class => 'inputbox', 
                    :input_html => { :size=> 30,:id=>"password-input",:class=>"input-deco"  }
        #forgot-site-connect-buttons
          = f.button :submit,
                     :value=>"Change Password",
                     :input_html => {:name=>"sign-in",:id=>"forgot-button",:class=>"connect-buttons"}
  =render :partial => "welcome/footer"

