#aw_lpm_forgot_pswd_main_box
  .aw_home_top_header
    .aw_home_top_header_content
      %a{:href=>"https://www.actwitty.com"}
        .aw_home_top_header_logo_img
        .aw_home_top_header_logo
  #aw_lpm_forgot_pswd_main_div
    #aw_lpm_forgot_pswd_header_label 
      %center Forgot Your Password?
      %p#aw_lpm_forgot_pswd_header_sub_label
        Please enter any email address that we may have.
        We'll send you an email that will allow you to reset your password.

    = simple_form_for(@user, :as => :user, :url => password_path(:user), :html => { :method => :post }) do |f|
      #aw_lpm_forgot_pswd_email_label
        %span Email
      = f.input :email ,
              :placeholder => "Email",
              :label => false,
              :input_html => { :id => 'aw_lpm_forgot_pswd_email_input'}
      %input#aw_lpm_forgot_password_btn.button_actwitty.blue.medium.hover_point{ :type => "submit", :value => "Email Me"}/
    %input#page_mode{:name => "page_mode", :type => "hidden", :value => "#{@page_mode}" } 
.aw_lpm_page_footer
  %img{:src => "/images/actwitty/refactor/aw_common/aw_logo.png"}
  %span @actwitty

