/*
 *  ActWitty Stylesheet file
 *  File: AW Landing Page Sign In Module
 *  code: AWLPM (awlpm) Actwitty Landing Page Sign In Main
 *  Author: ActWitty Developers
 *  Author URI: http://www.actwitty.com


$aw_var_default_border_width: 0px


#aw_lpm_forgot_pswd_main_box
  background-image: url("/images/actwitty/refactor/aw_lpm/aw_lpm_template_bkg_bnw.png")
  height: 700px
  width: 100%
  padding-top: 80px

#aw_lpm_forgot_pswd_main_div
  margin: auto
  width: 500px
  height: 400px
  /*border: 8px solid #33ccff
  border-radius: 10px
  -moz-border-radius: 10px
  background-color: #0fb4e7

@mixin aw_lpm_forgot_pswd_labels
  color: #fff
  margin-left: 120px
  margin-bottom: 3px
  margin-top: 10px
  border: $aw_var_default_border_width solid red
  font-size: 14px
  font-weight: bold
  /* font: 20px/100% Arial, Helvetica, sans-serif

@mixin aw_lpm_forgot_pswd_inputs
  width: 250px
  height: 26px
  margin-left: 120px
  margin-bottom: 1px
  color: black
  border: 1px solid #ddd
  border-radius: 2px
  font: 14px/100% Arial, Helvetica, sans-serif
  background: rgb(255,255,255)
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)))
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 )

@mixin aw_lpm_forgot_pswd_errors
  width: 250px
  height: 12px
  font-size: 12px
  margin-left: 120px
  display: block
  color: black


#aw_lpm_forgot_pswd_aw_logo
  margin-top: 15px
  margin-left: 20px
  border: $aw_var_default_border_width solid green
  height: 50px
  width: 75px
  display: inline
  position: relative

img.aw_lpm_forgot_pswd_aw_logo_img
  height: 50px
  width: 75px

#aw_lpm_forgot_pswd_header_label
  margin: 0 auto
  margin-left: 30px
  width: 400px
  height: 30px
  color: #ffffff
  border: $aw_var_default_border_width solid red
  display: inline
  font-size: 28px
  /* font: 20px/100% Arial, Helvetica, sans-serif
  font-weight: bold
  text-align: center

#aw_lpm_forgot_pswd_header_sub_label
  color: #faf0e6
  font-size: 14px
  font-weight: bold
  text-align: center
  margin-top: 60px

#aw_lpm_forgot_pswd_email_label  
  @include aw_lpm_forgot_pswd_labels
  margin-top: 20px

#aw_lpm_forgot_pswd_password_label
  @include aw_lpm_forgot_pswd_labels


#aw_lpm_forgot_pswd_email_input
  @include aw_lpm_forgot_pswd_inputs


#aw_lpm_forgot_pswd_password_input
  @include aw_lpm_forgot_pswd_inputs



#aw_lpm_user_session .simple_form 
  margin-left: 10px
  font-size: 12px
  color: black
  display: block
  width: 250px
#aw_lpm_user_session .simple_form .field_with_errors
  width: 200px
  display: block
#aw_lpm_user_session .simple_form .field_with_errors .error
  @include aw_lpm_forgot_pswd_errors


#aw_lpm_forgot_pswd_already_a_user
  display: block
  color: #444444
  margin-left: 225px
  margin-top: 10px
  width: 100%
  border: $aw_var_default_border_width solid red
  font: 12px / 100% Arial, Helvetica, sans-serif
  font-weight: normal



  

input#aw_lpm_forgot_password_btn
  width: 100px
  height: 60px
  background: #ff9600
  padding: 2px
  border: none
  display: inline
  margin: auto
  color: #fef4e9
  border: solid 1px #da7c0c
  background: rgb(255,48,25)
  background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)))
  background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 )
  display: inline
  font: 18px / 100% Arial, Helvetica, sans-serif
  font-weight: bold
  float: right
  margin-top: 10px
  margin-right: 125px
  &:hover
    cursor: pointer
    color: #fcd3a5
    background: rgb(255,48,25)
