/*  ActWitty Stylesheet file
 *  File: AW Landing Page Sign In Module
 *  code: AWLPM (awlpm) Actwitty Landing Page Sign In Main
 *  Author: ActWitty Developers
 *  Author URI: http://www.actwitty.com */
/* line 12, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_main_box {
  background-image: url("/images/actwitty/refactor/aw_lpm/aw_lpm_template_bkg_bnw.png");
  height: 700px;
  width: 100%;
  padding-top: 80px;
}

/* line 18, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_main_div {
  margin: auto;
  width: 500px;
  height: 400px;
  border: 8px solid #33ccff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: white;
}

/* line 55, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_aw_logo {
  margin-top: 15px;
  margin-left: 20px;
  border: 0px solid green;
  height: 50px;
  width: 75px;
  display: inline;
  position: relative;
}

/* line 64, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
img.aw_lpm_forgot_pswd_aw_logo_img {
  height: 50px;
  width: 75px;
}

/* line 68, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_header_label {
  margin: 0 auto;
  margin-left: 10px;
  width: 400px;
  height: 30px;
  color: #444444;
  border: 0px solid red;
  display: inline;
  font-size: 24px;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  font-weight: bold;
}

/* line 80, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_header_sub_label {
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

/* line 87, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_email_label {
  color: #444444;
  margin-left: 120px;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0px solid red;
  font-size: 18px;
  font-weight: bold;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
  margin-top: 20px;
}

/* line 91, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_password_label {
  color: #444444;
  margin-left: 120px;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0px solid red;
  font-size: 18px;
  font-weight: bold;
  /* font: 20px/100% Arial, Helvetica, sans-serif */
}

/* line 95, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_email_input {
  width: 250px;
  height: 26px;
  margin-left: 120px;
  margin-bottom: 1px;
  color: black;
  border: 1px solid #444444;
  font: 14px/100% Arial, Helvetica, sans-serif;
}

/* line 99, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_password_input {
  width: 250px;
  height: 26px;
  margin-left: 120px;
  margin-bottom: 1px;
  color: black;
  border: 1px solid #444444;
  font: 14px/100% Arial, Helvetica, sans-serif;
}

/* line 104, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_user_session .simple_form {
  margin-left: 10px;
  font-size: 12px;
  color: black;
  display: block;
  width: 250px;
}

/* line 110, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_user_session .simple_form .field_with_errors {
  width: 200px;
  display: block;
}

/* line 113, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_user_session .simple_form .field_with_errors .error {
  width: 250px;
  height: 12px;
  font-size: 12px;
  margin-left: 120px;
  display: block;
  color: black;
}

/* line 117, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
#aw_lpm_forgot_pswd_already_a_user {
  display: block;
  color: #444444;
  margin-left: 225px;
  margin-top: 10px;
  width: 100%;
  border: 0px solid red;
  font: 12px/100% Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 131, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
input#aw_lpm_forgot_password_btn {
  width: 100px;
  height: 60px;
  background: #ff9600;
  padding: 2px;
  border: none;
  display: inline;
  margin: auto;
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  display: inline;
  font: 18px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  margin-top: 10px;
  margin-right: 125px;
}
/* line 151, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_forgot_pswd.sass */
input#aw_lpm_forgot_password_btn:hover {
  cursor: pointer;
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
