/* line 1, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_dyn_chn_updates.sass */
.aw_lpm_dyn_latest_update_chn_box {
  width: 170px;
  height: 114px;
  border: 1px solid #555555;
  /*float:left; */
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}

/* line 15, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_dyn_chn_updates.sass */
.aw_lpm_dyn_latest_update_chn_label {
  width: 100%;
  height: 18px;
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 102, 204, 0.9);
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* line 34, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_dyn_chn_updates.sass */
.aw_lpm_dyn_latest_update_chn_user_info_box {
  width: 100%;
  height: 40px;
  border: 0px solid red;
  position: absolute;
  bottom: 0px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* line 46, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_dyn_chn_updates.sass */
.aw_lpm_dyn_latest_update_chn_user_info_box img {
  height: 40px;
  vertical-align: middle;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}
/* line 51, ../../../../../app/stylesheets/actwitty/refactor/aw_lpm/aw_lpm_dyn_chn_updates.sass */
.aw_lpm_dyn_latest_update_chn_user_info_box span {
  color: white;
  font-size: 14px;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}
