/*ActWitty Stylesheet file
 *File: AW Landing Page
 *code: AWLPM (awlpm) Actwitty Landing Page Main
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com */
@font-face {
  font-family: "League Gothic";
  src: url("/webfont/leaguegothic/League_Gothic-webfont.eot");
  src: local("League Gothic Regular"), local("League Gothic"), url("/webfont/leaguegothic/LeagueGothic.woff") format("woff"), url("/webfont/leaguegothic/LeagueGothic.otf") format("opentype"), url("/webfont/leaguegothic/LeagueGothic.svg#LeagueGothic") format("svg"); }

@font-face {
  font-family: "RobotoRegular";
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot");
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/webfont/roboto/Roboto-Regular-webfont.woff") format("woff"), url("/webfont/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "RobotoRegular";
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot");
  src: url("/webfont/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/webfont/roboto/Roboto-Regular-webfont.woff") format("woff"), url("/webfont/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  color: #cccccc;
  margin-bottom: 40px; }

#aw_home_main_container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  border: 0px solid red; }

#aw_home_top_header {
  width: 100%;
  height: 100px;
  border: 0px solid blue; }

.aw_home_top_nav {
  float: right;
  width: 120px;
  height: 50px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 0 8px 0 8px;
  border: 1px solid #dddddd;
  background: #88caed;
  color: black;
  cursor: pointer; }
  .aw_home_top_nav a {
    text-decoration: none;
    color: black; }

div.top_nav_active {
  color: black;
  background: #f4f4f4; }
div.aw_home_top_nav h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px; }

.aw_home_actwitty_logo {
  display: block;
  width: 100%; }
  .aw_home_actwitty_logo .aw_home_pvt_beta {
    display: inline-block;
    height: auto;
    width: 100%;
    position: absolute;
    top: 280px;
    left: 220px; }
    .aw_home_actwitty_logo .aw_home_pvt_beta img {
      height: 18px; }

#aw_home_main_container img {
  display: block;
  margin: 0 auto;
  margin-left: 0px; }

#aw_home_main_desc {
  margin: 0 auto;
  color: #333333;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center; }
  #aw_home_main_desc a {
    color: #333333;
    text-decoration: none; }

#aw_home_desc {
  color: #333333;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 35px;
  text-align: center; }
  #aw_home_desc a {
    color: #333333;
    text-decoration: none; }

#aw_home_social_signup {
  width: 100%;
  height: 50px;
  border: 0px solid red;
  margin-bottom: 30px;
  padding-left: 75px; }
  #aw_home_social_signup img {
    float: left;
    margin-left: 20px;
    width: 250px; }

.aw_home_horizontal_info_section {
  width: 960px;
  margin: 0px auto;
  display: block;
  height: 50px; }

.aw_home_fb_like_box {
  width: 600px;
  margin: 0px auto;
  padding-left: 95px;
  display: inline-block;
  float: left;
  height: 40px; }
  .aw_home_fb_like_box .aw_like_us {
    float: left; }

.aw_home_know_more_box {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
  display: inline-block; }

.aw_home_help_box {
  width: 960px;
  margin: 0px auto;
  margin-top: 55px;
  margin-bottom: 50px;
  height: 1310px;
  display: block;
  padding-left: 0px;
  padding-bottom: 8px;
  background-color: white;
  border-radius: 5px;
  border: 1px dotted #cccccc; }
  .aw_home_help_box .aw_home_help_header {
    height: 36px;
    font-size: 34px;
    line-height: 36px;
    font-family: "RobotoRegular";
    color: #333333;
    padding-top: 20px;
    text-align: center; }
  .aw_home_help_box .aw_home_help_horizontal {
    width: 450px;
    height: 370px;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
    overflow: hidden;
    float: left;
    position: relative;
    background-color: white;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333; }
    .aw_home_help_box .aw_home_help_horizontal:hover {
      background-color: #eeeeee; }
    .aw_home_help_box .aw_home_help_horizontal .aw_home_help_logo {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      left: 5px; }
    .aw_home_help_box .aw_home_help_horizontal a {
      text-decoration: none; }
    .aw_home_help_box .aw_home_help_horizontal .aw_home_help_image_box {
      width: 300px;
      display: block;
      margin: 0px auto;
      margin-top: 10px; }
      .aw_home_help_box .aw_home_help_horizontal .aw_home_help_image_box .aw_home_help_image {
        border: 1px solid #cccccc;
        padding: 5px;
        border-radius: 5px;
        margin-left: 0px;
        background-color: white; }
    .aw_home_help_box .aw_home_help_horizontal .aw_home_help_text_header_box {
      width: 300px;
      display: block;
      margin: 0px auto;
      margin-top: 10px;
      font-size: 24px;
      line-height: 26px;
      font-family: "RobotoRegular";
      color: #25a0da;
      overflow: hidden;
      text-align: center;
      text-decoration: none; }
    .aw_home_help_box .aw_home_help_horizontal .aw_home_help_text_data_box {
      width: 300px;
      display: block;
      margin: 0px auto;
      margin-top: 5px;
      padding: 8px;
      font-size: 16px;
      line-height: 17px;
      font-weight: normal;
      font-family: "RobotoRegular";
      color: #333333;
      overflow: hidden;
      text-align: center;
      text-decoration: none; }

#aw_home_footer {
  width: 100%;
  height: 200px;
  float: right;
  background-color: #777777; }

#aw_home_follow_us {
  width: 950px;
  margin: 0px auto;
  height: 25px;
  margin-top: 5px; }
  #aw_home_follow_us a {
    text-decoration: none; }
  #aw_home_follow_us span {
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-top: 4px; }
  #aw_home_follow_us img {
    float: right;
    vertical-align: middle;
    margin-left: 3px;
    padding: 0; }

.aw_home_about_full_width_box {
  width: 600px;
  height: 100px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 150px; }
  .aw_home_about_full_width_box span {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #444444; }

.aw_home_testimonial_box {
  width: 960px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 160px;
  display: block;
  padding-left: 0px;
  padding-bottom: 8px;
  background-color: white;
  border-radius: 5px;
  border: 1px dotted #cccccc; }
  .aw_home_testimonial_box .aw_home_testimonial_box_header {
    height: 36px;
    font-size: 34px;
    line-height: 36px;
    font-family: "RobotoRegular";
    color: #333333;
    padding-top: 20px;
    text-align: center; }
  .aw_home_testimonial_box .aw_home_testimonials_list {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px; }
    .aw_home_testimonial_box .aw_home_testimonials_list .aw_home_single_testimonial_box {
      width: 100px;
      height: 60px;
      margin: 5px auto; }
      .aw_home_testimonial_box .aw_home_testimonials_list .aw_home_single_testimonial_box a img {
        border: 1px solid #cccccc;
        padding: 5px;
        -moz-box-shadow: 0 0 5px #333333;
        -webkit-box-shadow: 0 0 5px #333333;
        box-shadow: 0 0 5px #333333; }

#aw_home_about_box {
  width: 100%;
  height: 200px;
  display: block; }
  #aw_home_about_box .aw_home_about_vertical_box {
    width: 37%;
    height: 80px;
    margin-left: 80px;
    float: left;
    padding: 10px;
    display: inline-block;
    border: 0px dotted #cccccc; }
    #aw_home_about_box .aw_home_about_vertical_box .aw_home_about_name_box {
      width: 100%;
      height: 47px;
      overflow: hidden;
      margin-top: 5px; }
      #aw_home_about_box .aw_home_about_vertical_box .aw_home_about_name_box span {
        font-family: League Gothic;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        color: #333333; }
    #aw_home_about_box .aw_home_about_vertical_box .aw_home_about_services {
      width: 100%;
      height: auto;
      overflow: hidden; }
      #aw_home_about_box .aw_home_about_vertical_box .aw_home_about_services .aw_home_about_services_link {
        height: auto;
        width: auto;
        display: inline-block; }
        #aw_home_about_box .aw_home_about_vertical_box .aw_home_about_services .aw_home_about_services_link a {
          margin: 0px;
          padding: 0px; }
          #aw_home_about_box .aw_home_about_vertical_box .aw_home_about_services .aw_home_about_services_link a img {
            margin: 0px; }

#aw_home_about_place {
  width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: 0px; }

#aw_home_about_incubation_box {
  width: 100%;
  height: 30px;
  border: 0px solid blue;
  position: relative;
  float: right;
  display: block; }
  #aw_home_about_incubation_box #aw_home_about_incubation_label {
    font-size: 20px;
    line-height: 24px;
    font-family: "RobotoRegular";
    color: #333333;
    float: right; }
  #aw_home_about_incubation_box img {
    float: right; }
