/#page-wrapper
/  #header
#about_main  
  #about
    %p.title
      ABOUT ACTWITTY
    %br/
    %p.multi-column
      %span.heading
        Channelize, Enrich and Connect 
      %br/
      %br/
      Its time what ever valuable information we put up assists us to gives us a more organized visualizations. A visualization that tells what are the aspects of life. These visualizations enable netizen who could precisely showcase lifestyle, interests, thoughts, activities, ownerships, political views and what not. 
      %br
      %br
      ActWitty is the platform for all such enthusiastic netizens to channelize their thoughts and collaborate to become more presentable and accessible. Enrichment of channels of interest by repetitive contributions and bringing in relevant channels from other people whom netizen follows.
      %br/
      %br/
      These topical connections may range from interests, activities, to locations, to things netizens talk about.

      %br/
      %br/
      %span.heading
        What's in the name ?
        %br/
        %br/
      ActWitty can be interpreted into  ways. 
      "Acting witty" such that we get to present information in precise but most useful way.
      Also, ActWitty sounds much like "Activity" which is akin to the channels which netizens share about.
      %br/
      %br/
      %span.heading
        Who can use ActWitty ?
        %br/
        %br/
      Any netizen can be active and can be witty. So ActWitty is for all who want to reduce the clutter from their virtual dimension, who want to present their aspects of life, who want to be engaged in topical short lived social networks.
      %br/
      %br/
      %span.heading
        ActWitty's Commitment 
        %br/
        %br/
      We are focussed to make aspects of life talked about, more accessible and bring out the richness of information. We believe in open sharing of the relevant information which a netizen believes is worth presenting as a characterstic. ActWitty has a commitment to bring out a new paradigm in user generated information browsing. 
      %br/
      %br/
      %br/
     

=render :partial => "welcome/footer"

