.aw_ppm_stm_dyn_location_box
  display: block
  margin-left: 20px
  margin-top: 2px
  overflow: hidden
  a.aw_ppm_stm_dyn_location_link
    span
      color: #444
      font-size: 13px
      font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif
    &:hover
      font-weight: bold
      cursor: pointer

/************************************************************************/
.awppm_stm_dyn_locations_header_box
  width: 100%
  height: 30px
  background: #e5e5e5
  display: block
  margin-bottom: 2px
  padding-top: 5px
  .awppm_stm_dyn_locations_modal_label
    font-size: 20px
    font-weight: bold
    font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif
    color: #333
/***********************************************************************/
.aw_ppm_stm_dyn_locations_modal_box
  width: 170px
  height: 114px
  border: 1px solid black
  /*float:left;
  display: inline-block
  margin-left: 10px
  margin-top: 15px
  position: relative
  .aw_ppm_stm_dyn_locations_map_box
    width: 100%
    height: 100%
  div.aw_ppm_stm_dyn_locations_info_hover_box
    font-family: Calibri, Tahoma, Geneva, sans-serif
    position: absolute
    left: 1em
    top: 2em
    z-index: 99
    margin-left: 100px
    margin-top: 50px
    width: 250px
    height: 150px
    background-color: #ffffcc
    border: 1px solid #ccc
    display: none
  &:hover
    cursor: pointer
  &:hover  div.aw_ppm_stm_dyn_locations_info_hover_box
    display: block

.aw_ppm_stm_dyn_location_label_box
  width: 100%
  height: 20px
  border: 0px solid red
  position: absolute
  bottom: 0px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.6)
  span
    color: #fff
    font-size: 14px
    font-family: "Helvetica", Arial, Helvetica, sans-serif
/************************************************************************/

