li.aw_ppm_dyn_stm_stream_li_box
  list-style-type: none
  height: auto
  margin-top: 10px
  margin-left: -10px
  margin-bottom: 20px
  border-bottom: 1px dotted #ddd

  .aw_ppm_dyn_stm_stream_div_box
    border: 0px solid red
    height: auto
    margin: 0
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    width: 580px
    padding: 15px 10px 10px 15px

    span.aw_ppm_dyn_stm_stream_delete
      float: right
      font-family: "Helvetica", Arial, Helvetica, sans-serif
      font-size: 12px
      font-weight: bold
      display: none
      color: black
      &:hover
        cursor: pointer
    &:hover .aw_ppm_dyn_stm_stream_delete
      display: block

    /* Post Info Section - Start
    .aw_ppm_dyn_stm_stream_post_info
      width: 100%
      height: 30px
      font-family: â€˜Lucida Sans Unicodeâ€™, â€˜Lucida Grandeâ€™, sans-serif
      border: 0px solid red
      margin-top: 25px
      a.aw_ppm_dyn_stm_stream_post_user_img
        img
          width: 30px
          height: 30px
          /*border:0px solid red;
          padding: 0px
          margin: 0px 0 0 0px
          float: left
        &:hover
          cursor: pointer
      a.aw_ppm_dyn_stm_stream_post_user_name
        text-decoration: none
        color: #36c
        color: #666666
        font-size: 12px
        font-weight: bold
        margin-left: 10px
        margin-right: 5px
        &:hover
          color: #333333
          cursor: pointer
      span.aw_ppm_dyn_stm_stream_post_time
        color: #444444
        font-size: 11px
      a.aw_ppm_dyn_stm_stream_post_chn_name 
        span
          float: right
          color: #eb7400
          font-size: 16px
          font-weight: bold
          &:hover
            color: #ee8c00
            cursor: pointer
      img.aw_ppm_dyn_stm_stream_img_source
        width: 10px
        height: 10px

      /* Post Info Section - End

  .aw_ppm_dyn_stm_stream_post_title 
    width: 100%
    height: 30px
    /*background-color:#1e1e1e;
    background-color: #fff
    border: 0px solid red
    span
      font-size: 21px
      font-weight: bold
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      color: #666666
      padding: 0
  .aw_ppm_dyn_stm_stream_location_box
    width: 100%
    height: 20px
    background-color: #fff
    border: 0px solid red
    margin: 0
    padding: 0
    img
      margin-right: 5px
    span
      font-size: 14px
      color: #c8c8c8
      font-weight: bold
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  
  .aw_ppm_dyn_stm_stream_post_fb_data
    font-size: 12px
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    margin-top: 0px
    width: 570px
    margin-left: 30px
    margin-left: 0px
    border: 0px solid red
    padding: 0
    &:hover
      border: 1px solid #F8F8F8 
  .aw_ppm_dyn_stm_stream_post_text
    /*border:1px solid blue;
    font-size: 12px
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    margin-top: 0px
    width: 570px
    margin-left: 30px
    margin-left: 0px
    border: 0px solid red
    padding: 0
    &:hover
      border: 1px solid #F8F8F8 
    p
      text-align: left
      color: #444444
      font-size: 13px
      line-height: 1.53em
      .js_activity_entity
        color: #444444
        font-size: 13px
        line-height: 1.53em
      .js_activity_entity_highlighter
        border-radius: 10px
        padding-left: 2px
        padding-right: 2px
        border: 1px solid #ddd
        background-color: #F8F8F8 
        font-size: 12px
        position: relative
        span
          font-size: 11px
          font-weight: bold
          position: absolute
          left: 70%
          top: 70%
          z-index: 99
          margin-left: 0
          color: #666666
          padding: 2px
          width: 90px
          height: 15px
          background: none repeat scroll 0 0 #F0F0F0
          border: 1px solid #C8C8C8
          border-radius: 3px 3px 3px 3px
          display: none
          &:hover
            cursor: pointer
            border: 1px solid #ddd
            color: #333333
        &:hover span
          display: block 
