@mixin aw_ppm_stm_dyn_shares_base
  background: none repeat scroll 0 0 #F0F0F0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  border: 1px solid #C8C8C8
  border-radius: 3px 3px 3px 3px
  margin-left: 5px
  height: 19px
  width: 50px
  padding: 5px 11px
  display: inline-block
  color: #666666
  cursor: pointer

@mixin aw_ppm_stm_dyn_shares_hover
  border: 1px solid #ddd
  cursor: pointer
  color: #333333

@mixin aw_ppm_stm_dyn_shares_image
  width: 20px
  height: 20px
  border: 0px solid red
  float: left
  margin-left: 5px
  background-repeat: no-repeat


@mixin aw_ppm_stm_dyn_shares_counter_text
  display: inline-block
  font-size: 13px
  font-weight: bold
  margin-left: 4px

.aw_ppm_stm_dyn_share_box
  width: 100%
  height: 45px
  border: 0px solid red
  margin-left: 0px
  margin-top: 10px
  display: block
  display: none
  position: relative
  .aw_ppm_stm_dyn_share_header
    width: 100%
    height: 20px
    font-size: 13px
    font-weight: bold
    padding-left: 5px
    overflow: hidden
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    span

  .aw_ppm_stm_dyn_share_twitter
    @include aw_ppm_stm_dyn_shares_base
    &:hover
      @include aw_ppm_stm_dyn_shares_hover
    .aw_ppm_stm_dyn_share_twitter_img
      @include aw_ppm_stm_dyn_shares_image
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/share/twitter.png")
    .aw_ppm_stm_dyn_share_twitter_count
      @include aw_ppm_stm_dyn_shares_counter_text
    

  .aw_ppm_stm_dyn_share_facebook
    @include aw_ppm_stm_dyn_shares_base
    &:hover
      @include aw_ppm_stm_dyn_shares_hover
    .aw_ppm_stm_dyn_share_facebook_img
      @include aw_ppm_stm_dyn_shares_image
      background-image: url("/images/actwitty/refactor/aw_ppm/stream/share/facebook.png")
    .aw_ppm_stm_dyn_shares_facebook_count
      @include aw_ppm_stm_dyn_shares_counter_text


