@font-face
  font-family: "ActwittyFont"
  src: url(/webfont/leaguegothic/LeagueGothic.ttf)

#awppm_stm_analytics_container_box
  .awppm_stm_single_analytics_container_label_box
    width: 98%
    display: block
    height: 22px
    overflow: hidden
    /*background: #009ACD
    text-align: left
    margin-top: -5px
    z-index: 10
    span
      font-size: 15px
      font-weight: bold
      color: #fff
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      text-align: left
      background: #009ACD
      padding: 3px 10px 3px 10px
      border-radius: 3px
  .awppm_stm_single_analytics_container_box
    width: 360px
    height: 210px
    position: relative
    margin-top: 10px
    
    .awppm_stm_analytics_box
      width: 350px
      height: 200px
      border: 0px solid red
      margin-top: 5px
      margin-left: 5px
      
    .awppm_stm_analytics_box_large
      width: 450px
      height: 300px
      display: none
      z-index: 1000
      border: 0px solid #ddd
    &:hover .awppm_stm_analytics_box_large
      top: -150px
      left: -300px
      position: absolute
      display: block



