.aw_stream_entry_container
  position: relative
  border-bottom: 1px solid #EBEBEB
  min-height: 60px
  clear: both
  display: block
  outline: none
  margin-top: -1px
  border-top: 1px solid transparent
  padding: 3px
.aw_stream_originator_img
  float: left
  height: 32px
  overflow: hidden
  width: 32px
  margin-top: 3px

.aw_stream_src_img
  float: right
  height: 16px
  overflow: hidden
  width: 16px
  margin-top: 3px
  &:hover
    cursor: pointer

.aw_stream_time_orig
  float: right
  height: 16px
  margin-top: 3px
  margin-left: 2px
  padding: 2px
  overflow: hidden
  span
    color: #333
.aw_stream_content
  margin-left: 2px
  margin-right: 18px
  min-height: 48px
  width: 290px
  height: auto
  display: inline-block
  border: 0px solid green

  .aw_stream_content_screen_name
    text-decoration:  none
    font-weight: bold
    color: #333
    font-size: 12
    padding-right: 2px
    &:hover
      cursor: pointer

  .aw_stream_content_name
    padding-left: 2px
    text-decoration:  none
    font-weight: normal
    color: #777
    font-size: 11px
    &:hover
      cursor: pointer

  .aw_stream_text_box
    padding-top: 1px
    min-height: 20px
    p
      font-family: Arial,"Helvetica Neue",sans-serif
      width: 100%
      line-height: 18px
      font-size: 12px
      word-wrap: break-word
      .aw_text_mention
        color: #0099B9
        &:hover
          cursor: pointer

  .aw_attachment_box
    margin-top: 2px
    width: 100%
    height: auto
    display: inline-block
    .aw_attachment_title
      font-family: Arial,"Helvetica Neue",sans-serif
      color: #0099B9
      font-weight: normal
      font-size: 12px
      text-decoration: none
      &:hover
        cursor: pointer
    .aw_attachment_content
      .aw_attachment_paragraph
        padding-top: 2px
        width: 100%
        height: auto
        font-family: Arial,"Helvetica Neue",sans-serif
        font-size: 12px
        line-height: 18px
        color: #333        
        word-wrap: break-word
        .aw_attachment_image
          height: auto
          margin-right: 2px
          float: left
    .aw_attachment_caption
      width: 100%
      height: auto
      font-family: Arial,"Helvetica Neue",sans-serif
      font-size: 12px
      line-height: 18px
      color: #333
    .aw_attachment_embed
      display: block
      width: 100%
      height: auto
      font-family: Arial,"Helvetica Neue",sans-serif
      font-size: 12px



 
 

