#aw_stream_container_header
  width: 100%
  height: 40px
  background: #D6F5F5
  border-radius: 0 5px 0 0

#aw_stream_container_header_label
  font-size: 24px
  font-family: "RobotoBold"
  color: #444
  float: left
  border: 0px solid red
  margin-left: 15px
  margin-top: 12px
  vertical-align: middle


.aw_stream_container_close
  width: 60px
  height: 30px
  border: 0px solid red
  float: right
  margin-top: 15px
  font-size: 14px
  color: #999 !important
  display: none
  cursor: pointer
  a
    text-decoration: none
    color: #999
    &:hover
      color: #444


.aw_stream_entry_container
  position: relative
  min-height: 60px
  clear: both
  display: block
  outline: none
  margin-top: 5px
  width: 340px
  &:hover .aw_actions_box ul
    display: block
  
    
  .aw_stream_time_orig
    overflow: hidden
    width: 100%
    text-align: right
    display: block 
    font-family: Helvetica, Arial, sans-serif
    font-size: 11px
    font-style: italic
    float: right
    color: #444

  .aw_actions_box
    float: left
    width: 100%
    margin-top: 10px
    display: block
    height: 15px
    ul
      list-style: none
      margin: 0
      display: none
      li
        display: inline
        float: left
        margin-left: 3px
        padding-left: 3px
        height: 15px
        line-height: 15px
        color: #666
        font-size: 11px
        font-family: Helvetica, Arial, sans-serif
      .aw_single_action_link
        &:hover
          color: #008BD8
          cursor: pointer
      .aw_single_action_static

  .aw_originator_box
    position: relative
    display: block
    width: 100%
    float: left
    margin-top: 10px
    border-bottom: 1px solid #CCC
    a
      text-decoration: none
      img
        float: left
        width: 24px
        height: 24px
        margin: 3px 8px 3px 0px
        border: 0
        -ms-interpolation-mode: bicubic

        color: #999
        line-height: 30px
    .aw_stream_content_screen_name
      color: #999
      line-height: 30px
      font-family: Helvetica, Arial, sans-serif
      font-size: 11px
      font-style: normal
      margin: 0
      margin-left: 5px
      &:hover
        cursor: pointer

    .aw_stream_content_name
      color: #999
      line-height: 30px
      font-family: Helvetica, Arial, sans-serif
      font-size: 12px
      font-style: normal
      margin: 0
      &:hover
        cursor: pointer

    .aw_stream_src_img
      float: right
      width: 16px
      height: 16px
      margin: 3px 8px 3px 0px
      border: 0
      -ms-interpolation-mode: bicubic
      &:hover
        cursor: pointer


.aw_stream_content
  margin-left: 10px
  margin-right: 18px
  width: 100%
  height: auto
  display: inline-block
  border: 0px solid green

  .aw_stream_text_box
    display: block
    p
      color: black
      font-size: 13px
      line-height: 18px
      margin-top: 10px
      margin-bottom: 0
      text-align: left
      word-wrap: break-word
      .aw_text_mention
        color: #008BD8
        &:hover
          cursor: pointer
  .aw_location_box
    width: 90%
    margin-top: 5px
    margin-bottom: 5px
    margin-bottom: 2px
    text-align: right
    p  
      font-family: "RobotoRegular"
      line-height: 18px
      font-size: 15px
      color:  #25a0da
      img
        height: 25px
        margin-right: 2px
  .aw_attachment_image_box
    display: inline-block
    width: 100%
    margin-bottom: 5px
    height: auto
    .aw_attachment_image 
      max-width: 100%
      max-height: 140px
      float: left

  .aw_attachment_title_box
    width: 100%
    height: auto
    display: block
    a
      color: black
      text-decoration: none
      line-height: 16px
      font-family: Helvetica, Arial, sans-serif
      font-size: 14px
      font-style: normal
      font-weight: bold
      word-wrap: break-word
      &:hover
        cursor: pointer
        color: #008BD8
        text-decoration: none

    
  .aw_attachment_content_box
    width: 100%
    height: auto
    display: block
    .aw_attachment_paragraph
      color: black
      font-size: 13px
      line-height: 18px
      margin-top: 10px
      margin-bottom: 0
      text-align: left
      word-wrap: break-word
      .aw_attachment_caption
        color: #999
    
  .aw_attachment_embed
    display: inline-block
    width: 100%
    margin-bottom: 5px
    height: auto
    iframe
      border: 0px
      
 
.aw_stream_mentions_box 
  margin: 0px
  margin-top: 5px
  width: 100%
  height: auto
  display: block
  padding: 0px
  span
    color: black
    font-family: Helvetica, Arial, sans-serif
    font-size: 13px
    font-weight: bold
    line-height: 16px
    margin-bottom: 3px

  li
    line-height: 16px
    border: 1px solid #eee
    border-radius: 5px 5px 5px 5px
    padding-left: 8px
    padding-right: 8px
    background: #eee
    padding: 2px
    margin-left: 5px
    margin-right: 5px
    display: inline-block
    a
      text-decoration: none
      color: black
      font-family: Helvetica, Arial, sans-serif
      font-size: 13px
      
    &:hover
      /* cursor: pointer


.aw_stream_info_hover
  display: none
  z-index: 9999 !important
  position: absolute
  bottom: 35px
  left: 0
  width: 300px
  padding: 10px
  border: 1px solid #CCC
  background-color: white
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -o-border-radius: 5px
  -ms-border-radius: 5px
  -khtml-border-radius: 5px
  border-radius: 5px
  -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
  -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
  -o-box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
  box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
  .aw_stream_info_close_btn
    color: #333
    font-family: Helvetica, Arial, sans-serif
    font-size: 12px
    float: right
    margin-right: 5px
    cursor: pointer
    font-weight: bold
  .aw_stream_info_box_header
    span
      .aw_stream_content_name
        font-family: Helvetica, Arial, sans-serif
        font-size: 14px
        font-weight: bold
        color: #008BF8
        &:hover
          color: #003335
          cursor: pointer
      .aw_stream_content_screen_name
        font-family: Helvetica, Arial, sans-serif
        font-size: 14px
        font-weight: bold
        color: #008BD8
        &:hover
          color: #003335
          cursor: pointer
  .aw_stream_info_hover_data
    .aw_stream_info_hover_img
      a
        img
          width: 32px
          height: 32px
    .aw_stream_info_hover_text
      color: #4F4F4F
      width: 255px
      display: inline-block
