.aw_single_contact_box
  height: 56
  width: 56
  margin: 5px
  position: relative
  &:hover
    cursor: pointer
  
  .aw_single_contact_image
    position:absolute
    top: 0px
    left: 0px
    padding: 3px
    border-radius: 3px
    -moz-box-shadow: 0 0 5px #333 
    -webkit-box-shadow: 0 0 5px #333
    box-shadow: 0 0 5px #333
  .aw_single_contact_service_img
    position: absolute
    top: 48px
    left: 48px
  .aw_single_contact_posts_count
    position: absolute
    top: 48px
    left: 0px
    height: 12px
    width: 16px
    overflow: hidden
    background-color: #333 
    color: white
    text-align: center
    font-size: 12px
    padding-bottom: 2px
    font-weight: normal
    border-radius: 2px
    opacity: 0.9 
    filter: alpha(opacity=90)

.aw_js_single_contact_box_show_always
  display: inline-block

.aw_js_single_contact_box_hide_on_less
  display: none

.aw_js_single_contact_box_show_on_more
  display: inline-block

.aw_show_more_contacts_box
  height: 15px
  width: 100%
  margin-top: 5px
  margin-bottom: 5px
  text-align: left
  color: #0099B9
  font-size: 14px
  font-weight: normal
  &:hover
    cursor: pointer

