#aw_stream_container_header
  width: 100%
  height: 40px
  background: #D6F5F5
  border-radius: 0 5px 0 0

#aw_stream_container_header_label
  font-size: 24px
  font-family: "RobotoBold"
  color: #444
  float: left
  border: 0px solid red
  margin-left: 15px
  margin-top: 12px
  vertical-align: middle


.aw_stream_container_close
  width: 60px
  height: 30px
  border: 0px solid red
  float: right
  margin-top: 15px
  color: #999 !important
  display: none
  cursor: pointer
  &:hover 
    color: #444
  a
    text-decoration: none
    color: #999
    &:hover
      color: #444


.aw_stream_entry_container
  position: relative
  border-bottom: 1px dotted #444
  min-height: 60px
  clear: both
  display: block
  outline: none
  margin-top: -1px
  border-top: 1px solid transparent
  padding: 5px 3px 5px 3px
  width: 350px
.aw_stream_originator_img
  float: left
  margin-top: 3px
  a
    text-decoration: none
  img
    height: 32px
    overflow: hidden
    width: 32px  
    vertical-align: middle
    margin-right: 4px
  span
    font-size: 13px
    font-weight: bold
    color: #444
  .aw_stream_content_screen_name
    margin-left: 5px
    text-decoration:  none
    font-family: "RobotoRegular"
    font-weight: normal
    color: #444
    font-size: 13px
    margin-right: 5px
    &:hover
    font-family: "RobotoRegular"
      cursor: pointer

  .aw_stream_content_name
    margin-left: 1px
    text-decoration:  none
    font-weight: normal
    color: #25a0da
    font-family: "RobotoRegular"
    font-size: 15px
    &:hover
      cursor: pointer

.aw_stream_src_img
  float: right
  height: 16px
  overflow: hidden
  width: 16px
  margin-top: 3px
  &:hover
    cursor: pointer

.aw_stream_time_orig
  float: right
  height: 16px
  padding: 2px
  overflow: hidden
  width: 100%
  text-align: right
  font-family: "RobotoRegular"
  font-size: 10px
  span
    color: #444
.aw_stream_content
  margin-left: 10px
  margin-right: 18px
  min-height: 48px
  width: 100%
  height: auto
  display: inline-block
  border: 0px solid green

 

  .aw_stream_text_box
    padding-top: 1px
    min-height: 20px
    p
      font-family: "RobotoRegular"
      width: 90%
      line-height: 18px
      font-size: 13px
      word-wrap: break-word
      .aw_text_mention
        color: #25a0da
        &:hover
          cursor: pointer
  .aw_location_box
    width: 90%
    margin-top: 5px
    margin-bottom: 5px
    margin-bottom: 2px
    text-align: right
    p  
      font-family: "RobotoRegular"
      line-height: 18px
      font-size: 15px
      color:  #25a0da
      img
        height: 25px
        margin-right: 2px

  .aw_attachment_box
    margin-top: 2px
    width: 100%
    height: auto
    display: inline-block
    .aw_attachment_title            
      margin-bottom: 5px
      a
        font-family: "RobotoRegular"
        color: #25a0da
        font-size: 16px
        text-decoration: none
      &:hover
        cursor: pointer

    .aw_attachment_title_milder
      width: 90%
      margin-bottom: 5px
      a
        font-family: "RobotoRegular"
        color: #25A0DA
        font-size: 15px
        text-decoration: none
      &:hover
        cursor: pointer
    .aw_attachment_content
      .aw_attachment_paragraph
        padding-top: 2px
        width: 90%
        height: auto
        font-family: "RobotoRegular"
        font-size: 11px
        line-height: 18px
        color: #444        
        word-wrap: break-word
      .aw_attachment_image_box
        width: 100%
        .aw_attachment_image 
          margin-left: auto
          padding: 3px
          border-radius: 3px
          -moz-box-shadow: 0 0 5px #333 
          -webkit-box-shadow: 0 0 5px #333
          box-shadow: 0 0 5px #333
    .aw_attachment_caption
      width: 100%
      height: auto
      font-family: "RobotoRegular"
      font-size: 13px
      line-height: 18px
      color: #444
      clear: left
    .aw_attachment_embed
      display: block
      width: 100%
      height: auto
      font-family: "RobotoRegular"
      font-size: 12px
      iframe
        border: 0px
        padding: 3px
        border-radius: 3px
        -moz-box-shadow: 0 0 5px #333 
        -webkit-box-shadow: 0 0 5px #333
        box-shadow: 0 0 5px #333




 
.aw_stream_mentions_box 
  margin-top: 5px
  width: 90%
  height: auto
  display: inline-block
  span
    display: block
    color: #444
    font-family: "RobotoRegular"
    color: #444
    font-size: 13px
    line-height: 16px
    margin-bottom: 3px

  a
    text-decoration: none
    font-family: "RobotoRegular"
    font-size: 13px
    line-height: 16px
    border: 1px solid #25a0da
    border-radius: 5px 5px 5px 5px
    padding-left: 5px
    padding-right: 5px
    background: #D6F5F5
    padding: 2px
    color: #444
    margin-left: 5px
    margin-right: 5px
    &:hover
      /* cursor: pointer


