/*ActWitty Stylesheet file
 *File: AW Profile Page Channel Module
 *code: AWPPM (awppm) Actwitty Profile Page Channel Module
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com

@font-face
  font-family: 'League Gothic'
  src: url('/webfont/leaguegothic/League_Gothic-webfont.eot')
  src: local("League Gothic Regular"), local("League Gothic"), url("/webfont/leaguegothic/LeagueGothic.woff") format("woff"), url("/webfont/leaguegothic/LeagueGothic.otf") format("opentype"), url("/webfont/leaguegothic/LeagueGothic.svg#LeagueGothic") format("svg")


@mixin aw_infographics_boxes_width
  position: relative
  margin: 0 auto 0
  display: block
  width: 540px

body
  margin: 0
  padding: 0
  font-size: 12px
  font-family: "Helvetica", Arial, Helvetica, sans-serif
  color: #cccccc
  margin-bottom: 40px

  


.aw_top_bar
  position: fixed
  top: 0
  left: 0
  z-index: 15
  width: 100%
  .top_bar_container
    width: 100%
    height: 40px
    display: block
    text-align: center
    position: relative
  .aw_top_bar_bkg
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #111111
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111))
    background: -moz-linear-gradient(top, #333333, #111111)
    background: transparent 9
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111')
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    .aw_top_bar_box
      margin: 0px auto
      width: 950px

.aw_page_sketch_header
  width: 100%
  height: 80px
  display: block
  position: relative
  top: 40px
  left: 0px
  background: #676F72
  background: -moz-linear-gradient(top, #676F72 0%, #595E62 52%, #505559 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #676F72), color-stop(52%, #595E62), color-stop(100%, #505559))
  background: -webkit-linear-gradient(top, #676F72 0%, #595E62 52%, #505559 100%)
  background: -o-linear-gradient(top, #676F72 0%, #595E62 52%, #505559 100%)
  background: -ms-linear-gradient(top, #676F72 0%, #595E62 52%, #505559 100%)
  background: linear-gradient(top, #676F72 0%, #595E62 52%, #505559 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676f72', endColorstr='#505559',GradientType=0 )

  background-image: url(/images/actwitty/refactor/aw_common/grain_dark_gray.jpg)
  .aw_banner_box
    width: 950px
    margin: 0px auto
    position: relative 
    .aw_banner_image_box
      overflow: hidden
      position: absolute
      top: 0px
      left: 0px
      width: 540px
      height: 80px
      display: inline-block
      margin-left: -8px
      .aw_banner_user_title_header_box
        top: 0px
        display: block
        position: absolute
        width: 540px
        height: 0px
        background: #D6F5F5
      .aw_banner_user_title_box
        top: 0px
        display: block
        position: absolute
        background: rgba(255, 255, 255, 0.1)
        width: 540px
        height: 100%
        overflow: hidden
        .aw_user_profile_pic
          position: absolute
          top: 10px
          left: 25px
          overflow: hidden
          img
            border: 0px solid white
            border-radius: 2px
            width: 75px
            max-height: 80px
        a.aw_user_profile_name
          text-decoration: none
          width: 500px
          h1
            color: white
            padding: 20px 10px 0px 120px
            margin: 0px
            font-size: 26px
            line-height: 30px
            font-weight: bold
            cursor: pointer
            font-family: Helvetica, Arial, sans-serif
            text-decoration: none
        h2.aw_location
          color: white
          padding: 2px 10px 10px 120px
          font-size: 14px
          line-height: 18px
          font-weight: normal
          font-family: Helvetica, Arial, sans-serif
          text-decoration: none
        h2.aw_study
          color: white
          padding: 2px 10px 10px 120px
          font-size: 14px
          line-height: 18px
          font-weight: normal
          font-family: Helvetica, Arial, sans-serif
          text-decoration: none
        h2.aw_work
          color: white
          padding: 2px 10px 10px 120px
          font-size: 14px
          line-height: 18px
          font-weight: normal
          font-family: Helvetica, Arial, sans-serif
          text-decoration: none
      .aw_banner_user_description_box
        top: 140px
        display: block
        position: absolute
        width: 500px
        height: 150px
        overflow: hidden
        padding: 2px 20px 10px 20px
        background: rgba(0, 0, 0, 0.6)
        blockquote 
          border: 0px solid #000
          -moz-border-radius: 10px
          border-radius: 10px
          color: #f2f2f2
          quotes: "\201C" "\201D"
          width: 500px
          & :before
            color: #ffffff
            content: '\201C'
            font-family: sans-serif, Arial, Helvetica 
            font-size: 64px
            font-weight: bold
            line-height: 50px
            margin-top: -32px

          p 
            color: white
            font-size: 20px
            line-height: 24px
            font-weight: normal
            font-family: Helvetica, Arial, sans-serif
            text-overflow: ellipsis
            overflow:hidden
    .aw_banner_info_box
      overflow: hidden
      position: relative
      left: 540px
      top: 0px
      height: 300px
      width: 380px
      display: inline-block
      .aw_services_enabled_box
        margin-left: 10px
        margin-top: 10px
        width: 100%
        display: inline-block
      .aw_actwitty_whats_coming_box
        width: 100%
        display: block
        .aw_actwitty_whats_coming
          background: #4B5054
          -webkit-border-radius: 3px
          -moz-border-radius: 3px
          border-radius: 3px
          width: 150px
          padding: 10px
          margin-left: 20px
          margin-top: 30px
          display: inline-block
          cursor: pointer
          position: relative
          &:hover .aw_actwitty_whats_coming_hover
            display: block
          
          &:hover h2
            border: 1px solid red

          h2
            font-weight: bold
            font-size: 16px
            line-height: 20px
            font-family: Helvetica, Arial, sans-serif
            color: white
            margin: 0px auto
            width: 100%
          .aw_actwitty_whats_coming_hover
            display: none
            z-index: 20 
            position: absolute
            top: -60px
            left: 0
            width: 300px
            padding: 10px
            border: 1px solid #CCC
            background-color: white
            -moz-border-radius: 5px
            -webkit-border-radius: 5px
            -o-border-radius: 5px
            -ms-border-radius: 5px
            -khtml-border-radius: 5px
            border-radius: 5px
            -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
            -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
            -o-box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
            box-shadow: 0px 2px 6px rgba(0,0,0,0.6)
      .aw_actwitty_share_on_social_media
        width: 250px
        display: block
        height: 50px
        margin-top: 40px
        margin-left: 20px
        padding: 10px
        position: relative
        background: #4B5054
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
 
        .aw_actwitty_share_on_twitter
          display: inline-block
          position: absolute
          top: 10px
          left: 30px
        .aw_actwitty_share_on_facebook
          top: 10px
          left: 150px
          position: absolute
          display: inline-block
        .aw_actwitty_share_on_googleplus
          display: inline-block
          top: 38px
          left: 30px
          position: absolute
          height: 30px
        .aw_actwitty_share_on_linkedin
          height: 30px
          top: 38px
          left: 150px
          position: absolute
          display: inline-block
      .aw_get_actwitty_btn_box
        margin-left: 30px
        display: inline-block
        margin-top: 40px
        .aw_get_actwitty_btn
          padding: 12px
          font-weight: bold
          font-size: 22px
          line-height: 26px
          display: none
          text-decoration: none
          font-family: Helvetica, Arial, sans-serif
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          background-color: hsl(0, 74%, 31%) !important
          background-repeat: repeat-x
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de2525", endColorstr="#891414")
          background-image: -khtml-gradient(linear, left top, left bottom, from(#de2525), to(#891414))
          background-image: -moz-linear-gradient(top, #de2525, #891414)
          background-image: -ms-linear-gradient(top, #de2525, #891414)
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de2525), color-stop(100%, #891414))
          background-image: -webkit-linear-gradient(top, #de2525, #891414)
          background-image: -o-linear-gradient(top, #de2525, #891414)
          background-image: linear-gradient(#de2525, #891414)
          border-color: #891414 #891414 hsl(0, 74%, 26%)
          color: #fff !important
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33)
          -webkit-font-smoothing: antialiase
          &:hover
            background-color: hsl(0, 74%, 19%) !important
            background-repeat: repeat-x
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b51b1b", endColorstr="#540c0c")
            background-image: -khtml-gradient(linear, left top, left bottom, from(#b51b1b), to(#540c0c))
            background-image: -moz-linear-gradient(top, #b51b1b, #540c0c)
            background-image: -ms-linear-gradient(top, #b51b1b, #540c0c)
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b51b1b), color-stop(100%, #540c0c))
            background-image: -webkit-linear-gradient(top, #b51b1b, #540c0c)
            background-image: -o-linear-gradient(top, #b51b1b, #540c0c)
            background-image: linear-gradient(#b51b1b, #540c0c)
            border-color: #540c0c #540c0c hsl(0, 74%, 13.5%)
            color: #fff !important
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36)
            -webkit-font-smoothing: antialiased
.aw_page_full_width
  width: 100%
  display: block
  height: auto
  position: relative
  margin: 0
  padding: 0
  background: #e6e6e6

/* actwitty streams overlap section
.aw_page_stream_overlap_wrapper
  position: relative
  width: 966px
  height: auto
  margin: 0px auto
  margin-top: 40px
  display: none

/* actwitty main(rather old) section
.aw_page_wrapper
  position: relative
  width: 950px
  height: auto
  padding-top: 40px
  margin: 0px auto
  display: block
  
  .aw_front_page_container, .aw_page_container
    width: 950px
    height: auto
    display: block
    position: relative
    z-index: 10

  .aw_infographic_container
    width: 540px
    float: left
    z-index: 13
    display: inline-block
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    box-shadow: 0 5px 5px #444
    -moz-box-shadow: 0 5px 5px #444
    -webkit-box-shadow: 0 5px 5px #444
    position: relative
    left: 0px
    background: white
    height: 100%
    min-height: 800px



    /* infographics sections start
    .aw_section_container_box
      @include aw_infographics_boxes_width
      height: auto
      margin-top: 10px
      border: 0px solid red

      .aw_section_container_info_box
        height: auto
        width: 100%
        border: 0px solid blue
        /*float: left

        .aw_section_container_internal_data_box
          min-height: 100px
          height: auto
          margin-top: 0px
          position: relative
          border: 0px solid green
          width: 100%
          padding-top: 10px

          

          /* -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
            -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
            -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)


        .aw_section_container_internal_data_label
          padding-right: 5px
          background-color: white
          position: relative
          margin-top: 15px
          margin-bottom: 2px
          margin-left: 2px
          width: 95%
          overflow: hidden
          h3
            color: #222
            font-family: Helvetica, Arial, sans-serif
            font-weight: bold
            font-size:  18px
            height: 28px
            border-top: 3px solid black
            border-bottom: 1px solid #CCC
            display: block
        
        
.aw_sidebox_outer_container_fixed
  z-index: 3
  top: 50px
  position: fixed

.aw_sidebox_outer_container_absolute
  z-index: 3
  top: 30px
  position: absolute

.aw_left_side_navs
  display: inline-block
  border: 1px solid green
  z-index: 11
/* Side box
.aw_sidebox_outer_container
  z-index: 3
  left: 0
  right: 0
  width: 100%
  display: inline-block
  
  .aw_sidebox_shell
    position: relative
    width: 950px
    margin: 0 auto
    display: block

    .aw_stream_container
      background: white
      position: relative
      width: 400px
      display: block
      left: 550px
      -webkit-transition-property: none
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      box-shadow: 0 5px 5px #444
      -moz-box-shadow: 0 5px 5px #444
      -webkit-box-shadow: 0 5px 5px #444
      
    
      .aw_stream_entries
        display: block
        margin-left: 5px
        overflow-y: hidden
        overflow-x: hidden
        position: relative
        width: 395px
        &:hover
          overflow-y: auto
        &::-webkit-scrollbar
          width: 9px
          height: 9px
        &::-webkit-scrollbar-button
          &:start:decrement, &:end:increment
            display: block
            height: 0
        &::-webkit-scrollbar-track-piece
          -webkit-border-radius: 0
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
          -webkit-border-bottom-right-radius: 8px
          -webkit-border-bottom-left-radius: 8px
        &::-webkit-scrollbar-thumb
          &:vertical
            height: 50px
            background-color: #444
            -webkit-border-radius: 8px
          &:horizontal
            width: 50px
            background-color: #444
            -webkit-border-radius: 8px
          

.aw_infographic_container, .aw_stream_container
  color: #444444
 



/* Static profile section



  
  

.aw_description
  display: inline-block
  max-width: 400px
  max-height: 120px
  padding: 0px
  margin-top: 0px
  margin-left: 10px
  overflow: hidden
  padding-top: 0px
  font-family: Helvetica, Arial, sans-serif
  font-size: 15px
  line-height: 18px
  color: #222
  word-wrap: break-word
  text-overflow: ellipsis
  border: 0px solid red

.aw_profile_details
  display: inline-block
  max-width: 400px
  max-height: 120px
  padding: 0px
  margin-top: 6px
  margin-left: 10px
  overflow: hidden
  text-overflow: ellipsis
  padding-top: 0
  line-height: 15px
  font-style: normal
  font-size: 15px
  font-family: Helvetica, Arial, sans-serif
  color: #444
  border: 0px solid red

.aw_dyn_static_profile_details_element
  h3
    color: #444
    font-family: Helvetica, Arial, sans-serif
    font-weight: normal
    size: 14px
    font-size: 14px
    line-height: 14px
  span
    color: #008BF8
    font-family: Helvetica, Arial, sans-serif
    font-weight: normal
    size: 14px
    


/* Friends section
.aw_friends_services_box
  width: 100%
  height: 56px
  margin-top: 10px
  padding-left: 25px
  display: block
  
.aw_services_contacts_box
  width: 90%
  margin-top: 10px
  padding-left: 25px
  height: auto
  display: block
  overflow: hidden
.aw_locations_container_box
  width: 495px
  margin: 20px
  margin-top: 30px
  padding: 3px
  border-radius: 3px
  -moz-box-shadow: 0 0 5px #333 
  -webkit-box-shadow: 0 0 5px #333
  box-shadow: 0 0 5px #333
  display: block

.aw_invite_friends_modal_fancybox

.aw_fb_invites_list_div
  width: 640px
  height: 430px
  display: block
  border-radius: 3px
  -moz-box-shadow: 0 0 5px #333 
  -webkit-box-shadow: 0 0 5px #333
  box-shadow: 0 0 5px #333
  position: relative
  overflow: hidden
  h3
    color: #008BF8
    font-family: Helvetica, Arial, sans-serif
    font-weight: normal
    size: 14px
    padding-left: 20px
  .aw_fb_invites_list_div_internal
    display: block
    width: 600px
    margin-left: 20px
    border: solid 1px #9E9E9E
    margin-top: 10px
    padding: 0px
    background-color: #F2F2F2
    form.aw_invite_fb_friends_form
      display: block
      font-family: Helvetica, Arial, sans-serif
      font-weight: normal
      margin: 0px
      width: 600px
      size: 14px
      padding: 6px 0px
      border-bottom: solid 1px #9E9E9E
      background-color: #F2F2F2
      input.aw_invite_fb_friends_name_search
        opacity: 0.6
        width: 90%
        margin-left: 10px
        padding: 3px 3px 3px 23px
        border: solid 1px #9E9E9E
        background: white url(/images/actwitty/refactor/aw_sketch/invite/search.png) -3px center no-repeat
        font: normal 12px / 12px Arial,sans-serif
    ul.fb_friends_ul
      list-style: none
      width: 600px
      height: 270px
      margin: 0px
      background-color: #ECEFF5
      overflow-y: auto

      li.fb_friends_li
        display: inline-block
        float: left
        margin-left: 10px
        margin-top: 15px
        height: 40px
        width: 180px
        overflow: hidden
        input.aw_invite_contact_check
          margin-right: 2px
          margin-top: 2px
        img.aw_invite_contact_image
          padding: 2px
          width: 30px
          max-height: 30px
          border: 1px solid #ECEFF5
          vertical-align: middle 
        span.aw_invite_contact_name
          font-size: 11px
          font-family: Helvetica, Arial, sans-serif
          color: black
          width: 110px
          margin-left: 3px
    .aw_fb_invites_footer
      margin-top: 0
      border-top: solid 1px #9E9E9E
      background-color: #F2F2F2
      height: 34px
      width: 600px
      display: inline-block
      .aw_fb_invites_footer_select_all
        float: left
        margin-top: 12px
        margin-left: 10px
        color: #5B5B5B
        font: bold 13px / 13px Arial,sans-serif
        height: 13px
        display: inline-block
        width: 200px
        input[type=checkbox]
          margin: 0px
          padding: 0px
          float: left
          line-height: 13px
      .aw_fb_invites_footer_submit
        float: right 
        margin-top: 5px
        margin-right: 30px
        display: inline-block
        background-color: #F2F2F2
        input[type=button]
          background: #ff9600
          margin-bottom: -5px
          padding: 2px
          border: none
          height: 30px
          display: inline
          color: #fef4e9
          border: solid 1px #da7c0c
          background: #f78d1d
          background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
          background: -moz-linear-gradient(top, #faa51a, #f47a20)
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
          display: inline
          font: bold 13px / 13px Arial,sans-serif
          background: rgb(255,48,25)
          background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%)
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)))
          background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
          background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
          background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
          background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 )
          &:hover
            cursor: pointer
            color: #fcd3a5
            background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a))
            background: -moz-linear-gradient(top, #f47a20, #faa51a)
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
            background: rgb(255,48,25)
        


.aw_fb_login_modal_fancybox
  width: 300px
  height: 300px
  
.aw_fb_login_div
  width: 500px
  height: 300px
  display: block
  border-radius: 3px
  -moz-box-shadow: 0 0 5px #333 
  -webkit-box-shadow: 0 0 5px #333
  box-shadow: 0 0 5px #333
  position: relative
  h3
    color: #008BF8
    font-family: Helvetica, Arial, sans-serif
    font-weight: normal
    size: 14px
  img
    margin-left: 35px
    margin-top: 10px
    cursor: pointer
  .aw_fb_login_note 
    position: absolute
    top: 240px
    left: 20px
    span
      color: #333
      



.aw_data_busy_modal_fancybox
  width: 300px
  height: 300px

.aw_data_busy_div
  width: 500px
  height: 400px
  display: block
  position: relative
  overflow: hidden

  h3
    color: #008BF8
    margin-top: 10px
    font-family: Helvetica, Arial, sans-serif
    font-weight: normal
    font-size: 18px
    overflow: hidden

  .aw_data_cookie
    margin-top: 10px
    margin-left: 10px
    position: absolute
    font-family: Helvetica, Arial, sans-serif
    font-size: 15px
    span
      color: #333
  img
    margin-left: 80px
    margin-top: 40px
    width: 280px
    height: 260px

  .aw_data_busy_note
    position: absolute
    top: 350px
    left: 20px
    margin: auto
    font-size: 14px
    span
      color: #333






.aw_busy_box
  position: absolute
  top: 0
  left: 0
  margin-left: 0
  margin-top: 0
  z-index: 12
  width: 100%
  height: 100%
  background: rgb(255, 255, 255)
  background: rgba(255, 255, 255, 0.6)
  .aw_busy_mini_box
    width: 50px
    height: 50px
    margin-left: -25px
    margin-top: -25px
    top: 50%
    left: 50%
    position: absolute
    img.aw_busy_img
      width: 50px
      height: 50px
      margin: auto

.aw_locations_header_label
  width: 100%
  margin-top: 25px
  margin-bottom: 0px
  margin-left: 18px
  font-size: 14px
  font-family: Helvetica, Arial, sans-serif
  color: #008BF8      
