.aw_service_popularity_container_box
  width: 510px
  height: auto
  margin-top: 25px
  margin-left: 8px
  border: 0px solid green
  display: inline-block


/* Services colors
.aw_service_color_facebook
  background-color: #91addd

.aw_service_color_twitter
  background-color: #23b7e9

.aw_service_popularity_segment
  width: 430px
  margin: auto
  margin-left: 60px
  text-align: center
  float: left
  border: 0px solid green
  display: block
  border-bottom: 1px dotted #444
  
  .aw_service_popularity_interest_header
    width: 100%
    height: 20px
    display: block
    margin-top: 5px
    margin-bottom: 2px
    span
      font-size: 14px
      font-family: 'RobotoRegular'
      font-weight: normal
      text-transform: uppercase
      text-align: left

  .aw_service_popularity_interest_details
    height: auto
    width: auto
    margin: 0px auto
    padding-bottom: 5px
    border: 0px solid red
    position: relative    
    display: block


    .aw_service_popularity_details_box
      width: 75px
      height: 75px
      display: inline-block
      overflow: hidden
      padding: 2px
      margin: 2px
      margin-left: 10px
      border-radius: 3px
      -moz-box-shadow: 0 0 5px #333 
      -webkit-box-shadow: 0 0 5px #333
      box-shadow: 0 0 5px #333
      cursor: pointer
      span.aw_service_popularity_number
        display: block
        width: 100%
        text-transform: uppercase
        text-align: center
        font-size: 36px
        font-family: 'League Gothic'
        font-weight: normal
        color: #333
        margin-top: 12px
      img.aw_service_popularity_field
        display: block
        margin: auto
        margin-top: 8px
        width: 28px 
        


 

.aw_js_popularity_box_show_always
  display: inline-block

.aw_js_popularity_box_hide_on_less
  display: none

.aw_js_popularity_box_show_on_more
  display: block

.aw_show_more_popularity_box
  height: 15px
  width: 100%
  margin-top: 5px
  margin-bottom: 5px
  text-align: left
  color: #25a0da
  font-size: 14px
  font-weight: normal
  display: block
  float: left
  &:hover
    cursor: pointer





