.aw_videos_header_label
  width: 100%
  margin-top: 25px
  margin-bottom: 0px
  margin-left: 18px
  font-size: 14px
  font-family: "RobotoRegular"
  color: #25a0da      

.aw_videos_container_box
  width: 510px
  height: auto
  position: relative
  display: inline-block
  margin: 20px
  margin-top: 25px
  
  .aw_all_videos_container_box
    display: inline-block
    width: 100%
    height: auto
    .aw_single_video_container_box
      float: left
      margin-left: 10px
      margin-bottom: 10px
      padding: 3px
      border-radius: 3px
      -moz-box-shadow: 0 0 5px #333 
      -webkit-box-shadow: 0 0 5px #333
      box-shadow: 0 0 5px #333
      iframe
        border: 0px

.aw_js_video_box_show_always
  display: inline-block

.aw_js_video_box_hide_on_less
  display: none

.aw_js_video_box_show_on_more
  display: inline-block

.aw_show_more_videos_box
  height: 15px
  width: 100%
  margin-top: 2px
  margin-bottom: 5px
  text-align: left
  color: #25a0da
  font-size: 14px
  font-weight: normal
  display: block
  &:hover
    cursor: pointer
