.aw_dyn_static_profile_details_element
  width: 100%
  display: block
  overflow: hidden
  h3
    font-size: 12px
    font-weight: normal
    display: inline
  span
    font-size: 12px
    font-weight: normal

