.aw_images_header_label
  width: 100%
  margin-top: 25px
  margin-bottom: 0px
  margin-left: 18px
  font-size: 14px
  font-family: "RobotoRegular"
  color: #25a0da      

.aw_images_container_box
  width: 510px
  height: auto
  display: block
  margin-top: 25px
  margin-left: 8px
  padding-left: 5px
  .aw_images_internal_container_box
    width: 100%
    height: auto
    display: block
    float: left

    .aw_images_col
      width: 170px
      height: auto
      display: inline-block
      float: left
      margin: 0px
      padding: 0px    
      .aw_single_img_box
        width: 166px
        position: relative
        margin: 2px
        a
          img.aw_tiled_image        
            padding: 3px
            border-radius: 3px
            -moz-box-shadow: 0 0 5px #333 
            -webkit-box-shadow: 0 0 5px #333
            box-shadow: 0 0 5px #333
        img.aw_images_service_img
          position: absolute
          top: 100%
          left: 100%
          margin-top: -25px
          margin-left: -20px


.aw_js_image_box_show_always
  display: inline-block

.aw_js_image_box_hide_on_less
  display: none

.aw_js_image_box_show_on_more
  display: inline-block

.aw_show_more_image_box
  height: 15px
  width: 100%
  display: block
  margin-top: 5px
  margin-bottom: 5px
  text-align: left
  color: #25a0da
  font-size: 14px
  font-weight: normal
  float: left
  &:hover
    cursor: pointer

