/*ActWitty Stylesheet file
 *File: AW Profile Page Channel Module
 *code: AWPPM (awppm) Actwitty Profile Page Channel Module
 *Author: ActWitty Developers
 *Author URI: http://www.actwitty.com

@font-face
  font-family: 'League Gothic'
  src: url('/webfont/leaguegothic/League_Gothic-webfont.eot')
  src: local("League Gothic Regular"), local("League Gothic"), url("/webfont/leaguegothic/LeagueGothic.woff") format("woff"), url("/webfont/leaguegothic/LeagueGothic.otf") format("opentype"), url("/webfont/leaguegothic/LeagueGothic.svg#LeagueGothic") format("svg")


@font-face 
  font-family: 'RobotoRegular'
  src: url('/webfont/roboto/Roboto-Regular-webfont.eot')
  src: url('/webfont/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/webfont/roboto/Roboto-Regular-webfont.woff') format('woff'),url('/webfont/roboto/Roboto-Regular-webfont.ttf') format('truetype'),url('/webfont/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg')
  font-weight: normal
  font-style: normal




@font-face 
  font-family: 'RobotoLight'
  src: url('/webfont/roboto/Roboto-Light-webfont.eot')
  src: url('/webfont/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/webfont/roboto/Roboto-Light-webfont.woff') format('woff'), url('/webfont/roboto/Roboto-Light-webfont.ttf') format('truetype'), url('/webfont/roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg')
  font-weight: normal
  font-style: normal



@font-face 
  font-family: 'RobotoThin'
  src: url('/webfont/roboto/Roboto-Thin-webfont.eot')
  src: url('/webfont/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/webfont/roboto/Roboto-Thin-webfont.woff') format('woff'),  url('/webfont/roboto/Roboto-Thin-webfont.ttf') format('truetype'), url('/webfont/roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'RobotoBold'
  src: url('/webfont/roboto/Roboto-Bold.ttf')


@mixin aw_infographics_boxes_width
  position: relative
  margin: 0 auto 0
  display: block
  width: 540px

body
  margin: 0
  padding: 0
  font-size: 12px
  font-family: "Helvetica", Arial, Helvetica, sans-serif
  color: #cccccc
  margin-bottom: 40px
  background: #ccc 

  


#aw_top_bar
  position: fixed
  _position: relative
  top: 0
  left: 0
  z-index: 12
  width: 100%
  #top_bar_container
    width: 100%
    height: 40px
    display: block
    text-align: center
    position: relative
  #aw_top_bar_bkg
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #111111
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111))
    background: -moz-linear-gradient(top, #333333, #111111)
    background: transparent 9
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111')
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)


#aw_page_wrapper
  width: 1000px
  height: 100%
  display: block
  padding-top: 60px
  margin: 0 auto 0 auto
  _padding-top: 20px


  #aw_front_page_container, #aw_page_container
    width: 920px
    margin: 0 40px
    position: relative
    z-index: 1
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    overflow: hidden
    text-align: left


  .aw_infographic_container
    width: 540px
    float: left
    display: inline-block
    z-index: 4
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    box-shadow: 0 5px 5px #444
    -moz-box-shadow: 0 5px 5px #444
    -webkit-box-shadow: 0 5px 5px #444
    position: relative
    background: white
    height: 100%
    min-height: 800px

    .aw_infographic_header
      width: 100%
      height: 40px
      background: #D6F5F5
      border-radius: 5px 0 0 0
     

    .aw_infographic_header_label
      font-size: 24px
      font-family: "RobotoBold"
      color: #444
      float: left
      border: 0px solid red
      margin-left: 15px
      margin-top: 12px
      vertical-align: middle



    /* infographics sections start
    .aw_section_container_box
      @include aw_infographics_boxes_width
      height: auto
      margin-top: 10px
      border: 0px solid red

      .aw_section_container_info_box
        height: auto
        width: 100%
        border: 0px solid blue
        /*float: left

        .aw_section_container_internal_data_box
          min-height: 100px
          height: auto
          margin-top: 0px
          position: relative
          border: 0px solid green
          width: 100%
          padding-top: 10px

          

          /* -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
            -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)
            -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5)


        .aw_section_container_internal_data_label
          font-family: 'RobotoRegular'
          font-weight: normal
          font-size:  32px
          padding-right: 5px
          background-color: white
          color: #444
          position: absolute
          top: 0px
          left: 2px
          overflow: hidden
        
        
        .aw_section_container_top_delimiter
          border-top: 1px solid #444 
          position: absolute
          top: 16px
          left: 2px
          width: 100%


  /* Side box
  #aw_sidebox_outer_container
    position: fixed
    z-index: 3
    left: 0
    right: 0
    top: 60px
    width: 100%
    _position: static
    _width: 520px
    _float: left
    _display: inline-block

    .aw_sidebox_shell
      position: relative
      width: 920px
      margin: 0 auto
      padding: 0 40px
      _position: static
      _width: 520px
      _padding: 0
      _margin: 0

      .aw_stream_container
        background: white
        position: relative
        left: 10px
        top: 0
        width: 370px
        -webkit-border-top-right-radius: 6px
        -webkit-border-bottom-right-radius: 6px
        -moz-border-radius-topright: 6px
        -moz-border-radius-bottomright: 6px
        border-top-right-radius: 6px
        border-bottom-right-radius: 6px
        box-shadow: 0 2px 2px rgba(0,0,0,0.3)
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3)
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3)
        display: none
        _position: static
        .aw_stream_entries
          display: block
          margin-left: 5px
          overflow-y: hidden
          overflow-x: hidden
          position: relative
          width: 365px
          &:hover
            overflow-y: auto
          &::-webkit-scrollbar
            width: 9px
            height: 9px
          &::-webkit-scrollbar-button
            &:start:decrement, &:end:increment
              display: block
              height: 0
          &::-webkit-scrollbar-track-piece
            -webkit-border-radius: 0
            -webkit-border-bottom-right-radius: 8px
            -webkit-border-bottom-left-radius: 8px
          &::-webkit-scrollbar-thumb
            &:vertical
              height: 50px
              background-color: #444
              -webkit-border-radius: 8px
            &:horizontal
              width: 50px
              background-color: #444
              -webkit-border-radius: 8px
            
  
  .aw_infographic_container, .aw_stream_container
    color: #444444
 



/* Static profile section

.aw_user_profile_pic
  width: 110px
  height: 110px
  background-color: #ffffff
  display: inline-block
  border: 0px solid green
  margin-left: 10px
  margin-top: 11px
  float: left
  cursor: pointer
  img
    padding: 3px
    border-radius: 3px
    -moz-box-shadow: 0 0 5px #333 
    -webkit-box-shadow: 0 0 5px #333
    box-shadow: 0 0 5px #333

.aw_full_name
  display: inline-block
  float: left
  margin-left: 10px
  max-width: 400px
  border: 0px solid green
  cursor: pointer

  h2
    color: #25a0da
    font-size: 24px
    line-height: 24px
    font-family: 'RobotoRegular'
    font-weight: normal
    padding: 0
    margin: 0

.aw_description
  display: inline-block
  max-width: 400px
  max-height: 120px
  padding: 0px
  margin-top: 0px
  margin-left: 10px
  overflow: hidden
  padding-top: 0px
  /*
    font-style: italics
    font-size: 15px
    font-family: 'RobotoRegular'
    color: #444
  font: italic 13px/18px Georgia,Times New Roman,serif
  color: #777
  word-wrap: break-word
  text-overflow: ellipsis
  border: 0px solid red

.aw_profile_details
  display: inline-block
  max-width: 400px
  max-height: 120px
  padding: 0px
  margin-top: 6px
  margin-left: 10px
  overflow: hidden
  text-overflow: ellipsis
  padding-top: 0
  line-height: 15px
  font-style: normal
  font-size: 15px
  font-family: 'RobotoRegular'
  color: #444
  border: 0px solid red

.aw_dyn_static_profile_details_element
  h3
    color: #444
    font-family: 'RobotoRegular'
    font-weight: normal
    size: 14px
    font-size: 14px
    line-height: 14px
  span
    color: #25a0da
    font-family: 'RobotoRegular'
    font-weight: normal
    size: 14px
    


/* Friends section
.aw_friends_services_box
  width: 100%
  height: 56px
  margin-top: 10px
  padding-left: 25px
  display: block
  
.aw_services_contacts_box
  width: 100%
  margin-top: 10px
  padding-left: 25px
  height: auto
  display: block
  overflow: hidden
.aw_locations_container_box
  width: 495px
  margin: 20px
  margin-top: 30px
  padding: 3px
  border-radius: 3px
  -moz-box-shadow: 0 0 5px #333 
  -webkit-box-shadow: 0 0 5px #333
  box-shadow: 0 0 5px #333
  display: block


.aw_fb_login_modal_fancybox
  width: 300px
  height: 300px

.aw_fb_login_div
  width: 500px
  height: 300px
  display: block
  border-radius: 3px
  -moz-box-shadow: 0 0 5px #333 
  -webkit-box-shadow: 0 0 5px #333
  box-shadow: 0 0 5px #333
  position: relative
  h3
    color: #25a0da
    font-family: 'RobotoRegular'
    font-weight: normal
    size: 14px
  img
    margin-left: 35px
    margin-top: 10px
    cursor: pointer
  .aw_fb_login_note 
    position: absolute
    top: 240px
    left: 20px
    span
      color: #333
      



.aw_data_busy_modal_fancybox
  width: 300px
  height: 300px

.aw_data_busy_div
  width: 500px
  height: 400px
  display: block
  position: relative

  h3
    color: #25a0da
    margin-top: 10px
    font-family: 'RobotoRegular'
    font-weight: normal
    font-size: 22px

  .aw_data_cookie
    margin-top: 10px
    margin-left: 10px
    position: absolute
    font-family: 'RobotoRegular'
    font-size: 15px
    span
      color: #333
  img
    margin-left: 80px
    margin-top: 40px
    width: 280px
    height: 260px

  .aw_data_busy_note
    position: absolute
    top: 350px
    left: 20px
    margin: auto
    font-size: 14px
    span
      color: #333






.aw_busy_box
  position: absolute
  top: 0
  left: 0
  margin-left: 0
  margin-top: 0
  z-index: 2
  width: 100%
  height: 100%
  background: rgb(255, 255, 255)
  background: rgba(255, 255, 255, 0.6)
  .aw_busy_mini_box
    width: 50px
    height: 50px
    margin-left: -25px
    margin-top: -25px
    top: 50%
    left: 50%
    position: absolute
    img.aw_busy_img
      width: 50px
      height: 50px
      margin: auto

.aw_locations_header_label
  width: 100%
  margin-top: 25px
  margin-bottom: 0px
  margin-left: 18px
  font-size: 14px
  font-family: "RobotoRegular"
  color: #25a0da      
