#page-wrapper
  #header
    =render :partial => "welcome/logo"

  #feedback-page 
    #feedback-box-resp.forgot-reset
      #feedback-box-desc
        %h3#heading.desc Thanks for your feedback
        %p
          ActWitty will try to improve based on your comments.
        %br/ 
        %a.connect-buttons{:href => "/"} Done


      
        
=render :partial => "welcome/footer"
