#aw_home_intro_register_inputs
  = simple_form_for(:user,@user, :url => user_registration_path, :remote => true, :html => { :id => "signin", :class=>"inputform" }) do |f|
    = f.input :email ,
              :placeholder => "Email",
              :label => false,
              :input_html => { :id=>'aw_register_email'}
    = f.input :password , 
              :placeholder => "Password", 
              :label => false,
              :input_html => { :id=>'aw_register_password'}
    %input#user_key{:name => "user[key]", :type => "hidden", :value => ""}/
    %input#user_provider{:name => "user[provider]", :type => "hidden", :value => ""}/
    %input#user_uid{:name => "user[uid]", :type => "hidden", :value => ""}/
    = link_to "Resend confirmation ?", new_confirmation_path(:user), :id=>"resend_confirmation"
    %input#signupbutton.actwittysignup{:type => "button", :value => "Register !"}/
    #sns-login
      %a#sns_twitter_id{:href => "/users/auth/twitter"}
        .twitter.icon.medium
      %a#sns_facebook_id{:href => "/users/auth/facebook"}
        .facebook.icon.medium
